{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">List of Best IVF clinics articles</h1>
    <p style="color:white">Show your clinic to even more people and rank it among the best of the best.</p>
    <br>
    <br>
  </div>
</div>
<br>
{% include 'partials/_alerts.html' %}
<br>

<div class="container">
  {% if instance.best_article_country_blogpost_obj != None %}
    <div class="row">
      <div class="col-sm-4 text-center">
        Available article:
      </div>
      <div class="col-sm-4 text-center">
        <a href="https://www.fertilitycommunity.com/blog/{{ instance.best_article_country_blogpost_obj.slug }}">https://www.fertilitycommunity.com/blog/{{ instance.best_article_country_blogpost_obj.slug }}</a>
      </div>
      <div class="col-sm-4 text-center">
        <a href="{% url 'bestclinicarticlescountry' instance.id %}" style="text-decoration: none; !important">
          <button class="btn btn-info" type="button">Update text</button>
        </a>
      </div>
    </div>
  {% else %}
  {% endif %}
</div>

{% if instance.best_article_state_blogpost_obj != None %}
<br>
<div class="container">
  <hr>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      Available article:
    </div>
    <div class="col-sm-4 text-center">
      <a href="https://www.fertilitycommunity.com/blog/{{ instance.best_article_state_blogpost_obj.slug }}">https://www.fertilitycommunity.com/blog/{{ instance.best_article_state_blogpost_obj.slug }}</a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="{% url 'bestclinicarticlesstate' instance.id %}" style="text-decoration: none; !important">
        <button class="btn btn-info" type="button">Update text</button>
      </a>
    </div>
  </div>
</div>
{% else %}
{% endif %}

{% if instance.best_article_city_blogpost_obj != None %}
<br>
<div class="container">
  <hr>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      Available article:
    </div>
    <div class="col-sm-4 text-center">
      <a href="https://www.fertilitycommunity.com/blog/{{ instance.best_article_city_blogpost_obj.slug }}">https://www.fertilitycommunity.com/blog/{{ instance.best_article_city_blogpost_obj.slug }}</a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="{% url 'bestclinicarticlescity' instance.id %}" style="text-decoration: none; !important">
        <button class="btn btn-info" type="button">Update text</button>
      </a>
    </div>
  </div>
</div>
{% else %}
{% endif %}

{% endblock  %}
