{% load static %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <div class="header" style="padding-top:3rem; min-height:80px;">
    {% if listing.clinic_pro_logo_pic %}
      <div id="imgInfo" class="img align-self-center align-items-center">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_url }}">
          <img class="imgHoverLogo" src="{{ listing.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
        </a>
      </div>
      {% else %}
      <div id="imgInfo" class="img align-self-center align-items-center">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_url }}">
          <img class="imgHoverLogo" src="{% static 'img/hospital.svg' %}" alt="alternate logo" style="max-height:70px; max-width:70px">
        </a>
      </div>
      {% endif %}
      <div class="container" id="nameInfo">
        <div class="row-md">
          <h1 style="color:white">
            <u>{{ listing.clinicName }}</u>
          </h1>
        </div>
        {% if listing.clinicTitle %}<p class="lead" style="color:white">{{ listing.clinicTitle }}</p>{% else %}<br>{% endif %}
      </div>
    </div>

    <div class="row-md">
      <p style="color: white">Features:
      {% if listing.ppq_is_published == True %}<span class="badge badge-success" style="margin-left: 10px"><i class="fas fa-fire-alt"></i> Popular</span>{% else %}{% endif %}
      {% if listing.verified_is_published == True or listing.is_claimed == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Verified</span>{% else %}{% endif %}
      {% if listing.ppq_is_published == True and listing.clinicLiveChatChoice != Blank %}{% if listing.clinicChatraCode != Blank or listing.clinicLiveChatCode != Blank or listing.clinicOlarkCode != Blank or listing.clinicTidioCode != Blank %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> LiveChat</span>{% else %}{% endif %}{% else %}{% endif %}
      {% if listing.accepts_patients_from_abroad == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> International patients</span>{% else %}{% endif %}
      {% if listing.clinicGoogleReviews != Empty or listing.clinicTrustPilotID != Empty %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Trusted reviews</span>{% else %}{% endif %}
      {% if listing.clinicOwn == 'Private' %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Private</span>{% else %}{% endif %}
      {% if listing.clinicOwn == 'State' %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> State</span>{% else %}{% endif %}
      </p>
    </div>
    <div class="row-md">
      {% if listing.clinicSart != Null or listing.clinicHfea != Null %}
      <p style="color: white">Certification:
        {% if listing.clinicSart %}<span class="badge badge-secondary" style="margin-left: 10px"><i class="fas fa-user-check"></i> <a href="{{ listing.clinicSart }}" target="_blank" style="color:white" rel="nofollow noopener">SART certified</a></span>{% else %}{% endif %}
        {% if listing.clinicHfea %}<span class="badge badge-secondary" style="margin-left: 10px"><i class="fas fa-user-check"></i> <a href="{{ listing.clinicHfea }}" target="_blank" style="color:white" rel="nofollow noopener">HFEA certified</a></span>{% else %}{% endif %}
      </p>
      {% else %}
      {% endif %}
    </div>
  </div>
  <br>
</div>
