{% load static %}
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        {% if listing.clinicStateLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{listing.clinicStateLink}}">{{listing.clinicState}}</a></li>
        {% else %}
        {% endif %}
        
        {% if listing.clinicRegionLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{listing.clinicRegionLink}}">{{listing.clinicRegion}}</a></li>
        {% else %}
        {% endif %}
        
        {% if listing.clinicCityLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{listing.clinicCityLink}}}}">{{listing.clinicCity}}</a></li>
        {% else %}
        {% endif %}
      </ol>
    </div>
  </nav>
</div>
{% if listing.description and listing.pro_is_published == True %}
<div class="container py-3">
  <br>
  <br>
  <h2>About our clinic:</h2>
  <p>{{ listing.description|safe }}</p>
</div>
{% else %}
{% endif %}
{% if listing.treatmentLimitations and listing.pro_is_published == True %}
<div class="container py-5">
  <h2>Treatment limitations and restrictions:</h2>
  <p>{{ listing.treatmentLimitations|safe }}</p>
</div>
{% else %}
{% endif %}
