{% load static %}
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        {% if listing.clinicStateLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{listing.clinicStateLink}}">Fertility clinics in {{listing.clinicState}}</a></li>
        {% else %}
        {% endif %}

        {% if listing.clinicRegionLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{listing.clinicRegionLink}}">{{listing.clinicRegion}}</a></li>
        {% else %}
        {% endif %}

        {% if listing.clinicCityLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{listing.clinicCityLink}}">{{listing.clinicCity}}</a></li>
        {% else %}
        {% endif %}
      </ol>
    </div>
  </nav>
</div>
