{% load static %}
{% load humanize %}
{% load currencytag %}
<div class="container py-3" style="text-align: center; z-index: -1;" id="secondPricing">
  <h2>Additional treatments & costs (single cycle)</h2>
  <hr>
  {% if listing.is_claimed == True %}
  <p>The prices listed below are managed by clinic staff, but are generally average prices without medication, so they may not match your final price.</p>
  {% else %}
  <p>The prices listed below are only estimated average prices without medication and do not guarantee the final price.</p>
  {% endif %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="text-align:left">Treatment name</th>
        <th scope="col">Provide</th>
        <th scope="col">Pricing</th>
      </tr>
    </thead>
    <tbody>



      <!-- Egg freezing -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if listing.egg_freezing_faqs and listing.egg_freezing == True %}<a data-toggle="collapse" href="#eggfreezingfaqs" role="button" aria-expanded="false" aria-controls="eggfreezingfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Egg freezing</p>
          <div class="collapse multi-collapse" id="eggfreezingfaqs">
            <p>
              {{ listing.egg_freezing_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if listing.egg_freezing == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
        </td>
        <td>
          {% if listing.egg_freezing == True %}
            {% if listing.egg_freezing_cost != none %}
              <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'USD'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} USD</p></div>
              <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'EUR'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
              <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'GBP'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
              <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'CZK'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} CZK</p></div>
              <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'MXN'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} MXN</p></div>
              <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'INR'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} INR</p></div>
              <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=listing.egg_freezing_cost|convert:'CAD'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} CAD</p></div>
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>



      <!-- Embryo freezing -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if listing.embryo_freezing_faqs and listing.embryo_freezing == True %}<a data-toggle="collapse" href="#embryofreezingfaqs" role="button" aria-expanded="false" aria-controls="embryofreezingfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Embryo freezing</p>
          <div class="collapse multi-collapse" id="embryofreezingfaqs">
            <p>
              {{ listing.embryo_freezing_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if listing.embryo_freezing == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
        </td>
        <td>
          {% if listing.embryo_freezing == True %}
            {% if listing.embryo_freezing_cost != none %}
              <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'USD'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} USD</p></div>
              <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'EUR'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
              <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'GBP'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
              <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'CZK'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} CZK</p></div>
              <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'MXN'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} MXN</p></div>
              <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'INR'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} INR</p></div>
              <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=listing.embryo_freezing_cost|convert:'CAD'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} CAD</p></div>
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>



      <!-- Sperm freezing -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if listing.sperm_freezing_faqs and listing.sperm_freezing == True %}<a data-toggle="collapse" href="#spermfreezingfaqs" role="button" aria-expanded="false" aria-controls="spermfreezingfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Sperm freezing</p>
          <div class="collapse multi-collapse" id="spermfreezingfaqs">
            <p>
              {{ listing.sperm_freezing_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if listing.sperm_freezing == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
        </td>
        <td>
          {% if listing.sperm_freezing == True %}
            {% if listing.sperm_freezing_cost != none %}
              <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'USD'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} USD</p></div>
              <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'EUR'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
              <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'GBP'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
              <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'CZK'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} CZK</p></div>
              <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'MXN'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} MXN</p></div>
              <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'INR'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} INR</p></div>
              <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=listing.sperm_freezing_cost|convert:'CAD'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} CAD</p></div>
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>



      <!-- Gestational surrogacy -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if listing.surrogacy_faqs and listing.surrogacy == True %}<a data-toggle="collapse" href="#surrogacyfaqs" role="button" aria-expanded="false" aria-controls="surrogacyfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Gestational surrogacy</p>
          <div class="collapse multi-collapse" id="surrogacyfaqs">
            <p>
              {{ listing.surrogacy_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if listing.surrogacy == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
          </td>
        <td>
          {% if listing.surrogacy == True %}
            {% if listing.surrogacy_cost != none %}
              <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'USD'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} USD</p></div>
              <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'EUR'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} EUR</p></div>
              <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'GBP'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} GBP</p></div>
              <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'CZK'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} CZK</p></div>
              <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'MXN'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} MXN</p></div>
              <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'INR'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} INR</p></div>
              <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=listing.surrogacy_cost|convert:'CAD'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} CAD</p></div>
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container py-5" style="text-align: center" id="contact">
  <h2>Contact</h2>
  <hr>
  <div class="row" style="padding-top:10px">
    {% if listing.pro_is_published %}
    {% if listing.contact_url %}
    <div class="col" style="text-align: center">
    </div>
    <div class="col" style="text-align: center">
      <a href="{{ listing.contact_url }}" style="text-align: center; text-decoration: none" target="_blank" rel="noopener">
        <button id="brandButtonGoalPrimary" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-desktop"></i> Website</button>
      </a>
    </div>
    <div class="col" style="text-align: center">
    </div>
    {% else %}
    {% endif %}
    {% else %}
    {% if listing.contact_url %}
    <div class="col" style="text-align: center">
    </div>
    <div class="col" style="text-align: center">
      <a href="{{ listing.contact_url }}" style="text-align: center; text-decoration: none" rel="nofollow ugc noopener" target="_blank">
        <button id="brandButtonGoalPrimary" type="button" class="btn btn-block btn-md shadow"><i class="fas fa-desktop"></i> Website</button>
      </a>
    </div>
    <div class="col" style="text-align: center">
    </div>
    {% else %}
    {% endif %}
    {% endif %}
  </div>
</div>

{% if listing.description %}
  <div class="container py-5">
    <h2>About our clinic:</h2>
    <hr>
    <p>{{ listing.description|safe }}</p>
  </div>
{% else %}
{% endif %}
{% if listing.treatmentLimitations %}
  <div class="container py-5">
    <h2>Treatment limitations and restrictions:</h2>
    <hr>
    <p>{{ listing.treatmentLimitations|safe }}</p>
  </div>
{% else %}
{% endif %}

{% if user_objects %}
<div class="container py-5">
  {% if user_objects_count <= 1 %}
    <h2>This clinic has {{ user_objects_count }} other office:</h2>
  {% else %}
    <h2>This clinic has {{ user_objects_count }} other offices:</h2>
  {% endif %}
  <hr>
  <div class="row row-cols-1 row-cols-md-3">
    {% for i in user_objects %}
      <div class="col mb-5">
        <div class="card">
          <div class="card-body">
            {% if i.clinic_pro_logo_pic %}
            <p style="font-size: 20px; margin-bottom: 0px"><img class="imgHoverLogo" src="{{ i.clinic_pro_logo_pic.url }}" alt="Clinic's logo" style="height:70px; width:70px"> <a href="{{ i.clinic_url }}">{{ i.clinicName }}</a></p>
            {% else %}
            <p style="font-size: 20px; margin-bottom: 0px"><img class="imgHoverLogo" src="{% static 'img/hospital.svg' %}" alt="alternate logo" style="max-height:70px; max-width:70px"> <a href="{{ i.clinic_url }}">{{ i.clinicName }}</a></p>
            {% endif %}
          </div>
          <a href="{{ i.clinic_url }}">
            <button type="button" class="btn btn-link btn-block btn-md shadow" role="button">
              Learn more
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
