{% load static %}
{% if listing.package1title and listing.package1desc and listing.package1cost and listing.pro_is_published %}
<div class="container" style="text-align: center; z-index: -1;" id="pricing">
  <h2 id="packages">Packages</h2>
  <div class="row" id="Packages">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-lg">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">1. {{ listing.package1title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package1category }}</p>
          <p>{{ listing.package1desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package1cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
      {% if listing.package2title and listing.package2desc and listing.package2cost and listing.pro_is_published %}
      <div class="card mb-4 shadow-lg">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">2. {{ listing.package2title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package2category }}</p>
          <p>{{ listing.package2desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package2cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if listing.package3title and listing.package3desc and listing.package3cost and listing.pro_is_published %}
      <div class="card mb-4 shadow-lg">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">3. {{ listing.package3title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package3category }}</p>
          <p>{{ listing.package3desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package3cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card-deck mb-3 text-center">
      {% if listing.package4title and listing.package4desc and listing.package4cost and listing.pro_is_published %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">4. {{ listing.package4title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package4category }}</p>
          <p>{{ listing.package4desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package4cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if listing.package5title and listing.package5desc and listing.package5cost and listing.pro_is_published %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">5. {{ listing.package5title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package5category }}</p>
          <p>{{ listing.package5desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package5cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
      {% else %}
      {% endif %}
      {% if listing.package6title and listing.package6desc and listing.package6cost and listing.pro_is_published %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">6. {{ listing.package6title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package6category }}</p>
          <p>{{ listing.package6desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package6cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
  {% else %}
  {% endif %}
</div>
