{% load static %}
{% if listing.pro_is_published == True %}
<div class="backgroundPackageClinicDetail">
<br>
<div class="container py-5" id="packages">
  {% if package %}
  <h2>Packages & Deals</h2>
  <br>
  <div class="row">
    {% for packages in package %}
    <div class="col-sm-6">
      <div class="card mb-6 shadow-lg">
        <div class="card-header" style="background-color: #efefef;">
          <p style="font-size: 30px;"><img class="imgHoverLogo" src="{% static 'img/box.svg' %}" alt="alternative logo for PRO clinic" style="height:30px; width:30px"> <b>{{ packages.packagestitle }}</b></p>
          <hr>
          <div class="row">
            <div class="col-sm-8">
              <p><b>Name of the clinic:</b> <a href="{{ packages.packageClinic.clinic_url }}">{{ packages.packageClinic.clinicName }}</a></p>
              <p><b>Category:</b> <i>{{ packages.packagescategory }}</i></p>
            </div>
            <div class="col-sm-4">
              <p style="font-size: 30px; color: #CD5360; text-align: right"><u>{{ packages.packagescost|floatformat:'0' }} {% if packages.packageClinic.defaultClinicCurrency == 'GBP' %}£{% elif packages.packageClinic.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</u></p>
            </div>
          </div>
        </div>
        <div class="card-body" style="min-height: 20rem">
          <p>{{ packages.packagesdesc|safe}}</p>
        </div>
        <div class="card-footer" style="background-color: #efefef; text-align:right">
          <a href="mailto:{{ packages.packageClinic.contact_email }}?subject=Non-binding interest for {{ packages.packagestitle }}&body=Hello,<br><br>I'm interested in package: {{ packages.packagestitle }}. Please send me more information to this email.<br><br>Thank you.">
            <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Send details
            </button>
          </a>
        </div>
      </div>
      <br>
      <br>
    </div>
    {% endfor %}
  </div>
    {% else %}
    <h2>Packages & Deals</h2>
    <p>Sorry there are no Packages or special Deals available for this clinic right now</p>
    <br>
    {% endif %}
  </div>
</div>
{% endif %}
