{% load static %}
{% load humanize %}
<div class="container py-5" style="text-align: center; z-index: -1;" id="conditions">
  <h2>Conditions</h2>
  <hr>
  <div class="row">
    <hr class="featurette-divider">
    <div class="col-sm" style="text-align: left; padding-top:1rem">
      <ul class="list-group list-group-flush">

        <!-- single_woman_treatment -->
        {% if listing.single_woman_treatment == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Single woman treatment
        </li>
        {% else %}
        <li class="list-group-item">
          <img src="{% static 'img/question.svg' %}" class="mr-3" alt="Icon False" style="height: 2rem">Single woman treatment
        </li>
        {% endif %}

        <!-- waiting list -->
        {% if listing.sex_selection == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Sex/Gender selection
        </li>
        {% else %}
        <li class="list-group-item">
          <img src="{% static 'img/question.svg' %}" class="mr-3" alt="Icon False" style="height: 2rem">Sex/Gender selection
        </li>
        {% endif %}

        <!-- single_woman_treatment -->
        {% if listing.accepts_patients_from_abroad == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Accepts international patients
        </li>
        {% else %}
        <li class="list-group-item">
          <img src="{% static 'img/question.svg' %}" class="mr-3" alt="Icon False" style="height: 2rem">Accepts international patients
        </li>
        {% endif %}

      </ul>
    </div>
    <div class="col-sm" style="text-align: left; padding-top:1rem">
      <ul class="list-group list-group-flush">
        <!-- single_woman_treatment -->
        {% if listing.hiv_patients_treatment == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">HIV patients treatment
        </li>
        {% else %}
        <li class="list-group-item">
          <img src="{% static 'img/question.svg' %}" class="mr-3" alt="Icon False" style="height: 2rem">HIV patients treatment
        </li>
        {% endif %}

        <!-- reciprocal_treatment -->
        {% if listing.reciprocal_treatment == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Reciprocal IVF (LGBTQ)
        </li>
        {% else %}
        <li class="list-group-item">
          <img src="{% static 'img/question.svg' %}" class="mr-3" alt="Icon False" style="height: 2rem">Reciprocal IVF (LGBTQ)
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% if listing.is_claimed == True and listing.pro_is_published == True or listing.ppq_is_published == True %}
<div class="container py-5" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Languages</h2>
  <hr>
  <div class="row">
    <div class="col-sm" style="text-align: left; padding-top:1rem" >
      <ul class="list-group list-group-flush">
        {% if listing.clinicEnglish == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">English speaking personal
        </li>
        {% else %}
        {% endif %}
        {% if listing.clinicSpanish == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Spanish speaking personal
        </li>
        {% else %}
        {% endif %}
        {% if listing.clinicPortuguese == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Portuguesse speaking personal
        </li>
        {% else %}
        {% endif %}
      </ul>
    </div>
    <div class="col-sm" style="text-align: left; padding-top:1rem">
      <ul class="list-group list-group-flush">
        {% if listing.clinicRussian == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Russian speaking personal
        </li>
        {% else %}
        {% endif %}
        {% if listing.clinicGerman == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">German speaking personal
        </li>
        {% else %}
        {% endif %}
        {% if listing.clinicChinese == True %}
        <li class="list-group-item">
          <img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem">Chinese speaking personal
        </li>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
{% endif %}


{% if listing.is_claimed == True and listing.pro_is_published == True or listing.ppq_is_published == True %}
  {% if listing.clinic_pro_photo_1 or listing.clinic_pro_photo_2 or listing.clinic_pro_photo_3 or listing.clinic_pro_photo_4 or listing.clinic_pro_photo_5 or listing.clinic_pro_photo_6 %}
  <div class="container py-5" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
    <h2>Clinic Pictures</h2>
    <hr>
    <div class="card-columns">
      {% if listing.clinic_pro_photo_1 %}
      <div class="card">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_pro_photo_1.url }}">
          <img src="{{ listing.clinic_pro_photo_1.url }}" class="card-img-top" alt="...">
        </a>
      </div>
      {% else %}
      {% endif %}
      {% if listing.clinic_pro_photo_2 %}
      <div class="card">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_pro_photo_2.url }}">
          <img src="{{ listing.clinic_pro_photo_2.url }}" class="card-img-top" alt="...">
        </a>
      </div>
      {% else %}
      {% endif %}
      {% if listing.clinic_pro_photo_3 %}
      <div class="card">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_pro_photo_3.url }}">
          <img src="{{ listing.clinic_pro_photo_3.url }}" class="card-img-top" alt="...">
        </a>
      </div>
      {% else %}
      {% endif %}
      {% if listing.clinic_pro_photo_4 %}
      <div class="card">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_pro_photo_4.url }}">
          <img src="{{ listing.clinic_pro_photo_4.url }}" class="card-img-top" alt="...">
        </a>
      </div>
      {% else %}
      {% endif %}
      {% if listing.clinic_pro_photo_5 %}
      <div class="card">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_pro_photo_5.url }}">
          <img src="{{ listing.clinic_pro_photo_5.url }}" class="card-img-top" alt="...">
        </a>
      </div>
      {% else %}
      {% endif %}
      {% if listing.clinic_pro_photo_6 %}
      <div class="card">
        <a target="_blank" rel="noopener noreferrer" href="{{ listing.clinic_pro_photo_6.url }}">
          <img src="{{ listing.clinic_pro_photo_6.url }}" class="card-img-top" alt="...">
        </a>
      </div>
      {% else %}
      {% endif %}
    </div>
  </div>
  {% else %}
  {% endif %}
{% else %}
{% endif %}
