{% load static %}
{% if listing.mondayOpens == None or listing.mondayCloses == None or listing.tuesdayOpens == None or listing.tuesdayCloses == None or listing.wednesdayOpens == None or listing.wednesdayCloses == None or listing.thursdayOpens == None or listing.thursdayCloses == None or listing.fridayOpens == None or listing.fridayCloses == None %}
{% else %}
<div class="container py-3" style="text-align: center; z-index: -1;" id="pricing">
  <h2>Opening hours</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><u>Day</u></th>
        <th scope="col"><u>Opening hours</u></th>
        <th scope="col"><u>Closing hours</u></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>{{ listing.mondayOpens }}</td>
        <td>{{ listing.mondayCloses }}</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>{{ listing.tuesdayOpens }}</td>
        <td>{{ listing.tuesdayCloses }}</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>{{ listing.wednesdayOpens }}</td>
        <td>{{ listing.wednesdayCloses }}</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>{{ listing.thursdayOpens }}</td>
        <td>{{ listing.thursdayCloses }}</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>{{ listing.fridayOpens }}</td>
        <td>{{ listing.fridayCloses }}</td>
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        <td>{{ listing.saturdayOpens }}</td>
        <td>{{ listing.saturdayCloses }}</td>
      </tr>
      <tr>
        <th scope="row">Sunday</th>
        <td>{{ listing.sundayOpens }}</td>
        <td>{{ listing.sundayCloses }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}
