<div class="container py-4">
  <h3>Find similar clinics near you:</h3>
  <ul class="nav justify-content-left">
    {% if listing.clinicCityLink %}
    <li class="nav-item">
      <a class="nav-link" href="{{ listing.clinicCityLink }}" style="font-size: 14px !important;"><u><i class="fas fa-undo"></i> Fertility clinics in {{ listing.clinicCity }}</u></a>
    </li>
    {% else %}
    {% endif %}
    {% if listing.clinicRegionLink %}
    <li class="nav-item">
      <a class="nav-link" href="{{ listing.clinicRegionLink }}" style="font-size: 14px !important;"><u><i class="fas fa-undo"></i> Fertility clinics in {{ listing.clinicRegion }}</u></a>
    </li>
    {% else %}
    {% endif %}
    {% if listing.clinicStateLink %}
    <li class="nav-item">
      <a class="nav-link" href="{{ listing.clinicStateLink }}" style="font-size: 14px !important;"><u><i class="fas fa-undo"></i> Fertility clinics in {{ listing.clinicState }}</u></a>
    </li>
    {% else %}
    {% endif %}
    {% if listing.clinicLocationLink %}
    <li class="nav-item">
      <a class="nav-link" href="{{ listing.clinicLocationLink }}" style="font-size: 14px !important;"><u><i class="fas fa-undo"></i> Compare IVF worldwide</u></a>
    </li>
    {% else %}
    {% endif %}
  </ul>
</div>
