{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% block title %}2020 | Compare TOP fertility clinics in UK{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/locations/uk-regions{% endblock %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:5rem; color: white">IVF Costs by UK countries</h1>
    <p class="display-5" style="color: white">Compare Fertility & IVF average costs by UK IVF & fertility clinics</p>
    <br>
  </div>
</div>

<br>
<br>

<div class="container">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-ivf-tab" data-toggle="pill" href="#pills-ivf" role="tab" aria-controls="pills-ivf" aria-selected="true">Standard IVF</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-ivf" role="tabpanel" aria-labelledby="pills-ivf-tab">
      <h2 style="padding-top:3rem">Average prices of standard IVF (with ovarian stimulation) procedures compared by TOP UK cities</h2>
      <p><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">Country</th>
              <th scope="col">USD</th>
              <th scope="col">EUR</th>
              <th scope="col">GBP</th>
              <th scope="col">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsAberdeen' %}"><u>Aberdeen ({% if my_total_count_aberdeen %}{{ my_total_count_aberdeen }} clinics){% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_aberdeen_ivf %}{{ usdCurrency_aberdeen_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_aberdeen_ivf %}{{ eurCurrency_aberdeen_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_aberdeen_ivf %}{{ gbpCurrency_aberdeen_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAberdeen' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Aberdeen IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsBath' %}"><u>Bath ({% if my_total_count_bath %}{{ my_total_count_bath }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_bath_ivf %}{{ usdCurrency_bath_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_bath_ivf %}{{ eurCurrency_bath_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_bath_ivf %}{{ gbpCurrency_bath_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsBath' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Bath IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsBelfast' %}"><u>Belfast ({% if my_total_count_belfast %}{{ my_total_count_belfast }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_belfast_ivf %}{{ usdCurrency_belfast_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_belfast_ivf %}{{ eurCurrency_belfast_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_belfast_ivf %}{{ gbpCurrency_belfast_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsBelfast' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Belfast IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsBirmingham' %}"><u>Birmingham ({% if my_total_count_birmingham %}{{ my_total_count_birmingham }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_birmingham_ivf %}{{ usdCurrency_birmingham_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_birmingham_ivf %}{{ eurCurrency_birmingham_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_birmingham_ivf %}{{ gbpCurrency_birmingham_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsBirmingham' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Birmingham IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsBournemouth' %}"><u>Bournemouth ({% if my_total_count_bournemouth %}{{ my_total_count_bournemouth }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_bournemouth_ivf %}{{ usdCurrency_bournemouth_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_bournemouth_ivf %}{{ eurCurrency_bournemouth_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_bournemouth_ivf %}{{ gbpCurrency_bournemouth_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsBournemouth' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Bournemouth IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsBrightonHove' %}"><u>Brighton & Hove ({% if my_total_count_brightonhove %}{{ my_total_count_brightonhove }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_brightonhove_ivf %}{{ usdCurrency_brightonhove_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_brightonhove_ivf %}{{ eurCurrency_brightonhove_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_brightonhove_ivf %}{{ gbpCurrency_brightonhove_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsBrightonHove' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brighton & Hove IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsBristol' %}"><u>Bristol ({% if my_total_count_bristol %}{{ my_total_count_bristol }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_bristol_ivf %}{{ usdCurrency_bristol_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_bristol_ivf %}{{ eurCurrency_bristol_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_bristol_ivf %}{{ gbpCurrency_bristol_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsBristol' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Bristol IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsCambridge' %}"><u>Cambridge ({% if my_total_count_cambridge %}{{ my_total_count_cambridge }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_cambridge_ivf %}{{ usdCurrency_cambridge_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_cambridge_ivf %}{{ eurCurrency_cambridge_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_cambridge_ivf %}{{ gbpCurrency_cambridge_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsCambridge' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Cambridge IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsCardiff' %}"><u>Cardiff ({% if my_total_count_cardiff %}{{ my_total_count_cardiff }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_cardiff_ivf %}{{ usdCurrency_cardiff_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_cardiff_ivf %}{{ eurCurrency_cardiff_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_cardiff_ivf %}{{ gbpCurrency_cardiff_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsCardiff' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Cardiff IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsColchester' %}"><u>Colchester ({% if my_total_count_colchester %}{{ my_total_count_colchester }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_colchester_ivf %}{{ usdCurrency_colchester_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_colchester_ivf %}{{ eurCurrency_colchester_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_colchester_ivf %}{{ gbpCurrency_colchester_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsColchester' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Colchester IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsDerby' %}"><u>Derby ({% if my_total_count_derby %}{{ my_total_count_derby }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_derby_ivf %}{{ usdCurrency_derby_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_derby_ivf %}{{ eurCurrency_derby_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_derby_ivf %}{{ gbpCurrency_derby_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsDerby' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Derby IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsExeter' %}"><u>Exeter ({% if my_total_count_exeter %}{{ my_total_count_exeter }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_exeter_ivf %}{{ usdCurrency_exeter_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_exeter_ivf %}{{ eurCurrency_exeter_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_exeter_ivf %}{{ gbpCurrency_exeter_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsExeter' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Exeter IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsGlasgow' %}"><u>Glasgow ({% if my_total_count_glasgow %}{{ my_total_count_glasgow }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_glasgow_ivf %}{{ usdCurrency_glasgow_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_glasgow_ivf %}{{ eurCurrency_glasgow_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_glasgow_ivf %}{{ gbpCurrency_glasgow_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsGlasgow' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Glasgow IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsHull' %}"><u>Kingston upon  Hull ({% if my_total_count_hull %}{{ my_total_count_hull }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_hull_ivf %}{{ usdCurrency_hull_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_hull_ivf %}{{ eurCurrency_hull_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_hull_ivf %}{{ gbpCurrency_hull_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsHull' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Kingston upon Hull IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsChelmsford' %}"><u>Chelmsford ({% if my_total_count_chelmsford %}{{ my_total_count_chelmsford }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_chelmsford_ivf %}{{ usdCurrency_chelmsford_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_chelmsford_ivf %}{{ eurCurrency_chelmsford_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_chelmsford_ivf %}{{ gbpCurrency_chelmsford_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsChelmsford' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Chelmsford IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsLeeds' %}"><u>Leeds ({% if my_total_count_leeds %}{{ my_total_count_leeds }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_leeds_ivf %}{{ usdCurrency_leeds_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_leeds_ivf %}{{ eurCurrency_leeds_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_leeds_ivf %}{{ gbpCurrency_leeds_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsLeeds' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Leeds IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsLeicester' %}"><u>Leicester ({% if my_total_count_leicester %}{{ my_total_count_leicester }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_leicester_ivf %}{{ usdCurrency_leicester_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_leicester_ivf %}{{ eurCurrency_leicester_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_leicester_ivf %}{{ gbpCurrency_leicester_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsLeicester' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Leicester IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsLiverpool' %}"><u>Liverpool ({% if my_total_count_liverpool %}{{ my_total_count_liverpool }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_liverpool_ivf %}{{ usdCurrency_liverpool_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_liverpool_ivf %}{{ eurCurrency_liverpool_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_liverpool_ivf %}{{ gbpCurrency_liverpool_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsLiverpool' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Liverpool IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsLondon' %}"><u>London ({% if my_total_count_london %}{{ my_total_count_london }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_london_ivf %}{{ usdCurrency_london_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_london_ivf %}{{ eurCurrency_london_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_london_ivf %}{{ gbpCurrency_london_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsLondon' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">London IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsManchester' %}"><u>Manchester ({% if my_total_count_manchester %}{{ my_total_count_manchester }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_manchester_ivf %}{{ usdCurrency_manchester_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_manchester_ivf %}{{ eurCurrency_manchester_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_manchester_ivf %}{{ gbpCurrency_manchester_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsManchester' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Manchester IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsMiddlesbrough' %}"><u>Middlesbrough ({% if my_total_count_middlesbrough %}{{ my_total_count_middlesbrough }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_middlesbrough_ivf %}{{ usdCurrency_middlesbrough_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_middlesbrough_ivf %}{{ eurCurrency_middlesbrough_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_middlesbrough_ivf %}{{ gbpCurrency_middlesbrough_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsMiddlesbrough' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Middlesbrough IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsNewcastle' %}"><u>Newcastle ({% if my_total_count_newcastle %}{{ my_total_count_newcastle }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_newcastle_ivf %}{{ usdCurrency_newcastle_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_newcastle_ivf %}{{ eurCurrency_newcastle_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_newcastle_ivf %}{{ gbpCurrency_newcastle_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsNewcastle' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Newcastle IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsNorwich' %}"><u>Norwich ({% if my_total_count_norwich %}{{ my_total_count_norwich }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_norwich_ivf %}{{ usdCurrency_norwich_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_norwich_ivf %}{{ eurCurrency_norwich_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_norwich_ivf %}{{ gbpCurrency_norwich_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsNorwich' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Norwich IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsNottingham' %}"><u>Nottingham ({% if my_total_count_nottingham %}{{ my_total_count_nottingham }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_nottingham_ivf %}{{ usdCurrency_nottingham_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_nottingham_ivf %}{{ eurCurrency_nottingham_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_nottingham_ivf %}{{ gbpCurrency_nottingham_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsNottingham' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Nottingham IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsOxford' %}"><u>Oxford ({% if my_total_count_oxford %}{{ my_total_count_oxford }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_oxford_ivf %}{{ usdCurrency_oxford_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_oxford_ivf %}{{ eurCurrency_oxford_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_oxford_ivf %}{{ gbpCurrency_oxford_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsOxford' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Oxford IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsPeterborough' %}"><u>Peterborough ({% if my_total_count_peterborough %}{{ my_total_count_peterborough }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_peterborough_ivf %}{{ usdCurrency_peterborough_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_peterborough_ivf %}{{ eurCurrency_peterborough_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_peterborough_ivf %}{{ gbpCurrency_peterborough_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsPeterborough' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Peterborough IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsPlymouth' %}"><u>Plymouth ({% if my_total_count_plymouth %}{{ my_total_count_plymouth }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_plymouth_ivf %}{{ usdCurrency_plymouth_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_plymouth_ivf %}{{ eurCurrency_plymouth_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_plymouth_ivf %}{{ gbpCurrency_plymouth_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsPlymouth' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Plymouth IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsPortsmouth' %}"><u>Portsmouth ({% if my_total_count_portsmouth %}{{ my_total_count_portsmouth }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_portsmouth_ivf %}{{ usdCurrency_portsmouth_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_portsmouth_ivf %}{{ eurCurrency_portsmouth_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_portsmouth_ivf %}{{ gbpCurrency_portsmouth_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsPortsmouth' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Portsmouth IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsSalisbury' %}"><u>Salisbury ({% if my_total_count_salisbury %}{{ my_total_count_salisbury }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_salisbury_ivf %}{{ usdCurrency_salisbury_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_salisbury_ivf %}{{ eurCurrency_salisbury_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_salisbury_ivf %}{{ gbpCurrency_salisbury_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsSalisbury' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Salisbury IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsSheffield' %}"><u>Sheffield ({% if my_total_count_sheffield %}{{ my_total_count_sheffield }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_sheffield_ivf %}{{ usdCurrency_sheffield_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_sheffield_ivf %}{{ eurCurrency_sheffield_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_sheffield_ivf %}{{ gbpCurrency_sheffield_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsSheffield' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Sheffield IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsSouthampton' %}"><u>Southampton ({% if my_total_count_southampton %}{{ my_total_count_southampton }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_southampton_ivf %}{{ usdCurrency_southampton_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_southampton_ivf %}{{ eurCurrency_southampton_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_southampton_ivf %}{{ gbpCurrency_southampton_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsSouthampton' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Southampton IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicsSwansea' %}"><u>Swansea ({% if my_total_count_swansea %}{{ my_total_count_swansea }} clinics{% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">{% if usdCurrency_swansea_ivf %}{{ usdCurrency_swansea_ivf|floatformat:'0'|intcomma }} ${% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_swansea_ivf %}{{ eurCurrency_swansea_ivf|floatformat:'0'|intcomma }} €{% else %} ?{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_swansea_ivf %}{{ gbpCurrency_swansea_ivf|floatformat:'0'|intcomma }} £{% else %} ?{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsSwansea' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Swansea IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endblock  %}
