{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ blog.author.author_name }} {{ blog.author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://www.fertilitycommunity.com/media/{{ blog.pic_blog }}" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block title %}{{best_clinics_count}} {{blog.title}} | {{ blog.year }}{% endblock %}
{% block description %}These are the best IVF clinics in Prague for {{ blog.year }}. Find out who has the highest DTI index and read more about their team, IVF treatments and pricing. {% endblock %}
{% block noindexpage %}{% if blog.best_article_city_noindex_sitemap_boolean == True %}{% else %}<meta name="robots" content="noindex, nofollow">{% endif %}{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog/{{blog.slug}}{% endblock %}
{% block meta_keywords %}best ivf clinics in prague, best fertility clinics prague{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{best_clinics_count}} {{blog.title}} | {{ blog.year }}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{blog.description}}">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://www.fertilitycommunity.com/media/{{ blog.pic_blog }}" />{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!-- ================================================== -->

<!-- Schemas -->
{% include 'schemas/medicalwebpageschema.html' %}



<div class="background background-color-gradient">
  <div class="container py-5">
    <h1 style="padding-top:3rem; color:white">{{best_clinics_count}} {{ blog.title }} | {{ blog.year }}</h1>
  </div>
</div>

<div class="container mt-5">
  {% include 'blog/blog_header.html' %}
  <hr class="py-3">
  <p>Fertility clinics in the Prague are among the world's best. People come here from abroad to receive professional treatment for a reasonable price, and they also learn about the country's broad history. Also have a look why is <a href="{% url 'ivf_in_prague' %}">IVF in Prague</a> so popular.</p>
  <p>There are many <a href="{% url 'fertilityClinicPrague' %}">IVF clinics in Prague</a> and some are better than others. We have reviewed and compared several clinics and compare them below based on our digital transparency index.</p>
  <br>
  <div class="pt-5 pb-4">
    {% include 'blog/snippet_carousel.html' %}
  </div>
  <p>Here is our list of the <strong>{{best_clinics_count}} {{blog.title}}:</strong></p>
</div>

{% for clinic in best_clinics %}

{% if clinic.best_article_city_actual_text %}
<br>
<hr>
<div class="container py-3" id="best-clinic-{{forloop.counter}}">
  <div class="header" style="padding-top:3rem; min-height:80px;">
  {% if clinic.clinic_pro_logo_pic %}
    <div id="imgInfo" class="img align-self-center align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="{{ clinic.clinic_url }}">
        <img class="imgHoverLogo" src="{{ clinic.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
      </a>
    </div>

    <div class="container ml-2" id="nameInfo">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% endif %}
  </div>

  {% if clinic.clinic_pro_photo_1 or clinic.clinic_pro_photo_2 or clinic.clinic_pro_photo_3 or clinic.clinic_pro_photo_4 or clinic.clinic_pro_photo_5 or clinic.clinic_pro_photo_6 %}
  <br>
  <br>

  <div class="card-columns">
    {% if clinic.clinic_pro_photo_1 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_1.url }}" class="card-img-top" alt="clinic photo 1">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_2 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_2.url }}" class="card-img-top" alt="clinic photo 2">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_3 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_3.url }}" class="card-img-top" alt="clinic photo 3">
    </div>
    {% else %}
    {% endif %}
  </div>
  {% else %}
  {% endif %}

  <br>
  <hr>
  <br>

  {{ clinic.best_article_city_actual_text|safe }}

  {{ clinic.best_article_city_fcreview_text|safe}}

  <br>
  <br>

  {% include 'blog/best-article/footerbtns.html' %}
</div>

{% endif %}

<br>
<br>

{% endfor %}

<div class="container py-3 text-center">
  <a href="{% url 'fertilityClinicPrague' %}" rel="dofollow" style="text-decoration:none">
    <button id="brandButton" type="button" class="btn btn-outline-dark btn-lg btn-block">Full list of {{clinics_location_count}} IVF clinics in Prague </button>
  </a>
</div>













<!-- ================================================== -->
{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary.js' %}"></script>{% endblock %}

{% endblock  %}
