{% extends "main/base.html" %}
{% load static %}
{% block title %}The Fertility Center - Traverse City | 2020 Comparison{% endblock %}
{% block description %}Compare all {{ michiganlisting }} Michigan fertility clinics with each other or search from {{uslisting}} fertility clinics in the United States of the total {{alllisting}} around the globe and compare their treatment options with pricing to get the best viewpoint. Relevant information actual for 2020.{% endblock %}

{% block canonical_url %}https://www.fertilitycommunity.com/clinics/us/michigan/the-fertility-center-traverse-city{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<!-- ================================================== -->

{% include 'clinicdetails/0header.html' %}

<!-- ================================================== -->

{% if listing.clinic_pro_logo_pic %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{{ listing.clinic_pro_logo_pic }}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% else %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{% static 'img/hospital.svg' %}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% endif %}

<!-- ================================================== -->

{% include 'clinicdetails/1aboutclinic.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/7contactbutton.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/2primarytreatments.html' %}

<!-- ================================================== -->




{% include 'clinicdetails/3secondarytreatments.html' %}

<!-- ================================================== -->



{% include 'clinicdetails/4Packages.html' %}

<!-- ================================================== -->




{% include 'clinicdetails/5conditionslanguagesteamcontact.html' %}

<!-- ================================================== -->

<div class="container" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Address</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6" style="padding-top:2rem">
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Street address:</b> {{ listing.clinicStreetAddress }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>City/town:</b> {{ listing.clinicCity }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Postcode:</b> {{ listing.clinicPostalCode }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Country:</b> {{ listing.clinicState }}</p>
      <br>
      <p style="margin-bottom: 0px; font-size: 20px;"><b>Clinic Region:</b> {{listing.clinicRegion}}</p>
    </div>
    <div class="col-sm-6" style="padding-top:2rem">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2057.554869298824!2d-85.64524351998585!3d44.762078193951936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881e328767027d3d%3A0x3f49a230bd5a6131!2s1200%206th%20St%20%23400%2C%20Traverse%20City%2C%20MI%2049684%2C%20Spojen%C3%A9%20st%C3%A1ty%20americk%C3%A9!5e0!3m2!1scs!2scz!4v1592044949406!5m2!1scs!2scz" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>

<!-- ================================================== -->




{% include 'clinicdetails/6openinghours.html' %}

<!-- ================================================== -->




{% include 'clinicdetails/8footerlinks.html' %}

<!-- ================================================== -->
{% endblock  %}
