{% extends "main/base.html" %}
{% load static %}
{% block title %}Gravida | 2020 Comparison{% endblock %}
{% block description %}Compare all {{ barcelonalisting }} Barcelona fertility clinics with each other or search from {{splisting}} fertility clinics in Spain of the total {{alllisting}} around the globe and compare their treatment options with pricing to get the best viewpoint. Relevant information actual for 2020.{% endblock %}

{% block canonical_url %}https://www.fertilitycommunity.com/clinics/sp/barcelona/gravida{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<!-- ================================================== -->

{% include 'clinicdetails/0header.html' %}

<!-- ================================================== -->

{% if listing.clinic_pro_logo_pic %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{{ listing.clinic_pro_logo_pic }}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% else %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{% static 'img/hospital.svg' %}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% endif %}

<!-- ================================================== -->

{% include 'clinicdetails/1aboutclinic.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/7contactbutton.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/2primarytreatments.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/3secondarytreatments.html' %}

<!-- ================================================== -->

<br>
<br>
{% include 'clinicdetails/4Packages.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/5conditionslanguagesteamcontact.html' %}

<!-- ================================================== -->

<div class="container" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Clinics Address</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6" style="padding-top:2rem">
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Street address:</b> {{ listing.clinicStreetAddress }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>City/town:</b> {{ listing.clinicCity }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Postcode:</b> {{ listing.clinicPostalCode }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Country:</b> {{ listing.clinicState }}</p>
      <br>
      <p style="margin-bottom: 0px; font-size: 20px;"><b>Clinic Region:</b> {{listing.clinicRegion}}</p>
    </div>
    <div class="col-sm-6" style="padding-top:2rem">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.2703389745852!2d2.1272619154258745!3d41.38993507926397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498666340498b%3A0xa23b0ccd390e2a25!2sGravida%20-%20Cl%C3%ADnica%20de%20Reprodcci%C3%B3n%20asistida%20en%20Barcelona!5e0!3m2!1scs!2scz!4v1599578308196!5m2!1scs!2scz" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/6openinghours.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/8footerlinks.html' %}

<!-- ================================================== -->
{% endblock  %}
