{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ blog.author.author_name }} {{ blog.author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://www.fertilitycommunity.com/media/{{ blog.pic_blog }}" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block title %}The {{best_clinics_count}} {{blog.title}} | {{ blog.year }}{% endblock %}
{% block description %}These are the best IVF clinics in Slovakia for {{ blog.year }}. Find out who has the highest DTI index and read more about their team, IVF treatments and pricing.{% endblock %}
{% block noindexpage %}{% if blog.best_article_country_noindex_sitemap_boolean == True %}{% else %}<meta name="robots" content="noindex, nofollow">{% endif %}{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog/{{blog.slug}}{% endblock %}
{% block meta_keywords %}best ivf clinics in Slovakia, best fertility clinics Slovakia{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{best_clinics_count}} {{blog.title}} | {{ blog.year }}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{blog.description}}">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://www.fertilitycommunity.com/media/{{ blog.pic_blog }}" />{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!-- ================================================== -->

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":
        {
          "@type":"WebPage",
          "@id":"https://www.fertilitycommunity.com/blog/{{blog.slug}}"
        },
      "headline": "{{blog.title}}",
      "image":
        {
          "@type": "ImageObject",
          "url": "{{ blog.pic_blog.url }}",
          "height": 1080,
          "width": 1480
        },
      "datePublished": "{{ blog.created_at }}",
      "dateModified": "{{ blog.last_modified }}",
      "author":
        {
          "@type": "Person",
          "name": "{{ blog.author.author_name }} {{ blog.author.author_lastname }}"
        },
      "publisher":
        {
          "@type": "Organization",
          "name": "FertilityCommunity",
          "logo":
            {
              "@type": "ImageObject",
              "url": "https://fertilitycommunity.com/static/img/LOGO.jpg"
            }
        },
      "description": "{{ blog.description }}"
    }
</script>



<div class="background" style="background-color: #286DA8">
  <div class="container py-5">
    <h1 style="padding-top:3rem; color:white">{{best_clinics_count}} {{ blog.title }} | {{ blog.year }}</h1>
  </div>
</div>

<div class="container mt-5">
  {% include 'blog/authors.html' %}
  <i>Select currency for treatment pricings</i>
  <div class="row">
    <div class="col-4">
      <select class="form-control" id="ChooseCurrency">
        <option value="" selected>Currency</option>
        <option>USD</option>
        <option>EUR</option>
        <option>GBP</option>
      </select>
    </div>
    <div class="col-4 offset-4">
    </div>
  </div>
  <hr class="py-3">
  <p>With the incredible growth of medical tourism in its neighboring countries – the Czech Republic and Poland – the rapidly increasing popularity of <a href="{% url 'ivf_in_czech_republic' %}">Slovak IVF</a> should come as no surprise. The country will slowly but surely become one of the top IVF destinations for Europeans – and ultimately, the rest of the world.</p>
  <br>
  <p>Slovak is a small, peaceful, and beautiful country. Asides from the delightful scenery, it also offers a hospitable environment, inexpensive shopping, and international airports located in its two biggest cities – Bratislava and Košice – that are easy to locate. Its clinics offer competitive <a href="{% url 'locationsSKRegions' %}">IVF prices</a> with modern technology and teams of talented professionals. According to Slovak IVF laws, IVF, ICSI, egg/embryo donation, and egg freezing are permitted for <a href="{% url 'fertilityClinicSlovakia' %}">Slovak IVF clinics</a>. Surrogacy and sex selection are not permitted, egg/embryo donors are also strictly anonymous.</p>
  <br>
  <p>Slovak is a member of the European Union. Hence, its laws are dependent on European edicts and international declarations. Visiting <a href="{% url 'fertilityClinicSlovakia' %}">Slovak IVF clinics</a> would be the start of a wonderful journey. You are guaranteed to get wrapped up in the warmth and welcoming aura of the country and excellent technology, skill, and treatment methods from its IVF clinics.</p>
  <div class="pt-5 pb-4">
    {% include 'blog/snippet_carousel.html' %}
  </div>
  <p>Here is our list of the <strong>{{best_clinics_count}} {{blog.title}}:</strong></p>
</div>


{% for clinic in best_clinics %}
<br>
<hr>
{% if clinic.best_article_country_actual_text %}
<div class="container py-3" id="best-clinic-{{forloop.counter}}">

  {% include 'blog/best-article/header.html' %}

  {{ clinic.best_article_country_actual_text|safe }}

  {% include 'blog/best-article/treatmentsinblogposts.html' %}

  {% include 'blog/best-article/finalthoughts.html' %}

  {% include 'blog/best-article/footerbtns.html' %}

</div>
{% endif %}

<br>
<br>

{% endfor %}

<div class="container py-5 text-center">
  <a href="{% url 'fertilityClinicSlovakia' %}" rel="dofollow">
    <button id="brandButton" type="button" class="btn btn-outline-dark btn-lg">Full list of {{clinics_location_count}} IVF clinics in Slovakia </button>
  </a>
</div>













<!-- ================================================== -->
{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary-treatments-clinics.js' %}"></script>{% endblock %}

{% endblock  %}
