{% extends "main/base.html" %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}{{ blog.title }} | {{blog.year}}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}
{% block canonical_url %}{{ blog.blog_url }}{% endblock %}
{% block meta_keywords %}prague ivf reviews{% endblock %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ author.author_name }} {{ author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="{{ blog.pic_blog.url }}" />{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{ blog.title }} | {{blog.year}}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{ blog.description }}">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="{{ blog.pic_blog.url }}" />{% endblock %}

{% block content %}

<!-- Schemas -->
{% include 'schemas/medicalwebpageschema.html' %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background background-color-gradient">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">{{ blog.title }} | {{blog.year}}</h1>
    <br>
  </div>
</div>

<div class="container">
  <br>
  {% include 'blog/blog_header_no_currency.html' %}
  <hr>
  <img src="{{ blog.pic_blog.url }}" alt="{{ blog.pic_blog.name }}" width="100%">
  <br>
  <br>
  <div class="feature">
    <p>When considering beginning the journey of in-vitro fertilization, it is natural to wonder what exactly this life-changing process will entail. Many women that choose to look into IVF have exhausted all other options.</p>
    <br>
    <p>Often, the experience is accompanied with physical and emotional stress. Knowing what to expect, the steps involved and the ins and outs of the procedure are immensely helpful in making the process as easy as possible.</p>
    <br>
    <p><a href="https://www.fertilitycommunity.com/blog/what-is-ivf-treatment/">Learn more about IVF and what it means for you</a>.</p>
  </div>

  {% include 'blog/snippet_carousel.html' %}

  <div class="feature">
    <ol>
      <li>
        <p style="font-size: 95%"><strong>Step One: Beginning Treatment</strong></p>
        <p style="font-size: 95%">Prior to officially starting treatment, several appointments will need to take place with a care team. During this time they will need to monitor blood, hormone levels, and reproductive organs. Getting an overall picture of a woman's reproductive system is key to delivering the correct level of care. </p>
        <p style="font-size: 95%">Also during this time, the care team will select which method of pituitary suppression is the right choice. There are two different methods of suppression, long protocol and short protocol. The long protocol involves the pituitary suppression starting before ovarian stimulation while the short protocol involves the suppression beginning after the ovarian stimulation. </p>
        <p style="font-size: 95%">More information will be provided during this time and any questions or concerns will be answered by the doctor.</p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Two: Stimulation Of The Ovaries</strong></p>
        <p style="font-size: 95%">The use of specialized medication, called FSH or follicle stimulating hormone, is intended to stimulate the ovaries into beginning follicle growth. These follicles contain the eggs that will be retrieved later on in the process.</p>
        <p style="font-size: 95%">Under normal circumstances, a woman's body produces only 1 egg per month. The purpose of FSH is to allow for multiple eggs to be produced which is ideal for a successful IVF as it increases overall chances. </p>
        <p style="font-size: 95%">Daily injections are used to administer the medication to the woman and this process lasts anywhere from 9 to 14 days. Either the woman herself may administer these injections or a partner as it is not done in a medical setting. </p>
        <p style="font-size: 95%">Following the injections, the progress will be closely monitored by the care team with the use of ultrasounds and blood work.</p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Three: Trigger Shot</strong></p>
        <p style="font-size: 95%">The trigger shot takes place once an ultrasound has been performed to confirm the prior steps were successful in stimulating the ovaries into producing eggs. It contains human chorionic gonadotropin, also known as hCG.</p>
        <p style="font-size: 95%">The purpose of this injection for IVF purposes is to ensure the egg enters its final maturation and begins to separate from the follicle wall. This shot is also used outside of IVF which can create confusion. </p>
        <p style="font-size: 95%">The specific process that the trigger shot induces is known as meiosis and it is when the egg sheds half of its chromosomes to make room for the sperm's half to join when fertilization occurs. This shot is typically painless and women report occasional soreness at the injection site.</p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Four: Egg Retrieval</strong></p>
        <p style="font-size: 95%">The egg retrieval will take place quickly after the trigger shot, between 34 and 36 hours. This minor surgical procedure is more technically known as follicular aspiration. A very thin needle is pushed into the ovaries and uses a suction-like technology to pull the eggs out of the body. </p>
        <p style="font-size: 95%">The retrieval itself only takes about 20 to 30 minutes and the entire process is about 2 to 3 hours. Women will also be put under light anesthesia during this time to ensure comfort. The ultimate goal is to retrieve as many healthy eggs as possible in order to increase the chances of successful fertilization.</p>
        <p style="font-size: 95%">Most women report minimal to no pain from this process which can be comforting to those experiencing concerns. On the same day as the egg retrieval, the woman's partner will be asked to produce their semen sample. This semen is used in the next step in the process, insemination.</p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Five: Insemination</strong></p>
        <p style="font-size: 95%">During insemination, the semen is collected and then cleansed to prepare it for the combination with the eggs. This sample can come from either a partner or a donor. Occasionally, a partner may have low sperm count making a donor a wise option. </p>
        <p style="font-size: 95%">Semen contains elements other than sperm so the goal is to separate the sperm to ensure it is as healthy and concentrated as possible. Doctors are very precise about this process and choose only the healthiest sperm found.</p>
        <p style="font-size: 95%">The process of insemination takes only a few hours. Both the sperm and the egg are put in a temperature controlled chamber while they combine. In some cases, doctors will combine the two using a process known as intracytoplasmic sperm injection, or ICSI. This takes place when the chance of fertilization via the first method is low. </p>
        <p style="font-size: 95%">Once the sperm and egg are combined to create the oocyte, they will be incubated for roughly 12 to 24 hours. Outside of rare circumstances like severely lacking male fertility, 70% of the oocytes become fully fertilized. </p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Six: Embryo Transfer</strong></p>
        <p style="font-size: 95%">Approximately 3 to 5 days after the egg retrieval, embryo transfer takes place. Medication needs to be taken prior to the transfer to ensure the uterus is prepped and ready to receive the embryos. </p>
        <p style="font-size: 95%">The care team will select the embryos that appear healthiest and those are the embryos that will be transferred through the woman's cervix. Anywhere from 1 to 5 embryos may be transferred depending on various personal health factors. In most cases, 2 embryos are transferred. </p>
        <p style="font-size: 95%">There is also an option to freeze extra embryos, which is a great option to ensure a backup should the process not end in a healthy pregnancy. If the extra embryos are not needed, it is possible to donate them for other couples that may have more severe fertility struggles. </p>
        <p style="font-size: 95%">The biggest concern with transferring more than 1 embryo is that it is possible that both or all embryos will take. This means multiple pregnancies are occurring which is a concern for the health of both the embryos and the woman. Ultimately, it is a personal decision between the woman and her doctor. Each individual situation is unique.</p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Seven: Luteal Phase</strong></p>
        <p style="font-size: 95%">The luteal phase is regarded as the waiting period. This is the time between the embryo transfer and the pregnancy test to verify whether or not the embryo is implanted. During this two-week phase, physical activity is to be kept to a minimum, and a strong system of support is recommended as it can be a very anxiety-inducing time. </p>
        <p style="font-size: 95%">Progesterone supplementation will continue during this time, typically in the form of an injection at home. It is common to have many questions and concerns during this time. All questions should be taken directly to the doctor and care team as they know the unique situation of each woman. </p>
        <p style="font-size: 95%">This phase is one of the more mentally exhausting periods while others demand more physically. The beginning steps of the process involve visiting the care team and doctor regularly.</p>
        <p style="font-size: 95%">During this time, there is significantly less contact and this in itself can cause an increase in anxiety. Maintaining a healthy diet, discussing emotions with others, and keeping an upbeat attitude are highly recommended.</p>
      </li>
      <hr>
      <li>
        <p style="font-size: 95%"><strong>Step Eight: Pregnancy Check</strong></p>
        <p style="font-size: 95%">This is the most exciting and yet also the most nerve-wracking part of the process for most. This step is when the pregnancy test is performed to see if the IVF was successful. </p>
        <p style="font-size: 95%">Specifically, a blood test will be performed roughly 14 days after the embryo transfer. Multiple blood tests over a period of a few days is typically what occurs as it may not be apparent on the first day. </p>
        <p style="font-size: 95%">Should the pregnancy test come back positive, continued monitoring will occur as various factors remain a concern. Miscarriage or ectopic pregnancy are the two most common situations doctors watch out for.</p>
        <p style="font-size: 95%">It is crucial to have a strong support system during the waiting period before the pregnancy test as well as afterward due to the high levels of stress that can be experienced.</p>
      </li>
    </ol>
  </div>
  <div class="feature">
    <p>While there are many crucial and time-consuming steps to IVF, the deepened understanding of why each step is so important to the overall success can be incredibly comforting. Approximately 10-15% of couples have an issue getting pregnant and many of those couples seek out IVF. </p>
    <p>Knowing that there is a large group of people undergoing the same process is valuable knowledge and can make undergoing IVF even easier. Overall, it is an emotionally draining process for many but a miraculous scientific development that allows many couples to become pregnant that otherwise may have not.</p>
  </div>
  <div class="feature">
    <h2>Independent review sources:</h2>
      <ul>
        <li>Callan, V.J and Hennessey, J.F. (1988) Emotional aspects and support in in-vitro fertilization and embryo transfer programs. J. In Vitro Fertil. Embryo Transfer, 5, 290–295.</li>
        <li>Choe J, Archer JS, Shanks AL. In Vitro Fertilization. [Updated 2021 Sep 9]. In: StatPearls [Internet]. Treasure Island (FL): StatPearls Publishing; 2022 Jan-. Available from: <a href="https://www.ncbi.nlm.nih.gov/books/NBK562266/">https://www.ncbi.nlm.nih.gov/books/NBK562266/</a></li>
        <li>Eftekhar M, Mohammadian F, Yousefnejad F, Molaei B, Aflatoonian A. Comparison of conventional IVF versus ICSI in non-male factor, normoresponder patients. Iran J Reprod Med. 2012;10(2):131-136.</li>
        <li>Hurst, T., Shafir, E. and Lancaster, P. (1997) Assisted conception, Australia and New Zealand 1996. AIHW National Perinatal Statistics Unit (Assisted Conception Series: no. 3), Sydney.</li>
        <li>Montagnana M, Trenti T, Aloe R, Cervellin G, Lippi G. Human chorionic gonadotropin in pregnancy diagnostics. Clinica Chimica Acta. 2011;412(17-18):1515-1520. doi:10.1016/j.cca.2011.05.025</li>
      </ul>
  </div>
  {% include 'blog/continue_reading.html' %}
</div>
{% endblock  %}
