{% extends "main/base.html" %}
{% load static %}
{% block title %}2020 | FertilityCommunity{% endblock %}
{% block description %}Best IVF ever{% endblock %}
{% block content %}
<br>
<br>
<div class="container" style="text-align: center">
  <h1>Sorry</h1>
  <p>We couldn't load that topic, possibly due to a connection problem. Please try again. If the problem persists, let us know.</p>
  <br>
  <a class="btn btn-dark btn-lg" href="{% url 'index' %}" role="button" style="font-size:90%;">Back to homepage</a>
</div>
<br>
<br>
<br>
{% endblock  %}
