{% extends "main/base.html" %}
{% load static %}
{% block title %}2022 | FertilityCommunity{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}
<br>
<br>
<script>
dataLayer.push({'400': 'Loaded'});
</script>
<div class="container" style="text-align: center">
  <h1>Sorry</h1>
  <p>We couldn't load that topic, possibly due to a connection problem. Please try again. If the problem persists, let us know.</p>
  <br>
  <a class="btn btn-dark btn-lg" href="{% url 'index' %}" role="button" style="font-size:90%;">Back to homepage</a>
</div>
<br>
<br>
<br>
{% endblock  %}
