{% extends "main/base.html" %}
{% load static %}
{% block title %}2022 | FertilityCommunity{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}
<br>
<br>
<script>
dataLayer.push({'404': 'Loaded'});
</script>
<div class="container" style="text-align: center">
  <h1>Sorry, that page isn't here.</h1>
  <p>You probably didn't do anything wrong. We may have moved the page you're looking for somewhere else. If you typed the address please check to make sure you've got the exact right spelling etc.</p>
  <br>
  <a class="btn btn-dark btn-lg" href="{% url 'index' %}" role="button" style="font-size:90%;">Back to homepage</a>
</div>
<br>
<br>
<br>
{% endblock  %}
