{% extends "main/base.html" %}
{% load static %}
{% block title %}2022 | FertilityCommunity{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}
<br>
<br>
<script>
dataLayer.push({'500': 'Loaded'});
</script>
<div class="container" style="text-align: center">
  <h1>Sorry, an error has occurred on our server</h1>
  <p>Please, try your request again later. An error has occurred with our service, your data is safe, but for your protection and to prevent any possible loss of data your request was halted. The error has been logged and reported and we will look into it shortly.</p>
  <br>
  <a class="btn btn-dark btn-lg" href="{% url 'index' %}" role="button" style="font-size:90%;">Back to homepage</a>
</div>
<br>
<br>
<br>
{% endblock  %}
