{% extends "main/base.html" %}
{% load static %}
{% block title %}2022 | FertilityCommunity Team{% endblock %}
{% block description %}Our Team behind FertiltyCommunity. Contact us for more information about joining your fertility clinic to our seach engine{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/team{% endblock %}
{% block meta_keywords %}fertilitycommunity team{% endblock %}
{% block noindexpage %}{% endblock %}
{% block content %}
<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">About Project</h1>
    <br>
  </div>
</div>

<div class="container py-5">
  <p>FertilityCommunity is an online platform where people seeking fertility treatments can get the best possible information about clinics.</p>
  <p>It all started in 2019 when I realized that most of people who want to start a family face serious difficulties during their search for a fertility clinic. The main issue was that there were no resources to compare services and success rates, evaluate clinics, and gather detailed information about them on one place.</p>
  <p>So we created FertilityCommunity - a global project to build the first international search engine for fertility clinics which will contain unbiased information and reviews from patients. We are still hard at work gathering data from clinics all over the world.
Visit our website and join us in this great adventure!</p>
  <h2 class="py-3">Goals:</h2>
  <p>In today's globalized world, it is hard to find relevant information about fertility clinics and compare them with each other. So we decided to change it! FertilityCommunity project is building a worldwide fertility clinics search engine. It aimed to obtain enough transparent and relevant data from clinics to compare fertility treatments, packages, success rates, and evaluations.</p>
  <br>
  <h2 class="py-3">History:</h2>
  <p>The website was launched in 2020, just when the COVID pandemic started. Now it has over 700 fertility clinics from 8 countries. More will be added soon.</p>
</div>

<div class="container marketing" style="text-align: center; padding-bottom: 50px;">
  <h2>Team:</h2>
  <div class="row">
    <div class="col-lg-4" style="padding-top:4rem">
      <img class="rounded-circle" src="{% static 'img/ProfileDavid500.jpg' %}" alt="Team Founder" width="140" height="140">
      <h3 style="padding-top:2rem; text-align: center">David Langr</h3>
      <p style="text-align: center">Project lead & development</p>
      <p style="font-size: 100%; text-align: center">He became interested in infertility and IVF treatment in 2019. Since then, he has been studying the latest methods of IVF treatment around the world and, as a digital innovator, has been trying to connect the two areas.</p>
      <div class="row">
        <div class="col-sm col-2">
        </div>
        <div class="col-sm col-2">
        </div>
        <div class="col-sm col-2">
          <a href="https://www.linkedin.com/in/david-langr/"><i class="fab fa-linkedin" style="font-size:36px"></i></a>
        </div>
        <div class="col-sm col-2">
          <a href="mailto:david.langr@fertilitycommunity.com"><i class="fas fa-envelope-square" style="font-size:36px"></i></a>
        </div>
        <div class="col-sm col-2">
        </div>
        <div class="col-sm col-2">
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="padding-top:4rem">
      <img class="rounded-circle" src="{% static 'img/profile-user.svg' %}" alt="team manager" width="140" height="140">
      <h3 style="padding-top:2rem; text-align: center">Lisa Holliman</h3>
      <a href="https://www.fertilitycommunity.com/authors/lisa-holliman"><p style="text-align: center">IVF publisher</p></a>
      <p style="font-size: 100%; text-align: center">Lisa Holliman is a teacher and writer. She went through several infertility treatments before getting pregnant with her first child.</p>
      <div class="row">
        <div class="col-sm">
          <a href="mailto:info@fertilitycommunity.com"><i class="fas fa-envelope-square" style="font-size:36px"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container marketing py-5" style="text-align: center">
  <h2>Contributors:</h2>
  <div class="row py-4">
    {% for expert in contributors %}
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="{% url 'coach:coach-detail' expert.pk expert.coach_username %}">
        {% if expert.coach_profile_photo %}
          <img class="imgHoverTeam" src="{{ expert.coach_profile_photo.url }}" alt="image of team first member" style="max-height:80px; max-width:80px">
        {% else %}
          <img class="imgHoverTeam" src="{% static 'img/profile_custom.png' %}" alt="image of team first member" style="max-height:80px; max-width:80px">
        {% endif %}
          <h3 style="padding-top:2rem; text-align: center">{{ expert.coach_full_name }}</h3>
        </a>
        <p style="font-size: 100%; text-align: center">
        {% for job in expert.jobs.all %}
          {% if not forloop.last %}
            {{ job }} |
          {% else %}
            {{ job }}
          {% endif %}
        {% endfor %}
        </p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock  %}
