{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicons -->
  <link rel="icon" href="{% static 'img/LOGO32.svg' %}" sizes="32x32" type="image/png">
  <link rel="icon" href="{% static 'img/LOGO57.svg' %}" sizes="57x57">
  <link rel="icon" href="{% static 'img/LOGO76.svg' %}" sizes="76x76">
  <link rel="icon" href="{% static 'img/LOGO96.svg' %}" sizes="96x96">
  <link rel="icon" href="{% static 'img/LOGO120.svg' %}" sizes="120x120">
  <link rel="icon" href="{% static 'img/LOGO128.svg' %}" sizes="128x128">
  <link rel="icon" href="{% static 'img/LOGO144.svg' %}" sizes="144x144">
  <link rel="icon" href="{% static 'img/LOGO228.svg' %}" sizes="228x228">
  <link rel="apple-touch-icon" href="{% static 'img/LOGO32.svg'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/LOGO120.svg' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/LOGO152.svg'%}">
  <link rel="apple-touch-icon" sizes="167x167" href="{% static 'img/LOGO167.svg'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/LOGO180.svg'%}">
  <link rel="icon" sizes="192x192" href="{% static 'img/LOGO192.svg'%}">
  <meta name="msapplication-square310x310logo" content="{% static 'img/LOGO310.svg'%}">
  <meta name="google-site-verification" content="oLHEr8KY8jOSuFT7XUYzcTBI0kInhkPGZ8u4pRNSONc" />
  <meta name="msvalidate.01" content="7D0F9463E815E73F694F564D4FF70DEB" />
  <meta name="google-site-verification" content="78-3gqUQ6G3eXP54j5suT3AupNziHkrryltFvXbC5Uk" />
  <meta name="yandex-verification" content="5b594b1790f9f5f8" />
  <meta name="p:domain_verify" content="6eeba5b94da8887e1982421167974e3a"/>
  <link rel="apple-touch-icon" href="{% static 'favicon-120.png' %}" sizes="120x120">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="{% static 'fontAwesome/css/all.min.css' %}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&display=swap" rel="stylesheet">

  <link rel="preload" href="{% static 'fontAwesome/webfonts/fa-solid-900.woff2' %}" as="font" crossorigin>
  <link rel="preload" href="{% static 'fontAwesome/webfonts/fa-brands-400.woff2' %}" as="font" crossorigin>

  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  {% block noindexpage %}{% endblock %}
  {% block noindexgooglepage %}{% endblock %}

  {% block ogType %}{% endblock %}
  {% block articleAuthor %}{% endblock %}
  {% block articlePublisher %}{% endblock %}
  {% block siteName %}{% endblock %}
  {% block ogImage %}{% endblock %}

  <link rel="canonical" href="{% block canonical_url %}{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  {% if 'localhost' in request.get_host %}
  {% else %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PGKDGQV');</script>
  <!-- End Google Tag Manager -->
  {% endif %}
</head>
<body>
  <div class="cookie-banner" style="display: none">
    <p style="color: white; margin-bottom: 0px;">This&nbsp;website is&nbsp;using&nbsp;cookies. <a href="{% url 'cookies' %}"><u>More&nbsp;details</u></a></p>
    <button class="close">&times;</button>
  </div>

  <nav id="mainNavContent" class="navbar navbar-expand-lg navbar-light" style="background-color: white">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/LOGO-FertilityCommunity.svg' %}" alt="Logo Fertility Community">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'dashboard' %}"><i class="fas fa-clinic-medical"></i> Dashboard</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white; color: black">
              Account
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" style="text-decoration: none; color: black" href="{% url 'settings' %}">Account settings</a>
              <a class="dropdown-item" style="text-decoration: none; color: black" href="{% url 'howtousefertilitycommunity' %}">How to use FertilityCommunity</a>
              <a class="dropdown-item" style="text-decoration: none; color: black" href="{% url 'create1' %}">Add clinic</a>
              <a class="dropdown-item" style="text-decoration: none; color: black" href="{% url 'claim' %}">Claim clinic</a>
              <a hidden class="dropdown-item" href="{% url 'banners' %}">Banners & badges</a>
            </div>
          </div>
          <a class="nav-item nav-link" style="text-decoration: none; color: black" hidden href="{% url 'settings' %}"><i class="far fa-envelope"></i> Settings</a>
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'contactus' %}"><i class="far fa-envelope"></i> Contact us</a>
          <li>
            <a class="nav-item nav-link" style="text-decoration: none; color: black" href="javascript:{document.getElementById('logout').submit()}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            <form id="logout" action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
          {% else %}
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'packages' %}"><i class="fas fa-archive"></i> Packages</a>
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'locations' %}"><i class="fas fa-dollar-sign"></i> IVF Costs</a>
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'blog' %}"><i class="far fa-newspaper"></i> Blog</a>
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'blog1' %}"><i class="far fa-question-circle"></i> IVF Explained</a>
          <a class="nav-item nav-link" style="text-decoration: none; color: black" href="{% url 'contact' %}"><i class="far fa-envelope"></i> Contact</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <div class="popup-banner" style="display: none">
    <div class="modal" id="formModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Help with research</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <br>
            <p>Please complete a quick IVF survey for students. It doesn't even take 3 minutes.</p>
            <br>
          </div>
          <div class="modal-footer">
            <a href="https://forms.gle/xagAKzRkJftMZcqSA">
              <button type="button" class="btn btn-success">Survey</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block content %}
  {% endblock %}
  {% if 'localhost' in request.get_host %}
  {% else %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGKDGQV"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8739144.js"></script>
  <!-- End of HubSpot Embed Code -->

</body>


<!-- FOOTER -->
<div class="container" style="padding-top:4rem;">
  <hr>
  <footer class="my-md-5">
    <div class="row">
      <div class="col-12 col-sm">
        <p>FertilityCommunity <small class="d-block mb-3 text-muted">&copy; 2021</small></p>
        <p>Fertilitycommunity.com does not provide medical advice.</p>
      </div>
      <div class="col-4 col-sm">
        <p><b>Social:</b></p>
        <ul class="list-unstyled text-small">
          <li><a href="https://www.facebook.com/fertilitycommunity/" rel="nofollow" style="text-decoration: none;"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-4 col-sm">
        <p><b>For clinics:</b></p>
        <ul class="list-unstyled text-small">
          <li><a href="{% url 'register' %}" style="text-decoration: none;">Add or claim clinic</a></li>
          <li><a href="{% url 'login' %}" style="text-decoration: none;">Login as clinic owner</a></li>
        </ul>
      </div>
      <div class="col-4 col-sm">
        <p><b>About:</b></p>
        <ul class="list-unstyled text-small">
          <li><a href="{% url 'team' %}" style="text-decoration: none;">Team</a></li>
          <li><a href="{% url 'privacy' %}" style="text-decoration: none;">Privacy</a></li>
          <li><a href="{% url 'terms' %}" style="text-decoration: none;">Terms</a></li>
          <li><a href="{% url 'cookies' %}" style="text-decoration: none;">Cookies</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'js/mainer.js' %}"></script>
{% block otherDifPageJs %}{% endblock %}
</html>
