{% extends "main/base.html" %}
{% load static %}
{% block title %}IVF Blog | FertilityCommunity | 2020 {% endblock %}
{% block description %}Providing usefull and valuable information about all apects of inferility treatment and IVF operations all around the world. Read, learn and then decide!{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog{% endblock %}
{% block meta_keywords %}ivf blog, fertility blog, ivf news, fertility news{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex">{% endblock %}
{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">IVF blog</h1>
    <p class="lead" style="color:white">Providing you with the most actionable IVF news, blogposts and stories all over the world</p>
    <br>
  </div>
</div>

<div class="container py-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{blog.title}} <span class="text-muted">{{blog.spantitle}}</span></h2>
      <p class="lead">{{blog.lead}}</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="{% static 'blog.clinic_pro_logo_pic.url' %}" alt="">
    </div>
  </div>



</div>
{% endblock  %}
