{% extends "main/base.html" %}
{% load static %}
{% block title %}IVF Blog | FertilityCommunity | 2022 {% endblock %}
{% block description %}Providing usefull and valuable information about all apects of inferility treatment and IVF operations all around the world. Read, learn and then decide!{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog{% endblock %}
{% block meta_keywords %}ivf blog, fertility blog, ivf news, fertility news{% endblock %}
{% block noindexpage %}{% endblock %}
{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">IVF Blog</h1>
    <p class="lead" style="color:white">Providing you with the most actionable IVF news, blogposts and stories all over the world</p>
    <br>
  </div>
</div>


<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Best IVF clinics in different countries:</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_blogs_best_ivf_clinics_countries" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_blogs_best_ivf_clinics_countries" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_blogs_best_ivf_clinics_countries" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in BestClinicBlogCountry %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                    <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}" style="text-decoration:none">
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}">
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}" style="text-decoration:none">
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container py-3">
  <hr>
</div>


<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Best IVF clinics in different cities:</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_blogs_best_ivf_clinics_cities" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_blogs_best_ivf_clinics_cities" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_blogs_best_ivf_clinics_cities" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in BestClinicBlogCity %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                    <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}" style="text-decoration:none">
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}">
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}" style="text-decoration:none">
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container py-3">
  <hr>
</div>


<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Best IVF clinics in different US states:</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_blogs_best_ivf_clinics_cities" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_blogs_best_ivf_clinics_cities" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_blogs_best_ivf_clinics_cities" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in blog_modular_state %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                    <a href="{% url 'blog:ModularDetailView' article.modular_slug %}" style="text-decoration:none">
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      <a href="{% url 'blog:ModularDetailView' article.modular_slug %}">
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <a href="{% url 'blog:ModularDetailView' article.modular_slug %}" style="text-decoration:none">
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container py-3">
  <hr>
</div>

<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Are you considering IVF abroad?</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_blogs_abroad" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_blogs_abroad" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_blogs_abroad" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in blog_abroad %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                      {% if article.blog_url %}<a href="{{ article.blog_url }}" style="text-decoration:none">{% else %}<a href="{% url 'blog:SimpleDetailView' article.simple_slug %}" style="text-decoration:none">{% endif %}
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      {% if article.blog_url %}<a href="{{ article.blog_url }}" style="text-decoration:none">{% else %}<a href="{% url 'blog:SimpleDetailView' article.simple_slug %}" style="text-decoration:none">{% endif %}
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          {% if article.blog_url %}<a href="{{ article.blog_url }}" style="text-decoration:none">{% else %}<a href="{% url 'blog:SimpleDetailView' article.simple_slug %}" style="text-decoration:none">{% endif %}
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container py-3">
  <hr>
</div>

<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Explore tips and tricks for IVF treatment:</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_blogs_tips_tricks" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_blogs_tips_tricks" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_blogs_tips_tricks" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in blog_tips_tricks %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                      {% if article.blog_url %}<a href="{{ article.blog_url }}" style="text-decoration:none">{% else %}<a href="{% url 'blog:SimpleDetailView' article.simple_slug %}" style="text-decoration:none">{% endif %}
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      {% if article.blog_url %}<a href="{{ article.blog_url }}" style="text-decoration:none">{% else %}<a href="{% url 'blog:SimpleDetailView' article.simple_slug %}" style="text-decoration:none">{% endif %}
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          {% if article.blog_url %}<a href="{{ article.blog_url }}" style="text-decoration:none">{% else %}<a href="{% url 'blog:SimpleDetailView' article.simple_slug %}" style="text-decoration:none">{% endif %}
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% if blog_faq %}
<div class="container py-3">
  <hr>
</div>


<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Most asked questions about Fertility treatment:</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_faq_blogs" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_faq_blogs" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_faq_blogs" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in blog_faq %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                    <a href="{% url 'blog:FaqDetailView' article.slug %}">
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      <a href="{% url 'blog:FaqDetailView' article.slug %}">
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <a href="{% url 'blog:FaqDetailView' article.slug %}">
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock  %}
