{% extends "main/base.html" %}
{% load static %}
{% block title %}2020 | Fertility-Community contact us{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/contact{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Contact us</h1>
    <br>
  </div>
</div>
<br>
<main role="main">
  <div class="container" style="max-width: 70rem; text-align: center">
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.errors }}
      {{ form.as_p }}
      <br>
      <input class="btn btn-dark" type='submit' value='Send' />
    </form>
  </div>
</main>
<br>
{% endblock  %}
