{% extends "main/base.html" %}
{% load static %}
{% block title %}2022 | FertilityCommunity contact us{% endblock %}
{% block description %}Would you like to cooperate or just have a question? Feel free to contact us on this page.{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/contact{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Contact us</h1>
    <br>
  </div>
</div>
<br>
<main role="main">
  <div class="container" style="max-width: 70rem; text-align: center">
    {% if form.errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
    {% endif %}
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.source.errors }}
      {{ form.source }}
      <div class="fieldWrapper" style="text-align: left">
        {{ form.contactTitle.errors }}
        <label for="{{ form.contactTitle.id_for_label}}">Title:</label>
        {{ form.contactTitle }}
      </div>
      <br>
      <div class="fieldWrapper" style="text-align: left">
        {{ form.contactMessage.errors }}
        <label for="{{ form.contactMessage.id_for_label}}">Message:</label>
        {{ form.contactMessage }}
      </div>
      <br>
      <div class="fieldWrapper" style="text-align: left">
        {{ form.contact_email.errors }}
        <label for="{{ form.contact_email.id_for_label}}">Your email address, please:</label>
        {{ form.contact_email }}
      </div>
      <br>
      <div class="fieldWrapper" style="text-align: left">
        {{ form.anti_spam_challenge.errors }}
        <label for="{{ form.anti_spam_challenge.id_for_label}}">What is the color of the sky? (only small letters)</label>
        {{ form.anti_spam_challenge }}
      </div>
      <br>
      <input class="btn btn-dark" type='submit' value='Send' />
    </form>
  </div>
</main>
<br>
{% endblock  %}
