{% extends "main/base.html" %}
{% load static %}
{% block title %}2020 | Fertility-Community cookies{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/cookies{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container py-4">
<h1>Cookies Policy</h1>
<br>
<p>Last updated: 01/03/2020</p>
<p>Fertility-Community uses cookies on website www.fertilitycommunity.com also referred in this document as “we”, “our”, or “us”. By using the website, you consent to the use of cookies. Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use cookies on the website, your choices regarding cookies and further information about cookies.</p>
<br>
<h2>What are cookies</h2>
<p>Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the website more useful to you. Cookies can be "persistent" or "session" cookies.</p>
<br>
<h2>How Fertility-Community.com uses cookies</h2>
<p>When you use and access the website, we may place a number of cookies files in your web browser. We use cookies for the following purposes:</p>
<ul>
<li>to enable certain functions of the website for users</li>
<li>to provide analytics</li>
<li>to store your preferences</li>
</ul>
<p>We use both session and persistent cookies on the website like essential cookies. We may use essential cookies to authenticate users and prevent fraudulent use of user accounts.</p>
<br>
<h2>Third-party cookies</h2>
<p>In addition to our own cookies, we may also use various third-parties cookies to report usage statistics of the Service, deliver advertisements on and through the Service, and so on.</p>
<br>
<h2>What are your choices regarding cookies</h2>
<p>If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser. Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly. Where can your find more information about cookies</p>
<br>
<h2>You can learn more about cookies and the following third-party websites:</h2>
<ul>
<li>AllAboutCookies: <u><a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a></u></li>
<li>Network Advertising Initiative: <u><a href="http://www.networkadvertising.org/">http://www.networkadvertising.org/</a></u></li>
</ul>
</div>

{% endblock  %}
