{% extends "main/base.html" %}
{% load static %}
{% block title %}2020 | FertilityCommunity | Find all fertility clinics near you{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com{% endblock %}
{% block meta_keywords %}fertility clinic near me, ivf clinics near me, fertility doctor near me, fertility specialist near me, fertility center near me, private fertility clinic near me{% endblock %}
{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Fertility clinics & agencies near me</h1>
    <p class="lead" style="color:white">Search hundreds of IVF clinics at once around the globe with a cost comparison.</p>
  </div>
  <div class="container">
    <div class="searchBox">
      <div class="mainbanner" id="mainhpbanner">
        <form action="{% url 'search' %}">
          <div class="form-group" style="padding-top:3rem">
            <div class="card" style="border-radius: 8px;">
              <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                <select id="States" name="States" class="form-control" onchange="showDiv()" required>
                  <option value="" selected>Select state</option>
                  {% for key, value in CATEGORY_CHOICES_STATES.items %}
                  <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group" style="padding-top:1rem; display: none" id="regions">
            <div class="card" style="border-radius: 8px;">
              <div class="card-header" style="background-color: white; border-radius: 8px;">
                <select id="Region" name="Region" class="form-control">
                  <option value="" selected>Select region</option>
                  {% for key, value in CATEGORY_CHOICES_US_REGION.items %}
                  <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group" style="padding-top:1rem">
            <div class="accordion" id="accordionExample">
              <div class="card" id="cardBox" style="border-radius: 8px;">
                <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                  <button id="treatmentsBtn" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Types of treatments
                  </button>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments">
                          <label class="form-check-label" for="IVF treatment">All treatments</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments">
                          <label class="form-check-label" for="IVF treatment">IVF treatment</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments">
                          <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments">
                          <label class="form-check-label" for="Egg donation recipients">Egg donation recipients</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments">
                          <label class="form-check-label" for="Sperm donation recipients">Sperm donation recipients</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments">
                          <label class="form-check-label" for="Embryo donation recipients">Embryo donation recipients</label>
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments">
                          <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments">
                          <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments">
                          <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments">
                          <label class="form-check-label" for="Surrogacy">Surrogacy</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments">
                          <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments">
                          <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                        </div>
                        <div class="form-group form-check">
                          <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments">
                          <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:7rem">
            <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<br>
<!--Types of treatments-->
<br>

<div class="container py-4">
  <h2>Fertility clinics comparator & search engine</h2>
  <p>In today's world, it is no longer a problem to travel abroad for eye or tooth surgery, etc. Why should <u>IVF treatment</u> be different?</p>
  <p>But the problem arises in finding the right fertility clinic in the local area or abroad.</p>
  <p>In today's globalized world, it is hard to find <u>relevant</u> information about <b>Fertility Clinics</b> and compare them with each other. So we decided to change it!</p>
  <br>
  <p><b>FertilityCommunity</b> is a search engine and comparator for <u>near your location</u> fertility clinics as well as from <u>around the world</u>. We try to organize the most essential initial information, which is often decisive, for example, the location of the fertility clinic or office, what operations the clinic provides, the cost of treatments, LGBTQ and single parents and other options.</p>
  <p>The entire FertilityCommunity website is built to be impartial and <b>easy to read</b> & <b>compare</b> to help you choose the best fertility clinic and meet all your expectations about IVF treatments abroad.</p>
</div>

<br>
<!--Interesting things-->
<br>

<div class="background py-5" style="background-color: #286DA8">
  <div class="container">
    <h2 class="card-title" style="color: white">Presenting IVF locations</h2>
    <p class="card-text" style="color: white">Learn interesting things about IVF in different countries!</p>
    <br>
    <a href="{% url 'locations' %}">
      <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Read more</button>
    </a>
  </div>
</div>

<br>
<!--Location links-->
<br>

<div class="container">
  <h2><i class="fas fa-search-location"></i> Popular Fertility Clinics Locations</h2>
  <br>
  <div class="row">
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'fertilityClinicUK' %}">UK Fertility Clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicCzech' %}">Czech Republic Fertility Clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicSpain' %}">Spain Fertility Clinics</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'fertilityClinicUSA' %}">USA Fertility Clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicGreece' %}">Greece fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicIndia' %}">India fertility clinics</a></li>
      </ul>
    </div>
  </div>
  <br>
  <h3><i class="fas fa-search-location"></i> US Regions:</h3>
  <br>
  <div class="row">
    <div class="col-4 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'fertilityClinicsCalifornia' %}">California fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicsAlabama' %}">Alabama fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicsArizona' %}">Arizona fertility clinics</a></li>
        <br>
        <li><a href="{% url 'locationsUSRegions' %}"><u>All US region list</u></a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'fertilityClinicsNewYork' %}">New York fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicsArkansas' %}">Arkansas fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicsColorado' %}">Colorado fertility clinics</a></li>
        <br>
        <li><a href="{% url 'locationsUSRegions' %}"><u>All US region list</u></a></li>
      </ul>
    </div>
    <div class="col-4 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{% url 'fertilityClinicsConnecticut' %}">Connecticut fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicsDelaware' %}">Delaware fertility clinics</a></li>
        <li><a class="text-muted" href="{% url 'fertilityClinicsGeorgia' %}">Georgia fertility clinics</a></li>
        <br>
        <li><a href="{% url 'locationsUSRegions' %}"><u>All US region list</u></a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock  %}
