{% extends "main/base.html" %}
{% load static %}
{% block title %}FertilityCommunity | Fertility Clinic listings | 2021{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com{% endblock %}
{% block meta_keywords %}fertility clinic near me, ivf clinics near me, fertility doctor near me, fertility specialist near me, fertility center near me, private fertility clinic near me{% endblock %}
{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="homepageImage">
    <div class="container">
      <h1 class="display-4" style="padding-top:3rem; color:white">Fertility clinics & agencies near me</h1>
      <p class="lead" style="color:white">Search hundreds of IVF clinics at once around the globe with a cost comparison. We have reviewed and categorized over <b><u>{{ listing }}</u></b> fertility clinics worldwide!</p>
    </div>
    <div class="container">
      <div class="searchBox">
        <div class="mainbanner" id="mainhpbanner">
          <form action="{% url 'search' %}">
            <div class="form-group" style="padding-top:3rem">
              <div class="card" style="border-radius: 8px;">
                <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                  <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                    <option value="" selected>Select state</option>
                    {% for key, value in CATEGORY_CHOICES_STATES.items %}
                    <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group" style="padding-top:1rem">
              <div class="accordion" id="accordionExample">
                <div class="card" id="cardBox" style="border-radius: 8px;">
                  <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                    <button id="treatmentsBtn" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Types of treatments
                    </button>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments">
                            <label class="form-check-label" for="All treatment">All treatments</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments" >
                            <label class="form-check-label" for="IVF treatment">Natural IVF</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="IVF treatment mild" value="IVFtreatmentmildtrue" name="treatments">
                            <label class="form-check-label" for="IVF treatment mild">Mild IVF</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="IVF treatment ovarian" value="IVFtreatmentovariantrue" name="treatments">
                            <label class="form-check-label" for="IVF treatment ovarian">Standard IVF</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments">
                            <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments">
                            <label class="form-check-label" for="Egg donation recipients">IVF with Egg donation</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments">
                            <label class="form-check-label" for="Sperm donation recipients">IVF with Sperm donation</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments">
                            <label class="form-check-label" for="Embryo donation recipients">IVF with Embryo donation</label>
                          </div>
                        </div>

                        <div class="col">
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments">
                            <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments">
                            <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments">
                            <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments">
                            <label class="form-check-label" for="Surrogacy">Gestational surrogacy</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments">
                            <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments">
                            <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                          </div>
                          <div class="form-group form-check">
                            <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments">
                            <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:7rem">
              <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
              <br>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<!--Types of treatments-->
<br>

<div class="container py-5">
  <h2>Fertility centers & clinics comparator & search engine</h2>
  <p>In today's world, it is no longer a problem to travel abroad for eye or tooth surgery, etc. Why should <u>IVF treatment</u> be different?</p>
  <p>But the problem arises in finding the right fertility clinic in the local area or abroad.</p>
  <p>In today's globalized world, it is hard to find <u>relevant</u> information about <b>Fertility Clinics</b> and compare them with each other. So we decided to change it!</p>
  <br>
  <p><b>FertilityCommunity</b> is a search engine and comparator for <u>near your location</u> fertility clinics as well as from <u>around the world</u>. We try to organize the most essential initial information, which is often decisive, for example, the location of the fertility clinic or office, what operations the clinic provides, the cost of treatments, LGBTQ and single parents, and other options.</p>
  <p>The entire FertilityCommunity website is built to be impartial and <b>easy to read</b> & <b>compare</b> to help you choose the best fertility clinic and meet all your expectations about IVF treatments abroad.</p>
</div>

<br>
<!--Interesting things-->
<br>

<div class="container">
  <hr>
</div>

<div class="container py-5">
  <div class="row" style="text-align: center">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
      <img src="{% static 'img/BI500new.webp' %}" alt="Business insider logo" width="150px">
    </div>
    <div class="col-sm-3">
      <img src="{% static 'img/wiki500.webp' %}" alt="Business insider logo" width="150px">
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<br>
<!--Interesting things-->
<br>

<div class="background py-5" style="background-color: #286DA8">
  <div class="container py-5">
    <div class="row">
      <div class="col-6 col-sm" style="border-right: 2px solid white; border-left: 2px solid white">
        <h2 class="card-title" style="color: white">IVF Packages & Deals</h2>
        <p class="card-text" style="color: white">Find out best fertility package treatments over the globe!</p>
        <br>
        <a href="{% url 'packages' %}">
          <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">IVF packages</button>
        </a>
      </div>
      <div class="col-6 col-sm">
        <h2 class="card-title" style="color: white">IVF Costs WorldWide</h2>
        <p class="card-text" style="color: white">Have a look & compare IVF costs in different countries!</p>
        <br>
        <a href="{% url 'locations' %}">
          <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">IVF costs</button>
        </a>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<!--Location links-->
<br>
<br>

<div class="container py-5">
  <h2><i class="fas fa-search-location"></i> Featured fertility & IVF clinics locations</h2>
  <br>
  <div class="row">
    <div class="col-md-6">
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#united_kingdom_fertility_clinics" role="button" aria-expanded="false" aria-controls="united_kingdom_fertility_clinics">
          <b>United Kingdom <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{ukclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="united_kingdom_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicUK' %}"><b>Fertility clinics in UK ({{ukclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsLondon' %}">London fertility clinics ({{londonclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBristol' %}">Bristol fertility clinics ({{bristolclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsLeeds' %}">Leeds fertility clinics ({{leedsclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNottingham' %}">Nottingham fertility clinics ({{nottinghamclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBirmingham' %}">Birmingham fertility clinics ({{birminghamclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsExeter' %}">Exeter fertility clinics ({{exeterclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsLiverpool' %}">Liverpool fertility clinics ({{liverpoolclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsPortsmouth' %}">Portsmouth fertility clinics ({{portsmouthclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBournemouth' %}">Bournemouth fertility clinics ({{bournemouthclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsGlasgow' %}">Glasgow fertility clinics ({{glasgowclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsManchester' %}">Manchester fertility clinics ({{manchesterclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsSheffield' %}">Sheffield fertility clinics ({{sheffieldclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsUKRegions' %}"><u><b>UK IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#czech_republic_fertility_clinics" role="button" aria-expanded="false" aria-controls="czech_republic_fertility_clinics">
          <b>Czech Republic <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{czclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="czech_republic_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicCzech' %}"><b>Fertility clinics in Czech Republic ({{czclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicPrague' %}">Prague fertility clinics ({{pragueclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicBrno' %}">Brno fertility clinics ({{brnoclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsCZRegions' %}"><u><b>Czech IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#spain_fertility_clinics" role="button" aria-expanded="false" aria-controls="spain_fertility_clinics">
          <b>Spain <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{spclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="spain_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicSpain' %}"><b>Fertility clinics in Spain ({{czclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsAlicante' %}">Alicante fertility clinics ({{alicanteclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBarcelona' %}">Barcelona fertility clinics ({{barcelonaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsSeville' %}">Seville fertility clinics ({{sevilleclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMadrid' %}">Madrid fertility clinics ({{madridclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMalaga' %}">Malaga fertility clinics ({{malagaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsValencia' %}">Valencia fertility clinics ({{valenciaclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsSPRegions' %}"><u><b>Spain IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#cyprus_fertility_clinics" role="button" aria-expanded="false" aria-controls="cyprus_fertility_clinics">
          <b>Cyprus <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{cyclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="cyprus_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicCyprus' %}"><b>Fertility clinics in Cyprus ({{cyclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNicosia' %}">Nicosia fertility clinics ({{nicosiaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsGirne' %}">Girne fertility clinics ({{girneclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsCYRegions' %}"><u><b>Cyprus IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#united_states_fertility_clinics" role="button" aria-expanded="false" aria-controls="united_states_fertility_clinics">
          <b>United States <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{usclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="united_states_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicUSA' %}"><b>Fertility clinics in USA ({{usclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsCalifornia' %}">California fertility clinics ({{californiaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsAlabama' %}">Alabama fertility clinics ({{alabamaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsArizona' %}">Arizona fertility clinics ({{arizonaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsFlorida' %}">Florida fertility clinics ({{floridaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsTexas' %}">Texas fertility clinics ({{texasclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNewYork' %}">New York fertility clinics ({{newyorkclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsArkansas' %}">Arkansas fertility clinics ({{arkansasclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsColorado' %}">Colorado fertility clinics ({{coloradoclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsHawaii' %}">Hawaii fertility clinics ({{hawaiiclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsUtah' %}">Utah fertility clinics ({{utahclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsConnecticut' %}">Connecticut fertility clinics ({{connecticutclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsDelaware' %}">Delaware fertility clinics ({{delawareclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsGeorgia' %}">Georgia fertility clinics ({{georgiaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsIllinois' %}">Illinois fertility clinics ({{illinoisclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNewJersey' %}">New Jersey fertility clinics ({{newjerseyclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsUSRegions' %}"><u><b>USA IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#greece_fertility_clinics" role="button" aria-expanded="false" aria-controls="greece_fertility_clinics">
          <b>Greece <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{grclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="greece_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicGreece' %}"><b>Fertility clinics in Greece ({{grclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsAthens' %}">Athens fertility clinics ({{athensclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsThessaloniki' %}">Thessaloniki fertility clinics ({{thessalonikiclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsGRRegions' %}"><u><b>Greece IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
      <hr>
      <p>
        <a class="text-muted" style="text-decoration: none" data-toggle="collapse" href="#india_fertility_clinics" role="button" aria-expanded="false" aria-controls="india_fertility_clinics">
          <b>India <i class="fas fa-angle-down"></i></b>
          <p><span>Found {{inclinics}} fertility clinics</span></p>
        </a>
      </p>
      <div class="collapse" id="india_fertility_clinics" style="padding-bottom: 2rem">
        <div class="card card-body">
          <ul>
            <li><a href="{% url 'fertilityClinicIndia' %}"><b>Fertility clinics in India ({{inclinics}})</b></a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsChennai' %}">Chennai IVF centre ({{chennaiclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsHyderabad' %}">Hyderabad IVF centre ({{hyderabadclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMumbai' %}">Mumbai IVF centre ({{mumbaiclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsPatna' %}">Patna IVF centre ({{patnaclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsRaipur' %}">Raipur IVF centre ({{raipurclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsAmdavad' %}">Amdavad IVF centre ({{amdavadclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsChandigarh' %}">Chandigarh IVF centre ({{chandigarhclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsFaridabad' %}">Faridabad IVF centre ({{faridabadclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsJamshedpur' %}">Jamshedpur IVF centre ({{jamshedpurclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBangalore' %}">Bangalore IVF centre ({{bangaloreclinics}})</a></li>
            <hr>
            <li><a class="text-muted" href="{% url 'fertilityClinicsTrivandrum' %}">Trivandrum IVF centre ({{trivandrumclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsKochi' %}">Kochi IVF centre ({{kochiclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBhopal' %}">Bhopal IVF centre ({{bhopalclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsIndore' %}">Indore IVF centre ({{indoreclinics}})</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNagpur' %}">Nagpur IVF centre ({{nagpurclinics}})</a></li>
            <hr>
            <li><a href="{% url 'locationsINRegions' %}"><u><b>India IVF costs comparison</b></u></a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>

<br>
<br>
<!--Location links-->
<br>
<br>
<div class="container py-5">
  <h2><i class="far fa-newspaper"></i> News & Blogs:</h2>
  <div class="row row-cols-1 row-cols-md-3">
    {% for blogs in blog %}
    {% if blogs.author != None %}
    <div class="col-sm" style="padding-top: 2rem;">
      <div class="card shadow-sm" style="border-radius: 25px;">
        <a href="{{ blogs.blog_url }}">
          {% if blogs.pic_blog %}<img src="{{ blogs.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
          {% else %}
          {% endif %}
        </a>
        <div class="card-body">
          <a href="{{ blogs.blog_url }}">
            <h3 class="card-title">{{ blogs.title }}</h3>
          </a>
          <p class="card-text" style="font-size: 17px">{{ blogs.description|truncatechars:100 }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{ blogs.blog_url }}">
                <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
              </a>
            </div>
            <small class="text-muted">{{ blogs.minute_read }} mins</small>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock  %}
