{% extends "main/base.html" %}
{% load static %}
{% block title %}IVF explained, tips & tricks for 2020{% endblock %}
{% block description %}IVF means in vitro fertilization and is one of the most used types of assisted reproductive technology. Read more{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/ivf-explained{% endblock %}
{% block meta_keywords %}IVF explained, IVF process timeline, IVF tips, IVF tricks, IVF vitamins, IVF exercise, IVF Books, IVF pregnancy tracker{% endblock %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='https://www.fertilitycommunity.com/team' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="{% static 'img/IVF-Explained7.webp' %}" />{% endblock %}

{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">IVF explained, tips & tricks for 2020</h1>
    <p class="lead" style="color:white">Providing you with the most actionable Fertility clinic search engine</p>
    <p style="font-size: 80%; color:white">Author: Editorial staff | Published: 15.07.2020  | Last update: 20.08.2020</p>
    <br>
  </div>
</div>

<div class="container">
  <br>
  <div class="jumbotron" style="background-image: url('static/img/IVF-Explained7.webp'); background-size: cover; height: 100%;" alt="pregnant women with sunset">
    <p style="font-size: 135%"><a href="#bod1" style="color: white"><u>1) IVF Explained </u></a></p>
    <p style="font-size: 135%"><a href="#bod2" style="color: white"><u>2) IVF Process Timeline </u></a></p>
    <p style="font-size: 135%"><a href="#bod3" style="color: white"><u>3) IVF Success Tips + IVF Tips </u></a></p>
    <p style="font-size: 135%"><a href="#bod4" style="color: white"><u>4) Supplements for IVF + IVF Vitamins </u></a></p>
    <p style="font-size: 135%"><a href="#bod5" style="color: white"><u>5) Exercise During IVF </u></a></p>
    <p style="font-size: 135%"><a href="#bod6" style="color: white"><u>6) Best IVF Books </u></a></p>
    <p style="font-size: 135%"><a href="#bod7" style="color: white"><u>7) IVF Pregnancy Tracker </u></a></p>
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod1">
    <h2 style="font-size: 160%"><b>IVF Explained - Introduction</b></h2>
    <br>
    <p>Maybe you have already heard of IVF. What does the acronym actually stand for?</p>
    <p>It means <b>In Vitro Fertilization</b> and it is a method of assisted reproductive technology.</p>
    <br>
    <hr>
    <br>
    <h3>So how does it work?</h3>
    <br>
    <p>Firstly, you will need to take <u>special medication</u>. The reason for that is that you need to make <b>several of your eggs mature</b> and therefore ready to be fertilized. Only then can the eggs be taken out of your body.</p>
    <br>
    <p>Eggs are extracted, a sperm sample is retrieved, and both samples are then manually combined in a <b>laboratory dish</b>. Then one or more embryos are put into your uterus. If any of them implant in the lining of your uterus, congratulations! You are expecting a baby!</p>
    <br>
    <p>If the classical In Vitro Fertilization does not work for you, there is an <i>alternative</i>. IVF can be carried out both using your own eggs and your partner’s sperm or taking both samples from <u>donors</u>.</p>
    <br>
    <hr>
    <br>
    <h3>And how do you know if you are the right patient for this kind of fertility treatment?</h3>
    <br>
    <p>The final decision should be made by your physician. However, IVF is commonly suggested to patients with:
      <ul>
        <li>blocked fallopian tubes (or those who have had them removed)</li>
        <li>infertile male (including decreased sperm count)</li>
        <li>women suffering from ovulation disorders</li>
        <li>premature ovarian failure</li>
        <li>uterine fibroids</li>
        <li>people with a genetic disorder</li>
        <li>in cases of unexplained infertility</li>
      </ul>
    <br>
    <p>To sum up, this method is used in order to <u><b>help women get pregnant when natural ways seem to be failing</b></u>. It is one of the most common methods of fertility treatment.</p>
    <br>
    <hr>
    <br>
    <p><b>You should know</b> that however easy this may sound, IVF has several steps and even though it may work on the first try, many people have to go through the process <b>several times</b> in order to get pregnant.</p>
    <p>While the success rates are high, <u>each body is different</u>, and you need to be ready for the option that IVF may not work for you.</p>
    <p>Good news is that if that is the case, there are still several other options waiting for you, such as:
      <ul>
        <li>IVF with donor eggs</li>
        <li>IVF with donor embryos</li>
        <li>and other kinds of fertility therapy and treatment (Gestational surrogacy or iui)</li>
      </ul>
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod2">
    <h2 style="font-size: 160%"><b>IVF Process Timeline</b></h2>
    <br>
    <p>The whole IVF cycle usually takes <u>around four weeks</u>. Let’s have a look at the five steps you will need to undergo.</p>
    <div class="row">
      <div class="col-lg-4" style="padding-top:2rem">
        <img src="{% static 'img/IVFprocesstimeline.jpg' %}" alt="Standard IVF process timeline" width="100%">
      </div>
      <div class="col-lg-6" style="padding-top:2rem">
        <p><b><u>Step 1:</u></b> Your doctor prescribes you special fertility medication that stimulate egg production. These pills are called <u>oral contraceptives</u>. The reason for more than one egg being needed is that some of them will not develop and using more eggs makes the success chances <b>higher</b>.</p>
        <p>After this process, your ovaries are checked by a transvaginal ultrasound. Hormone levels are examined using blood test samples.</p>
        <br>
        <p><b><u>Step 2:</u></b> Now your eggs need to be <b>retrieved</b>. This is performed through a micro-surgery. <b>No worries</b>, the hollow needle used is guided by ultrasound imaging. Pain and discomfort are avoided using <u>medication</u>.</p>
        <br>
        <p><b><u>Step 3:</u></b> At this point, your partner is asked for a <b>sperm sample</b>. The sample is then prepared for combining with your eggs.</p>
        <br>
        <p><b><u>Step 4:</u></b> The next step is called <b>insemination</b>. The female and male samples are mixed together and left in a laboratory dish to fertilize.</p>
        <p>Intracytoplasmic sperm injection, often referred to as <b>ICSI</b>, may be used if the probability of success is lower. <u>This is done by injecting a single sperm into one of the eggs</u>. If it works, the eggs become embryos.</p>
        <br>
        <p><b><u>Step 5:</u></b> Now it is time for <b>embryo transfer</b>. Three or five days later, one or more embryos are transferred into your uterus. The small tube usually does not call any pain.</p>
        <p>If any of those embryos attach to the lining of your uterus, the process was successful. Be prepared to take a day off the day after the process and get back to your daily life the next day.</p>
        <p>In some cases, pills or shots of progesterone are prescribed for the first 8-10 weeks after the transfer. This only makes it easier for embryo.</p>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod3">
    <h2 style="font-size: 160%"><b>IVF Success Tips & Tricks</b></h2>
    <p>Just like with everything else, the success rate of this procedure depends on several factors. These include:</p>
      <ul>
        <li>reproductive history</li>
        <li>age</li>
        <li>lifestyle</li>
        <li>cause of infertility</li>
      </ul>
    <p>The process is the most successful for women <b>under the age of 35</b> and less successful for women <b>over 40</b>. </p>
    <br>
    <p>In Vitro Fertilization is recommended <u>to females under the age of 43 who have been trying to conceive for two years or those who have gone through 12 cycles of artificial insemination</u>, according to the National Institute for Health and Care Excellence.</p>
    <br>
    <p>Some sources claim that the success rate is only about <b>15 – 20%</b>, however, there are no official numbers representative for the global population.</p>
    <br>
    <p><b>If this does not sound promising to you</b>, you will be happy to read that there are certain ways that can make <b>your probabilities higher</b>. </p>
    <br>
    <p>Firstly, do your <b>homework</b> and read about the process you are about to go through. Try more than one source and make sure you understand everything. If you don’t, check the facts with your doctor.</p>
    <br>
    <ol style="font-size: 115%">
      <li>Your <b>diet</b> may have an impact, too. Make sure you eat “good fats.” According to some scientists, <u>replacing red meat and butter with olive oil, seeds, avocados, and nuts</u> can make it work! Try to avoid or limit food with low glycemic index, alcohol, and coffee.</li>
      <li>Being obese or underweight may both be the reasons you cannot conceive. Make sure you are maintaining a <b>healthy weight</b>.</li>
      <li>Your physical condition doesn’t do if you are not alright mentally. If you are feeling stressed, try meditation, or yoga. However, do not exercise too much if you are trying to conceive. <b>Get a good sleep instead</b>.</li>
    </ol>
  </div>
  <br>
  <hr>
  <img src="{% static 'img/successfulchanceforivf.png' %}" alt="How to increase your chances of IVF success" width="100%">
  <br>
  <hr>
  <br>
  <div class="feature" id="bod4">
    <h2 style="font-size: 160%"><b>Supplements for IVF + IVF Vitamins</b></h2>
    <p>Another way to boost your organism and make fertilization easier is using vitamins and supplements.</p>
    <p>There are several kinds of supplements which have been proved to help baby development. Try the <a class="affillink" href="https://www.amazon.com/Nature-Made-Prenatal-DHA-Softgels/dp/B005DEK9FO/ref=sxin_5_osp48-f6890ec1_cov?ascsubtag=f6890ec1-1b83-46ab-8618-73b27ca23c54&creativeASIN=B005DEK9FO&cv_ct_cx=Pre-natal+vitamin&cv_ct_id=amzn1.osp.f6890ec1-1b83-46ab-8618-73b27ca23c54&cv_ct_pg=search&cv_ct_wn=osp-search&keywords=Pre-natal+vitamin&linkCode=oas&pd_rd_i=B005DEK9FO&pd_rd_r=61e9b3ec-47c3-44dd-b1e6-6ae0ea99f0d0&pd_rd_w=Mxem2&pd_rd_wg=SR63B&pf_rd_p=62c00474-6fe0-420f-9956-a05256e04b43&pf_rd_r=2X0WJMCTH9KN3PAX7JWV&qid=1582472809&tag=spyonsite-20">Nature Made Prenatal Multivitamin</a> specially formulated to support the development of baby’s brain, nervous system, bones and eyes. Take 1 softgel daily with water and a meal for optimal absorption.</p>
    <div class="carousel-aff">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="affillink" href="https://www.amazon.com/Nature-Made-Prenatal-DHA-Softgels/dp/B005DEK9FO/ref=sxin_5_osp48-f6890ec1_cov?ascsubtag=f6890ec1-1b83-46ab-8618-73b27ca23c54&creativeASIN=B005DEK9FO&cv_ct_cx=Pre-natal+vitamin&cv_ct_id=amzn1.osp.f6890ec1-1b83-46ab-8618-73b27ca23c54&cv_ct_pg=search&cv_ct_wn=osp-search&keywords=Pre-natal+vitamin&linkCode=oas&pd_rd_i=B005DEK9FO&pd_rd_r=61e9b3ec-47c3-44dd-b1e6-6ae0ea99f0d0&pd_rd_w=Mxem2&pd_rd_wg=SR63B&pf_rd_p=62c00474-6fe0-420f-9956-a05256e04b43&pf_rd_r=2X0WJMCTH9KN3PAX7JWV&qid=1582472809&tag=spyonsite-20"><img class="d-block w-50" src="{% static 'img/blog1/aff1.webp' %}" alt="Nature Made Prenatal Multivitamin Product picture 1"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Nature-Made-Prenatal-DHA-Softgels/dp/B005DEK9FO/ref=sxin_5_osp48-f6890ec1_cov?ascsubtag=f6890ec1-1b83-46ab-8618-73b27ca23c54&creativeASIN=B005DEK9FO&cv_ct_cx=Pre-natal+vitamin&cv_ct_id=amzn1.osp.f6890ec1-1b83-46ab-8618-73b27ca23c54&cv_ct_pg=search&cv_ct_wn=osp-search&keywords=Pre-natal+vitamin&linkCode=oas&pd_rd_i=B005DEK9FO&pd_rd_r=61e9b3ec-47c3-44dd-b1e6-6ae0ea99f0d0&pd_rd_w=Mxem2&pd_rd_wg=SR63B&pf_rd_p=62c00474-6fe0-420f-9956-a05256e04b43&pf_rd_r=2X0WJMCTH9KN3PAX7JWV&qid=1582472809&tag=spyonsite-20"><img class="d-block w-50" src="{% static 'img/blog1/aff2.webp' %}" alt="Nature Made Prenatal Multivitamin Product picture 2"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Nature-Made-Prenatal-DHA-Softgels/dp/B005DEK9FO/ref=sxin_5_osp48-f6890ec1_cov?ascsubtag=f6890ec1-1b83-46ab-8618-73b27ca23c54&creativeASIN=B005DEK9FO&cv_ct_cx=Pre-natal+vitamin&cv_ct_id=amzn1.osp.f6890ec1-1b83-46ab-8618-73b27ca23c54&cv_ct_pg=search&cv_ct_wn=osp-search&keywords=Pre-natal+vitamin&linkCode=oas&pd_rd_i=B005DEK9FO&pd_rd_r=61e9b3ec-47c3-44dd-b1e6-6ae0ea99f0d0&pd_rd_w=Mxem2&pd_rd_wg=SR63B&pf_rd_p=62c00474-6fe0-420f-9956-a05256e04b43&pf_rd_r=2X0WJMCTH9KN3PAX7JWV&qid=1582472809&tag=spyonsite-20"><img class="d-block w-50" src="{% static 'img/blog1/aff3.webp' %}" alt="Nature Made Prenatal Multivitamin Product picture 3"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container text-center" style="padding-top: 2rem">
      <a href="https://www.amazon.com/Nature-Made-Prenatal-DHA-Softgels/dp/B005DEK9FO/ref=sxin_5_osp48-f6890ec1_cov?ascsubtag=f6890ec1-1b83-46ab-8618-73b27ca23c54&creativeASIN=B005DEK9FO&cv_ct_cx=Pre-natal+vitamin&cv_ct_id=amzn1.osp.f6890ec1-1b83-46ab-8618-73b27ca23c54&cv_ct_pg=search&cv_ct_wn=osp-search&keywords=Pre-natal+vitamin&linkCode=oas&pd_rd_i=B005DEK9FO&pd_rd_r=61e9b3ec-47c3-44dd-b1e6-6ae0ea99f0d0&pd_rd_w=Mxem2&pd_rd_wg=SR63B&pf_rd_p=62c00474-6fe0-420f-9956-a05256e04b43&pf_rd_r=2X0WJMCTH9KN3PAX7JWV&qid=1582472809&tag=spyonsite-20">
        <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Nature Made Prenatal Multivitamin</button>
      </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Another option are thead <a class="affillink" href="https://www.amazon.com/Alani-Nu-Prenatal-Support-Softgels/dp/B07P134ZW9/ref=sr_1_1_sspa?keywords=Pre-natal+vitamin&amp;qid=1582472809&amp;sr=8-1-spons&amp;psc=1&amp;smid=AMZ2IE97LAP79&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSOTk5WEtBTEM3Q0omZW5jcnlwdGVkSWQ9QTEwMzY4MDEyRVk4UEtQUUNNQVE2JmVuY3J5cHRlZEFkSWQ9QTA3MDY3OTkzSDM0NUg3R0JSRURaJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Alani Nu Prenatal Support Softgels</a> that nourish mom-to-be before, during and after pregnancy, promote a stronger immune system, and support the healthy development of baby.</p>
    <div class="carousel-aff">
      <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="affillink" href="https://www.amazon.com/Alani-Nu-Prenatal-Support-Softgels/dp/B07P134ZW9/ref=sr_1_1_sspa?keywords=Pre-natal+vitamin&amp;qid=1582472809&amp;sr=8-1-spons&amp;psc=1&amp;smid=AMZ2IE97LAP79&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSOTk5WEtBTEM3Q0omZW5jcnlwdGVkSWQ9QTEwMzY4MDEyRVk4UEtQUUNNQVE2JmVuY3J5cHRlZEFkSWQ9QTA3MDY3OTkzSDM0NUg3R0JSRURaJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/AlaniNuPrenatal1.webp' %}" alt="Alani Nu Prenatal Support Softgels Product picture 1"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Alani-Nu-Prenatal-Support-Softgels/dp/B07P134ZW9/ref=sr_1_1_sspa?keywords=Pre-natal+vitamin&amp;qid=1582472809&amp;sr=8-1-spons&amp;psc=1&amp;smid=AMZ2IE97LAP79&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSOTk5WEtBTEM3Q0omZW5jcnlwdGVkSWQ9QTEwMzY4MDEyRVk4UEtQUUNNQVE2JmVuY3J5cHRlZEFkSWQ9QTA3MDY3OTkzSDM0NUg3R0JSRURaJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/AlaniNuPrenatal2.webp' %}" alt="Alani Nu Prenatal Support Softgels Product picture 2"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Alani-Nu-Prenatal-Support-Softgels/dp/B07P134ZW9/ref=sr_1_1_sspa?keywords=Pre-natal+vitamin&amp;qid=1582472809&amp;sr=8-1-spons&amp;psc=1&amp;smid=AMZ2IE97LAP79&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSOTk5WEtBTEM3Q0omZW5jcnlwdGVkSWQ9QTEwMzY4MDEyRVk4UEtQUUNNQVE2JmVuY3J5cHRlZEFkSWQ9QTA3MDY3OTkzSDM0NUg3R0JSRURaJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/AlaniNuPrenatal3.webp' %}" alt="Alani Nu Prenatal Support Softgels Product picture 3"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container text-center" style="padding-top: 2rem">
      <a href="https://www.amazon.com/Alani-Nu-Prenatal-Support-Softgels/dp/B07P134ZW9/ref=sr_1_1_sspa?keywords=Pre-natal+vitamin&amp;qid=1582472809&amp;sr=8-1-spons&amp;psc=1&amp;smid=AMZ2IE97LAP79&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFSOTk5WEtBTEM3Q0omZW5jcnlwdGVkSWQ9QTEwMzY4MDEyRVk4UEtQUUNNQVE2JmVuY3J5cHRlZEFkSWQ9QTA3MDY3OTkzSDM0NUg3R0JSRURaJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
        <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Alani Nu Prenatal Support Softgels</button>
      </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p><a class="affillink" href="https://www.amazon.com/Pink-Stork-Lactation-Vanilla-Biodegradable/dp/B07VK8R3QG/ref=sr_1_20_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-20-spons&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwOTA3MzQwTDNaRlpOVDFTQ01OJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Pink Stork Lactation Tea</a> include marshmallow thistle, fenugreek, blessed thistle, and fennel to support breastfeeding and milk supply and flow. You can enjoy this herbal nursing tea both hot and cold.</p>
    <div class="carousel-aff">
      <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="affillink" href="https://www.amazon.com/Pink-Stork-Lactation-Vanilla-Biodegradable/dp/B07VK8R3QG/ref=sr_1_20_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-20-spons&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwOTA3MzQwTDNaRlpOVDFTQ01OJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/aff41.webp' %}" alt="Pink Stork Lactation Tea Product picture 1"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Pink-Stork-Lactation-Vanilla-Biodegradable/dp/B07VK8R3QG/ref=sr_1_20_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-20-spons&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwOTA3MzQwTDNaRlpOVDFTQ01OJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/aff42.webp' %}" alt="Pink Stork Lactation Tea Product picture 2"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Pink-Stork-Lactation-Vanilla-Biodegradable/dp/B07VK8R3QG/ref=sr_1_20_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-20-spons&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwOTA3MzQwTDNaRlpOVDFTQ01OJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/aff43.webp' %}" alt="Pink Stork Lactation Tea Product picture 3"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container text-center" style="padding-top: 2rem">
      <a href="https://www.amazon.com/Pink-Stork-Lactation-Vanilla-Biodegradable/dp/B07VK8R3QG/ref=sr_1_20_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-20-spons&amp;psc=1&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwOTA3MzQwTDNaRlpOVDFTQ01OJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
        <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Pink Stork Lactation Tea</button>
      </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p><a class="affillink" href="https://www.amazon.com/Pink-Stork-Labor-Prep-Biodegradable/dp/B07SNWQ61R/ref=sr_1_21_sspa?keywords=fertility&qid=1582471523&sr=8-21-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNjgxMzkyMk5NWUpQWlJXMk8xQiZ3aWRnZXROYW1lPXNwX210ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">Pink Stork Labor Prep Tea</a> aids with duration of labor and contraction support and helps tone uterus for delivery. Continue taking 6+ weeks postpartum. This tea contains sweet chamomile, red raspberry leaf, nettle, and oat straw.</p>
    <div class="carousel-aff">
      <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="affillink" href="https://www.amazon.com/Pink-Stork-Labor-Prep-Biodegradable/dp/B07SNWQ61R/ref=sr_1_21_sspa?keywords=fertility&qid=1582471523&sr=8-21-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNjgxMzkyMk5NWUpQWlJXMk8xQiZ3aWRnZXROYW1lPXNwX210ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU="><img class="d-block w-50" src="{% static 'img/blog1/aff51.webp' %}" alt="Pink Stork Labor Prep Tea Product picture 1"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Pink-Stork-Labor-Prep-Biodegradable/dp/B07SNWQ61R/ref=sr_1_21_sspa?keywords=fertility&qid=1582471523&sr=8-21-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNjgxMzkyMk5NWUpQWlJXMk8xQiZ3aWRnZXROYW1lPXNwX210ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU="><img class="d-block w-50" src="{% static 'img/blog1/aff52.webp' %}" alt="Pink Stork Labor Prep Tea Product picture 2"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Pink-Stork-Labor-Prep-Biodegradable/dp/B07SNWQ61R/ref=sr_1_21_sspa?keywords=fertility&qid=1582471523&sr=8-21-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNjgxMzkyMk5NWUpQWlJXMk8xQiZ3aWRnZXROYW1lPXNwX210ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU="><img class="d-block w-50" src="{% static 'img/blog1/aff53.webp' %}" alt="Pink Stork Labor Prep Tea Product picture 3"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container text-center" style="padding-top: 2rem">
      <a href="https://www.amazon.com/Pink-Stork-Labor-Prep-Biodegradable/dp/B07SNWQ61R/ref=sr_1_21_sspa?keywords=fertility&qid=1582471523&sr=8-21-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNjgxMzkyMk5NWUpQWlJXMk8xQiZ3aWRnZXROYW1lPXNwX210ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
        <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Pink Stork Labor Prep Tea</button>
      </a>
    </div>
    <br>
    <p>Men can also do their part by making themselves a cup of <b>Blue Stork male fertility tea</b> with Maca Root, Tribulus, Saw Palmetto, Turmeric, and Fenugreek. The tea can increase sperm count and quality and therefore support male conception.</p>
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod5">
    <h2 style="font-size: 160%"><b>Exercise During IVF</b></h2>
    <p>While exercising is in general considered healthy, beneficial and good, scientists have found out that too much physical activity during early weeks of pregnancy can actually <u>be harmful</u>.</p>
    <p>So, what can you do if you want to keep active but do not want to hurt the baby? Fortunately, there are some options.</p>
    <br>
    <p>One of the activities you can do without putting your future offspring into danger is <b>walking</b>. A low impact activity such as walking increases the endorphin level and helps nutrients release into your body.</p>
    <p>It also makes the amount of oxygen received higher. Try walking <u>30 minutes every day</u>!</p>
    <br>
    <p>If you are not into walking, you might be happy to learn another activity you can do is <b>swimming</b>. Swimming will help you maintain your fitness level without putting too much stress on your body. Both swimming and walking <u>increase blood flow and raise heart rate</u> without overworking your body.</p>
    <br>
    <p>Option number three is <b>yoga</b>. This activity is not only great for your body, it is also a great mental exercise. Yoga <u>reduces anxiety and stress levels</u> while helping you stay flexible, fit and healthy.</p>
    <br>
    <img src="{% static 'img/blog1/exerciseivf.jpg' %}" alt="List Of Exercises During IVF" width="100%">
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod6">
    <h2 style="font-size: 160%"><b>IVF Books</b></h2>
    <p>Feel like you want to know everything about IVF? Have a look at our book shelf we have prepared for you!</p>
    <br>
    <p><a class="affillink" href="https://www.amazon.com/Taking-Charge-Your-Fertility-Anniversary/dp/0062326031/ref=sr_1_5?keywords=fertility&amp;qid=1582471523&amp;sr=8-5">Taking Charge of Your Fertility</a> is the leading book on fertility and reproductive health. The author Toni Weschler explains how to conceive and gain control of sexual health by using the Fertility Awareness Method which requires a couple minutes every day.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/Taking-Charge-Your-Fertility-Anniversary/dp/0062326031/ref=sr_1_5?keywords=fertility&amp;qid=1582471523&amp;sr=8-5">
        <img src="{% static 'img/blog1/book1.webp' %}" alt="Taking Charge of Your Fertility Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
    <p>Another great publication is <a class="affillink" href="https://www.amazon.com/Starts-Egg-Pregnant-Naturally-Miscarriage/dp/0999676180/ref=sr_1_7?keywords=fertility&qid=1582471523&sr=8-7">It Starts with the Egg: How the Science of Egg Quality Can Help You Get Pregnant Naturally, Prevent Miscarriage, and Improve Your Odds in IVF</a>. Did you know that the egg quality has a crucial impact on your pregnancy? This book can teach you how to improve egg quality in three months and avoid common fertility challenges.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/Starts-Egg-Pregnant-Naturally-Miscarriage/dp/0999676180/ref=sr_1_7?keywords=fertility&qid=1582471523&sr=8-7">
        <img src="{% static 'img/blog1/book2.webp' %}" alt="It Starts with the Egg Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
    <p><a class="affillink" href="https://www.amazon.com/Making-Babies-3-Month-Program-Fertility/dp/0316024503/ref=sr_1_17?keywords=fertility&amp;qid=1582471523&amp;sr=8-17">Making Babies: A Proven 3-Month Program for Maximum Fertility</a> claims to help every woman get pregnant. Dr. David and Blakeway come with surprising, revolutionary strategies.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/Making-Babies-3-Month-Program-Fertility/dp/0316024503/ref=sr_1_17?keywords=fertility&amp;qid=1582471523&amp;sr=8-17">
        <img src="{% static 'img/blog1/book3.webp' %}" alt="Making Babies: A Proven 3-Month Program for Maximum Fertility Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
    <p><a class="affillink" href="https://www.amazon.com/exec/obidos/ASIN/1558329587/creativepubco-20">The Fertility Doctor's Guide to Overcoming Infertility: Discovering Your Reproductive Potential and Maximizing Your Odds of Having a Baby</a> is a book written by Mark Trolice, a board-certified specialist and a real expert.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/exec/obidos/ASIN/1558329587/creativepubco-20">
        <img src="{% static 'img/blog1/book4.webp' %}" alt="The Fertility Doctor's Guide to Overcoming Infertility: Discovering Your Reproductive Potential and Maximizing Your Odds of Having a Baby Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
    <p>Try <a class="affillink" href="https://www.amazon.com/IVF-Detailed-Guide-Everything-Treatments/dp/1520131569/ref=sr_1_3?keywords=IVF&amp;qid=1582471741&amp;sr=8-3">IVF A Detailed Guide: Everything I Wish I Had Known Before Starting My Fertility Treatments</a> for a step-by-step guide through your In Vitro Fertilization journey.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/IVF-Detailed-Guide-Everything-Treatments/dp/1520131569/ref=sr_1_3?keywords=IVF&amp;qid=1582471741&amp;sr=8-3">
        <img src="{% static 'img/blog1/book5.webp' %}" alt="IVF A Detailed Guide: Everything I Wish I Had Known Before Starting My Fertility Treatments Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
    <p>If you agree that a healthy diet is crucial for your fertility, try <a class="affillink" href="https://www.amazon.com/IVF-Meal-Plan-Maximize-Chances/dp/1641528400/ref=sr_1_11?keywords=IVF&qid=1582471741&sr=8-11">IVF Meal Plan: Maximize Your Chances of IVF Success Through Diet</a>. This book will teach you to eat wholesome food once and for all.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/IVF-Meal-Plan-Maximize-Chances/dp/1641528400/ref=sr_1_11?keywords=IVF&qid=1582471741&sr=8-11">
        <img src="{% static 'img/blog1/book6.webp' %}" alt="IVF Meal Plan: Maximize Your Chances of IVF Success Through Diet Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
    <p>Trying to conceive without success is hard. Read <a class="affillink" href="https://www.amazon.com/Get-Life-Hers-Survival-Guide/dp/1409155021/ref=sr_1_8?keywords=IVF&qid=1582471741&sr=8-8">Get A Life: His & Hers Survival Guide to IVF</a> by Richard and Rosie who tried everything in the world before finally making their dream come true.</p>
    <br>
    <div class="text-center">
      <a href="https://www.amazon.com/Get-Life-Hers-Survival-Guide/dp/1409155021/ref=sr_1_8?keywords=IVF&qid=1582471741&sr=8-8">
        <img src="{% static 'img/blog1/book7.webp' %}" alt="Get A Life: His & Hers Survival Guide to IVF Book" width="50%">
      </a>
    </div>
    <br>
    <br>
    <br>
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod7">
    <h2 style="font-size: 160%"><b>IVF Pregnancy Tracker</b></h2>
    <p>If books are not what you are looking for, you might be excited to hear that recent technology development allows to track your pregnancy! <a class="affillink" href="https://www.amazon.com/Digital-Basal-Body-Thermometer-Temperature/dp/B07S463JTG/ref=sr_1_4?keywords=fertility&amp;qid=1582471523&amp;sr=8-4">The Digital Basal Thermometer</a> is highly sensitive and can be a great helper with family planning.</p>
    <br>
    <br>
    <div class="carousel-aff">
      <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="affillink" href="https://www.amazon.com/Digital-Basal-Body-Thermometer-Temperature/dp/B07S463JTG/ref=sr_1_4?keywords=fertility&amp;qid=1582471523&amp;sr=8-4"><img class="d-block w-50" src="{% static 'img/blog1/prd1.webp' %}" alt="The Digital Basal Thermometer Product picture 1"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/Digital-Basal-Body-Thermometer-Temperature/dp/B07S463JTG/ref=sr_1_4?keywords=fertility&amp;qid=1582471523&amp;sr=8-4"><img class="d-block w-50" src="{% static 'img/blog1/prd2.webp' %}" alt="The Digital Basal Thermometer Product picture 2"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container text-center" style="padding-top: 2rem">
      <a href="https://www.amazon.com/Digital-Basal-Body-Thermometer-Temperature/dp/B07S463JTG/ref=sr_1_4?keywords=fertility&amp;qid=1582471523&amp;sr=8-4">
        <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">The Digital Basal Thermometer</button>
      </a>
    </div>
    <br>
    <br>
    <p>The latest technology is very accurate, safe, and precise. Or try the <a class="affillink" href="https://www.amazon.com/thermometer-Ovulation-Intelligent-Bluetooth-Fertility/dp/B07JG47LPB/ref=sr_1_3_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-3-spons&amp;psc=1&amp;smid=A2EJ51LDFAEVC5&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNTQ4OTc3REw5STRaSTQ2OEhBJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Femometer Vinca Basal Thermometer for Ovulation</a> with a measurement precision up to 0.09°F(0.01°C).</p>
    <br>
    <br>
    <div class="carousel-aff">
      <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a class="affillink" href="https://www.amazon.com/thermometer-Ovulation-Intelligent-Bluetooth-Fertility/dp/B07JG47LPB/ref=sr_1_3_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-3-spons&amp;psc=1&amp;smid=A2EJ51LDFAEVC5&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNTQ4OTc3REw5STRaSTQ2OEhBJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/prd3.webp' %}" alt="Femometer Vinca Basal Thermometer for Ovulation Product picture 1"></a>
          </div>
          <div class="carousel-item">
            <a class="affillink" href="https://www.amazon.com/thermometer-Ovulation-Intelligent-Bluetooth-Fertility/dp/B07JG47LPB/ref=sr_1_3_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-3-spons&amp;psc=1&amp;smid=A2EJ51LDFAEVC5&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNTQ4OTc3REw5STRaSTQ2OEhBJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="><img class="d-block w-50" src="{% static 'img/blog1/prd4.webp' %}" alt="Femometer Vinca Basal Thermometer for Ovulation Product picture 2"></a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container text-center" style="padding-top: 2rem">
      <a href="https://www.amazon.com/thermometer-Ovulation-Intelligent-Bluetooth-Fertility/dp/B07JG47LPB/ref=sr_1_3_sspa?keywords=fertility&amp;qid=1582471523&amp;sr=8-3-spons&amp;psc=1&amp;smid=A2EJ51LDFAEVC5&amp;spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzR1NTU1lLQ1pDTjhNJmVuY3J5cHRlZElkPUEwMDA4NDQ5MklPU1hQVTg4WkhQRyZlbmNyeXB0ZWRBZElkPUEwNTQ4OTc3REw5STRaSTQ2OEhBJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
        <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Femometer Vinca Basal Thermometer for Ovulation</button>
      </a>
    </div>
    <br>
    <br>
    <p>This device can recognize even the tiniest <b>BBT fluctuation</b> and it only takes 30 seconds to measure. The gadget is extremely user-friendly, does not require any manual work and has an attractive design making it resemble a lipstick for <u>maximum discretion</u>.</p>
    <br>
    <p>So, which options will you decide to try? We recommend you <b>reading and learning</b> as much as possible about <u>In Vitro Fertilization</u>. Try some of the books we have listed, talk to your doctor, try to get in touch with friends or other people who have taken this journey.</p>
    <p>Have a look at the technology and supplement options, maintain a healthy diet and do some slight exercise. And most importantly – try to <b>stay calm</b> and enjoy your treatment! We are keeping our fingers crossed for your dream coming true! </p>
  </div>
  <br>
  <br>
  <div class="text-center">
    <a href="{% url 'locations' %}">
      <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Learn more about IVF costs worldwide</button>
    </a>
  </div>
</div>
{% endblock  %}
