{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% block title %}2020 | Search and find the best fertility Clinic{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/locations{% endblock %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:5rem; color: white">IVF Costs</h1>
    <p class="display-5" style="color: white">Compare Fertility & IVF average costs by global IVF & fertility clinics</p>
    <br>
  </div>
</div>

<br>
<br>

<div class="container">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-ivf-tab" data-toggle="pill" href="#pills-ivf" role="tab" aria-controls="pills-ivf" aria-selected="true">IVF procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-icsi-tab" data-toggle="pill" href="#pills-icsi" role="tab" aria-controls="pills-icsi" aria-selected="false">ICSI procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-iui-tab" data-toggle="pill" href="#pills-iui" role="tab" aria-controls="pills-iui" aria-selected="false">IUI procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-egg-tab" data-toggle="pill" href="#pills-egg" role="tab" aria-controls="pills-egg" aria-selected="false">Egg Donation procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-embryo-tab" data-toggle="pill" href="#pills-embryo" role="tab" aria-controls="pills-embryo" aria-selected="false">Embryo Donation procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-sperm-tab" data-toggle="pill" href="#pills-sperm" role="tab" aria-controls="pills-sperm" aria-selected="false">Sperm Donation procedure</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-ivf" role="tabpanel" aria-labelledby="pills-ivf-tab">
      <h2 style="padding-top:3rem">Average prices of IVF procedures compared by TOP countries</h2>
      <p><i>Medications, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">Country</th>
              <th scope="col">USD</th>
              <th scope="col">EUR</th>
              <th scope="col">GBP</th>
              <th scope="col">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">United States</th>
              <td style="font-size: 14px">{% if usdCurrency_us_ivf %}{{ usdCurrency_us_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_us_ivf %}{{ eurCurrency_us_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_us_ivf %}{{ gbpCurrency_us_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicUSA' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">USA IVF Clinics</button></a></td>
            </tr>
            <tr hidden>
              <th scope="row">United Kingdom</th>
              <td style="font-size: 14px">{{ usdCurrency_uk_ivf|floatformat:'0'|intcomma }} $</td>
              <td style="font-size: 14px">{{ eurCurrency_uk_ivf|floatformat:'0'|intcomma }} €</td>
              <td style="font-size: 14px">{{ gbpCurrency_uk_ivf|floatformat:'0'|intcomma }} £</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-icsi" role="tabpanel" aria-labelledby="pills-icsi-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of ICSI procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">United States</th>
                <td style="font-size: 14px">{% if usdCurrency_us_icsi %}{{ usdCurrency_us_icsi|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_us_icsi %}{{ eurCurrency_us_icsi|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_us_icsi %}{{ gbpCurrency_us_icsi|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicUSA' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">USA IVF Clinics</button></a></td>
              </tr>
              <tr hidden>
                <th scope="row">United Kingdom</th>
                <td style="font-size: 14px">{{ usdCurrency_uk_egg|floatformat:'0'|intcomma }} $</td>
                <td style="font-size: 14px">{{ eurCurrency_uk_egg|floatformat:'0'|intcomma }} €</td>
                <td style="font-size: 14px">{{ gbpCurrency_uk_egg|floatformat:'0'|intcomma }} £</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-iui" role="tabpanel" aria-labelledby="pills-iui-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of IUI procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">United States</th>
                <td style="font-size: 14px">{% if usdCurrency_us_iui %}{{ usdCurrency_us_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_us_iui %}{{ eurCurrency_us_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_us_iui %}{{ gbpCurrency_us_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicUSA' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">USA IVF Clinics</button></a></td>
              </tr>
              <tr hidden>
                <th scope="row">United Kingdom</th>
                <td style="font-size: 14px">{{ usdCurrency_uk_embryo|floatformat:'0'|intcomma }} $</td>
                <td style="font-size: 14px">{{ eurCurrency_uk_embryo|floatformat:'0'|intcomma }} €</td>
                <td style="font-size: 14px">{{ gbpCurrency_uk_embryo|floatformat:'0'|intcomma }} £</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-egg" role="tabpanel" aria-labelledby="pills-egg-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of Egg Donation procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">United States (<a href="{% url 'locationsUSRegions' %}">Detail</a>)</th>
                <td style="font-size: 14px">{% if usdCurrency_us_egg %}{{ usdCurrency_us_egg|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_us_egg %}{{ eurCurrency_us_egg|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_us_egg %}{{ gbpCurrency_us_egg|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicUSA' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">USA IVF Clinics</button></a></td>
              </tr>
              <tr hidden>
                <th scope="row">United Kingdom</th>
                <td style="font-size: 14px">{{ usdCurrency_uk_sperm|floatformat:'0'|intcomma }} $</td>
                <td style="font-size: 14px">{{ eurCurrency_uk_sperm|floatformat:'0'|intcomma }} €</td>
                <td style="font-size: 14px">{{ gbpCurrency_uk_sperm|floatformat:'0'|intcomma }} £</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-embryo" role="tabpanel" aria-labelledby="pills-embryo-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of Embryo Donation procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">United States</th>
                <td style="font-size: 14px">{% if usdCurrency_us_embryo %}{{ usdCurrency_us_embryo|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_us_embryo %}{{ eurCurrency_us_embryo|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_us_embryo %}{{ gbpCurrency_us_embryo|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicUSA' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">USA IVF Clinics</button></a></td>
              </tr>
              <tr hidden>
                <th scope="row">United Kingdom</th>
                <td style="font-size: 14px">{{ usdCurrency_uk_icsi|floatformat:'0'|intcomma }} $</td>
                <td style="font-size: 14px">{{ eurCurrency_uk_icsi|floatformat:'0'|intcomma }} €</td>
                <td style="font-size: 14px">{{ gbpCurrency_uk_icsi|floatformat:'0'|intcomma }} £</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-sperm" role="tabpanel" aria-labelledby="pills-sperm-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of Sperm Donation procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">United States</th>
                <td style="font-size: 14px">{% if usdCurrency_us_sperm %}{{ usdCurrency_us_sperm|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_us_sperm %}{{ eurCurrency_us_sperm|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_us_sperm %}{{ gbpCurrency_us_sperm|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicUSA' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">USA IVF Clinics</button></a></td>
              </tr>
              <tr hidden>
                <th scope="row">United Kingdom</th>
                <td style="font-size: 14px">{{ usdCurrency_uk_iui|floatformat:'0'|intcomma }} $</td>
                <td style="font-size: 14px">{{ eurCurrency_uk_iui|floatformat:'0'|intcomma }} €</td>
                <td style="font-size: 14px">{{ gbpCurrency_uk_iui|floatformat:'0'|intcomma }} £</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="container py-5">
  <a class="nav-link" href="{% url 'travelCalculator' %}">
    <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Calculate travel costs</button>
  </a>
</div>





{% endblock  %}
