{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% block title %}2020 | Compare fertility clinics globally{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/locations{% endblock %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:5rem; color: white">Packages</h1>
    <p class="display-5" style="color: white">Compare Fertility & IVF average costs by global IVF & fertility clinics</p>
    <br>
  </div>
</div>

<br>
<br>
{% for listings in listing %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card mb-4 shadow-lg">
        <div class="card-header" style="background-color: #286DA8;">
          <h4 class="my-0 text-white">{{ listing.package1title }}</h4>
        </div>
        <div class="card-body">
          <p>Category: {{ listing.package1category }}</p>
          <p>{{ listing.package1desc|safe }}</p>
          <a href="mailto:{{ listing.contact_email }}">
            <p style="text-align: center; font-size: 30px">{{ listing.package1cost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</p>
          </a>
        </div>
        <div class="card-footer">
          <a href="mailto:{{ listing.contact_email }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
              Get a quote
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
{% endfor %}

{% endblock  %}
