{% extends "main/base.html" %}
{% load static %}
{% block title %}2021 | FertilityCommunity | Privacy Policy{% endblock %}
{% block description %}Best IVF ever{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/privacy{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex, follow">{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container py-4">
  <h1>Privacy policy</h1>
  <p>This is the privacy policy of FertilityCommunity, also referred in this document as “we”, “our”, or “us”.</p>
  <br>
  <h2>General provisions</h2>
  <p>This is a notice to inform you of our policy about all information that we record about you. It sets out the conditions under which we may process any information that we collect from you, or that you provide to us. It covers information that could identify you (“personal information”) and information that could not. In the context of the law and this notice, “process” means collect, store, transfer, use or otherwise act on information.
  We take seriously the protection of your privacy and confidentiality. We understand that all visitors to our website are entitled to know that their personal data will not be used for any purpose unintended by them.
  We undertake to preserve the confidentiality of all information you provide to us.</p>
  <p>Our policy complies with the EU General Data Protection Regulation (GDPR).</p>
  <br>
  <h2>What information do we collect?</h2>
  <p>Provided voluntarily: We collect personal Information when you voluntarily provide it, such as when you contact us with inquiries and sign up for account or for newsletters. By voluntarily providing us with personal Information, you are consenting to our use of it in accordance with this Privacy Policy.</p>
  <p>Collected automatically: We also gather your information for statistical purposes, to measure website activity and, subsequently, improve user experience. Namely, this information may include your browsing activity, IP address, operating system, browsing platform (for example, desktop, mobile, tablet), and other information about how you interact with our website or newsletters.</p>
  <p>We may collect it as a part of log files or cookies or other tracking technologies. This information is stored and processed through Google Analytics which is committed to keeping your data safe.</p>
  <br>
  <h2>How do we use your information?</h2>
  <p>We may use the information we collect from you in the following ways:</p>
  <ul>
  <li>To send periodic informational emails about our activities or other updates</li>
  <li>To personalise your experience and to allow us to deliver the type of content in which you are most interested</li>
  <li>To provide you with the services or information you have requested</li>
  <li>To update you on any changes to our services or Privacy Policy when they may have a significant impact on you and/or your personal data</li>
  <li>To process your quotes</li>
  <li>To better tailor promoted campaigns</li>
  <li>To help us effectively cooperate with third parties</li>
  <li>To improve our website in order to better serve you</li>
  <li>Information we process for the purposes of legitimate interests</li>
  </ul>
  <br>
  <p>Where we process your information on this basis, we do after having given careful consideration to:</p>
  <ul>
  <li>Whether the same objective could be achieved through other means</li>
  <li>whether processing (or not processing) might cause you harm</li>
  <li>whether you would expect us to process your data, and whether you would, in the round, consider it reasonable to do so</li>
  </ul>
  <br>
  <p>For example, we may process your data on this basis for the purposes of:</p>
  <ul>
  <li>record-keeping for the proper and necessary administration</li>
  <li>responding to unsolicited communication from you to which we believe you would expect a response</li>
  <li>protecting and asserting the legal rights of any party</li>
  <li>insuring against or obtaining professional advice that is required to manage organisational risk</li>
  <li>protecting your interests where we believe we have a duty to do so</li>
  <li>provide relevant information in which you might be interested in</li>
  <li>send you relevant updates based on our past or present relationships</li>
  </ul>
  <br>
  <h2>How do we store and protect your information?</h2>
  <p>Both personal and non-personal data may be stored by us and/or our affiliates, agents, or service providers for the appropriate use. We regularly monitor our website for security holes and known vulnerabilities in order to make your visit to our site as safe as possible. Your personal data is safely stored in secured networks with limited access granted to selected team members. They are instructed and properly trained to work with data. All quotes are processed carefully and are not stored or processed on our servers. The retention period for data you send that is associated with cookies, user identifiers, or advertising identifiers will be automatically erased through Google Analytics after 50 months, or earlier upon your request.</p>
  <br>
  <h2>Your rights</h2>
  <p>You are in control of what personal information we hold about you and how we use it. Besides special cases, when we may be legally required to retain your personal information, you have the right to request from us to delete or amend personal data we hold about you. Under the General Data Protection Regulation you are entitled the rights to rectify, erase, or export your personal data. You can unsubscribe from our emails at any point in time either by contacting us at info@fertilitycommunity.com or through the link at the bottom of every email you receive from us.</p>
  <br>
  <h2>Third-party disclosure</h2>
  <p>From time to time, at our discretion, we may link to third parties. These third-party sites have separate and independent privacy policies. We therefore have no control over or liability for the content and activities of these linked sites. However, we do seek to protect the integrity of our site and welcome any feedback about these sites. We also use social media features on the website, such as the Facebook buttons. These features may gather certain data, including your IP address, and browsing behaviour. Please note that these widgets are hosted and managed by the appropriate third parties which operate under their own privacy policies.</p>
</div>

{% endblock  %}
