{% extends "main/base.html" %}
{% load static %}
{% block title %}2021 | FertilityCommunity Team{% endblock %}
{% block description %}Our Team behind FertiltyCommunity. Contact us for more information about joining your fertility clinic to our seach engine{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/team{% endblock %}
{% block meta_keywords %}fertilitycommunity team{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex">{% endblock %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">About our team</h1>
    <p class="lead" style="color:white">Providing you with the most actionable Fertility clinic search engine</p>
    <br>
  </div>
</div>
<div class="container marketing" style="text-align: center">
  <div class="row" >
    <div class="col-lg-4" style="padding-top:4rem">
      <img class="rounded-circle" src="{% static 'img/ProfileDavid500.jpg' %}" alt="Team Founder" width="140" height="140">
      <h2 style="padding-top:2rem; text-align: center">David Langr</h2>
      <p style="text-align: center">Project lead & development</p>
      <p style="font-size: 100%; text-align: center">He became interested in infertility and IVF treatment in 2019. Since then, he has been studying the latest methods of IVF treatment around the world and, as a digital innovator, has been trying to connect the two areas.</p>
      <div class="row">
        <div class="col-sm col-2">
        </div>
        <div class="col-sm col-2">
        </div>
        <div class="col-sm col-2">
          <a href="https://www.linkedin.com/in/david-langr/"><i class="fab fa-linkedin" style="font-size:36px"></i></a>
        </div>
        <div class="col-sm col-2">
          <a href="mailto:david.langr@fertilitycommunity.com"><i class="fas fa-envelope-square" style="font-size:36px"></i></a>
        </div>
        <div class="col-sm col-2">
        </div>
        <div class="col-sm col-2">
        </div>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="padding-top:4rem">
      <img class="rounded-circle" src="{% static 'img/5.jpg' %}" alt="team manager" width="140" height="140">
      <h2 style="padding-top:2rem; text-align: center">Denisa Schreiberová</h2>
      <p style="text-align: center">PR & Communications</p>
      <p style="font-size: 100%; text-align: center">Denisa started as an IVF specialist in one of the Czech fertility clinics. He has extensive experience and tries to capitalize on it at FertilityCommunity.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="padding-top:4rem">
      <img class="rounded-circle" src="{% static 'img/6.jpg' %}" alt="Team part time" width="140" height="140">
      <h2 style="padding-top:2rem; text-align: center">Simona Matúšová</h2>
      <p style="text-align: center">Administrative</p>
      <p style="font-size: 100%; text-align: center">Simona studies medicine and at the same time focuses more on the treatment of infertility. She is interested in becoming an IVF Embryologist & Specialist.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <div class="row" >
    <div class="col-lg-4" style="padding-top:4rem">
      <img class="rounded-circle" src="{% static 'img/profile-user.svg' %}" alt="team manager" width="140" height="140">
      <h2 style="padding-top:2rem; text-align: center">Lisa Holliman</h2>
      <a href="https://www.fertilitycommunity.com/authors/lisa-holliman"><p style="text-align: center">IVF publisher</p></a>
      <p style="font-size: 100%; text-align: center">Lisa Holliman is a teacher and writer. She went through several infertility treatments before getting pregnant with her first child.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="padding-top:4rem">
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="padding-top:4rem">
    </div><!-- /.col-lg-4 -->
</div>

{% endblock  %}
