{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% block title %}2020 | Search and find the best fertility Clinic{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/us-regions{% endblock %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:5rem; color: white">IVF Costs by US countries</h1>
    <p class="display-5" style="color: white">Compare Fertility & IVF average costs by US IVF & fertility clinics</p>
    <br>
  </div>
</div>

<br>
<br>

<div class="container">
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-ivf-tab" data-toggle="pill" href="#pills-ivf" role="tab" aria-controls="pills-ivf" aria-selected="true">IVF procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-icsi-tab" data-toggle="pill" href="#pills-icsi" role="tab" aria-controls="pills-icsi" aria-selected="false">ICSI procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-iui-tab" data-toggle="pill" href="#pills-iui" role="tab" aria-controls="pills-iui" aria-selected="false">IUI procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-egg-tab" data-toggle="pill" href="#pills-egg" role="tab" aria-controls="pills-egg" aria-selected="false">Egg Donation procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-embryo-tab" data-toggle="pill" href="#pills-embryo" role="tab" aria-controls="pills-embryo" aria-selected="false">Embryo Donation procedure</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-sperm-tab" data-toggle="pill" href="#pills-sperm" role="tab" aria-controls="pills-sperm" aria-selected="false">Sperm Donation procedure</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-ivf" role="tabpanel" aria-labelledby="pills-ivf-tab">
      <h2 style="padding-top:3rem">Average prices of IVF procedures compared by TOP countries</h2>
      <p><i>Medications, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">Country</th>
              <th scope="col">USD</th>
              <th scope="col">EUR</th>
              <th scope="col">GBP</th>
              <th scope="col">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Alabama</th>
              <td style="font-size: 14px">{% if usdCurrency_alabama_ivf %}{{ usdCurrency_alabama_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_alabama_ivf %}{{ eurCurrency_alabama_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_alabama_ivf %}{{ gbpCurrency_alabama_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlabama' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alabama IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Alaska</th>
              <td style="font-size: 14px">{% if usdCurrency_alaska_ivf %}{{ usdCurrency_alaska_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_alaska_ivf %}{{ eurCurrency_alaska_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_alaska_ivf %}{{ gbpCurrency_alaska_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alaska IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Arizona</th>
              <td style="font-size: 14px">{% if usdCurrency_arizona_ivf %}{{ usdCurrency_arizona_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_arizona_ivf %}{{ eurCurrency_arizona_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_arizona_ivf %}{{ gbpCurrency_arizona_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArizona' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arizona IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Arkansas</th>
              <td style="font-size: 14px">{% if usdCurrency_arkansas_ivf %}{{ usdCurrency_arkansas_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_arkansas_ivf %}{{ eurCurrency_arkansas_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_arkansas_ivf %}{{ gbpCurrency_arkansas_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArkansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arkansas IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">California</th>
              <td style="font-size: 14px">{% if usdCurrency_california_ivf %}{{ usdCurrency_california_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_california_ivf %}{{ eurCurrency_california_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_california_ivf %}{{ gbpCurrency_california_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsCalifornia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">California IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Colorado</th>
              <td style="font-size: 14px">{% if usdCurrency_colorado_ivf %}{{ usdCurrency_colorado_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_colorado_ivf %}{{ eurCurrency_colorado_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_colorado_ivf %}{{ gbpCurrency_colorado_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsColorado' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Colorado IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Connecticut</th>
              <td style="font-size: 14px">{% if usdCurrency_connecticut_ivf %}{{ usdCurrency_connecticut_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_connecticut_ivf %}{{ eurCurrency_connecticut_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_connecticut_ivf %}{{ gbpCurrency_connecticut_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsConnecticut' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Connecticut IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Delaware</th>
              <td style="font-size: 14px">{% if usdCurrency_delaware_ivf %}{{ usdCurrency_delaware_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_delaware_ivf %}{{ eurCurrency_delaware_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_delaware_ivf %}{{ gbpCurrency_delaware_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsDelaware' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Delaware IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Florida</th>
              <td style="font-size: 14px">{% if usdCurrency_florida_ivf %}{{ usdCurrency_florida_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_florida_ivf %}{{ eurCurrency_florida_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_florida_ivf %}{{ gbpCurrency_florida_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsFlorida' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Florida IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Georgia</th>
              <td style="font-size: 14px">{% if usdCurrency_georgia_ivf %}{{ usdCurrency_georgia_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_georgia_ivf %}{{ eurCurrency_georgia_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_georgia_ivf %}{{ gbpCurrency_georgia_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsGeorgia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Georgia IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Hawaii</th>
              <td style="font-size: 14px">{% if usdCurrency_hawaii_ivf %}{{ usdCurrency_hawaii_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_hawaii_ivf %}{{ eurCurrency_hawaii_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_hawaii_ivf %}{{ gbpCurrency_hawaii_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsHawaii' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Hawaii IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Idaho</th>
              <td style="font-size: 14px">{% if usdCurrency_idaho_ivf %}{{ usdCurrency_idaho_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_idaho_ivf %}{{ eurCurrency_idaho_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_idaho_ivf %}{{ gbpCurrency_idaho_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsIdaho' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Idaho IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Illinois</th>
              <td style="font-size: 14px">{% if usdCurrency_illinois_ivf %}{{ usdCurrency_illinois_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_illinois_ivf %}{{ eurCurrency_illinois_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_illinois_ivf %}{{ gbpCurrency_illinois_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsIllinois' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Illinois IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Indiana</th>
              <td style="font-size: 14px">{% if usdCurrency_indiana_ivf %}{{ usdCurrency_indiana_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_indiana_ivf %}{{ eurCurrency_indiana_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_indiana_ivf %}{{ gbpCurrency_indiana_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsIndiana' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Indiana IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Iowa</th>
              <td style="font-size: 14px">{% if usdCurrency_iowa_ivf %}{{ usdCurrency_iowa_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_iowa_ivf %}{{ eurCurrency_iowa_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_iowa_ivf %}{{ gbpCurrency_iowa_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsIowa' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Iowa IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Kansas</th>
              <td style="font-size: 14px">{% if usdCurrency_kansas_ivf %}{{ usdCurrency_kansas_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_kansas_ivf %}{{ eurCurrency_kansas_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_kansas_ivf %}{{ gbpCurrency_kansas_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsKansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Kansas IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Kentucky</th>
              <td style="font-size: 14px">{% if usdCurrency_kentucky_ivf %}{{ usdCurrency_kentucky_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_kentucky_ivf %}{{ eurCurrency_kentucky_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_kentucky_ivf %}{{ gbpCurrency_kentucky_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsKentucky' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Kentucky IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Louisiana</th>
              <td style="font-size: 14px">{% if usdCurrency_louisiana_ivf %}{{ usdCurrency_louisiana_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_louisiana_ivf %}{{ eurCurrency_louisiana_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_louisiana_ivf %}{{ gbpCurrency_louisiana_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsLouisiana' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Louisiana IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Maine</th>
              <td style="font-size: 14px">{% if usdCurrency_maine_ivf %}{{ usdCurrency_maine_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_maine_ivf %}{{ eurCurrency_maine_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_maine_ivf %}{{ gbpCurrency_maine_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMaine' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Maine IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Maryland</th>
              <td style="font-size: 14px">{% if usdCurrency_maryland_ivf %}{{ usdCurrency_maryland_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_maryland_ivf %}{{ eurCurrency_maryland_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_maryland_ivf %}{{ gbpCurrency_maryland_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMaryland' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Maryland IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Massachusetts</th>
              <td style="font-size: 14px">{% if usdCurrency_massachusetts_ivf %}{{ usdCurrency_massachusetts_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_massachusetts_ivf %}{{ eurCurrency_massachusetts_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_massachusetts_ivf %}{{ gbpCurrency_massachusetts_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMassachusetts' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Massachusetts IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Michigan</th>
              <td style="font-size: 14px">{% if usdCurrency_michigan_ivf %}{{ usdCurrency_michigan_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_michigan_ivf %}{{ eurCurrency_michigan_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_michigan_ivf %}{{ gbpCurrency_michigan_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMichigan' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Michigan IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Minnesota</th>
              <td style="font-size: 14px">{% if usdCurrency_minnesota_ivf %}{{ usdCurrency_minnesota_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_minnesota_ivf %}{{ eurCurrency_minnesota_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_minnesota_ivf %}{{ gbpCurrency_minnesota_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMinnesota' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Minnesota IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Mississippi</th>
              <td style="font-size: 14px">{% if usdCurrency_mississippi_ivf %}{{ usdCurrency_mississippi_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_mississippi_ivf %}{{ eurCurrency_mississippi_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_mississippi_ivf %}{{ gbpCurrency_mississippi_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMississippi' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Mississippi IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Missouri</th>
              <td style="font-size: 14px">{% if usdCurrency_missouri_ivf %}{{ usdCurrency_missouri_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_missouri_ivf %}{{ eurCurrency_missouri_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_missouri_ivf %}{{ gbpCurrency_missouri_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsMissouri' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Missouri IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">Nebraska</th>
              <td style="font-size: 14px">{% if usdCurrency_nebraska_ivf %}{{ usdCurrency_nebraska_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_nebraska_ivf %}{{ eurCurrency_nebraska_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_nebraska_ivf %}{{ gbpCurrency_nebraska_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsNebraska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Nebraska IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">New Hampshire</th>
              <td style="font-size: 14px">{% if usdCurrency_newhampshire_ivf %}{{ usdCurrency_newhampshire_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_newhampshire_ivf %}{{ eurCurrency_newhampshire_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_newhampshire_ivf %}{{ gbpCurrency_newhampshire_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsNewHampshire' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">New Hampshire IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">New Jersey</th>
              <td style="font-size: 14px">{% if usdCurrency_newjersey_ivf %}{{ usdCurrency_newjersey_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_newjersey_ivf %}{{ eurCurrency_newjersey_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_newjersey_ivf %}{{ gbpCurrency_newjersey_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsNewJersey' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">New Jersey IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">New Mexico</th>
              <td style="font-size: 14px">{% if usdCurrency_newmexico_ivf %}{{ usdCurrency_newmexico_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_newmexico_ivf %}{{ eurCurrency_newmexico_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_newmexico_ivf %}{{ gbpCurrency_newmexico_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsNewMexico' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">New Mexico IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row">New York</th>
              <td style="font-size: 14px">{% if usdCurrency_newyork_ivf %}{{ usdCurrency_newyork_ivf|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if eurCurrency_newyork_ivf %}{{ eurCurrency_newyork_ivf|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px">{% if gbpCurrency_newyork_ivf %}{{ gbpCurrency_newyork_ivf|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
              <td style="font-size: 14px"<a href="{% url 'fertilityClinicsNewYork' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">New York IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-icsi" role="tabpanel" aria-labelledby="pills-icsi-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of ICSI procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Alabama</th>
                <td style="font-size: 14px">{% if usdCurrency_alabama_icsi %}{{ usdCurrency_alabama_icsi|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alabama_icsi %}{{ eurCurrency_alabama_icsi|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alabama_icsi %}{{ gbpCurrency_alabama_icsi|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlabama' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alabama IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Alaska</th>
                <td style="font-size: 14px">{% if usdCurrency_alaska_icsi %}{{ usdCurrency_alaska_icsi|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alaska_icsi %}{{ eurCurrency_alaska_icsi|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alaska_icsi %}{{ gbpCurrency_alaska_icsi|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alaska IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arizona</th>
                <td style="font-size: 14px">{% if usdCurrency_arizona_icsi %}{{ usdCurrency_arizona_icsi|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arizona_icsi %}{{ eurCurrency_arizona_icsi|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arizona_icsi %}{{ gbpCurrency_arizona_icsi|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArizona' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arizona IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arkansas</th>
                <td style="font-size: 14px">{% if usdCurrency_arkansas_icsi %}{{ usdCurrency_arkansas_icsi|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arkansas_icsi %}{{ eurCurrency_arkansas_icsi|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arkansas_icsi %}{{ gbpCurrency_arkansas_icsi|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArkansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arkansas IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">California</th>
                <td style="font-size: 14px">{% if usdCurrency_california_icsi %}{{ usdCurrency_california_icsi|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_california_icsi %}{{ eurCurrency_california_icsi|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_california_icsi %}{{ gbpCurrency_california_icsi|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"<a href="{% url 'fertilityClinicsCalifornia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">California IVF Clinics</button></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-iui" role="tabpanel" aria-labelledby="pills-iui-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of IUI procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Alabama</th>
                <td style="font-size: 14px">{% if usdCurrency_alabama_iui %}{{ usdCurrency_alabama_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alabama_iui %}{{ eurCurrency_alabama_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alabama_iui %}{{ gbpCurrency_alabama_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlabama' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alabama IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Alaska</th>
                <td style="font-size: 14px">{% if usdCurrency_alaska_iui %}{{ usdCurrency_alaska_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alaska_iui %}{{ eurCurrency_alaska_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alaska_iui %}{{ gbpCurrency_alaska_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alaska IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arizona</th>
                <td style="font-size: 14px">{% if usdCurrency_arizona_iui %}{{ usdCurrency_arizona_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arizona_iui %}{{ eurCurrency_arizona_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arizona_iui %}{{ gbpCurrency_arizona_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArizona' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arizona IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arkansas</th>
                <td style="font-size: 14px">{% if usdCurrency_arkansas_iui %}{{ usdCurrency_arkansas_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arkansas_iui %}{{ eurCurrency_arkansas_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arkansas_iui %}{{ gbpCurrency_arkansas_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArkansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arkansas IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">California</th>
                <td style="font-size: 14px">{% if usdCurrency_california_iui %}{{ usdCurrency_california_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_california_iui %}{{ eurCurrency_california_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_california_iui %}{{ gbpCurrency_california_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"<a href="{% url 'fertilityClinicsCalifornia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">California IVF Clinics</button></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-egg" role="tabpanel" aria-labelledby="pills-egg-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of Egg Donation procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Alabama</th>
                <td style="font-size: 14px">{% if usdCurrency_alabama_egg %}{{ usdCurrency_alabama_egg|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alabama_egg %}{{ eurCurrency_alabama_egg|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alabama_egg %}{{ gbpCurrency_alabama_egg|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlabama' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alabama IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Alaska</th>
                <td style="font-size: 14px">{% if usdCurrency_alaska_egg %}{{ usdCurrency_alaska_egg|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alaska_egg %}{{ eurCurrency_alaska_egg|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alaska_egg %}{{ gbpCurrency_alaska_egg|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alaska IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arizona</th>
                <td style="font-size: 14px">{% if usdCurrency_arizona_egg %}{{ usdCurrency_arizona_egg|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arizona_egg %}{{ eurCurrency_arizona_egg|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arizona_egg %}{{ gbpCurrency_arizona_egg|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arizona IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arkansas</th>
                <td style="font-size: 14px">{% if usdCurrency_arkansas_egg %}{{ usdCurrency_arkansas_egg|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arkansas_egg %}{{ eurCurrency_arkansas_egg|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arkansas_egg %}{{ gbpCurrency_arkansas_egg|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArkansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arkansas IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">California</th>
                <td style="font-size: 14px">{% if usdCurrency_california_egg %}{{ usdCurrency_california_egg|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_california_egg %}{{ eurCurrency_california_egg|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_california_egg %}{{ gbpCurrency_california_egg|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"<a href="{% url 'fertilityClinicsCalifornia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">California IVF Clinics</button></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-embryo" role="tabpanel" aria-labelledby="pills-embryo-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of Embryo Donation procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Alabama</th>
                <td style="font-size: 14px">{% if usdCurrency_alabama_embryo %}{{ usdCurrency_alabama_embryo|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alabama_embryo %}{{ eurCurrency_alabama_embryo|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alabama_embryo %}{{ gbpCurrency_alabama_embryo|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlabama' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alabama IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Alaska</th>
                <td style="font-size: 14px">{% if usdCurrency_alaska_embryo %}{{ usdCurrency_alaska_embryo|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alaska_embryo %}{{ eurCurrency_alaska_embryo|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alaska_embryo %}{{ gbpCurrency_alaska_embryo|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alaska IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arizona</th>
                <td style="font-size: 14px">{% if usdCurrency_arizona_embryo %}{{ usdCurrency_arizona_embryo|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arizona_embryo %}{{ eurCurrency_arizona_embryo|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arizona_embryo %}{{ gbpCurrency_arizona_embryo|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arizona IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arkansas</th>
                <td style="font-size: 14px">{% if usdCurrency_arkansas_embryo %}{{ usdCurrency_arkansas_embryo|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arkansas_embryo %}{{ eurCurrency_arkansas_embryo|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arkansas_embryo %}{{ gbpCurrency_arkansas_embryo|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArkansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arkansas IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">California</th>
                <td style="font-size: 14px">{% if usdCurrency_california_embryo %}{{ usdCurrency_california_embryo|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_california_embryo %}{{ eurCurrency_california_embryo|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_california_embryo %}{{ gbpCurrency_california_embryo|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"<a href="{% url 'fertilityClinicsCalifornia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">California IVF Clinics</button></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-sperm" role="tabpanel" aria-labelledby="pills-sperm-tab">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <h2 style="padding-top:3rem">Average prices of Sperm Donation procedures compared by TOP countries</h2>
        <p><i>Medications, pretests and additional procedures not included</i></p>
        <div class="table-responsive-xl">
          <table class="table table-hover">
            <thead class="thead" style="background-color: #286DA8; color: white">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">USD</th>
                <th scope="col">EUR</th>
                <th scope="col">GBP</th>
                <th scope="col">Clinics</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Alabama</th>
                <td style="font-size: 14px">{% if usdCurrency_alabama_sperm %}{{ usdCurrency_alabama_sperm|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alabama_sperm %}{{ eurCurrency_alabama_sperm|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alabama_sperm %}{{ gbpCurrency_alabama_sperm|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlabama' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alabama IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Alaska</th>
                <td style="font-size: 14px">{% if usdCurrency_alaska_sperm %}{{ usdCurrency_alaska_sperm|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_alaska_sperm %}{{ eurCurrency_alaska_sperm|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_alaska_sperm %}{{ gbpCurrency_alaska_sperm|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Alaska IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arizona</th>
                <td style="font-size: 14px">{% if usdCurrency_arizona_sperm %}{{ usdCurrency_arizona_sperm|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arizona_sperm %}{{ eurCurrency_arizona_sperm|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arizona_sperm %}{{ gbpCurrency_arizona_sperm|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsAlaska' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arizona IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">Arkansas</th>
                <td style="font-size: 14px">{% if usdCurrency_arkansas_sperm %}{{ usdCurrency_arkansas_sperm|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_arkansas_sperm %}{{ eurCurrency_arkansas_sperm|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_arkansas_sperm %}{{ gbpCurrency_arkansas_sperm|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"><a href="{% url 'fertilityClinicsArkansas' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Arkansas IVF Clinics</button></a></td>
              </tr>
              <tr>
                <th scope="row">California</th>
                <td style="font-size: 14px">{% if usdCurrency_california_sperm %}{{ usdCurrency_california_sperm|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if eurCurrency_california_sperm %}{{ eurCurrency_california_sperm|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px">{% if gbpCurrency_california_sperm %}{{ gbpCurrency_california_sperm|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</td>
                <td style="font-size: 14px"<a href="{% url 'fertilityClinicsCalifornia' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">California IVF Clinics</button></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>


<div class="container py-5">
  <a class="nav-link" href="{% url 'travelCalculator' %}">
    <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Calculate travel costs</button>
  </a>
</div>





{% endblock  %}
