{% extends "main/base.html" %}
{% load static %}
{% block title %}2020 | Fertility clinics in London{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/fertility-clinics-london{% endblock %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; padding-bottom:3rem; color:white">Fertility clinics in London</h1>
  </div>
  <div class="container">
    <div class="accordion" id="accordionExample" style="padding-bottom:2rem">
      <div class="lol" style="background-color: #286DA8">
        <h5 class="mb-0 text-left">
          <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Main Filter
          </button>
        </h5>
        <form action="">
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">IVF treatment</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">ICSI treatment</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Egg donation recipients</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Sperm donation recipients</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Embryo donation recipients</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Fertility preservation (freezing)</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Surrogacy</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">IUI treatment</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Single woman treatment</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" style="color: white">Reciprocal IVF (LGBTQ)</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <ul class="nav justify-content-left">
    <li class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><strong>How to increase IVF success?</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><strong>Good to know about IVF</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><strong>IVF Clinic locations in UK</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" style="font-size: 14px !important;"><strong>Facebook IVF London Group</strong></a>
    </li>
  </ul>
  <hr>
</div>
{% if pro_listings %}
{% for pro_listing in pro_listings %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% endfor %}
{% endif %}
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% if pro_listings %}
      {% for pro_listing in pro_listings %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="container">
            <div class="row align-self-center align-items-center">
              <a href="{% url 'iviLondon' %}">
                <h2 class="display-5" style="margin-bottom: 0px">{{ pro_listing.clinicName }}</h2>
              </a>
              {% if pro_listing.clinic_pro_logo_pic %}
              <div class="img align-self-center align-items-center" style="padding-left: 15px !important;">
                <a target="_blank" href="{{ pro_listing.clinic_pro_logo_pic.url }}">
                  <img class="imgHover" src="{{ pro_listing.clinic_pro_logo_pic.url }}" alt="" style="height: 50px; width:auto">
                </a>
              </div>
              {% else %}
              {% endif %}
            </div>
          </div>
          {% if pro_listing.clinic_pro_main_pic %}
          <div class="clinicGallery">
            <a target="_blank" href="{{ pro_listing.clinic_pro_main_pic.url }}">
              <img class="imgHover" src="{{ pro_listing.clinic_pro_main_pic.url }}" alt="" style="height: 120px; width: auto;">
            </a>
          </div>
          <br>
          {% if pro_listing.pro_is_published %}
          <div class="container">
            <div class="row">
              <span class="badge badge-success">Verified</span>
              <span class="badge badge-primary" style="margin-left: 10px">Popular</span>
              <span class="badge badge-warning" style="margin-left: 10px">Promotions available</span>
            </div>
          </div>
          {% endif %}
          {% else %}
          {% endif %}
          <br>
          <br>
          <p>{{ pro_listing.description|safe }}</p>
          <br>
          <a href="{{ pro_listing.clinic_url }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg" style="width: 10rem">Clinic detail</button>
          </a>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if listings %}
      {% for listing in listings %}
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="container">
            <div class="row align-self-center align-items-center">
              <a href="{% url 'iviLondon' %}">
                <h2 class="display-5" style="margin-bottom: 0px">{{ listing.clinicName }}</h2>
              </a>
              {% if listing.clinic_pro_logo_pic %}
              <div class="img align-self-center align-items-center" style="padding-left: 15px !important;">
                <a target="_blank" href="{{ listing.clinic_pro_logo_pic.url }}">
                  <img class="imgHover" src="{{ listing.clinic_pro_logo_pic.url }}" alt="" style="height: 50px; width:auto">
                </a>
              </div>
              {% else %}
              {% endif %}
            </div>
          </div>
          {% if listing.clinic_pro_main_pic %}
          <div class="clinicGallery">
            <a target="_blank" href="{{ listing.clinic_pro_main_pic.url }}">
              <img class="imgHover" src="{{ listing.clinic_pro_main_pic.url }}" alt="" style="height: 120px; width: auto;">
            </a>
          </div>
          <br>
          {% if listing.pro_is_published %}
          <div class="container">
            <div class="row">
              <span class="badge badge-success">Verified</span>
              <span class="badge badge-primary" style="margin-left: 10px">Popular</span>
              <span class="badge badge-warning" style="margin-left: 10px">Promotions available</span>
            </div>
          </div>
          {% endif %}
          {% else %}
          {% endif %}
          <br>
          <br>
          <p>{{ listing.description|safe }}</p>
          <br>
          <a href="{{ listing.clinic_url }}">
            <button id="brandButton" type="button" class="btn btn-outline-success btn-lg" style="width: 10rem">Clinic detail</button>
          </a>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-sm-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <p style="font-size: 22px !important;">Quick information about <strong>London fertility treatments:</strong></p>
          <br>
          {% for k in averageIVFPrice %}
            {% if averageIVFPrice.average != None  %}
            <p>Average IVF price: {{ averageIVFPrice.average }} €</p>
            {% else %}
            {% endif  %}
          {% endfor %}
          {% for k in averageICSIPrice %}
            {% if averageICSIPrice.average != None  %}
            <p>Average ICSI price: {{ averageICSIPrice.average }} €</p>
            {% else %}
            {% endif  %}
          {% endfor %}
          {% for k in averageEggPrice %}
            {% if averageEggPrice.average != None  %}
            <p>Average Egg donation recipients price: {{ averageEggPrice.average }} €</p>
            {% else %}
            {% endif  %}
          {% endfor %}
          {% for k in averageEmbryoPrice %}
            {% if averageEmbryoPrice.average != None  %}
            <p>Average Embryo donation recipients price: {{ averageEmbryoPrice.average }} €</p>
            {% else %}
            {% endif  %}
          {% endfor %}
          {% for k in averageSpermPrice %}
            {% if averageSpermPrice.average != None  %}
            <p>Average Sperm donation recipients price: {{ averageSpermPrice.average }} €</p>
            {% else %}
            {% endif  %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>







{% endblock  %}
