.btn-brand-red {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

.btn-brand-red:hover {
  border-color: #CD5360;
  background-color: white;
  color: #CD5360;
  border-radius: 8px;
}

.btn-link-brand {
  font-weight: 400;
  color: #286DA8;
  text-decoration: none;
}

.btn-link-brand:hover {
  font-weight: 400;
  color: #CD5360;
  text-decoration: none;
}