h1 {
  font-family: 'Josefin Sans';
  color: #282c34;
  text-align: left;
}

h2 {
  font-family: 'Josefin Sans';
  color: #282c34;
  text-align: left;
}

h3 {
  font-family: 'Josefin Sans';
  text-align: left;
  font-size: 130%
}

h4 {
  font-family: 'Josefin Sans';
  color: #282c34;
  text-align: left;
}

h5 {
  font-family: 'Josefin Sans';
  color: #282c34;
  text-align: left;
}

figcaption {
  font-family: 'Josefin Sans';
  color: #282c34;
}

label {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
}

pre {
  display: block;
  font-family: 'Josefin Sans';
  white-space: pre;
  margin: 1em 0;
  background-color: #c0c0c0;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  border-radius: 4px;
}

select {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  border-width: 0px;
  background-color: white;
}


.homepageImage {
  background: url('/static/img/IVF-Explained7.webp');
  width: 100%;
  background-position: center;
  background-size: cover;
  max-height: 1723px;
}

.backgroundPackageClinicDetail {
  background-color: #ebebeb;
}

.imgHoverLogo {
  border-radius: 4px;
  background-color: white;
}

.imgHover{
  border-radius: 8px;
}

.imgHoverTeam {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.clinics {
    background-color: #ebebeb;
}

.jumbotron {
  background-color: #ebebeb;
  border-radius: 8px;
}

.form-check-label {
  font-family: 'Josefin Sans';
  color: #282c34;
}

.affillink {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-decoration: underline;
  font-weight: 450;
}

.headingOne {
  background-color: white;
  color: white;
}

.cardBox {
  background-color: white;
  color: white;
}

.header #imgInfo {
  float: left;
  width: 50px;
  height: 50px;
}

.header #nameInfo {
  position: relative;
  padding-left: 75px;
}

#topContainerBanner {
  min-height: 25rem;
  justify-content: center;
}

#modelchoicefield {
  background-color: grey;
}

#Region {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  border-width: 0px;
  background-color: white;
}

#States {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  border-width: 0px;
  background-color: white;
}

#inputGroupSelect01 {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  border-width: 0px;
  background-color: white;
}

#inputGroupSelect02 {
  font-family: 'Josefin Sans';
}

#brandButtonGoalPackage {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#brandButtonGoalPackage:hover {
  border-color: #CD5360;
  background-color: white;
  color: #CD5360;
  border-radius: 8px;
}



#brandButtonGoalPackagePrimary {
  border-color: #286DA8;
  background-color: #286DA8;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#brandButtonGoalPackagePrimary:hover {
  border-color: #286DA8;
  background-color: white;
  color: #286DA8;
  border-radius: 8px;
}

#brandButtonGoalPackageEmail {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#brandButtonGoalPackageEmail:hover {
  border-color: #CD5360;
  background-color: white;
  color: #CD5360;
  border-radius: 8px;
}

#brandButtonGoalPackageCall {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#brandButtonGoalPackageCall:hover {
  border-color: #CD5360;
  background-color: white;
  color: #CD5360;
  border-radius: 8px;
}


#mc-embedded-subscribe {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#mc-embedded-subscribe:hover {
  border-color: #CD5360;
  background-color: white;
  color: #CD5360;
  border-radius: 8px;
}

#brandButton {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#brandButton:hover {
  border-color: #CD5360;
  background-color: white;
  color: #CD5360;
  border-radius: 8px;
}

#pricingSearchButton {
  border-color: #15a2b8;
  background-color: #15a2b8;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#pricingSearchButton:hover {
  border-color: #15a2b8;
  background-color: white;
  color: #15a2b8;
  border-radius: 8px;
}

#brandButtonGoalRightCorner {
  border-color: #286DA8;
  background-color: #286DA8;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#brandButtonGoalAskTeam {
  border-color: #CD5360;
  background-color: #CD5360;
  border-radius: 8px;
  border-width:2px;
  color: white;
}

#baseBrandButton {
  border-color: #ffffff;
  border-radius: 8px;
  border-width:2px;
  color: #ffffff;
}

#baseBrandButton:hover {
  background-color: #ffffff;
  border-radius: 8px;
  color: black;
}

p {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: #282c34;
  text-align: left;
  font-size: 115%;
}

ul {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: #282c34;
  text-align: left;
  font-size: 115%;
}

ol {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: #282c34;
  text-align: left;
  font-size: 115%;
}

table th:first-child{
  border-radius:10px 0 0 10px;
}

table th:last-child{
  border-radius:0 10px 10px 0;
}

.borderless th {
  border: none;
}

.badge {
    color: white;
}

a {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: #282c34;
  text-align: left;
  text-decoration: underline;
}

td {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: #282c34;
  text-align: center;
  font-size: 115%;
}

button {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: black;
  text-align: left;
}

body {
  position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.carousel-item{
  text-align: center;
}

.carousel-inner img{
  display: inline-block  !important;
}

#carouselHP {
  border-radius: 15px;
  background-color: #282c34;
}

#mainhpbanner {
  max-width: 450px;
  max-height: auto;
}

#treatmentsBtn {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
}

input[type=text] {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=tel] {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=email] {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=number] {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=url] {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

textarea {
  font-family: 'Josefin Sans';
  font-style: normal;
  color: #282c34;
  text-align: left;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.cookie-banner {
  text-align: center;
  bottom: 60px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  background-color: gray;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  height: 20px;
  background-color: black;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.discount-label {
 padding:3px;
 position:relative;
 text-align: left;
 float:left;
 width:100px;
-webkit-border-radius:0 4px 0 4px;
-moz-border-radius:0 4px 0 4px;
border-radius:0 4px 4px 0;
}

.discount-label:after {
  right: 100%;
  border: solid transparent; content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);
  border-width: 20px;
  top: 50%;
  margin-top: -20px;}

.discount-label:before {
  content: '';
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 7px;
  height: 7px;
  opacity: .95;
  background: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
}

.discount-label span {
  font-size:20px;
  text-align:center;
  margin-left: 7px;
  font-family:"Raleway",Helvetica;

}

.blue{
  background-color:#fcc10b;
}

.blue:after{
  border-right-color: #fcc10b;
}


@media (max-width: 500px) {
  .imgHoverTeam {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  .homepageImage {
    background: url('/static/img/MobileHomepageImg.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}

@media (min-width: 1600px) {
  .homepageImage {
    background: url('/static/img/bigHomepageImage.jpg');
    width: 100%;
    background-position: center;
    background-size: cover;
  }
}
