<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">India</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicIndia' %}" style="text-decoration: none; color: black">{{inclinics}} IVF clinics in India</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsHyderabad' %}" style="text-decoration: none; color: black">{{hyderabadclinics}} Hyderabad IVF centre</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsChennai' %}" style="text-decoration: none; color: black">{{chennaiclinics}} Chennai IVF centre</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsBangalore' %}" style="text-decoration: none; color: black">{{bangaloreclinics}} Bangalore IVF centre</a></li>
    </ul>
</li>