<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Cyprus</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicCyprus' %}" style="text-decoration: none; color: black">{{cyclinics}} IVF clinics in Cyprus</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsNicosia' %}" style="text-decoration: none; color: black">{{nicosiaclinics}} Nicosia IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsGirne' %}" style="text-decoration: none; color: black">{{girneclinics}} Girne IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Czech Republic</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.fertilitycommunity.com/blog/best-ivf-clinics-czech/" style="text-decoration: none; color: black">Best IVF clinics in Czech Republic</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicCzech' %}" style="text-decoration: none; color: black">{{czclinics}} IVF clinics in the Czech Republic</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="https://www.fertilitycommunity.com/blog/best-ivf-clinics-prague/" style="text-decoration: none; color: black">Best IVF clinics in Prague</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicPrague' %}" style="text-decoration: none; color: black">{{pragueclinics}} Prague IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicBrno' %}" style="text-decoration: none; color: black">{{brnoclinics}} Brno IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Denmark</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicDenmark' %}" style="text-decoration: none; color: black">{{dkclinics}} IVF clinics in Denmark</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicCopenhagen' %}" style="text-decoration: none; color: black">{{copenhagenclinics}} Copenhagen IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Germany</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicGermany' %}" style="text-decoration: none; color: black">{{declinics}} IVF clinics in Germany</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicBerlin' %}" style="text-decoration: none; color: black">{{berlinclinics}} Berlin IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Greece</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.fertilitycommunity.com/blog/best-ivf-clinics-greece" style="text-decoration: none; color: black">Best IVF clinics in Greece</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicGreece' %}" style="text-decoration: none; color: black">{{grclinics}} IVF clinics in Greece</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsAthens' %}" style="text-decoration: none; color: black">{{athensclinics}} Athens IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsThessaloniki' %}" style="text-decoration: none; color: black">{{thessalonikiclinics}} Thessaloniki IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Latvia</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicLatvia' %}" style="text-decoration: none; color: black">{{lvclinics}} IVF clinics in Latvia</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicRiga' %}" style="text-decoration: none; color: black">{{rigaclinics}} Riga IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Portugal</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.fertilitycommunity.com/blog/best-ivf-clinics-portugal" style="text-decoration: none; color: black">Best IVF clinics in Portugal</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicPortugal' %}" style="text-decoration: none; color: black">{{ptclinics}} IVF clinics in Portugal</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicLisbon' %}" style="text-decoration: none; color: black">{{lisbonclinics}} Lisbon IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Slovakia</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.fertilitycommunity.com/blog/best-ivf-clinics-slovakia" style="text-decoration: none; color: black">Best IVF clinics in Slovakia</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicSlovakia' %}" style="text-decoration: none; color: black">{{skclinics}} IVF clinics in Slovakia</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicBratislava' %}" style="text-decoration: none; color: black">{{bratislavaclinics}} Bratislava IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Spain</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.fertilitycommunity.com/blog/best-ivf-clinics-spain" style="text-decoration: none; color: black">Best IVF clinics in Spain</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicSpain' %}" style="text-decoration: none; color: black">{{spclinics}} IVF clinics in Spain</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsAlicante' %}" style="text-decoration: none; color: black">{{alicanteclinics}} Alicante IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsBarcelona' %}" style="text-decoration: none; color: black">{{barcelonaclinics}} Barcelona IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsMadrid' %}" style="text-decoration: none; color: black">{{madridclinics}} Madrid IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsMalaga' %}" style="text-decoration: none; color: black">{{malagaclinics}} Malaga IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsSeville' %}" style="text-decoration: none; color: black">{{sevilleclinics}} Seville IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsValencia' %}" style="text-decoration: none; color: black">{{valenciaclinics}} Valencia IVF clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">United Kingdom</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicUK' %}" style="text-decoration: none; color: black">{{ukclinics}} IVF clinics in United Kingdom</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsLondon' %}" style="text-decoration: none; color: black">{{londonclinics}} London IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsBristol' %}" style="text-decoration: none; color: black">{{bristolclinics}} Bristol IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsLeeds' %}" style="text-decoration: none; color: black">{{leedsclinics}} Leeds IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsNottingham' %}" style="text-decoration: none; color: black">{{nottinghamclinics}} Nottingham IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsBirmingham' %}" style="text-decoration: none; color: black">{{birminghamclinics}} Birmingham IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsExeter' %}" style="text-decoration: none; color: black">{{exeterclinics}} Exeter IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsLiverpool' %}" style="text-decoration: none; color: black">{{liverpoolclinics}} Liverpool IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsPortsmouth' %}" style="text-decoration: none; color: black">{{portsmouthclinics}} Portsmouth IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsBournemouth' %}" style="text-decoration: none; color: black">{{bournemouthclinics}} Bournemouth IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsGlasgow' %}" style="text-decoration: none; color: black">{{glasgowclinics}} Glasgow IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsManchester' %}" style="text-decoration: none; color: black">{{manchesterclinics}} Manchester IVF clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsSheffield' %}" style="text-decoration: none; color: black">{{sheffieldclinics}} Sheffield IVF clinics</a></li>
    </ul>
</li>