<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">United states</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicUSA' %}" style="text-decoration: none; color: black">{{usclinics}} IVF clinics in Unites States</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsTexas' %}" style="text-decoration: none; color: black">{{texasclinics}} Texas fertility clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsNewYork' %}" style="text-decoration: none; color: black">{{newyorkclinics}} New York fertility clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsFlorida' %}" style="text-decoration: none; color: black">{{floridaclinics}} Florida fertility clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsCalifornia' %}" style="text-decoration: none; color: black">{{californiaclinics}} California IVF clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsNewJersey' %}" style="text-decoration: none; color: black">{{newjerseyclinics}} New Jersey fertility clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsIllinois' %}" style="text-decoration: none; color: black">{{illinoisclinics}} Illinois fertility clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsPennsylvania' %}" style="text-decoration: none; color: black">{{pennsylvaniaclinics}} Pennsylvania fertility clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsGeorgia' %}" style="text-decoration: none; color: black">{{georgiaclinics}} Georgia fertility clinics</a></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsMichigan' %}" style="text-decoration: none; color: black">{{michiganclinics}} Michigan fertility clinics</a></li>
    </ul>
</li>
<li class="dropdown-submenu">
    <a class="dropdown-item dropdown-toggle" href="#" style="text-decoration: none; color: black">Mexico</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'fertilityClinicMexico' %}" style="text-decoration: none; color: black">{{mxclinics}} IVF clinics in Mexico</a></li>
        <li><div class="dropdown-divider-country"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsCancun' %}" style="text-decoration: none; color: black">{{cancunclinics}} Cancún fertility clinics</a></li>
        <li><div class="dropdown-divider"></div></li>
        <li><a class="dropdown-item" href="{% url 'fertilityClinicsMexicoCity' %}" style="text-decoration: none; color: black">{{mexicocityclinics}} Mexico City fertility clinics</a></li>
    </ul>
</li>