{% extends "main/base.html" %}
{% load static %}
{% block title %}IVF explained, tips & tricks for 2021{% endblock %}
{% block description %}IVF means in vitro fertilization and is one of the most used types of assisted reproductive technology. Read more{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/ivf-explained{% endblock %}
{% block meta_keywords %}IVF explained, IVF process timeline, IVF tips, IVF tricks, IVF vitamins, IVF exercise, IVF Books, IVF pregnancy tracker{% endblock %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='https://www.fertilitycommunity.com/team' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://fertilitycommunity.com/static/img/IVF-Explained9.png" />{% endblock %}

{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">What Does IVF Cost Abroad in 2021?</h1>
    <br>
  </div>
</div>

<div class="container">
  <br>
  <p>If you live in a country with high IVF costs and don't have health insurance covering these procedures, you may be looking outside of your country for IVF treatment. There are many countries overseas that offer high-quality IVF treatments with high success rates for a fraction of the price you'll pay at home. </p>
  <br>
  <p>Read on to learn more about some of the countries that offer the lowest IVF prices and what you can expect to pay.</p>
  <br>
  <div class="jumbotron" style="background-image: url('static/img/ivfExplained2.jpg'); background-position: center; background-size: cover; height: 100%;" alt="pregnant women with sunset">
    <ol style="font-size: 135%; color: white">
      <li><p style="font-size: 135%"><a href="#bod1" style="color: white"><u>IVF cost in USA </u></a></p></li>
      <li><p style="font-size: 135%"><a href="#bod2" style="color: white"><u>IVF Process Timeline </u></a></p></li>
      <li><p style="font-size: 135%"><a href="#bod3" style="color: white"><u>IVF Success Tips + IVF Tips </u></a></p></li>
      <li><p style="font-size: 135%"><a href="#bod4" style="color: white"><u>Supplements for IVF + IVF Vitamins </u></a></p></li>
      <li><p style="font-size: 135%"><a href="#bod5" style="color: white"><u>Exercise During IVF </u></a></p></li>
      <li><p style="font-size: 135%"><a href="#bod6" style="color: white"><u>Best IVF Books </u></a></p></li>
      <li><p style="font-size: 135%"><a href="#bod7" style="color: white"><u>IVF Pregnancy Tracker </u></a></p></li>
    </ol>
  </div>
  <br>
  <hr>
  <br>
  <div class="feature" id="bod1">
    <h2 style="font-size: 160%"><b>IVF cost in USA</b></h2>
    <br>
    <p>The whole IVF cycle usually takes <u>around four weeks</u>. Let’s have a look at the five steps you will need to undergo.</p>
    <div class="row">
  </div>
  <br>
  <hr>
  <br>
</div>
{% endblock  %}
