{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}Fertility clinics in Brno | Found {{ my_total_count }} clinics | 2021{% endblock %}
{% block description %}Need to quickly compare the best IVF clinics in Brno to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/fertility-clinics/czech-republic/brno{% endblock %}
{% block meta_keywords %}fertility clinic brno, ivf clinic brno{% endblock %}

{% block ogType %}<meta property='og:type' content='website' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://fertilitycommunity.com/static/img/locations/cities/FertilityClinicsBrno.webp" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="Fertility clinics in Brno | Found {{ my_total_count }} clinics | 2021">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="Need to quickly compare the best IVF clinics in Brno to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://fertilitycommunity.com/static/img/locations/cities/FertilityClinicsBrno.webp" />{% endblock %}

{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:3rem; padding-bottom:1rem; color:white">
          Compare {{ my_total_count }} fertility clinics in Brno
    </h1>
    <p style="font-size: 18px; color: white !important">There are <u><b>[{{ my_total_count }}]</b></u> fertility centers in Brno with different treatment pricings and IVF packages. The infertility treatment options in Brno clinics offer various kinds of therapy and treatment, such as ovulation induction, intrauterine insemination, In Vitro Fertilization, egg freezing, sperm cryopreservation, embryo banking, donor eggs, donor sperm, donor embryo, laparoscopy, endometriosis excision, myomectomy, hysteroscopy, tubal reversal, and more.</p>
  </div>

  <!-- Filter section -->

  <div class="container">
    <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filter location or treatments</button>
    <br>
    <br>
    <div class="collapse" id="collapseExample">
      <div class="accordion" id="accordionExample" style="padding-bottom:2rem">
        <div class="lol" style="background-color: #286DA8">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <br>
              <div hidden class="form-group" style="padding-top:1rem">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                      <option value="" selected>Select state</option>
                      <optgroup label="North America">
                        {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                        <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Europe">
                        {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                        <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Asia">
                        {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                        <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem" id="regions-us">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                      <option value="Brno" selected>Brno</option>
                      {% for key, value in CATEGORY_CHOICES_CZ_CITIES.items %}
                      <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem">
                <div class="accordion" id="accordionExample">
                  <div class="card" id="cardBox" style="border-radius: 8px;">
                    <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                      <button id="treatmentsBtn" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {% if values.treatments == None %}Types of treatments
                        {% elif values.treatments == '' %}Types of treatments
                        {% elif values.treatments == 'Alltreatmentstrue' %}All treatments
                        {% elif values.treatments == 'IVFtreatmenttrue' %}Natural IVF
                        {% elif values.treatments == 'IVFtreatmentmildtrue' %}Mild (mini) IVF
                        {% elif values.treatments == 'IVFtreatmentovariantrue' %}Standard IVF
                        {% elif values.treatments == 'ICSItreatmenttrue' %}ICSI treatment
                        {% elif values.treatments == 'Eggdonationrecipientstrue' %}IVF with Egg donation
                        {% elif values.treatments == 'Spermdonationrecipientstrue' %}IVF with Sperm donation
                        {% elif values.treatments == 'Embryodonationrecipientstrue' %}IVF with Embryo donation
                        {% elif values.treatments == 'EggFreezingtrue' %}Egg freezing
                        {% elif values.treatments == 'EmbryoFreezingtrue' %}Embryo freezing
                        {% elif values.treatments == 'SpermFreezingtrue' %}Sperm freezing
                        {% elif values.treatments == 'Surrogacytrue' %}Gestational surrogacy
                        {% elif values.treatments == 'IUItreatmenttrue' %}IUI treatment
                        {% elif values.treatments == 'Singlewomantreatmenttrue' %}Single woman treatment
                        {% elif values.treatments == 'ReciprocalIVFtrue' %}Reciprocal IVF (LGBTQ)
                        {% endif %}
                      </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments" {% if values.treatments == 'Alltreatmentstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="All treatment">All treatments</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments" {% if values.treatments == 'IUItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments" {% if values.treatments == 'IVFtreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment">Natural IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment mild" value="IVFtreatmentmildtrue" name="treatments" {% if values.treatments == 'IVFtreatmentmildtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment mild">Mild (mini) IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment ovarian" value="IVFtreatmentovariantrue" name="treatments" {% if values.treatments == 'IVFtreatmentovariantrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment ovarian">Standard IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments" {% if values.treatments == 'ICSItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments" {% if values.treatments == 'Eggdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg donation recipients">IVF with Egg donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments" {% if values.treatments == 'Spermdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm donation recipients">IVF with Sperm donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments" {% if values.treatments == 'Embryodonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo donation recipients">IVF with Embryo donation</label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments" {% if values.treatments == 'EggFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments" {% if values.treatments == 'EmbryoFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments" {% if values.treatments == 'SpermFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments" {% if values.treatments == 'Surrogacytrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Surrogacy">Gestational surrogacy</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments" {% if values.treatments == 'Singlewomantreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments" {% if values.treatments == 'ReciprocalIVFtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:2rem">
                <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
                <br>
              </div>
            </div>
          </form>
          <hr noshade style="border-top: 1px solid white">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <h5 class="mb-0 text-left" id="headingOne">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <i class="fas fa-filter"></i> Change country
                </button>
              </h5>
              <div class="accordion" id="accordion1Example" style="padding-bottom:2rem">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1Example">
                  <br>
                  <div class="form-group" style="padding-top:1rem">
                    <div class="card" style="border-radius: 8px;">
                      <div class="card-header" style="background-color: white; border-radius: 8px;">
                        <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                          <option value="" selected>Select state</option>
                          <optgroup label="North America">
                            {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Europe">
                            {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Asia">
                            {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="padding-top:1rem;">
                    <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg">Change Country</button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Interesting links section -->
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb" style="padding-top: 10px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'fertilityClinicCzech' %}" style="text-decoration: none">Fertility clinics in Czech Republic</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <button class="btn btn-sm btn-outline-dark" data-toggle="collapse" href="#cityCollapse" role="button" aria-expanded="false" aria-controls="cityCollapse" style="text-decoration: none">
            Fertility clinics in Brno
          </button>
        </li>
      </ol>
      <div class="collapse" id="cityCollapse">
        <div class="row">
          <div class="col-sm-6">
            <li><a class="text-muted" href="{% url 'fertilityClinicBrno' %}">Brno fertility clinics</a></li>
          </div>
          <div class="col-sm-6">
            <li><a class="text-muted" href="{% url 'fertilityClinicPrague' %}">Prague fertility clinics</a></li>
          </div>
        </div>
        <br>
      </div>
    </div>
  </nav>
</div>

<!-- PRO Clinic listings section -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% if paginationing %}
      {% for order_datas in order_data %}

      {% if order_datas.clinic_pro_logo_pic %}
      <script type="application/ld+json">
        {
          "name" : "{{ order_datas.clinicName }}",
          "image" : "{{ order_datas.clinic_pro_logo_pic }}",
          "address" : {
            "streetAddress" : "{{ order_datas.clinicStreetAddress }}",
            "addressLocality" : "{{ order_datas.clinicCity }}",
            "postalCode" : "{{ order_datas.clinicPostalCode }}",
            "addressRegion" : "{{ order_datas.clinicRegion }}",
            "addressCountry" : "{{ order_datas.clinicState }}",
            "@type" : "PostalAddress"
          },
          "@type" : "MedicalClinic",
          "@context" : "http://schema.org"
        }
      </script>
      {% else %}
      <script type="application/ld+json">
        {
          "name" : "{{ order_datas.clinicName }}",
          "image" : "{% static 'img/hospital.svg' %}",
          "address" : {
            "streetAddress" : "{{ order_datas.clinicStreetAddress }}",
            "addressLocality" : "{{ order_datas.clinicCity }}",
            "postalCode" : "{{ order_datas.clinicPostalCode }}",
            "addressRegion" : "{{ order_datas.clinicRegion }}",
            "addressCountry" : "{{ order_datas.clinicState }}",
            "@type" : "PostalAddress"
          },
          "@type" : "MedicalClinic",
          "@context" : "http://schema.org"
        }
      </script>
      {% endif %}
      {% endfor %}
      {% include 'AllInclude/locations/clinic-boxes-dti.html' %}

      {% else %}
      <div class="container" style="background-color: white; padding-top: 0px; border-radius: 8px; border-color: #286DA8;">
        <div class="container" style="padding-top: 20px">
          <div class="header">
            <div class="container" id="nameInfo" style="padding-bottom:5rem">
              <div class="row align-self-center align-items-center">
                <h2 class="display-5" style="padding-bottom:2rem">Sorry, there are no clinics for this search query.</h2>
                <p>Please try different countries or treatment options</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Treatment average prices -->
    <div class="col-sm-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 style="font-size: 22px !important;"><i class="fas fa-info-circle"></i> Quick info - Czech Republic fertility treatment costs in 2021:</h2>

          {% include 'AllInclude/locations/quick-info.html' %}

          <div class="row">
            <div class="col-6 col-md">
              <a href="{% url 'locationsCZRegions' %}" style="font-size: 14px !important;">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-flag"></i> Czech Compare
                </button>
              </a>
            </div>
            <div class="col-6 col-md">
              <a href="{% url 'locations' %}">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-globe"></i> World Compare
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- Clinic additional locations -->
<div class="container" style="text-align: center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if paginationing.has_previous %}
        <a class="page-link" href="?{% param_replace page=1 %}">&laquo; First</a>
      </li>
      <li class="page-item">
        {% if page_obj.previous_page_number != 1 %}
        <a class="page-link" href="?{% param_replace page=paginationing.previous_page_number %}">Previous</a>
        {% endif %}
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link">Page {{ paginationing.number }} of {{ paginationing.paginator.num_pages }}</a>
      </li>

      {% if paginationing.has_next %}
      <li class="page-item">
        {% if paginationing.next_page_number != paginator.num_pages %}
        <a class="page-link" href="?{% param_replace page=paginationing.next_page_number %}">Next</a>
        {% endif %}
        {% endif %}
      </li>
    </ul>
  </nav>
</div>

<br>
<br>

{% include 'AllInclude/locations/packages.html' %}

<br>
<br>

{% if guestblog %}
  {% include 'AllInclude/locations/guestblogging.html' %}
{% endif %}

<br>
<br>

<!-- Clinic additional locations -->
<div class="container">
  <a name="more_information"></a>
  <h2>General Information</h2>
  <p>Brno (German Brünn) is a statutory city, <b>the second largest city</b> in the Czech Republic in terms of population and area, the largest city in Moravia and the former capital of Moravia.</p>
  <p>Brno is the center of <u>the judiciary of the Czech Republic</u>, as it has become the seat of both the Constitutional Court and the Supreme Court, the Supreme Administrative Court and the Supreme Public Prosecutor's Office.</p>
  <br>
  <h2>History</h2>
  <p>The immediate forerunner of Brno is considered to be the fortified settlement of Staré Zámky in the cadastre of today's Líšeň, one of the fortifications of the Great Moravian Empire, whose settlement dates from the end of the Neolithic to the beginning of the 11th century.</p>
  <p>Brno is <u>an ancient crossroads of trade routes</u>, which united northern and southern European civilizations for centuries, and for centuries was the capital of the autonomous Moravian country. As part of the Danube region, the city is historically connected with Vienna, 110 km away.</p>
  <br>
  <h2>Brno - Quick guide </h2>
  <p>The most important landmarks of the city include the castle and fortress of <b>Špilberk</b> on the hill of the same name and the Cathedral of St. Peter and Paul on the top of Petrov, forming a characteristic panorama of the city and often depicted as its symbol.</p>
  <p>The second preserved castle in the territory of Brno is Veveří, once built over the river Svratka and today towering over the Brno dam. Another important monument is the functionalist villa Tugendhat, which has been inscribed on the UNESCO World Heritage List.</p>
  <p><u>The historic city center</u> has been declared a city monument reserve. The Moravian Karst Protected Landscape Area also belongs to the tourist-attractive localities, the southernmost part of which extends into the city.</p>
  <p>Brno is also a wine-growing village within the Velkopavlovice wine-growing sub-region.</p>
  <br>
  <h2>Interesting facts</h2>
  <p>Brno is also famous as the venue for large motor racing events held on the nearby Masaryk Circuit, a tradition that dates back to the 1930s. The most prestigious races include <b>the Grand Prix</b> of the Czech Republic, part of the World Road Motorcycle Championship series.</p>
</div>

<!-- Clinic additional locations -->
<div class="container" id="locationsReferer" style="padding-top:3rem">
  <hr>
  <br>
  <h2><i class="far fa-flag"></i> Specific fertility clinics locations in Czech Republic</h2>
  <br>
  <div class="row">
    <div class="col-6 col-md">
      <h4>Cities:</h4>
      <ul class="list-unstyled text-small">
        <li><a href="{% url 'fertilityClinicPrague' %}">Fertility clinic Prague</a></li>
        <li><a href="{% url 'fertilityClinicBrno' %}">Fertility clinic Brno</a></li>
      </ul>
    </div>
  </div>
</div>

{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/quick-info.js' %}"></script>{% endblock %}
{% endblock  %}
