{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Live Chat settings</h1>
    <br>
  </div>
</div>
<br>
{% include 'partials/_alerts.html' %}
<br>


<div class="container py-4">
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
  <main role="main">
    <div class="container" style="max-width: 70rem; text-align: center">
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
      <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}

        {% if instance.clinicLiveChatChoice == 'Chatra' %}
        <p>1. Sign in to your Chatra.com account</p>
        <p>2. Copy your snippets ID to text input below image.</p>
        <p>3. Press save</p>
        <br>
        <img src="{% static 'img/navody/chatraNavod.png' %}" alt="How to add Chatra to FertilityCommunity" width="100%">
        <br>
        <br>
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicChatraCode.errors }}
          <label for="{{ form.clinicChatraCode.id_for_label}}">Copy Chatra snippet code (<u>without parentheses and quotation marks</u>)</label>
          <div class="fieldWrapper">
            {{ form.clinicChatraCode }}
          </div>
        </div>


        {% elif instance.clinicLiveChatChoice == 'Livechat' %}
        <p>1. Sign in to your Livechat.com account</p>
        <p>2. Copy your snippets ID to text input below image.</p>
        <p>3. Press save</p>
        <img src="{% static 'img/navody/livechatNavod.png' %}" alt="How to add Livechat to FertilityCommunity" width="100%">
        <br>
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicLiveChatCode.errors }}
          <label for="{{ form.clinicLiveChatCode.id_for_label}}">Copy LiveChat snippet code (<u>without parentheses and quotation marks</u>)</label>
          <div class="fieldWrapper">
            {{ form.clinicLiveChatCode }}
          </div>
        </div>


        {% elif instance.clinicLiveChatChoice == 'Olark' %}
        <p>1. Sign in to your Olark.com account</p>
        <p>2. Copy your snippets ID to text input below image.</p>
        <p>3. Press save</p>
        <img src="{% static 'img/navody/olarkNavod.png' %}" alt="How to add Olark to FertilityCommunity" width="100%">
        <br>
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicOlarkCode.errors }}
          <label for="{{ form.clinicOlarkCode.id_for_label}}">Copy Olark snippet code (<u>without parentheses and quotation marks</u>)</label>
          <div class="fieldWrapper">
            {{ form.clinicOlarkCode }}
          </div>
        </div>


        {% elif instance.clinicLiveChatChoice == 'Tidio' %}
        <p>1. Sign in to your Tidio.com account</p>
        <p>2. Copy your snippets ID to text input below image.</p>
        <p>3. Press save</p>
        <img src="{% static 'img/navody/tidioNavod.png' %}" alt="How to add Olark to FertilityCommunity" width="100%">
        <br>
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicTidioCode.errors }}
          <label for="{{ form.clinicTidioCode.id_for_label}}">Copy Tidio snippet code (<u>without parentheses and quotation marks</u>)</label>
          <div class="fieldWrapper">
            {{ form.clinicTidioCode }}
          </div>
        </div>

        {% else %}
        {% endif %}
        <br>
        <br>
        <hr>
        <br>
        <input class="btn btn-outline-dark " type='submit' value='Save' />
      </form>
    </div>
  </main>
</div>
<br>


{% endblock  %}
