{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}Czech IVF costs | {{year}} Comparison{% endblock %}
{% block description %}Search hundreds of Czech Republic fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/ivf-cost/cz{% endblock %}
{% block content %}
<div class="background background-color-gradient">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">Standard IVF costs in Czech Republic | {{year}}</h1>
    <p class="lead" style="color:white">Compare average IVF costs in Czech IVF & fertility clinics</p>
    <div class="row">
      <div class="col-4">
        <select class="form-control" id="ChooseCurrency">
          <option value="" selected>Currency</option>
          <option>USD</option>
          <option>EUR</option>
          <option>GBP</option>
        </select>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'locations' %}" style="text-decoration: none">IVF costs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Czech Republic</li>
      </ol>
    </div>
  </nav>
</div>

<br>
<br>

<div class="container">
  <h2>What are the average IVF treatment costs in Czech Republic?</h2>
  <p>IVF treatment, or <i>in vitro fertilization</i>, is now becoming a sought-after and increasingly successful way to have a child. If you are considering this treatment, see the average prices of individual procedures below.</p>
  <p>Currently, there are <a href="{% url 'fertilityClinicCzech' %}"><u>{{my_total_clinic_count}} IVF clinics in Czech Republic</u></a> in {{year}}. Also read more about <a href="{% url 'ivf_in_czech_republic' %}">IVF in Czech</a>, law limitation and other important information.</p>
  <br>
  <div class="text-center">
    <a href="{% url 'bestivfclinicsinczech' %}">
      <button id="brandButton" type="button" class="btn btn-outline-success btn-lg">Which {{ best_clinics_count }} IVF clinics are the best in the Czech Republic?</button>
    </a>
  </div>
  <br>
  <h3>Average IVF treatment costs </h3>
  <p>These are average prices for IVF procedures at IVF clinics across Czech Republic, so prices may vary. This price does not include medications and as a result may be very different from what the IVF clinic offers to you.</p>
  {% if queryset_list_cz_natural_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_natural_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_natural_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_natural_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_natural_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_natural_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_natural_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_natural_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a <a href="{% url 'everythingYouNeedToKnowAboutNaturalIvf' %}" style="text-decoration: none">natural IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
  {% else %}
    <p>Unknown</p>
  {% endif %}

  {% if queryset_list_cz_mild_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_mild_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_mild_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_mild_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_mild_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_mild_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_mild_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_mild_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a <a href="{% url 'whatismildminiivf' %}" style="text-decoration: none">mild IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
  {% else %}
  {% endif %}

  {% if queryset_list_cz_standard_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_standard_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_standard_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_standard_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_standard_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_standard_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_standard_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_standard_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a <a href="{% url 'blog1' %}" style="text-decoration: none">standard IVF procedure <i class="fas fa-info-circle"></i></a></p></div>
  {% else %}
  {% endif %}

  <br>

  <h3>Average IVF with egg donation treatment costs </h3>
  <p>IVF with <a href="{% url 'whatisivfwitheggdonation' %}" style="text-decoration: none">egg donation </a> is an IVF treatment that uses another woman’s eggs (usually a young fertile and healthy donor) which is then fertilized and implanted into the recipient’s uterus.</p>
  {% if queryset_list_cz_egg_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_egg_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with anonymous egg donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_egg_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with anonymous egg donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_egg_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with anonymous egg donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_egg_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with anonymous egg donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_egg_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with anonymous egg donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_egg_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with anonymous egg donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_egg_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with anonymous egg donation</p></div>
  {% else %}
  {% endif %}

  {% if queryset_list_cz_known_egg_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_known_egg_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with known egg donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_known_egg_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with known egg donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_known_egg_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with known egg donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_known_egg_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with known egg donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_known_egg_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with known egg donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_known_egg_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with known egg donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_known_egg_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with known egg donation</p></div>
  {% else %}
  {% endif %}

  {% if queryset_list_cz_shared_egg_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_shared_egg_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with shared egg donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_shared_egg_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with shared egg donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_shared_egg_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with shared egg donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_shared_egg_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with shared egg donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_shared_egg_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with shared egg donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_shared_egg_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with shared egg donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_shared_egg_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with shared egg donation</p></div>
  {% else %}
  {% endif %}

  <br>

  <h3>Average IVF with embryo donation treatment costs </h3>
  <p>IVF with embryo donation is a type of third-party reproduction in which unused embryos remaining from one person/couple’s IVF treatment are donated to another person or couple because IVF procedure often creates an excess of fertilized eggs(embryos).</p>
  {% if queryset_list_cz_embryo_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_embryo_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with anonymous embryo donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_embryo_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with anonymous embryo donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_embryo_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with anonymous embryo donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_embryo_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with anonymous embryo donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_embryo_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with anonymous embryo donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_embryo_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with anonymous embryo donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_embryo_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with anonymous embryo donation</p></div>
  {% else %}
  {% endif %}

  {% if queryset_list_cz_known_embryo_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_known_embryo_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with known embryo donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_known_embryo_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with known embryo donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_known_embryo_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with known embryo donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_known_embryo_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with known embryo donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_known_embryo_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with known embryo donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_known_embryo_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with known embryo donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_known_embryo_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with known embryo donation</p></div>
  {% else %}
  {% endif %}

  <br>

  <h3>Average IVF with sperm donation treatment costs </h3>
  <p>Donor sperm can be used with IVF or intrauterine insemination (IUI). If you are using a sperm donor along with your IVF procedure, you will still receive fertility medications to prepare your eggs for retrieval.</p>
  {% if queryset_list_cz_sperm_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_sperm_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with anonymous sperm donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_sperm_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with anonymous sperm donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_sperm_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with anonymous sperm donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_sperm_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with anonymous sperm donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_sperm_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with anonymous sperm donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_sperm_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with anonymous sperm donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_sperm_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with anonymous sperm donation</p></div>
  {% else %}
  {% endif %}

  {% if queryset_list_cz_known_sperm_ivf_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_known_sperm_ivf_val|convert:'USD'|floatformat:'0'|intcomma }} for a IVF with known sperm donation</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_known_sperm_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} for a IVF with known sperm donation</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_known_sperm_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for a IVF with known sperm donation</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_known_sperm_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for a IVF with known sperm donation</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_known_sperm_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for a IVF with known sperm donation</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_known_sperm_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR for a IVF with known sperm donation</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_known_sperm_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for a IVF with known sperm donation</p></div>
  {% else %}
  {% endif %}

  <br>

  <h3>Average ICSI treatment costs </h3>
  <p>ICSI is a type of treatment for men with infertility. It's performed as part of in vitro fertilization (IVF) and it involves the sperm being injected directly into the egg. Sometimes, men may need their sperm to be surgically extracted first.</p>
  {% if queryset_list_cz_icsi_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_icsi_val|convert:'USD'|floatformat:'0'|intcomma }} for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_icsi_val|convert:'EUR'|floatformat:'0'|intcomma}} for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_icsi_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_icsi_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_icsi_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_icsi_val|convert:'INR'|floatformat:'0'|intcomma}} INR for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_icsi_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for <a href="{% url 'whatisicsitreatment' %}" style="text-decoration: none">ICSI treatment <i class="fas fa-info-circle"></i></a></p></div>
  {% else %}
  {% endif %}


  <br>

  <h3>Average IUI treatment costs </h3>
  <p>Intrauterine insemination (IUI) is a simple and fast way to try for a baby using donor sperm. Usually performed without the use of any medication, a typical cycle of treatment takes just four weeks.</p>
  {% if queryset_list_cz_iui_val %}
    <div class="treatmentCostsUSDCurrency"><p>- ${{ queryset_list_cz_iui_val|convert:'USD'|floatformat:'0'|intcomma }} for IUI treatment</p></div>
    <div class="treatmentCostsEURCurrency" style="display:none"><p>- €{{ queryset_list_cz_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} for IUI treatment</p></div>
    <div class="treatmentCostsGBPCurrency" style="display:none"><p>- {{ queryset_list_cz_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP for IUI treatment</p></div>
    <div class="treatmentCostsCZKCurrency" style="display:none"><p>- {{ queryset_list_cz_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK for IUI treatment</p></div>
    <div class="treatmentCostsMXNCurrency" style="display:none"><p>- {{ queryset_list_cz_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN for IUI treatment</p></div>
    <div class="treatmentCostsINRCurrency" style="display:none"><p>- {{ queryset_list_cz_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR for IUI treatment</p></div>
    <div class="treatmentCostsCADCurrency" style="display:none"><p>- {{ queryset_list_cz_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD for IUI treatment</p></div>
  {% else %}
  {% endif %}

</div>

<br>
<br>

<div class="container">
  <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#standardIVF" role="tab" aria-controls="home" aria-selected="true" style="text-align: center; text-decoration: none">Standard IVF</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#eggDonation" role="tab" aria-controls="profile" aria-selected="false" style="text-align: center; text-decoration: none">IVF with egg donation</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#embryoDonation" role="tab" aria-controls="contact" aria-selected="false" style="text-align: center; text-decoration: none">IVF with embryo donation</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#spermDonation" role="tab" aria-controls="contact" aria-selected="false" style="text-align: center; text-decoration: none">IVF with sperm donation</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#icsi" role="tab" aria-controls="contact" aria-selected="false" style="text-align: center; text-decoration: none">ICSI</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#iui" role="tab" aria-controls="contact" aria-selected="false" style="text-align: center; text-decoration: none">IUI</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="standardIVF" role="tabpanel" aria-labelledby="home-tab">
      <h2 style="padding-top:3rem">Average prices of standard IVF (with ovarian stimulation)</h2>
      <p style="font-size: 15px"><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">City</th>
              <th scope="col" style="text-align: center;">Average cost</th>
              <th scope="col" style="text-align: right;">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicPrague' %}"><u>Prague ({{ my_total_clinic_count_prague }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_prague_ivf_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_prague_ivf_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_prague_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_prague_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_prague_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_prague_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_prague_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_prague_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicPrague' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Prague IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicBrno' %}"><u>Brno ({% if my_total_clinic_count_brno %}{{ my_total_clinic_count_brno }} clinics){% else %}0 clinics){% endif %}</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_brno_ivf_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_brno_ivf_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_brno_ivf_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_brno_ivf_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_brno_ivf_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_brno_ivf_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_brno_ivf_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_brno_ivf_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="eggDonation" role="tabpanel" aria-labelledby="home-tab">
      <h2 style="padding-top:3rem">Average prices of IVF with egg donation</h2>
      <p style="font-size: 15px"><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">City</th>
              <th scope="col" style="text-align: center;">Average cost</th>
              <th scope="col" style="text-align: right;">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicPrague' %}"><u>Prague ({{ my_total_clinic_count_prague }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_prague_egg_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_prague_egg_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_prague_egg_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_prague_egg_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_prague_egg_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_prague_egg_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_prague_egg_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_prague_egg_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicBrno' %}"><u>Brno ({{ my_total_clinic_count_brno }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_brno_egg_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_brno_egg_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_brno_egg_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_brno_egg_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_brno_egg_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_brno_egg_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_brno_egg_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_brno_egg_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="embryoDonation" role="tabpanel" aria-labelledby="home-tab">
      <h2 style="padding-top:3rem">Average prices of IVF with embryo donation</h2>
      <p style="font-size: 15px"><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">City</th>
              <th scope="col" style="text-align: center;">Average cost</th>
              <th scope="col" style="text-align: right;">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicPrague' %}"><u>Prague ({{ my_total_clinic_count_prague }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_prague_embryo_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_prague_embryo_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_prague_embryo_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_prague_embryo_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_prague_embryo_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_prague_embryo_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_prague_embryo_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_prague_embryo_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicPrague' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Prague IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicBrno' %}"><u>Brno ({{ my_total_clinic_count_brno }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_brno_embryo_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_brno_embryo_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_brno_embryo_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_brno_embryo_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_brno_embryo_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_brno_embryo_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_brno_embryo_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_brno_embryo_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="spermDonation" role="tabpanel" aria-labelledby="home-tab">
      <h2 style="padding-top:3rem">Average prices of IVF with sperm donation</h2>
      <p style="font-size: 15px"><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">City</th>
              <th scope="col" style="text-align: center;">Average cost</th>
              <th scope="col" style="text-align: right;">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicPrague' %}"><u>Prague ({{ my_total_clinic_count_prague }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_prague_sperm_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_prague_sperm_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_prague_sperm_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_prague_sperm_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_prague_sperm_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_prague_sperm_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_prague_sperm_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_prague_sperm_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicPrague' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Prague IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicBrno' %}"><u>Brno ({{ my_total_clinic_count_brno }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_brno_sperm_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_brno_sperm_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_brno_sperm_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_brno_sperm_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_brno_sperm_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_brno_sperm_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_brno_sperm_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_brno_sperm_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="icsi" role="tabpanel" aria-labelledby="home-tab">
      <h2 style="padding-top:3rem">Average prices of ICSI treatment</h2>
      <p style="font-size: 15px"><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">City</th>
              <th scope="col" style="text-align: center;">Average cost</th>
              <th scope="col" style="text-align: right;">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicPrague' %}"><u>Prague ({{ my_total_clinic_count_prague }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_prague_icsi_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_prague_icsi_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_prague_icsi_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_prague_icsi_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_prague_icsi_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_prague_icsi_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_prague_icsi_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_prague_icsi_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicPrague' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Prague IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicBrno' %}"><u>Brno ({{ my_total_clinic_count_brno }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_brno_icsi_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_brno_icsi_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_brno_icsi_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_brno_icsi_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_brno_icsi_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_brno_icsi_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_brno_icsi_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_brno_icsi_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="iui" role="tabpanel" aria-labelledby="home-tab">
      <h2 style="padding-top:3rem">Average prices of IUI treatment</h2>
      <p style="font-size: 15px"><i>*Medications, packages, pretests and additional procedures not included</i></p>
      <div class="table-responsive-xl">
        <table class="table table-hover">
          <thead class="thead" style="background-color: #286DA8; color: white">
            <tr>
              <th scope="col">City</th>
              <th scope="col" style="text-align: center;">Average cost</th>
              <th scope="col" style="text-align: right;">Clinics</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicPrague' %}"><u>Prague ({{ my_total_clinic_count_prague }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_prague_iui_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_prague_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_prague_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_prague_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_prague_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_prague_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_prague_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_prague_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicPrague' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Prague IVF Clinics</button></a></td>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'fertilityClinicBrno' %}"><u>Brno ({{ my_total_clinic_count_brno }} clinics)</u></a></th>
              <td style="font-size: 14px">
                {% if queryset_list_brno_iui_val %}
                  <div class="treatmentCostsUSDCurrency">{{ queryset_list_brno_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                  <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_brno_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                  <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_brno_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                  <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_brno_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                  <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_brno_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                  <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_brno_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                  <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_brno_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                {% else %}
                  Unknown
                {% endif %}
              </td>
              <td style="font-size: 14px; text-align:right"><a href="{% url 'fertilityClinicBrno' %}"><button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Brno IVF Clinics</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
<br>

{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary.js' %}"></script>{% endblock %}
{% endblock  %}
