{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Dashboard</h1>
    <h3 style="color:white">Fertility coach & expert</h3>
    <br>
    <a hidden href="{% url 'howtousefertilitycommunity' %}">
      <button class="btn btn-outline-light" type="button" style="text-decoration: none">How to use FertilityCommunity</button>
    </a>
    <br>
    <br>
  </div>
</div>

{% if no_model %}
<div class="container py-5">
  <div class="jumbotron">
    <p>You have not created any Fertility Coach profile yet. <a href="{% url 'create_coach_profile' %}"><u>Add</u></a> new one.</p>
  </div>
</div>
{% endif %}

{% if coaches %}
<div class="container py-4">
{% include 'partials/_alerts.html' %}
  <div class="card mt-5">
    <div class="card-header">
      {% if coaches.coach_is_premium == True %}<span class="badge badge-primary text-left mb-2">PREMIUM</span>{% else %}<span class="badge badge-secondary text-left mb-2">BASIC</span>{% endif %}
      <h2>Profile: {{ coaches.coach_full_name }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm" style="padding-top: 1rem;">
          <a href="{% url 'update_coach_profile' coaches.id %}" style="text-decoration: none">
            <button class="btn btn-block btn-info" type="button"><i class="fas fa-tools"></i> Update profile</button>
          </a>
        </div>
        <div class="col-sm" style="padding-top: 1rem;">
          <a href="{% url 'coach:coach-detail' coaches.pk coaches.coach_username %}" style="text-decoration: none; !important">
            <button class="btn btn-block btn-info" type="button"><i class="fas fa-eye"></i> View profile</button>
          </a>
        </div>
        <div class="col-sm" style="padding-top: 1rem;">
          <a href="" style="text-decoration: none; !important">
            <button class="btn btn-success text-light btn-block" type="button">Why upgrade?</button>
          </a>
        </div>
        <div class="col-sm-1" style="padding-top: 1rem;">
          <a href="{% url 'coach:coach-delete' coaches.pk coaches.coach_username %}" style="text-decoration: none; !important">
            <button class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Delete profile and snippets in it"><i class="fa fa-trash"></i></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% if snippets %}
<div class="container py-4 text-center">
    <div class="card mt-5">
      <div class="card-header">
        <h2>Snippets and available articles {{count}}</h2>
        <p>Snippets are your short professional comments relevant to articles on our site. They may contain expert knowledge, your experience, or additional data. It serves to build the authority, relevance and credibility of your profiles.</p>
      </div>
      <div class="table-responsive-lg">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Article published</th>
              <th scope="col">Newest articles</th>
              <th scope="col">Status</th>
              <th scope="col">Options</th>
            </tr>
          </thead>

          <tbody>
            {% for snippet_obj in snippets.all %}
            <tr>
              <td>
                <label>{{blog.created_at|date:"SHORT_DATE_FORMAT"}}</label>
              </td>
              <td>
                <a href="{{blog.blog_url}}"> PRO {{snippet_obj.snippet_blog_relationship.title}} | {{snippet_obj.snippet_blog_relationship.id}} | {{snippet_obj.id}} | {{snippet_obj.snippet_owner.id}} | {{snippet_obj.id}}</a>
              </td>
              <td>
                {% if snippet_obj.status == 'wait for review' %}
                  <div class="fa-solid fa-question" style="color:orange" data-toggle="tooltip" data-placement="top" title="Wait for our team to review your snippet (usually within 48 hours)"></div>
                {% elif snippet_obj.status == 'is published' %}
                  <div class="fa-solid fa-check" style="color:green" data-toggle="tooltip" data-placement="top" title="This snippet is published and can be seen in a selected article"></div>
                {% else %}
                  <div class="fa-solid fa-ban" style="color:red" data-toggle="tooltip" data-placement="top" title="This snippet was not approved. Usually because of the irelevant or very general content of the snippet. Please edit snippet or contact us directly."></div>
                {% endif %}
              </td>
              <td>
                {% if snippet_obj.status == 'wait for review' %}
                {% else %}
                <a href="" style="text-decoration: none">
                  <button class="btn btn-sm btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Edit snippet of this article"><i class="fa fa-edit"></i></button>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% for blog in blogs.all %}
              {% if blog.snippet_blog_conn.all %}
                {% for entry in blog.snippet_blog_conn.all %}
                  {% if entry.snippet_owner.id == True %}
                  <tr>
                    <td>
                      <label>{{blog.created_at|date:"SHORT_DATE_FORMAT"}}</label>
                    </td>
                    <td>
                      <a href="{{blog.blog_url}}"> PRO {{blog.title}} | {{entry.snippet_blog_relationship.id}} | {{blog.id}} | {{entry.snippet_owner.id}} | {{coaches.id}}</a>
                    </td>
                    <td>
                      {% if entry.status == 'wait for review' %}
                        <div class="fa-solid fa-question" style="color:orange" data-toggle="tooltip" data-placement="top" title="Wait for our team to review your snippet (usually within 48 hours)"></div>
                      {% elif entry.status == 'is published' %}
                        <div class="fa-solid fa-check" style="color:green" data-toggle="tooltip" data-placement="top" title="This snippet is published and can be seen in a selected article"></div>
                      {% else %}
                        <div class="fa-solid fa-ban" style="color:red" data-toggle="tooltip" data-placement="top" title="This snippet was not approved. Usually because of the irelevant or very general content of the snippet. Please edit snippet or contact us directly."></div>
                      {% endif %}
                    </td>
                    <td>
                      {% if entry.status == 'wait for review' %}
                      {% else %}
                      <a href="{% url 'coach:snippet-update' blog.id entry.snippet_blog_relationship.id %}" style="text-decoration: none">
                        <button class="btn btn-sm btn-info" type="button" data-toggle="tooltip" data-placement="top" title="Edit snippet of this article"><i class="fa fa-edit"></i></button>
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
              {% else %}
                  <tr>
                    <td>
                      <label>{{blog.created_at|date:"SHORT_DATE_FORMAT"}}</label>
                    </td>
                    <td>
                      <a href="{{blog.blog_url}}">{{blog.title}} | {{entry.snippet_blog_relationship.id}} | {{blog.id}} | {{entry.snippet_owner.id}} | {{coaches.id}}</a>
                    </td>
                    <td>

                    </td>
                    <td>
                      <a href="{% url 'coach:snippet-create' blog.id %}" style="text-decoration: none">
                        <button class="btn btn-sm btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Add snippet to this article"><i class="fa fa-plus"></i></button>
                      </a>
                    </td>
                  </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</div>
{% else %}
<div class="container py-4 text-center">
  <a href="{% url 'coach:snippet-create' %}" style="text-decoration: none; !important">
    <button class="btn btn-lg btn-inline btn-info" type="button"><i class="fas fa-plus"></i> Add snippet</button>
  </a>
</div>
{% endif %}
{% endif %}


{% endblock  %}
