{% extends "main/base.html" %}
{% load static %}
{% block content %}

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Update profile</h1>
    <p  style="color:white">Update your fertility specialist profile</p>
    <br>
  </div>
</div>

{% if form.errors %}
<div class="container pt-4">
  <div class="alert alert-danger" role="alert">
      <p>Errors occurred in one or more fields - check below</p>
  </div>
</div>
{% endif %}

<div class="container py-4">
  <form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.source.errors }}
    {{ form.source }}

    <section class="py-5">
      <h2>Basic information</h2>
      <div class="fieldWrapper py-3" style="text-align: left">
        {% if form.coach_full_name.errors %}<div class="alert alert-danger" role="alert">{{ form.coach_full_name.errors }}</div>{% endif %}
        <label for="{{ form.coach_full_name.id_for_label}}">Full name*:</label>
        {{ form.coach_full_name }}
      </div>
      <div class="fieldWrapper py-3" style="text-align: left">
        {% if form.coach_username.errors %}<div class="alert alert-danger" role="alert">{{ form.coach_username.errors }}</div>{% endif %}
        <label for="{{ form.coach_username.id_for_label}}">Username (will be used in slug for your profile URL)*:</label>
        {{ form.coach_username }}
      </div>
      <div class="fieldWrapper py-3" style="text-align: left">
        {% if form.coach_preferred_client_country.errors %}<div class="alert alert-danger" role="alert">{{ form.coach_preferred_client_country.errors }}</div>{% endif %}
        <label for="{{ form.coach_preferred_client_country.id_for_label}}">Country you live in:</label>
        {{ form.coach_preferred_client_country }}
      </div>
      <div class="fieldWrapper py-3" style="text-align: left">
        <labelChoose your specialization*:</label>
        <div class="row">
          <div class="col-4">
            {{ form.job_fertility_coach }}
            <label>Fertility Coach</label>
          </div>
          <div class="col-4">
            {{ form.job_fertility_specialist }}
            <label>Fertility Specialist</label>
          </div>
          <div class="col-4">
            {{ form.job_reproductive_endocrinologist }}
            <label>Reproductive Endocrinologist</label>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{ form.job_andrologist }}
            <label>Andrologist</label>
          </div>
          <div class="col-4">
            {{ form.job_reproductive_surgeon }}
            <label>Reproductive Surgeon</label>
          </div>
          <div class="col-4">
            {{ form.job_reproductive_immunologist }}
            <label>Reproductive Immunologist</label>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{ form.job_obstetrician }}
            <label>Obstetrician</label>
          </div>
          <div class="col-4">
            {{ form.job_gynecologist }}
            <label>Gynecologist</label>
          </div>
          <div class="col-4">
          </div>
        </div>
      </div>
      <style> .django-ckeditor-widget { min-width:100% !important; } </style>
      <div class="fieldWrapper py-2" style="text-align:">
        {% if form.coach_bio.errors %}<div class="alert alert-danger" role="alert">{{ form.coach_bio.errors }}</div>{% endif %}
        <label>Your BIO (max 150 characters):</label>
        {{ form.coach_bio }}
      </div>
      <div class="fieldWrapper py-2" style="text-align: left">
          <label for="{{ form.coach_profile_photo.id_for_label}}"></label>
          <label>Upload profile image (1080x1080 px)*:</label>
          <p style="font-size:10px">{{ form.coach_profile_photo }}</p>
      </div>
    </section>

    <section class="py-5">
      <h2>Contact information</h2>
      <div class="fieldWrapper py-3" style="text-align: left">
        {% if form.coach_contact_email.errors %}<div class="alert alert-danger" role="alert">{{ form.coach_contact_email.errors }}</div>{% endif %}
        <label for="{{ form.coach_contact_email.id_for_label}}">Email:</label>
        {{ form.coach_contact_email }}
      </div>
      <div class="fieldWrapper py-3" style="text-align: left">
        {% if form.coach_phone.errors %}<div class="alert alert-danger" role="alert">{{ form.coach_phone.errors }}</div>{% endif %}
        <label for="{{ form.coach_phone.id_for_label}}">Phone:</label>
        {{ form.coach_phone }}
      </div>
    </section>

    <section class="py-5">
      <h2 >Preferred settings:</h2>
      <div class="fieldWrapper py-3" style="text-align: left">
        {% if form.m2m_languages.errors %}<div class="alert alert-danger" role="alert">{{ form.m2m_languages.errors }}</div>{% endif %}
        <label for="{{ form.m2m_languages.id_for_label}}">Preferred m2m language:</label>
<!--        <div class="row">-->
<!--          {% for checkbox in form.m2m_languages %}-->
<!--          <div class="col-4 text-center">-->
<!--            {{ checkbox }}-->
<!--          </div>-->
<!--          {% endfor %}-->
<!--        </div>-->
        {{ form.m2m_languages }}
      </div>
    </section>

  <section class="py-5">
    <h2>Clinic Social Media</h2>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md align-self-center" style="font-family: 'Josefin Sans';">
          Instagram page URL*:
        </div>
        <div class="col-md">
          {{ form.coach_social_instagram }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md align-self-center" style="font-family: 'Josefin Sans';">
          Facebook profile URL:
        </div>
        <div class="col-md">
          {{ form.coach_social_facebook }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md align-self-center" style="font-family: 'Josefin Sans';">
          LinkedIn profile URL:
        </div>
        <div class="col-md">
          {{ form.coach_social_linkedin }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md align-self-center" style="font-family: 'Josefin Sans';">
          Pinterest profile URL:
        </div>
        <div class="col-md">
          {{ form.coach_social_pinterest }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md align-self-center" style="font-family: 'Josefin Sans';">
          Twitter profile URL:
        </div>
        <div class="col-md">
          {{ form.coach_social_twitter }}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md align-self-center" style="font-family: 'Josefin Sans';">
          Your own website URL:
        </div>
        <div class="col-md">
          {{ form.coach_social_website }}
        </div>
      </div>
    </section>

    <div class="text-center py-5">
      <input class="btn btn-success" type='submit' value='Update information' />
    </div>
  </form>
</div>

{% endblock %}