{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}Compare {{ my_total_count }} fertility clinics in Cyprus | 2021{% endblock %}
{% block description %}Need to quickly compare the best IVF clinics in Cyprus to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/fertility-clinics/cyprus{% endblock %}
{% block meta_keywords %}fertility clinic cyprus, best ivf clinic in cyprus, cyprus ivf clinics, embryo clinic cyprus{% endblock %}

{% block ogType %}<meta property='og:type' content='website' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://fertilitycommunity.com/static/img/locations/FertilityClinicsCyprus.webp" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}


{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:3rem; padding-bottom:1rem; color:white">
          {{ my_total_count }} of the BEST fertility clinics in Cyprus
    </h1>
    <p style="font-size: 20px; color: white !important">IVF clinics in Cyprus are very popular in the world of IVF treatment. They offer various kinds of fertility diagnosis and treatment, intrauterine insemination (IUI), In Vitro Fertilization (IVF), egg donation IVF, embryo donation IVF or sperm donation IVF, assisted hatching, PGD and other services.</p>
  </div>

  <!-- Filter section -->

  <div class="container">
    <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filter location or treatments</button>
    <br>
    <br>
    <div class="collapse" id="collapseExample">
      <div class="accordion" id="accordionExample" style="padding-bottom:2rem">
        <div class="lol" style="background-color: #286DA8">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <br>
              <div hidden class="form-group" style="padding-top:1rem">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                      <option value="" selected>Select state</option>
                      <optgroup label="North America">
                        {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                        <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Europe">
                        {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                        <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </optgroup>
                      <optgroup label="Asia">
                        {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                        <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                      </optgroup>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem" id="regions-us">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                      <option value="" selected>Choose cyprus city</option>
                      {% for key, value in CATEGORY_CHOICES_CY_CITIES.items %}
                      <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem">
                <div class="accordion" id="accordionExample">
                  <div class="card" id="cardBox" style="border-radius: 8px;">
                    <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                      <button id="treatmentsBtn" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {% if values.treatments == None %}Types of treatments
                        {% elif values.treatments == '' %}Types of treatments
                        {% elif values.treatments == 'Alltreatmentstrue' %}All treatments
                        {% elif values.treatments == 'IVFtreatmenttrue' %}Natural IVF
                        {% elif values.treatments == 'IVFtreatmentmildtrue' %}Mild (mini) IVF
                        {% elif values.treatments == 'IVFtreatmentovariantrue' %}Standard IVF
                        {% elif values.treatments == 'ICSItreatmenttrue' %}ICSI treatment
                        {% elif values.treatments == 'Eggdonationrecipientstrue' %}IVF with Egg donation
                        {% elif values.treatments == 'Spermdonationrecipientstrue' %}IVF with Sperm donation
                        {% elif values.treatments == 'Embryodonationrecipientstrue' %}IVF with Embryo donation
                        {% elif values.treatments == 'EggFreezingtrue' %}Egg freezing
                        {% elif values.treatments == 'EmbryoFreezingtrue' %}Embryo freezing
                        {% elif values.treatments == 'SpermFreezingtrue' %}Sperm freezing
                        {% elif values.treatments == 'Surrogacytrue' %}Gestational surrogacy
                        {% elif values.treatments == 'IUItreatmenttrue' %}IUI treatment
                        {% elif values.treatments == 'Singlewomantreatmenttrue' %}Single woman treatment
                        {% elif values.treatments == 'ReciprocalIVFtrue' %}Reciprocal IVF (LGBTQ)
                        {% endif %}
                      </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments" {% if values.treatments == 'Alltreatmentstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="All treatment">All treatments</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments" {% if values.treatments == 'IUItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments" {% if values.treatments == 'IVFtreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment">Natural IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment mild" value="IVFtreatmentmildtrue" name="treatments" {% if values.treatments == 'IVFtreatmentmildtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment mild">Mild (mini) IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment ovarian" value="IVFtreatmentovariantrue" name="treatments" {% if values.treatments == 'IVFtreatmentovariantrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment ovarian">Standard IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments" {% if values.treatments == 'ICSItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments" {% if values.treatments == 'Eggdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg donation recipients">IVF with Egg donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments" {% if values.treatments == 'Spermdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm donation recipients">IVF with Sperm donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments" {% if values.treatments == 'Embryodonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo donation recipients">IVF with Embryo donation</label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments" {% if values.treatments == 'EggFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments" {% if values.treatments == 'EmbryoFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments" {% if values.treatments == 'SpermFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments" {% if values.treatments == 'Surrogacytrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Surrogacy">Gestational surrogacy</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments" {% if values.treatments == 'Singlewomantreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments" {% if values.treatments == 'ReciprocalIVFtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:2rem">
                <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
                <br>
              </div>
            </div>
          </form>
          <hr noshade style="border-top: 1px solid white">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <h5 class="mb-0 text-left" id="headingOne">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <i class="fas fa-filter"></i> Change country
                </button>
              </h5>
              <div class="accordion" id="accordion1Example" style="padding-bottom:2rem">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1Example">
                  <br>
                  <div class="form-group" style="padding-top:1rem">
                    <div class="card" style="border-radius: 8px;">
                      <div class="card-header" style="background-color: white; border-radius: 8px;">
                        <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                          <option value="" selected>Select state</option>
                          <optgroup label="North America">
                            {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Europe">
                            {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Asia">
                            {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="padding-top:1rem;">
                    <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg">Change Country</button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Interesting links section -->
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb" style="padding-top: 10px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Fertility clinics in Cyprus</li>
        <li class="breadcrumb-item" aria-current="page">
          <button class="btn btn-sm btn-outline-dark" data-toggle="collapse" href="#cityCollapse" role="button" aria-expanded="false" aria-controls="cityCollapse" style="text-decoration: none">
            Choose city
          </button>
        </li>
      </ol>
      <div class="collapse" id="cityCollapse">
        <div class="row">
          <div class="col-sm-6">
            <li><a class="text-muted" href="{% url 'fertilityClinicsGirne' %}">Girne fertility clinics ({{girneclinics}} clinics)</a></li>
          </div>
          <div class="col-sm-6">
            <li><a class="text-muted" href="{% url 'fertilityClinicsNicosia' %}">Nicosia fertility clinics ({{nicosiaclinics}} clinics)</a></li>
          </div>
        </div>
        <br>
      </div>
    </div>
  </nav>
</div>

<!-- PRO Clinic listings section -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% if paginationing %}
      {% for order_datas in order_data %}

      {% if order_datas.clinic_pro_logo_pic %}
      <script type="application/ld+json">
        {
          "name" : "{{ order_datas.clinicName }}",
          "image" : "{{ order_datas.clinic_pro_logo_pic }}",
          "address" : {
            "streetAddress" : "{{ order_datas.clinicStreetAddress }}",
            "addressLocality" : "{{ order_datas.clinicCity }}",
            "postalCode" : "{{ order_datas.clinicPostalCode }}",
            "addressRegion" : "{{ order_datas.clinicRegion }}",
            "addressCountry" : "{{ order_datas.clinicState }}",
            "@type" : "PostalAddress"
          },
          "@type" : "MedicalClinic",
          "@context" : "http://schema.org"
        }
      </script>
      {% else %}
      <script type="application/ld+json">
        {
          "name" : "{{ order_datas.clinicName }}",
          "image" : "{% static 'img/hospital.svg' %}",
          "address" : {
            "streetAddress" : "{{ order_datas.clinicStreetAddress }}",
            "addressLocality" : "{{ order_datas.clinicCity }}",
            "postalCode" : "{{ order_datas.clinicPostalCode }}",
            "addressRegion" : "{{ order_datas.clinicRegion }}",
            "addressCountry" : "{{ order_datas.clinicState }}",
            "@type" : "PostalAddress"
          },
          "@type" : "MedicalClinic",
          "@context" : "http://schema.org"
        }
      </script>
      {% endif %}
      {% endfor %}
      {% include 'AllInclude/locations/clinic-boxes-dti.html' %}

      {% else %}
      <div class="container" style="background-color: white; padding-top: 0px; border-radius: 8px; border-color: #286DA8;">
        <div class="container" style="padding-top: 20px">
          <div class="header">
            <div class="container" id="nameInfo" style="padding-bottom:5rem">
              <div class="row align-self-center align-items-center">
                <h2 class="display-5" style="padding-bottom:2rem">Sorry, there are no clinics for this search query.</h2>
                <p>Please try different countries or treatment options</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Treatment average prices -->
    <div class="col-sm-4">
      <div class="jumbotron jumbotron-fluid" style="background-color: #dedede;">
        <div class="container">
          <h2 style="font-size: 22px !important;"><i class="fas fa-info-circle"></i> Quick info - Cyprus fertility treatment costs in 2021:</h2>

          {% include 'AllInclude/locations/quick-info.html' %}

          <div class="row">
            <div class="col-6 col-md">
              <a href="{% url 'locationsCYRegions' %}" style="font-size: 14px !important;">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-flag"></i> Cyprus Compare
                </button>
              </a>
            </div>
            <div class="col-6 col-md">
              <a href="{% url 'locations' %}">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-globe"></i> World Compare
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- Clinic additional locations -->
<div class="container" style="text-align: center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if paginationing.has_previous %}
        <a class="page-link" href="?{% param_replace page=1 %}">&laquo; First</a>
      </li>
      <li class="page-item">
        {% if page_obj.previous_page_number != 1 %}
        <a class="page-link" href="?{% param_replace page=paginationing.previous_page_number %}">Previous</a>
        {% endif %}
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link">Page {{ paginationing.number }} of {{ paginationing.paginator.num_pages }}</a>
      </li>

      {% if paginationing.has_next %}
      <li class="page-item">
        {% if paginationing.next_page_number != paginator.num_pages %}
        <a class="page-link" href="?{% param_replace page=paginationing.next_page_number %}">Next</a>
        {% endif %}
        {% endif %}
      </li>
    </ul>
  </nav>
</div>

<br>
<br>

{% include 'AllInclude/locations/packages.html' %}

<br>
<br>

{% if guestblog %}
  {% include 'AllInclude/locations/guestblogging.html' %}
{% endif %}

<br>
<br>

<div class="container">
  <a name="more_information"></a>
  <h2>General Information</h2>
  <p><a href="https://en.wikipedia.org/wiki/Cyprus" rel="nofollow">Cyprus</a> is a Eurasian island nation located in the eastern part of the Mediterranean Sea, east of Greece, south of Turkey, west of Syria and north of Egypt. It is <b>the third largest island</b> in the Mediterranean and a major tourist destination. </p>
  <p>It is referred to as the Island of Two Faces. It is divided into Greek and Turkish parts, which are separated by the Green Line and Attila's line. While the southern part, the Republic of Cyprus, is internationally recognized (as evidenced by its membership in the European Union), only Turkey recognized the Turkish Republic of Northern Cyprus.</p>
  <br>
  <h2>History</h2>
  <p>From 1878 the island was ruled by the British. As their colonial power began to crumble in the second half of the 20th century, Turkish Cypriots began to seek annexation to Turkey, while Greek politicians called for unification with Greece. The Greek and Turkish governments supported these tendencies.</p>
  <p>Britain <u>granted independence in 1960</u>.</p>
  <p>On July 15, 1974, Greek nationalists came to power and, in cooperation with the Greek military junta, planned to annex Cyprus to Greece. Turkey responded on July 20 with a military invasion of northern Cyprus. In 1983, the Turkish Cypriots declared a unilaterally independent state, Northern Cyprus. However, the only one who ever recognized Northern Cyprus was Turkey. </p>
  <p>The situation remains the subject of ongoing disputes. The Republic of Cyprus has de jure sovereignty over the whole island and adjacent waters, with the exception of the military bases of Akrotiri and Dekelia belonging to the United Kingdom. In fact, around 59% of the island is under the administration of the Republic of Cyprus, 36% of the island's area is controlled by the Turks, and another 4% by UN troops.</p>
  <br>
  <h2>Quick guide </h2>
  <p>Cyprus is one of the Mediterranean countries with the richest history. It was inhabited about <b>ten thousand years BC</b>.</p>
  <p>Cypriot cities have two names. The second names originated at a time when the area fell under the rule of the Lusignans, who were unable to pronounce the original names. The new names were usually created by translating the original ones from Greek.</p>
  <p>In Cyprus you drive on the left side of the road. Most indicators are in Greek and English, in the northern part of the island in Turkish.</p>
  <br>
  <h2>Interesting facts</h2>
  <p>The ruins of the castle of St. Hilarion reportedly inspired <u>Walt Disney</u> to animate a fairy tale about Snow White and the Seven Dwarfs. There are a <b>large number of cats</b> living in Cyprus. Legend has it, that they were brought here by St. Helena, the mother of the Byzantine Emperor Justinian, to deal with the multiplied snakes.</p>
</div>

<!-- Clinic additional locations -->
<div class="container" id="locationsReferer" style="padding-top:3rem">
  <hr>
  <br>
  <h2><i class="far fa-flag"></i> Specific fertility clinics locations in Cyprus</h2>
  <br>
  <div class="row">
    <div class="col-6 col-md">
      <h4>Cities:</h4>
      <ul class="list-unstyled text-small">
        <li><a href="{% url 'fertilityClinicsNicosia' %}">Fertility clinic Nicosia</a></li>
        <li><a href="{% url 'fertilityClinicsGirne' %}">Fertility clinic Girne</a></li>
      </ul>
    </div>
  </div>
</div>



{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/quick-info.js' %}"></script>{% endblock %}
{% endblock  %}
