{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}Fertility clinics in Georgia | Found {{ my_total_count }} clinics | {{year}}{% endblock %}
{% block description %}Need to quickly compare the best IVF clinics in Georgia to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/fertility-clinics/usa/georgia{% endblock %}
{% block meta_keywords %}search fertility clinic georgia, search ivf clinics georgia, search fertility doctor georgia, search fertility specialist georgia, search fertility center georgia, search private fertility clinic georgia{% endblock %}

{% block ogType %}<meta property='og:type' content='website' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://fertilitycommunity.com/static/img/locations/states/FertilityClinicsGeorgia.webp" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="Fertility clinics in Georgia | Found {{ my_total_count }} clinics | {{year}}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="Need to quickly compare the best IVF clinics in Georgia to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://fertilitycommunity.com/static/img/locations/states/FertilityClinicsGeorgia.webp" />{% endblock %}

{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:3rem; padding-bottom:1rem; color:white">
          Compare {{ my_total_count }} fertility clinics in Georgia
    </h1>
    <p style="font-size: 20px; color: white !important">More information about <a href="https://www.fertilitycommunity.com/fertility-clinics/usa/georgia#more_information" style="font-size: 20px; color: white !important"><u>IVF clinics in Georgia</u></a></p>
  </div>

  <!-- Filter section -->

  <div class="container">
    <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filter location or treatments</button>
    <br>
    <br>
    <div class="collapse" id="collapseExample">
      <div class="accordion" id="accordionExample" style="padding-bottom:2rem">
        <div class="lol" style="background-color: #286DA8">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <br>
              <div hidden class="form-group" style="padding-top:1rem">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control">
                      <option value="US" selected>United States</option>
                      {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                      <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem" id="regions-us">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                      <option value="GA" selected>Georgia</option>
                      {% for key, value in CATEGORY_CHOICES_US_REGION.items %}
                      <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem">
                <div class="accordion" id="accordionExample">
                  <div class="card" id="cardBox" style="border-radius: 8px;">
                    <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                      <button id="treatmentsBtn" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {% if values.treatments == None %}Types of treatments
                        {% elif values.treatments == '' %}Types of treatments
                        {% elif values.treatments == 'Alltreatmentstrue' %}All treatments
                        {% elif values.treatments == 'IVFtreatmenttrue' %}Natural IVF
                        {% elif values.treatments == 'IVFtreatmentmildtrue' %}Mild (mini) IVF
                        {% elif values.treatments == 'IVFtreatmentovariantrue' %}Standard IVF
                        {% elif values.treatments == 'ICSItreatmenttrue' %}ICSI treatment
                        {% elif values.treatments == 'Eggdonationrecipientstrue' %}IVF with Egg donation
                        {% elif values.treatments == 'Spermdonationrecipientstrue' %}IVF with Sperm donation
                        {% elif values.treatments == 'Embryodonationrecipientstrue' %}IVF with Embryo donation
                        {% elif values.treatments == 'EggFreezingtrue' %}Egg freezing
                        {% elif values.treatments == 'EmbryoFreezingtrue' %}Embryo freezing
                        {% elif values.treatments == 'SpermFreezingtrue' %}Sperm freezing
                        {% elif values.treatments == 'Surrogacytrue' %}Gestational surrogacy
                        {% elif values.treatments == 'IUItreatmenttrue' %}IUI treatment
                        {% elif values.treatments == 'Singlewomantreatmenttrue' %}Single woman treatment
                        {% elif values.treatments == 'ReciprocalIVFtrue' %}Reciprocal IVF (LGBTQ)
                        {% endif %}
                      </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments" {% if values.treatments == 'Alltreatmentstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="All treatment">All treatments</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments" {% if values.treatments == 'IUItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments" {% if values.treatments == 'IVFtreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment">Natural IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment mild" value="IVFtreatmentmildtrue" name="treatments" {% if values.treatments == 'IVFtreatmentmildtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment mild">Mild (mini) IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment ovarian" value="IVFtreatmentovariantrue" name="treatments" {% if values.treatments == 'IVFtreatmentovariantrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment ovarian">Standard IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments" {% if values.treatments == 'ICSItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments" {% if values.treatments == 'Eggdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg donation recipients">IVF with Egg donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments" {% if values.treatments == 'Spermdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm donation recipients">IVF with Sperm donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments" {% if values.treatments == 'Embryodonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo donation recipients">IVF with Embryo donation</label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments" {% if values.treatments == 'EggFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments" {% if values.treatments == 'EmbryoFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments" {% if values.treatments == 'SpermFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments" {% if values.treatments == 'Surrogacytrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Surrogacy">Gestational surrogacy</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments" {% if values.treatments == 'Singlewomantreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments" {% if values.treatments == 'ReciprocalIVFtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:2rem">
                <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
                <br>
              </div>
            </div>
          </form>
          <hr noshade style="border-top: 1px solid white">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <h5 class="mb-0 text-left" id="headingOne">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <i class="fas fa-filter"></i> Change country
                </button>
              </h5>
              <div class="accordion" id="accordion1Example" style="padding-bottom:2rem">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1Example">
                  <br>
                  <div class="form-group" style="padding-top:1rem">
                    <div class="card" style="border-radius: 8px;">
                      <div class="card-header" style="background-color: white; border-radius: 8px;">
                        <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                          <option value="" selected>Select state</option>
                          <optgroup label="North America">
                            {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Europe">
                            {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Asia">
                            {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="padding-top:1rem;">
                    <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg">Change Country</button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Interesting links section -->
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb" style="padding-top: 10px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'fertilityClinicUSA' %}" style="text-decoration: none">Fertility clinics in USA</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <button class="btn btn-sm btn-outline-dark" data-toggle="collapse" href="#cityCollapse" role="button" aria-expanded="false" aria-controls="cityCollapse" style="text-decoration: none">
            Fertility clinics in Georgia
          </button>
        </li>
      </ol>
      <div class="collapse" id="cityCollapse">
        <p class="lead">Most popular IVF USA cities</p>
        <div class="row">
          <div class="col-sm-4">
            <li><a class="text-muted" href="{% url 'fertilityClinicsTexas' %}">Texas fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNewYork' %}">New York fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsFlorida' %}">Florida fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsFlorida' %}">Florida fertility clinics</a></li>
          </div>
          <div class="col-sm-4">
            <li><a class="text-muted" href="{% url 'fertilityClinicsNewJersey' %}">New Jersey fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsIllinois' %}">Illinois fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsPennsylvania' %}">Pennsylvania fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMichigan' %}">Michigan fertility clinics</a></li>
          </div>
          <div class="col-sm-4">
            <li><a class="text-muted" href="{% url 'fertilityClinicsGeorgia' %}">Georgia fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsArizona' %}">Arizona fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMassachusetts' %}">Massachusetts fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsWashington' %}">Washington fertility clinics</a></li>
          </div>
        </div>
        <hr>
        <p class="lead">Other IVF USA cities</p>
        <div class="row">
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsAlabama' %}">Alabama fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsAlaska' %}">Alaska fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsArkansas' %}">Arkansas fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsCalifornia' %}">California fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsColorado' %}">Colorado fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsConnecticut' %}">Connecticut fertility clinics</a></li>
          </div>
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsDelaware' %}">Delaware fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsHawaii' %}">Hawaii fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsIdaho' %}">Idaho fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsIndiana' %}">Indiana fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsIowa' %}">Iowa fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsKansas' %}">Kansas fertility clinics</a></li>
          </div>
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsKentucky' %}">Kentucky fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsLouisiana' %}">Louisiana fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMaine' %}">Maine fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMaryland' %}">Maryland fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMinnesota' %}">Minnesota fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMississippi' %}">Mississippi fertility clinics</a></li>
          </div>
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsMissouri' %}">Missouri fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMontana' %}">Montana fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNebraska' %}">Nebraska fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNewHampshire' %}">New Hampshire fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNewMexico' %}">New Mexico fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNorthCarolina' %}">North Carolina fertility clinics</a></li>
          </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsNorthDakota' %}">North Dakota fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsNevada' %}">Nevada fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsOhio' %}">Ohio fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsOklahoma' %}">Oklahoma fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsOregon' %}">Oregon fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsPennsylvania' %}">Pennsylvania fertility clinics</a></li>
          </div>
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsPuertoRico' %}">Puerto Rico fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsRhodeIsland' %}">Rhode Island fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsSouthCarolina' %}">South Carolina fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsSouthDakota' %}">South Dakota fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsTennessee' %}">Tennessee fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsUtah' %}">Utah fertility clinics</a></li>
          </div>
          <div class="col-sm-3">
            <li><a class="text-muted" href="{% url 'fertilityClinicsVermont' %}">Vermont fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsVirginia' %}">Virginia fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsWestVirginia' %}">West Virginia fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsWisconsin' %}">Wisconsin fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsWyoming' %}">Wyoming fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsDistrictOfColumbia' %}">District of Columbia fertility clinics</a></li>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
        <br>
      </div>
    </div>
  </nav>
</div>

<!-- PRO Clinic listings section -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% if paginationing %}

      {% include 'AllInclude/locations/ld-json.html' %}

      {% include 'AllInclude/locations/clinic-boxes-dti.html' %}

      {% else %}
      <div class="container" style="background-color: white; padding-top: 0px; border-radius: 8px; border-color: #286DA8;">
        <div class="container" style="padding-top: 20px">
          <div class="header">
            <div class="container" id="nameInfo" style="padding-bottom:5rem">
              <div class="row align-self-center align-items-center">
                <h2 class="display-5" style="padding-bottom:2rem">Sorry, there are no clinics for this search query.</h2>
                <p>Please try different countries or treatment options</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Treatment average prices -->
    <div class="col-sm-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 style="font-size: 22px !important;"><i class="fas fa-info-circle"></i> Quick info - US fertility treatment costs in {{year}}:</h2>

          {% include 'AllInclude/locations/quick-info.html' %}

          <div class="row">
            <div class="col-6 col-md">
              <a href="{% url 'locationsUSRegions' %}" style="font-size: 14px !important;">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-flag"></i> USA Compare
                </button>
              </a>
            </div>
            <div class="col-6 col-md">
              <a href="{% url 'locations' %}">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-globe"></i> World Compare
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- Clinic additional locations -->
<div class="container" style="text-align: center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if paginationing.has_previous %}
        <a class="page-link" href="?{% param_replace page=1 %}">&laquo; First</a>
      </li>
      <li class="page-item">
        {% if page_obj.previous_page_number != 1 %}
        <a class="page-link" href="?{% param_replace page=paginationing.previous_page_number %}">Previous</a>
        {% endif %}
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link">Page {{ paginationing.number }} of {{ paginationing.paginator.num_pages }}</a>
      </li>

      {% if paginationing.has_next %}
      <li class="page-item">
        {% if paginationing.next_page_number != paginator.num_pages %}
        <a class="page-link" href="?{% param_replace page=paginationing.next_page_number %}">Next</a>
        {% endif %}
        {% endif %}
      </li>
    </ul>
  </nav>
</div>

<br>
<br>

{% include 'AllInclude/locations/packages.html' %}

<br>
<br>

{% if guestblog %}
  {% include 'AllInclude/locations/guestblogging.html' %}
{% endif %}

<br>
<br>

<!-- Clinic additional locations -->
<div class="container">
  <a name="more_information"></a>
  <h2>IVF clinics in Georgia</h2>
  <p>The fertility clinics in Georgia offer various kinds of infertility treatment, such as <strong><u>In Vitro Fertilization</u></strong>, <strong><u>egg donation</u></strong>, <strong><u>surrogacy</u></strong>, <strong><u>embryo donation / adoption</u></strong> and other kinds of therapy and surgery.</p>
  <br>
  <h2>General Information about <a href="https://en.wikipedia.org/wiki/Georgia_(U.S._state)" rel="nofollow">Georgia</a></h2>
  <p>Georgia is a southern state. Despite being the 24th largest in area, it is <strong>the 8th most populous</strong> one. It borders Tennessee, North Carolina, South Carolina, Florida, and Alabama.</p>
  <p><u>Atlanta</u> is both <u>the state’s capital</u> and <u>the largest city</u>. Other big cities include Augusta, Columbus, and Macon.</p>
  <br>
  <h2>History of Georgia</h2>
  <p>Before European settled in the area, the territory that we called Georgia was inhabited by Natives. </p>
  <p>Georgia was founded in 1733 as a British colony and named after <strong>King George II</strong> of Great Britain. In 1742, Georgia was invaded by the Spanish. In 1752, Georgia became a crown colony, meaning its governor was appointed by the king. </p>
  <p>On January 2, 1788, it became <u>the fourth state to ratify the Constitution</u>. </p>
  <p>In 1829, <strong>gold was discovered</strong> in the North Georgia mountains, which led to the Georgia <strong>Gold Rush</strong>. This caused a big wave of white immigration and as a result, the Indian Removal Act was signed. The forced relocation of Natives that followed led to the death of thousands of Cherokees. </p>
  <br>
  <h2>Georgia - Quick guide </h2>
  <p>The landscape of Georgia is very diverse. In the north, you can see the Blue Ridge Mountains, a part of the Appalachian Mountains. There is also the Piedmont plateau. Most of the state has <strong>a humid subtropical climate</strong>. </p>
  <p>There are <u>many special trees</u> and plants growing in Georgia, such as the red cedar, different kinds of pines, oaks, cypress, yellow jasmine and mountain laurel. As for fauna, you may observe the white-tailed deer, the northern mockingbird, salamanders, various fish, and more.</p>
  <p>Popular places to visit include <strong>the Providence Canyon State Park</strong>, Radium Springs Garden, <strong>Warm Springs</strong>, or Okefenokee National Wildlife Refuge. </p>
  <br>
  <h2>Fun facts about Georgia</h2>
  <p>One of the most famous Georgians was <a href="https://en.wikipedia.org/wiki/Martin_Luther_King_Jr." rel="nofollow"><strong><u>Martin Luther King, Jr.</u></strong></a>, a 20th century civil rights movement leader. </p>
</div>

<!-- Clinic additional locations -->
<div class="container" id="locationsReferer" style="padding-top:3rem">
  <hr>
  <br>
  <h2><i class="far fa-flag"></i> Specific fertility clinics locations in United States</h2>
  <br>
  <div class="row">
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li ><a href="{% url 'fertilityClinicsFlorida' %}">IVF clinics in Florida</a></li>
        <li ><a href="{% url 'fertilityClinicsTexas' %}">Texas fertility centers</a></li>
        <br>
        <li><a href="{% url 'locationsUSRegions' %}"><u>IVF costs in USA</u></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li ><a href="{% url 'fertilityClinicsOhio' %}">Fertility clinics Ohio</a></li>
        <li ><a href="{% url 'fertilityClinicsHawaii' %}">IVF clinics Hawaii</a></li>
        <br>
        <li><a href="{% url 'locations' %}"><u>IVF and Fertility centers Worldwide</u></a></li>
      </ul>
    </div>
  </div>
</div>


{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/quick-info.js' %}"></script>{% endblock %}
{% endblock  %}
