{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}Fertility clinics in Barcelona | Found {{ my_total_count }} clinics | 2021{% endblock %}
{% block description %}Need to quickly compare the best IVF clinics in Barcelona to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/fertility-clinics/spain/barcelona{% endblock %}
{% block meta_keywords %}search fertility clinic barcelona, search ivf clinics barcelona, search fertility doctor barcelona, search fertility specialist barcelona, search fertility center barcelona, search private fertility clinic barcelona{% endblock %}

{% block ogType %}<meta property='og:type' content='website' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://fertilitycommunity.com/static/img/locations/cities/FertilityClinicsBarcelona.webp" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="Fertility clinics in Barcelona | Found {{ my_total_count }} clinics | 2021">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="Need to quickly compare the best IVF clinics in Barcelona to choose the right one? We are already comparing {{all_clinic_count}} clinics from all over the world.">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://fertilitycommunity.com/static/img/locations/cities/FertilityClinicsBarcelona.webp" />{% endblock %}

{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:3rem; padding-bottom:1rem; color:white">
      Compare {{ my_total_count }} fertility clinics in Barcelona, Spain
    </h1>
    <p style="font-size: 18px; color: white !important">There are <u><b>[{{ my_total_count }}]</b></u> fertility centers in Barcelona with different treatment pricings and IVF packages. The IVF clinics in Barcelona offer various kinds of fertility diagnosis, such as In Vitro Fertilization, egg donation, sperm donation, IUI insemination, male infertility treatment, egg freezing, surrogacy programs and LGBT family building. </p>
  </div>

  <!-- Filter section -->

  <div class="container">
    <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Filter location or treatments</button>
    <br>
    <br>
    <div class="collapse" id="collapseExample">
      <div class="accordion" id="accordionExample" style="padding-bottom:2rem">
        <div class="lol" style="background-color: #286DA8">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <br>
              <div hidden class="form-group" style="padding-top:1rem">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control">
                      <option value="SP" selected>Spain</option>
                      {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                      <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem" id="regions-us">
                <div class="card" style="border-radius: 8px;">
                  <div class="card-header" style="background-color: white; border-radius: 8px;">
                    <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                      <option value="Barcelona" selected>Barcelona</option>
                      {% for key, value in CATEGORY_CHOICES_SP_CITIES.items %}
                      <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group" style="padding-top:1rem">
                <div class="accordion" id="accordionExample">
                  <div class="card" id="cardBox" style="border-radius: 8px;">
                    <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                      <button id="treatmentsBtn" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {% if values.treatments == None %}Types of treatments
                        {% elif values.treatments == '' %}Types of treatments
                        {% elif values.treatments == 'Alltreatmentstrue' %}All treatments
                        {% elif values.treatments == 'IVFtreatmenttrue' %}Natural IVF
                        {% elif values.treatments == 'IVFtreatmentmildtrue' %}Mild (mini) IVF
                        {% elif values.treatments == 'IVFtreatmentovariantrue' %}Standard IVF
                        {% elif values.treatments == 'ICSItreatmenttrue' %}ICSI treatment
                        {% elif values.treatments == 'Eggdonationrecipientstrue' %}IVF with Egg donation
                        {% elif values.treatments == 'Spermdonationrecipientstrue' %}IVF with Sperm donation
                        {% elif values.treatments == 'Embryodonationrecipientstrue' %}IVF with Embryo donation
                        {% elif values.treatments == 'EggFreezingtrue' %}Egg freezing
                        {% elif values.treatments == 'EmbryoFreezingtrue' %}Embryo freezing
                        {% elif values.treatments == 'SpermFreezingtrue' %}Sperm freezing
                        {% elif values.treatments == 'Surrogacytrue' %}Gestational surrogacy
                        {% elif values.treatments == 'IUItreatmenttrue' %}IUI treatment
                        {% elif values.treatments == 'Singlewomantreatmenttrue' %}Single woman treatment
                        {% elif values.treatments == 'ReciprocalIVFtrue' %}Reciprocal IVF (LGBTQ)
                        {% endif %}
                      </button>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments" {% if values.treatments == 'Alltreatmentstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="All treatment">All treatments</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments" {% if values.treatments == 'IUItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments" {% if values.treatments == 'IVFtreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment">Natural IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment mild" value="IVFtreatmentmildtrue" name="treatments" {% if values.treatments == 'IVFtreatmentmildtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment mild">Mild (mini) IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="IVF treatment ovarian" value="IVFtreatmentovariantrue" name="treatments" {% if values.treatments == 'IVFtreatmentovariantrue' %}checked{% endif %}>
                              <label class="form-check-label" for="IVF treatment ovarian">Standard IVF</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments" {% if values.treatments == 'ICSItreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments" {% if values.treatments == 'Eggdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg donation recipients">IVF with Egg donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments" {% if values.treatments == 'Spermdonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm donation recipients">IVF with Sperm donation</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments" {% if values.treatments == 'Embryodonationrecipientstrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo donation recipients">IVF with Embryo donation</label>
                            </div>
                          </div>

                          <div class="col">
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments" {% if values.treatments == 'EggFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments" {% if values.treatments == 'EmbryoFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments" {% if values.treatments == 'SpermFreezingtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments" {% if values.treatments == 'Surrogacytrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Surrogacy">Gestational surrogacy</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments" {% if values.treatments == 'Singlewomantreatmenttrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                            </div>
                            <div class="form-group form-check">
                              <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments" {% if values.treatments == 'ReciprocalIVFtrue' %}checked{% endif %}>
                              <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:2rem">
                <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
                <br>
              </div>
            </div>
          </form>
          <hr noshade style="border-top: 1px solid white">
          <form action="{% url 'search' %}">
            <div class="mainbanner" id="mainhpbanner">
              <h5 class="mb-0 text-left" id="headingOne">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  <i class="fas fa-filter"></i> Change country
                </button>
              </h5>
              <div class="accordion" id="accordion1Example" style="padding-bottom:2rem">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1Example">
                  <br>
                  <div class="form-group" style="padding-top:1rem">
                    <div class="card" style="border-radius: 8px;">
                      <div class="card-header" style="background-color: white; border-radius: 8px;">
                        <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                          <option value="" selected>Select state</option>
                          <optgroup label="North America">
                            {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Europe">
                            {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                          <optgroup label="Asia">
                            {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                            <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                          </optgroup>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3" style="padding-top:1rem;">
                    <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg">Change Country</button>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Interesting links section -->
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb" style="padding-top: 10px;">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'fertilityClinicSpain' %}" style="text-decoration: none">Fertility clinics in Spain</a></li>
        <li class="breadcrumb-item" aria-current="page">
          <button class="btn btn-sm btn-outline-dark" data-toggle="collapse" href="#cityCollapse" role="button" aria-expanded="false" aria-controls="cityCollapse" style="text-decoration: none">
            Barcelona fertility clinics
          </button>
        </li>
      </ol>
      <div class="collapse" id="cityCollapse">
        <p class="lead">Most popular IVF Spain cities</p>
        <div class="row">
          <div class="col-sm-6">
            <li><a class="text-muted" href="{% url 'fertilityClinicsAlicante' %}">Alicante fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsBarcelona' %}">Barcelona fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsMadrid' %}">Madrid fertility clinics</a></li>
          </div>
          <div class="col-sm-6">
            <li><a class="text-muted" href="{% url 'fertilityClinicsMalaga' %}">Malaga fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsSeville' %}">Seville fertility clinics</a></li>
            <li><a class="text-muted" href="{% url 'fertilityClinicsValencia' %}">Valencia fertility clinics</a></li>
          </div>
        </div>
        <br>
      </div>
    </div>
  </nav>
</div>

<!-- PRO Clinic listings section -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% if paginationing %}

      {% include 'AllInclude/locations/ld-json.html' %}

      {% include 'AllInclude/locations/clinic-boxes-dti.html' %}

      {% else %}
      <div class="container" style="background-color: white; padding-top: 0px; border-radius: 8px; border-color: #286DA8;">
        <div class="container" style="padding-top: 20px">
          <div class="header">
            <div class="container" id="nameInfo" style="padding-bottom:5rem">
              <div class="row align-self-center align-items-center">
                <h2 class="display-5" style="padding-bottom:2rem">Sorry, there are no clinics for this search query.</h2>
                <p>Please try different countries or treatment options</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Treatment average prices -->
    <div class="col-sm-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 style="font-size: 22px !important;"><i class="fas fa-info-circle"></i> Quick info - Spanish fertility treatment costs in 2021:</h2>

          {% include 'AllInclude/locations/quick-info.html' %}

          <div class="row">
            <div class="col-6 col-md">
              <a href="{% url 'locationsSPRegions' %}" style="font-size: 14px !important;">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-flag"></i> Spain Compare
                </button>
              </a>
            </div>
            <div class="col-6 col-md">
              <a href="{% url 'locations' %}">
                <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="fas fa-globe"></i> World Compare
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- Clinic additional locations -->
<div class="container" style="text-align: center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if paginationing.has_previous %}
        <a class="page-link" href="?{% param_replace page=1 %}">&laquo; First</a>
      </li>
      <li class="page-item">
        {% if page_obj.previous_page_number != 1 %}
        <a class="page-link" href="?{% param_replace page=paginationing.previous_page_number %}">Previous</a>
        {% endif %}
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link">Page {{ paginationing.number }} of {{ paginationing.paginator.num_pages }}</a>
      </li>

      {% if paginationing.has_next %}
      <li class="page-item">
        {% if paginationing.next_page_number != paginator.num_pages %}
        <a class="page-link" href="?{% param_replace page=paginationing.next_page_number %}">Next</a>
        {% endif %}
        {% endif %}
      </li>
    </ul>
  </nav>
</div>

<br>
<br>

{% include 'AllInclude/locations/packages.html' %}

<br>
<br>

{% if guestblog %}
  {% include 'AllInclude/locations/guestblogging.html' %}
{% endif %}

<br>
<br>

<!-- Clinic additional locations -->
<div class="container">
  <a name="more_information"></a>
  <h2>General Information</h2>
  <p>Barceona is <u>the capital of Catalonia</u>, and is also the capital of the province of Barcelona. It lies on the Mediterranean coast in eastern Spain. After Madrid, it is the second largest Spanish city (1.6 million inhabitants, in the agglomeration almost 3 million). It is also known for the original buildings of architect Antoni Gaudí and his contemporaries.</p>
  <br>
  <h2>History</h2>
  <p>Barcelona was probably founded in the 3rd century BC by carthaginian general Hamilkar Barkas and named it <b>Barcina</b>. In 218 BC, the Romans occupied Barcelona. At this time, however, it was not as important as southwestern Tarragona. </p>
  <p>At the end of the 12th century Barcelona has become one of <b>the main economic and trade centers</b> of the Crown of Aragon. In 1469, however, Ferdinand II was married with Aragonese Isabella I of Castile, which resulted in the transfer of political power to Madrid. </p>
  <p>The subsequent development of trade with America driven by Madrid and the effort to centralize power led to the decline of Barcelona and the dissatisfaction of its people. This led to <u>the war of 1640-59</u>, in which the Catalans and their French allies were defeated. </p>
  <p>In 1939, the city was occupied by fascists, which led to a number of repressions, including a ban on teaching Catalan in schools. The transition to democracy did not occur until 1975, after the death of F. Franco. Catalonia gains the status of an autonomous region and in 1980 the first Catalan government is elected. The 1992 Olympic Games were held in Barcelona.</p>
  <br>
  <h2>Barcelona - Quick guide </h2>
  <p>Gaudí's most famous works include <b>the Sagrada Familia</b>, a symbol of the city and a masterpiece that has <b>not yet been completed</b> (its construction is still ongoing, but because it is funded only by donations, work is progressing slowly). </p>
  <p>Completion is <u>planned for 2026</u>. Gaudí gave this building all his creative power from 1883 until his death in 1926. The massive building with eight high towers has meanwhile become the most prominent point in the silhouette of Barcelona. From its towers, where you climb the spiral stairs, there is a wonderful view of the whole city and its surroundings. In the city center there are other famous Gaudí buildings, the House of Milà (Casa Milà), the House of Batlló (casa Batlló) and Park Güell. </p>
  <p>Barcelona has many Gothic monuments; they come from its heyday. Many can be found in <b>the Barri Gòtic</b> district. One of the most important is certainly the town hall building called Casa de la Ciutat on Plaça Sant Jaume. </p>
  <br>
  <h2>Interesting Facts </h2>
  <p>Barcelona is the seat of the archbishop, has several universities and technical and business schools, as well as a number of important libraries. It is an important industrial center of northeastern Spain, the surrounding region is very rich in raw materials. It was also the site of the Olympic Games in 1992. </p>
  <p>Barcelona is one of the most important and <u>most visited European cities</u>. Due to its location and relative proximity to the French border, it is more easily accessible to many Europeans than the capital of the Kingdom of Spain, Madrid.</p>
</div>

<!-- Clinic additional locations -->
<div class="container" id="locationsReferer" style="padding-top:3rem">
  <hr>
  <br>
  <h2><i class="far fa-flag"></i> Others who viewed this location also viewed</h2>
  <br>
  <div class="row">
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a href="{% url 'fertilityClinicsSeville' %}">IVF Seville</a></li>
        <li><a href="{% url 'fertilityClinicsBarcelona' %}">IVF Barcelona</a></li>
        <br>
        <li><a href="{% url 'locationsUKRegions' %}"><u>IVF costs in UK</u></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a href="{% url 'fertilityClinicsMadrid' %}">IVF Madrid</a></li>
        <li><a href="{% url 'fertilityClinicsValencia' %}">IVF Valencia</a></li>
        <br>
        <li><a href="{% url 'locations' %}"><u>IVF and Fertility centers Worldwide</u></a></li>
      </ul>
    </div>
  </div>
</div>

{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/quick-info.js' %}"></script>{% endblock %}
{% endblock  %}
