{% extends "main/base.html" %}
{% load static %}
{% block title %}{{clinic.clinicName}}{% endblock %}
{% block description %}Browse all the necessary data about the selected IVF clinic {{clinic.clinicName}} and compare with others from all over the world.{% endblock %}
{% block noindexpage %}{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/clinics/{{clinic.pk}}/{{clinic.slug}}/{% endblock %}
{% block clinicdetailtrustpilotwidgetscript %}<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/0livechats.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/1header-features.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/2aboutclinic.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/3primarytreatments.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/4secondarytreatments.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/5contact-description-limitations-offices.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/6Packages.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/7conditions-languages-team-photos-address.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/8reviews.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/9openinghours-guestblogs-contact-socialmedia.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/clinic-detail-view/10footerlinks.html' %}

<!-- ================================================== -->
{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary-treatments.js' %}"></script>{% endblock %}

{% endblock  %}
