{% if gynecologist == True %}
    <script type='application/ld+json'>
        {
            "@context": "https://schema.org",
            "@type":"Physician",
            "name":"{{ coach.coach_full_name }}",
            "medicalSpecialty":"Gynecologic",
            {% if coach.coach_profile_photo %}
            "image":"{{ coach.coach_profile_photo.url }}",
            {% endif %}
            "description":"{{ coach.coach_bio|escapejs }}",
            {% if coach.coach_contact_email %}
            "email": "{{ coach.coach_contact_email }}",
            {% endif %}
            {% if coach.coach_phone %}
            "telephone":"{{ coach.coach_phone }}",
            {% endif %}
            "url":"{% url 'coach:coach-detail' coach.pk coach.coach_username %}",
            {% if coach.experts_from_clinic.all %}
            "member":
                [
                    {% for clinic in coach.experts_from_clinic.all %}
                    {
                        "@type":"Organization",
                        "name":"{{ clinic.clinicName }}",
                        "url":"{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}"
                    }{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                ],
            {% endif %}
            {% if languages %}
            "knowsLanguage":
                [
                    {% for language in languages %}
                    {
                        "@type":"language",
                        "name":"{{ language }}"
                    }{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                ]
            {% endif %}
        }
    </script>
{% else %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            {% if coach.coach_profile_photo %}
            "image":"{{ coach.coach_profile_photo.url }}",
            {% endif %}
            {% if jobs %}
            "jobTitle":
                    {% for job in jobs %}
                        {% if forloop.first %}
                        {
                            "@type": "DefinedTerm",
                            "name": "{{job}}"
                        },{% endif %}
                    {% endfor %}
            {% endif %}
            "name":"{{ coach.coach_full_name }}",
            {% if coach.coach_contact_email %}
            "email": "{{ coach.coach_contact_email }}",
            {% endif %}
            {% if coach.coach_phone %}
            "telephone":"{{ coach.coach_phone }}",
            {% endif %}
            "url":"{% url 'coach:coach-detail' coach.pk coach.coach_username %}",


            "sameAs":
                [
                    {% if coach.coach_social_instagram %}
                    "{{ coach.coach_social_instagram }}",
                    {% endif %}
                    {% if coach.coach_social_facebook %}
                    "{{ coach.coach_social_instagram }}",
                    {% endif %}
                    ""
                  ],


            {% if coach.experts_from_clinic.all %}
            "memberOf":
                [
                    {% for clinic in coach.experts_from_clinic.all %}
                    {
                        "@type":"Organization",
                        "name":"{{ clinic.clinicName }}",
                        "url":"{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}"
                    }{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                ],
            {% endif %}
            {% if languages %}
            "knowsLanguage":
                [
                    {% for language in languages %}
                    {
                        "@type":"language",
                        "name":"{{ language }}"
                    }{% if forloop.last %}{% else %},{% endif %}
                    {% endfor %}
                ]
            {% endif %}
        }
    </script>
{% endif %}