<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.fertilitycommunity.com/ivf-explained"
      },
      "headline": "IVF explained, tips & tricks for 2022",
      "image": [
        "https://fertilitycommunity.com/static/img/IVF-Explained9.png",
        "https://fertilitycommunity.com/static/img/IVFprocesstimeline.png",
        "https://fertilitycommunity.com/static/img/successfulchanceforivf.png"
       ],
      "datePublished": "2022-09-20T08:00:00+08:00",
      "dateModified": "2022-10-15T09:20:00+08:00",
      "author": {
        "@type": "Organization",
        "name": "FertilityCommunity team"
      },
       "publisher": {
        "@type": "Organization",
        "name": "FertilityCommunity",
        "logo": {
          "@type": "ImageObject",
          "url": "https://fertilitycommunity.com/static/img/LOGO.jpg"
        }
      }
    }
</script>