{% load static %}
{% load humanize %}
{% load currencytag %}
<tbody>
  <tr>
    <th scope="row"><a href="{% url 'locationsCYRegions' %}">Cyprus <u>({{ my_total_clinic_count_cy }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_cy_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_cy_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_cy_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_cy_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_cy_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_cy_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_cy_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_cy_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsCZRegions' %}">Czech Republic <u>({{ my_total_clinic_count_cz }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_cz_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_cz_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_cz_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_cz_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_cz_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_cz_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_cz_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_cz_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsDKRegions' %}">Denmark <u>({{ my_total_clinic_count_dk }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_dk_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_dk_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_dk_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_dk_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_dk_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_dk_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_dk_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_dk_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsDERegions' %}">Germany <u>({{ my_total_clinic_count_de }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_de_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_de_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_de_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_de_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_de_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_de_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_de_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_de_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsGRRegions' %}">Greece <u>({{ my_total_clinic_count_gr }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_gr_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_gr_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_gr_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_gr_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_gr_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_gr_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_gr_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_gr_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsLVRegions' %}">Latvia <u>({{ my_total_clinic_count_lv }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_lv_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_lv_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_lv_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_lv_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_lv_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_lv_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_lv_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_lv_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsPTRegions' %}">Portugal <u>({{ my_total_clinic_count_pt }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_pt_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_pt_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_pt_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_pt_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_pt_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_pt_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_pt_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_pt_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsSKRegions' %}">Slovakia <u>({{ my_total_clinic_count_sk }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_sk_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_sk_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_sk_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_sk_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_sk_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_sk_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_sk_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_sk_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsSPRegions' %}">Spain <u>({{ my_total_clinic_count_sp }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_sp_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_sp_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_sp_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_sp_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_sp_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_sp_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_sp_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_sp_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
  <tr>
    <th scope="row"><a href="{% url 'locationsUKRegions' %}">United Kingdom <u>({{ my_total_clinic_count_uk }} clinics)</u></a></th>
    <td style="font-size: 14px">
      {% if queryset_list_uk_iui_val %}
        <div class="treatmentCostsUSDCurrency">{{ queryset_list_uk_iui_val|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
        <div class="treatmentCostsEURCurrency" style="display:none">{{ queryset_list_uk_iui_val|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
        <div class="treatmentCostsGBPCurrency" style="display:none">{{ queryset_list_uk_iui_val|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
        <div class="treatmentCostsCZKCurrency" style="display:none">{{ queryset_list_uk_iui_val|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
        <div class="treatmentCostsMXNCurrency" style="display:none">{{ queryset_list_uk_iui_val|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
        <div class="treatmentCostsINRCurrency" style="display:none">{{ queryset_list_uk_iui_val|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
        <div class="treatmentCostsCADCurrency" style="display:none">{{ queryset_list_uk_iui_val|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
      {% else %}
        Unknown
      {% endif %}
    </td>
  </tr>
</tbody>