{% if values.States == None %}Search fertility clinics & agencies near me{% endif %}
{% if values.States == 'UK' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in United Kingdom
  {% elif values.Region == None %}
    Search fertility clinics & agencies in United Kingdom
  {% elif values.Region == 'Aberdeen'%}
    Search fertility clinics & agencies in Aberdeen, United Kingdom
  {% elif values.Region == 'Bath'%}
    Search fertility clinics & agencies in Bath, United Kingdom
  {% elif values.Region == 'Belfast'%}
    Search fertility clinics & agencies in Belfast, United Kingdom
  {% elif values.Region == 'Birmingham'%}
    Search fertility clinics & agencies in Birmingham, United Kingdom
  {% elif values.Region == 'Bournemouth'%}
    Search fertility clinics & agencies in Bournemouth, United Kingdom
  {% elif values.Region == 'BrightonHove'%}
    Search fertility clinics & agencies in BrightonHove, United Kingdom
  {% elif values.Region == 'Bristol'%}
    Search fertility clinics & agencies in Bristol, United Kingdom
  {% elif values.Region == 'Cambridge'%}
    Search fertility clinics & agencies in Cambridge, United Kingdom
  {% elif values.Region == 'Cardiff'%}
    Search fertility clinics & agencies in Cardiff, United Kingdom
  {% elif values.Region == 'Colchester'%}
    Search fertility clinics & agencies in Colchester, United Kingdom
  {% elif values.Region == 'Derby'%}
    Search fertility clinics & agencies in Derby, United Kingdom
  {% elif values.Region == 'Exeter'%}
    Search fertility clinics & agencies in Exeter, United Kingdom
  {% elif values.Region == 'Glasgow'%}
    Search fertility clinics & agencies in Glasgow, United Kingdom
  {% elif values.Region == 'Hull'%}
    Search fertility clinics & agencies in Hull, United Kingdom
  {% elif values.Region == 'Chelmsford'%}
    Search fertility clinics & agencies in Chelmsford, United Kingdom
  {% elif values.Region == 'Leeds'%}
    Search fertility clinics & agencies in Leeds, United Kingdom
  {% elif values.Region == 'Leicester'%}
    Search fertility clinics & agencies in Leicester, United Kingdom
  {% elif values.Region == 'Liverpool'%}
    Search fertility clinics & agencies in Liverpool, United Kingdom
  {% elif values.Region == 'London'%}
    Search fertility clinics & agencies in London, United Kingdom
  {% elif values.Region == 'Manchester'%}
    Search fertility clinics & agencies in Manchester, United Kingdom
  {% elif values.Region == 'Middlesbrough'%}
    Search fertility clinics & agencies in Middlesbrough, United Kingdom
  {% elif values.Region == 'Newcastle'%}
    Search fertility clinics & agencies in Newcastle, United Kingdom
  {% elif values.Region == 'Norwich'%}
    Search fertility clinics & agencies in Norwich, United Kingdom
  {% elif values.Region == 'Nottingham'%}
    Search fertility clinics & agencies in Nottingham, United Kingdom
  {% elif values.Region == 'Oxford'%}
    Search fertility clinics & agencies in Oxford, United Kingdom
  {% elif values.Region == 'Peterborough'%}
    Search fertility clinics & agencies in Peterborough, United Kingdom
  {% elif values.Region == 'Plymouth'%}
    Search fertility clinics & agencies in Plymouth, United Kingdom
  {% elif values.Region == 'Portsmouth'%}
    Search fertility clinics & agencies in Portsmouth, United Kingdom
  {% elif values.Region == 'Salisbury'%}
    Search fertility clinics & agencies in Salisbury, United Kingdom
  {% elif values.Region == 'Sheffield'%}
    Search fertility clinics & agencies in Sheffield, United Kingdom
  {% elif values.Region == 'Southampton'%}
    Search fertility clinics & agencies in Southampton, United Kingdom
  {% elif values.Region == 'Swansea'%}
    Search fertility clinics & agencies in Swansea, United Kingdom
  {% endif %}
{% elif values.States == 'US' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in United States
  {% elif values.Region == None %}
    Search fertility clinics & agencies in United States
  {% elif values.Region == 'AL'%}
    Search fertility clinics & agencies in Alabama, United States
  {% elif values.Region == 'AK'%}
    Search fertility clinics & agencies in Alaska, United States
  {% elif values.Region == 'AZ'%}
    Search fertility clinics & agencies in Arizona, United States
  {% elif values.Region == 'AR'%}
    Search fertility clinics & agencies in Arkansas, United States
  {% elif values.Region == 'CA'%}
    Search fertility clinics & agencies in California, United States
  {% elif values.Region == 'CO'%}
    Search fertility clinics & agencies in Colorado, United States
  {% elif values.Region == 'CT'%}
    Search fertility clinics & agencies in Connecticut, United States
  {% elif values.Region == 'DE'%}
    Search fertility clinics & agencies in Delaware, United States
  {% elif values.Region == 'FL'%}
    Search fertility clinics & agencies in Florida, United States
  {% elif values.Region == 'GA'%}
    Search fertility clinics & agencies in Georgia, United States
  {% elif values.Region == 'HI'%}
    Search fertility clinics & agencies in Hawaii, United States
  {% elif values.Region == 'ID'%}
    Search fertility clinics & agencies in Idaho, United States
  {% elif values.Region == 'IL'%}
    Search fertility clinics & agencies in Illinois, United States
  {% elif values.Region == 'IN'%}
    Search fertility clinics & agencies in Indiana, United States
  {% elif values.Region == 'IA'%}
    Search fertility clinics & agencies in Iowa, United States
  {% elif values.Region == 'KS'%}
    Search fertility clinics & agencies in Kansas, United States
  {% elif values.Region == 'KY'%}
    Search fertility clinics & agencies in Kentucky, United States
  {% elif values.Region == 'LA'%}
    Search fertility clinics & agencies in Louisiana, United States
  {% elif values.Region == 'ME'%}
    Search fertility clinics & agencies in Maine, United States
  {% elif values.Region == 'MD'%}
    Search fertility clinics & agencies in Maryland, United States
  {% elif values.Region == 'MA'%}
    Search fertility clinics & agencies in Massachusetts, United States
  {% elif values.Region == 'MI'%}
    Search fertility clinics & agencies in Michigan, United States
  {% elif values.Region == 'MN'%}
    Search fertility clinics & agencies in Minnesota, United States
  {% elif values.Region == 'MS'%}
    Search fertility clinics & agencies in Mississippi, United States
  {% elif values.Region == 'MO'%}
    Search fertility clinics & agencies in Missouri, United States
  {% elif values.Region == 'MT'%}
    Search fertility clinics & agencies in Montana, United States
  {% elif values.Region == 'NE'%}
    Search fertility clinics & agencies in Nebraska, United States
  {% elif values.Region == 'NH'%}
    Search fertility clinics & agencies in New Hampshire, United States
  {% elif values.Region == 'NJ'%}
    Search fertility clinics & agencies in New Jersey, United States
  {% elif values.Region == 'NM'%}
    Search fertility clinics & agencies in New Mexico, United States
  {% elif values.Region == 'NY'%}
    Search fertility clinics & agencies in New York, United States
  {% elif values.Region == 'NC'%}
    Search fertility clinics & agencies in North Carolina, United States
  {% elif values.Region == 'ND'%}
    Search fertility clinics & agencies in North Dakota, United States
  {% elif values.Region == 'NV'%}
    Search fertility clinics & agencies in Nevada, United States
  {% elif values.Region == 'OH'%}
    Search fertility clinics & agencies in Ohio, United States
  {% elif values.Region == 'OK'%}
    Search fertility clinics & agencies in Oklahoma, United States
  {% elif values.Region == 'OR'%}
    Search fertility clinics & agencies in Oregon, United States
  {% elif values.Region == 'PA'%}
    Search fertility clinics & agencies in Pennsylvania, United States
  {% elif values.Region == 'PR'%}
    Search fertility clinics & agencies in Puerto Rico, United States
  {% elif values.Region == 'RI'%}
    Search fertility clinics & agencies in Rhode Island, United States
  {% elif values.Region == 'SC'%}
    Search fertility clinics & agencies in South Carolina, United States
  {% elif values.Region == 'SD'%}
    Search fertility clinics & agencies in South Dakota, United States
  {% elif values.Region == 'TN'%}
    Search fertility clinics & agencies in Tennessee, United States
  {% elif values.Region == 'TX'%}
    Search fertility clinics & agencies in Texas, United States
  {% elif values.Region == 'UT'%}
    Search fertility clinics & agencies in Utah, United States
  {% elif values.Region == 'VT'%}
    Search fertility clinics & agencies in Vermont, United States
  {% elif values.Region == 'VA'%}
    Search fertility clinics & agencies in Virginia, United States
  {% elif values.Region == 'WA'%}
    Search fertility clinics & agencies in Washington, United States
  {% elif values.Region == 'WV'%}
    Search fertility clinics & agencies in West Virginia, United States
  {% elif values.Region == 'WI'%}
    Search fertility clinics & agencies in Wisconsin, United States
  {% elif values.Region == 'WY'%}
    Search fertility clinics & agencies in Wyoming, United States
  {% elif values.Region == 'DC'%}
    Search fertility clinics & agencies in District of Columbia, United States
  {% endif %}
{% elif values.States == 'CZ' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in Czech Republic
  {% elif values.Region == None %}
    Search fertility clinics & agencies in Czech Republic
  {% elif values.Region == 'Prague' %}
    Search fertility clinics & agencies in Prague, Czech Republic
  {% elif values.Region == 'Brno'%}
    Search fertility clinics & agencies in Brno, Czech Republic
  {% endif %}
{% elif values.States == 'SK' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in Slovakia
  {% elif values.Region == None %}
    Search fertility clinics & agencies in Slovakia
  {% elif values.Region == 'Bratislava' %}
    Search fertility clinics & agencies in Bratislava, Slovakia
  {% endif %}
{% elif values.States == 'SP' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in Spain
  {% elif values.Region == None %}
    Search fertility clinics & agencies in Spain
  {% elif values.Region == 'Alicante' %}
    Search fertility clinics & agencies in Alicante, Spain
  {% elif values.Region == 'Barcelona'%}
    Search fertility clinics & agencies in Barcelona, Spain
  {% elif values.Region == 'Madrid'%}
    Search fertility clinics & agencies in Madrid, Spain
  {% elif values.Region == 'Malaga'%}
    Search fertility clinics & agencies in Malaga, Spain
  {% elif values.Region == 'Seville'%}
    Search fertility clinics & agencies in Seville, Spain
  {% elif values.Region == 'Valencia'%}
    Search fertility clinics & agencies in Valencia, Spain
  {% endif %}

{% elif values.States == 'IN' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in India
  {% elif values.Region == None %}
    Search fertility clinics & agencies in India
  {% elif values.Region == 'Chennai' %}
    Search fertility clinics & agencies in Chennai, India
  {% elif values.Region == 'Hyderabad'%}
    Search fertility clinics & agencies in Hyderabad, India
  {% elif values.Region == 'Mumbai'%}
    Search fertility clinics & agencies in Mumbai, India
  {% elif values.Region == 'Patna'%}
    Search fertility clinics & agencies in Patna, India
  {% elif values.Region == 'Raipur'%}
    Search fertility clinics & agencies in Raipur, India
  {% elif values.Region == 'Amdavad'%}
    Search fertility clinics & agencies in Amdavad, India
  {% elif values.Region == 'Chandigarh'%}
    Search fertility clinics & agencies in Chandigarh, India
  {% elif values.Region == 'Faridabad'%}
    Search fertility clinics & agencies in Faridabad, India
  {% elif values.Region == 'Jamshedpur'%}
    Search fertility clinics & agencies in Jamshedpur, India
  {% elif values.Region == 'Bangalore'%}
    Search fertility clinics & agencies in Bangalore, India
  {% elif values.Region == 'Trivandrum'%}
    Search fertility clinics & agencies in Trivandrum, India
  {% elif values.Region == 'Kochi'%}
    Search fertility clinics & agencies in Kochi, India
  {% elif values.Region == 'Bhopal'%}
    Search fertility clinics & agencies in Bhopal, India
  {% elif values.Region == 'Indore'%}
    Search fertility clinics & agencies in Indore, India
  {% elif values.Region == 'Nagpur'%}
    Search fertility clinics & agencies in Nagpur, India
  {% elif values.Region == 'Bhubaneswar'%}
    Search fertility clinics & agencies in Bhubaneswar, India
  {% elif values.Region == 'Ludhiana'%}
    Search fertility clinics & agencies in Ludhiana, India
  {% elif values.Region == 'Jaipur'%}
    Search fertility clinics & agencies in Jaipur, India
  {% elif values.Region == 'Lucknow'%}
    Search fertility clinics & agencies in Lucknow, India
  {% elif values.Region == 'Kanpur'%}
    Search fertility clinics & agencies in Kanpur, India
  {% elif values.Region == 'Dehradun'%}
    Search fertility clinics & agencies in Dehradun, India
  {% elif values.Region == 'Kolkata'%}
    Search fertility clinics & agencies in Kolkata, India
  {% elif values.Region == 'Visakhapatnam'%}
    Search fertility clinics & agencies in Visakhapatnam, India
  {% elif values.Region == 'Vijayawada'%}
    Search fertility clinics & agencies in Vijayawada, India
  {% elif values.Region == 'NewDelhi'%}
    Search fertility clinics & agencies in New Delhi, India
  {% elif values.Region == 'Vadodara'%}
    Search fertility clinics & agencies in Vadodara, India
  {% elif values.Region == 'Gurugram'%}
    Search fertility clinics & agencies in Gurugram, India
  {% elif values.Region == 'Rohtak'%}
    Search fertility clinics & agencies in Rohtak, India
  {% elif values.Region == 'Jammu'%}
    Search fertility clinics & agencies in Jammu, India
  {% elif values.Region == 'Ranchi'%}
    Search fertility clinics & agencies in Ranchi, India
  {% elif values.Region == 'Gwalior'%}
    Search fertility clinics & agencies in Gwalior, India
  {% elif values.Region == 'Pune'%}
    Search fertility clinics & agencies in Pune, India
  {% elif values.Region == 'Warangal'%}
    Search fertility clinics & agencies in Warangal, India
  {% elif values.Region == 'Gachibowli'%}
    Search fertility clinics & agencies in Gachibowli, India
  {% elif values.Region == 'Madhapur'%}
    Search fertility clinics & agencies in Madhapur, India
  {% elif values.Region == 'Noida'%}
    Search fertility clinics & agencies in Noida, India
  {% elif values.Region == 'Meerut'%}
    Search fertility clinics & agencies in Meerut, India
  {% elif values.Region == 'Haldwani'%}
    Search fertility clinics & agencies in Haldwani, India
  {% endif %}
{% elif values.States == 'GR' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in Greece
  {% elif values.Region == None %}
    Search fertility clinics & agencies in Greece
  {% elif values.Region == 'Athens' %}
    Search fertility clinics & agencies in Athens, Greece
  {% elif values.Region == 'Thessaloniki'%}
    Search fertility clinics & agencies in Thessaloniki, Greece
  {% endif %}
{% elif values.States == 'CY' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in Cyprus
  {% elif values.Region == None %}
    Search fertility clinics & agencies in Cyprus
  {% elif values.Region == 'Nicosia' %}
    Search fertility clinics & agencies in Nicosia, Cyprus
  {% elif values.Region == 'Girne'%}
    Search fertility clinics & agencies in Girne, Cyprus
  {% endif %}
{% elif values.States == 'MX' %}
  {% if values.Region == '' %}
    Search fertility clinics & agencies in Mexico
  {% elif values.Region == None %}
    Search fertility clinics & agencies in Mexico
  {% elif values.Region == 'Cancún' %}
    Search fertility clinics & agencies in Cancún, Mexico
  {% elif values.Region == 'Mexico City'%}
    Search fertility clinics & agencies in Mexico City, Mexico
  {% endif %}
{% endif %}
