{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}


<!-- Interesting links section -->
<br>
<br>

<div class="container">
  {% if values.States == 'UK' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsUKRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in United Kingdom</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'US' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsUSRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in United States</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'CZ' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li hidden class="nav-item">
      <a class="nav-link" href="{% url 'locationsCZRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Czech Republic</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'SK' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li hidden class="nav-item">
      <a class="nav-link" href="{% url 'locationsSKRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Slovakia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'DK' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li hidden class="nav-item">
      <a class="nav-link" href="{% url 'locationsDKRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Denmark</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'SP' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsSPRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Spain</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'IN' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsINRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in India</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'GR' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsGRRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Greece</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'CY' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsCYRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Cyprus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% elif values.States == 'MX' %}
  <ul class="nav justify-content-left">
    <li hidden class="nav-item">
      <a class="nav-link" href="#" style="font-size: 14px !important;"><i class="fas fa-chart-line"></i> How to increase IVF success?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'blog1' %}" style="font-size: 14px !important;"><i class="far fa-question-circle"></i> Good to know about IVF</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="https://www.facebook.com/groups/592514381347298/" style="font-size: 14px !important;"><i class="fab fa-facebook"></i> Facebook IVF Support Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'locationsMXRegions' %}" style="font-size: 14px !important;"><i class="fas fa-search-location"></i> IVF Clinic locations in Mexico</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'locations' %}" style="font-size: 14px !important;"><i class="fas fa-globe"></i> Global IVF clinic locations</a>
    </li>
  </ul>
  {% endif %}
</div>

<br>
<br>