{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}


<!-- Filter section -->
  <div class="container">
    <form action="{% url 'search' %}">
      <div class="mainbanner" id="mainhpbanner">
        <br>
        <div hidden class="form-group" style="padding-top:1rem">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                <option value="" selected>Select state</option>
                <optgroup label="North America">
                  {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                  <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Europe">
                  {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                  <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </optgroup>
                <optgroup label="Asia">
                  {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                  <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                  {% endfor %}
                </optgroup>
              </select>
            </div>
          </div>
        </div>
        {% if values.States == 'US' %}
        <div class="form-group" style="padding-top:1rem" id="regions-us">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select US State</option>
                {% for key, value in CATEGORY_CHOICES_US_REGION.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'UK' %}
        <div class="form-group" style="padding-top:1rem" id="regions-uk">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select UK city</option>
                {% for key, value in CATEGORY_CHOICES_UK_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'CZ' %}
        <div class="form-group" style="padding-top:1rem" id="regions-cz">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Czech city</option>
                {% for key, value in CATEGORY_CHOICES_CZ_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'SK' %}
        <div class="form-group" style="padding-top:1rem" id="regions-cz">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Slovak city</option>
                {% for key, value in CATEGORY_CHOICES_SK_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'DK' %}
        <div class="form-group" style="padding-top:1rem" id="regions-cz">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Danish city</option>
                {% for key, value in CATEGORY_CHOICES_DK_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'DE' %}
        <div class="form-group" style="padding-top:1rem" id="regions-cz">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select German city</option>
                {% for key, value in CATEGORY_CHOICES_DE_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'LV' %}
        <div class="form-group" style="padding-top:1rem" id="regions-cz">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Latvian city</option>
                {% for key, value in CATEGORY_CHOICES_LV_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'PT' %}
        <div class="form-group" style="padding-top:1rem" id="regions-cz">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Portuguese city</option>
                {% for key, value in CATEGORY_CHOICES_PT_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'SP' %}
        <div class="form-group" style="padding-top:1rem" id="regions-sp">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Spanish city</option>
                {% for key, value in CATEGORY_CHOICES_SP_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'IN' %}
        <div class="form-group" style="padding-top:1rem" id="regions-sp">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Indian city</option>
                {% for key, value in CATEGORY_CHOICES_IN_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'GR' %}
        <div class="form-group" style="padding-top:1rem" id="regions-sp">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Greek city</option>
                {% for key, value in CATEGORY_CHOICES_GR_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'CY' %}
        <div class="form-group" style="padding-top:1rem" id="regions-sp">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Cypriot city</option>
                {% for key, value in CATEGORY_CHOICES_CY_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% elif values.States == 'MX' %}
        <div class="form-group" style="padding-top:1rem" id="regions-sp">
          <div class="card" style="border-radius: 8px;">
            <div class="card-header" style="background-color: white; border-radius: 8px;">
              <select class="browser-default custom-select custom-select-md" id="Region" name="Region" class="form-control">
                <option value="" selected>Select Mexican city</option>
                {% for key, value in CATEGORY_CHOICES_MX_CITIES.items %}
                <option value="{{ key }}" {% if key == values.Region %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% else %}
        {% endif %}
        {% include 'search/searchusacities.html' %}
        <div class="form-group" style="padding-top:1rem">
          <div class="accordion" id="accordionExample">
            <div class="card" id="cardBox" style="border-radius: 8px;">
              <div class="card-header" id="headingOne" style="background-color: white; border-radius: 8px;">
                <button id="treatmentsBtn" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {% if values.treatments == None %}Types of treatments
                  {% elif values.treatments == '' %}Types of treatments
                  {% elif values.treatments == 'Alltreatmentstrue' %}All treatments
                  {% elif values.treatments == 'IVFtreatmenttrue' %}Natural IVF
                  {% elif values.treatments == 'IVFtreatmentmildtrue' %}Mild (mini) IVF
                  {% elif values.treatments == 'IVFtreatmentovariantrue' %}Standard IVF
                  {% elif values.treatments == 'ICSItreatmenttrue' %}ICSI treatment
                  {% elif values.treatments == 'Eggdonationrecipientstrue' %}IVF with Egg donation
                  {% elif values.treatments == 'Spermdonationrecipientstrue' %}IVF with Sperm donation
                  {% elif values.treatments == 'Embryodonationrecipientstrue' %}IVF with Embryo donation
                  {% elif values.treatments == 'EggFreezingtrue' %}Egg freezing
                  {% elif values.treatments == 'EmbryoFreezingtrue' %}Embryo freezing
                  {% elif values.treatments == 'SpermFreezingtrue' %}Sperm freezing
                  {% elif values.treatments == 'Surrogacytrue' %}Gestational surrogacy
                  {% elif values.treatments == 'IUItreatmenttrue' %}IUI treatment
                  {% elif values.treatments == 'Singlewomantreatmenttrue' %}Single woman treatment
                  {% elif values.treatments == 'ReciprocalIVFtrue' %}Reciprocal IVF (LGBTQ)
                  {% endif %}
                </button>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="All treatment" value="Alltreatmentstrue" name="treatments" {% if values.treatments == 'Alltreatmentstrue' %}checked{% endif %}>
                        <label class="form-check-label" for="All treatment">All treatments</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="IUI treatment" value="IUItreatmenttrue" name="treatments" {% if values.treatments == 'IUItreatmenttrue' %}checked{% endif %}>
                        <label class="form-check-label" for="IUI treatment">IUI treatment</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="IVF treatment" value="IVFtreatmenttrue" name="treatments" {% if values.treatments == 'IVFtreatmenttrue' %}checked{% endif %}>
                        <label class="form-check-label" for="IVF treatment">Natural IVF</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="IVF treatment mild" value="IVFtreatmentmildtrue" name="treatments" {% if values.treatments == 'IVFtreatmentmildtrue' %}checked{% endif %}>
                        <label class="form-check-label" for="IVF treatment mild">Mild (mini) IVF</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="IVF treatment ovarian" value="IVFtreatmentovariantrue" name="treatments" {% if values.treatments == 'IVFtreatmentovariantrue' %}checked{% endif %}>
                        <label class="form-check-label" for="IVF treatment ovarian">Standard IVF</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="ICSI treatment" value="ICSItreatmenttrue" name="treatments" {% if values.treatments == 'ICSItreatmenttrue' %}checked{% endif %}>
                        <label class="form-check-label" for="ICSI treatment">ICSI treatment</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Egg donation recipients" value="Eggdonationrecipientstrue" name="treatments" {% if values.treatments == 'Eggdonationrecipientstrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Egg donation recipients">IVF with Egg donation</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Sperm donation recipients" value="Spermdonationrecipientstrue" name="treatments" {% if values.treatments == 'Spermdonationrecipientstrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Sperm donation recipients">IVF with Sperm donation</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Embryo donation recipients" value="Embryodonationrecipientstrue" name="treatments" {% if values.treatments == 'Embryodonationrecipientstrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Embryo donation recipients">IVF with Embryo donation</label>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Egg freezing" value="EggFreezingtrue" name="treatments" {% if values.treatments == 'EggFreezingtrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Egg freezing">Egg freezing</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Embryo freezing" value="EmbryoFreezingtrue" name="treatments" {% if values.treatments == 'EmbryoFreezingtrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Embryo freezing">Embryo freezing</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Sperm freezing" value="SpermFreezingtrue" name="treatments" {% if values.treatments == 'SpermFreezingtrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Sperm freezing">Sperm freezing</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Surrogacy" value="Surrogacytrue" name="treatments" {% if values.treatments == 'Surrogacytrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Surrogacy">Gestational surrogacy</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Single woman treatment" value="Singlewomantreatmenttrue" name="treatments" {% if values.treatments == 'Singlewomantreatmenttrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Single woman treatment">Single woman treatment</label>
                      </div>
                      <div class="form-group form-check">
                        <input type="radio" class="form-check-input" id="Reciprocal IVF" value="ReciprocalIVFtrue" name="treatments" {% if values.treatments == 'ReciprocalIVFtrue' %}checked{% endif %}>
                        <label class="form-check-label" for="Reciprocal IVF">Reciprocal IVF (LGBTQ)</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-group mb-3" style="padding-top:1rem; padding-bottom:2rem">
          <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-search"></i> Search</button>
          <br>
        </div>
      </div>
    </form>
    <hr noshade style="border-top: 1px solid white">
    <form action="{% url 'search' %}">
      <div class="mainbanner" id="mainhpbanner">
        <h5 class="mb-0 text-left" id="headingOne">
          <button class="btn" id="brandButton" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-filter"></i> Change country
          </button>
        </h5>
        <div class="accordion" id="accordion1Example" style="padding-bottom:2rem">
          <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion1Example">
            <br>
            <div class="form-group" style="padding-top:1rem">
              <div class="card" style="border-radius: 8px;">
                <div class="card-header" style="background-color: white; border-radius: 8px;">
                  <select class="browser-default custom-select custom-select-md" id="States" name="States" class="form-control" onchange="showDiv()" required>
                    <option value="" selected>Select state</option>
                    <optgroup label="North America">
                      {% for key, value in CATEGORY_CHOICES_STATES_NORTH_AMERICA.items %}
                      <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Europe">
                      {% for key, value in CATEGORY_CHOICES_STATES_EUROPE.items %}
                      <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Asia">
                      {% for key, value in CATEGORY_CHOICES_STATES_ASIA.items %}
                      <option value="{{ key }}" {% if key == values.States %}selected{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-group mb-3" style="padding-top:1rem;">
              <button id="brandButton" type="submit" class="btn btn-outline-success btn-lg">Change Country</button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>