
{% if values.Region == 'Alabama' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Alabama City</option>
        {% for key, value in AL_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Arizona' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Arizona City</option>
        {% for key, value in AZ_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'California' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select California City</option>
        {% for key, value in CA_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Colorado' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Colorado City</option>
        {% for key, value in CO_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Connecticut' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Connecticut City</option>
        {% for key, value in CT_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Delaware' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Delaware City</option>
        {% for key, value in DE_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Florida' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Florida City</option>
        {% for key, value in FL_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Georgia' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Georgia City</option>
        {% for key, value in GA_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Hawaii' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Hawaii City</option>
        {% for key, value in HI_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Illinois' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Illinois City</option>
        {% for key, value in IL_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Indiana' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Indiana City</option>
        {% for key, value in IN_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Kentucky' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Kentucky City</option>
        {% for key, value in KY_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Massachusetts' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Massachusetts City</option>
        {% for key, value in MA_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Missouri' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Missouri City</option>
        {% for key, value in MO_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Nevada' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Nevada City</option>
        {% for key, value in NV_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'New Jersey' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select New Jersey City</option>
        {% for key, value in NJ_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'New York' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select New York City</option>
        {% for key, value in NY_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'North Carolina' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select North Carolina City</option>
        {% for key, value in NC_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Ohio' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Ohio City</option>
        {% for key, value in OH_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Oklahoma' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Oklahoma City</option>
        {% for key, value in OK_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Oregon' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Oregon City</option>
        {% for key, value in OR_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Pennsylvania' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Pennsylvania City</option>
        {% for key, value in PA_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Tennessee' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Tennessee City</option>
        {% for key, value in TN_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Texas' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Texas City</option>
        {% for key, value in TX_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Virginia' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Virginia City</option>
        {% for key, value in VA_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

{% elif values.Region == 'Washington' %}
<div class="form-group" style="padding-top:1rem" id="regions-us">
  <div class="card" style="border-radius: 8px;">
    <div class="card-header" style="background-color: white; border-radius: 8px;">
      <select class="browser-default custom-select custom-select-md" id="City" name="City" class="form-control">
        <option value="" selected>Select Washington City</option>
        {% for key, value in WA_CITIES.items %}
        <option value="{{ key }}" {% if key == values.City %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
{% endif %}
