{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}2022 | Search and find the best fertility Clinics{% endblock %}
{% block description %}Choose a location around the globe as well as IVF treatment of your need and find the best fertility clinics that suits your conditions.{% endblock %}
{% block meta_keywords %}search fertility clinic near me, search ivf clinics near me, search fertility doctor near me, search fertility specialist near me, search fertility center near me, search private fertility clinic near me{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex, nofollow">{% endblock %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-5" style="padding-top:3rem; padding-bottom:1rem; color:white">
      {% include 'search/h1values.html' %}
    </h1>
    {% if values.States != None %}
      {% if 'Alltreatmentstrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'IVFtreatmenttrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with natural IVF treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'IVFtreatmentmildtrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with Mild (mini) IVF treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'IVFtreatmentovariantrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with standard IVF treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'ICSItreatmenttrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with ICSI treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'IUItreatmenttrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with IUI treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'Eggdonationrecipientstrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with IVF using egg donors treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'Embryodonationrecipientstrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with IVF using embryo donors treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'Spermdonationrecipientstrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with IVF using sperm donors treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'EggFreezingtrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with egg freezing treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'EmbryoFreezingtrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with embryo freezing treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'SpermFreezingtrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with sperm freezing treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'Surrogacytrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics with Gestational surrogacy treatment found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'Singlewomantreatmenttrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics providing single woman fertility treatments found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>

      {% elif 'ReciprocalIVFtrue' in request.get_full_path %}
      <p style="font-size: 20px; color: white !important">Clinics providing reciprocal (LGBTQ) fertility treatments found: <strong>{% if my_total_count %}({{ my_total_count }}){% else %}(0){% endif %}</strong></p>
      {% endif %}
    {% endif %}
  </div>

{% include 'search/mainbannersection.html' %}

<br>
<br>

<!-- PRO Clinic listings section -->

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      {% if paginationing %}

      {% for order_datas in order_data %}

        {% if order_datas.ivf_treatment_cost != Null or order_datas.mild_ivf_treatment_cost != Null or order_datas.ovarian_ivf_treatment_cos != Null or order_datas.icsi_treatment_cost != Null or order_datas.egg_donor_recipients_cost != Null or order_datas.sperm_donor_recipients_cost != Null or order_datas.embryo_donor_recipients_cost != Null %}
        <!-- BASIC Clinic listings PRICING -->
        <div class="container" style="background-color: #dedede; padding-top: 10px; border-radius: 8px; border-color: #286DA8; padding-bottom: 25px;">
          <div class="container" style="padding-top: 20px">
            <div class="header" style="min-height:80px;">
              {% if order_datas.clinic_pro_logo_pic %}
              <div id="imgInfo" class="img align-self-center align-items-center">
                <a target="_blank" rel="noopener noreferrer" href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                  <img class="imgHoverLogo" src="{{ order_datas.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
                </a>
              </div>
              {% else %}
              <div id="imgInfo" class="img align-self-center align-items-center">
                <a target="_blank" rel="noopener noreferrer" href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                  <img class="imgHoverLogo" src="{% static 'img/hospital.svg' %}" alt="alternate logo" style="max-height:70px; max-width:70px">
                </a>
              </div>
              {% endif %}
              <div class="container" id="nameInfo">
                <div class="row-md">
                  <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                    <p class="display-5" style="margin-bottom: 0px; color: #6c757d; font-size: 28px">{{ order_datas.clinicName }}</p>
                  </a>
                </div>
                {% if order_datas.clinicTitle %}<p style="color:#6c757d">{{ order_datas.clinicTitle|safe }}</p>{% else %}<br>{% endif %}
              </div>
            </div>
            <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><i class="fas fa-map-marker-alt"></i> {{order_datas.clinicStreetAddress}}, {{ order_datas.clinicPostalCode }} {{ order_datas.clinicCity }}, {{ order_datas.clinicState }}</p>
            {% if order_datas.contact_phone %}<p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><i class="fas fa-phone-alt"></i> <a href="tel:{{ order_datas.contact_phone }}">{{ order_datas.contact_phone }}</a></p>{% endif %}
          </div>
          <hr noshade style="border-top: 1px solid #6c757d">

          <p style="font-size: 18px; color: #6c757d;">
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
          </p>

          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{order_datas.digitalTransparencyIndex}}%" aria-valuenow="{{order_datas.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{order_datas.digitalTransparencyIndex}}%</strong></div>
          </div>

          {% if 'IVFtreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">Natural IVF available</a></p>

          {% elif 'IVFtreatmentmildtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">Mild (mini) IVF available</a></p>

          {% elif 'IVFtreatmentovariantrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">Standard IVF available</a></p>

          {% elif 'ICSItreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">ICSI available</a></p>

          {% elif 'IUItreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IUI available</a></p>

          {% elif 'Eggdonationrecipientstrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IVF using egg donors available</a></p>

          {% elif 'Embryodonationrecipientstrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IVF using embryo donors available</a></p>

          {% elif 'Spermdonationrecipientstrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IVF using sperm donors available</a></p>

          {% elif 'EggFreezingtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Egg freezing available</a></p>

          {% elif 'EmbryoFreezingtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Embryo freezing available</a></p>

          {% elif 'SpermFreezingtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Sperm freezing available</a></p>

          {% elif 'Surrogacytrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Gestational surrogacy available</a></p>

          {% elif 'Singlewomantreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#conditions" rel="nofollow" style="text-decoration: none">Single woman treatment available</a></p>

          {% elif 'ReciprocalIVFtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#conditions" rel="nofollow" style="text-decoration: none">Reciprocal IVF (LGBTQ) available</a></p>
          {% endif %}

          <hr noshade>
          <div class="row-md">
            <p>Features:
              {% if order_datas.ppq_is_published == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-fire-alt"></i> Popular</span>{% else %}{% endif %}
              {% if order_datas.verified_is_published == True or order_datas.is_claimed == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Verified</span>{% else %}{% endif %}
              {% if order_datas.ppq_is_published == True and order_datas.clinicLiveChatChoice != Blank %}{% if order_datas.clinicChatraCode != Blank or order_datas.clinicLiveChatCode != Blank or order_datas.clinicOlarkCode != Blank or order_datas.clinicTidioCode != Blank %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> LiveChat</span>{% else %}{% endif %}{% else %}{% endif %}
              {% if order_datas.accepts_patients_from_abroad == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> International patients</span>{% else %}{% endif %}
              {% if order_datas.clinicGoogleReviews != Empty or order_datas.clinicTrustPilotID != Empty %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Trusted reviews</span>{% else %}{% endif %}
              {% if order_datas.clinicOwn == 'Private' %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Private</span>{% else %}{% endif %}
              {% if order_datas.clinicOwn == 'State' %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> State</span>{% else %}{% endif %}
            </p>
          </div>
          <div class="row-md">
            {% if order_datas.clinicSart != Null or order_datas.clinicHfea != Null %}
              <p>Certification:
              {% if order_datas.clinicSart %}<span class="badge badge-secondary" style="margin-left: 10px"><i class="fas fa-user-check"></i> <a href="{{ order_datas.clinicSart }}" target="_blank" style="color:white" rel="nofollow noopener"> SART member</a></span>{% else %}{% endif %}
              {% if order_datas.clinicHfea %}<span class="badge badge-secondary" style="margin-left: 10px"><i class="fas fa-user-check"></i> <a href="{{ order_datas.clinicHfea }}" target="_blank" style="color:white" rel="nofollow noopener"> HFAE member</a></span>{% else %}{% endif %}
              </p>
            {% else %}
            {% endif %}
          </div>

          <hr noshade>
          <div class="row">
            <div class="col-4 col-sm" style="padding-top:1rem">
              <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                <button type="button" class="btn btn-outline-secondary btn-md" style="max-width: 10rem; font-size: 18px"><i class="fas fa-info-circle"></i> Detail</button>
              </a>
            </div>
            <div class="col-4 col-sm" style="padding-top:1rem">
              <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow">
                <button id="pricingSearchButton" type="button" class="btn btn-outline-secondary btn-md" style="max-width: 10rem; font-size: 16px"><i class="fas fa-tags"></i> Pricing</button>
              </a>
            </div>
            {% if order_datas.pro_is_published == True or order_datas.ppq_is_published == True %}
            <div class="col-4 col-sm" style="padding-top:1rem">
              <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#packages" rel="nofollow">
                <button id="brandButton" type="button" class="btn btn-outline-success btn-md" style="max-width: 10rem; font-size: 16px"><i class="fas fa-archive"></i> Packages</button>
              </a>
            </div>
            {% else %}
            <div class="col-4 col-sm" style="padding-top:1rem">
            </div>
            {% endif %}
          </div>
        </div>
        <br>
        {% else %}
        <!-- BASIC Clinic listings NOPRICING -->
        <div class="container" style="background-color: #dedede; padding-top: 10px; border-radius: 8px; border-color: #286DA8; padding-bottom: 25px;">
          <div class="container" style="padding-top: 20px">
            <div class="header" style="min-height:80px;">
              {% if order_datas.clinic_pro_logo_pic %}
              <div id="imgInfo" class="img align-self-center align-items-center">
                <a target="_blank" rel="noopener noreferrer" href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                  <img class="imgHoverLogo" src="{{ order_datas.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
                </a>
              </div>
              {% else %}
              <div id="imgInfo" class="img align-self-center align-items-center">
                <a target="_blank" rel="noopener noreferrer" href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                  <img class="imgHoverLogo" src="{% static 'img/hospital.svg' %}" alt="alternate logo" style="max-height:70px; max-width:70px">
                </a>
              </div>
              {% endif %}
              <div class="container" id="nameInfo">
                <div class="row-md">
                  <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                    <p class="display-5" style="margin-bottom: 0px; color: #6c757d; font-size: 28px">{{ order_datas.clinicName }}</p>
                  </a>
                </div>
                {% if order_datas.clinicTitle %}<p style="color:#6c757d">{{ order_datas.clinicTitle|safe }}</p>{% else %}<br>{% endif %}
              </div>
            </div>
            <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><i class="fas fa-map-marker-alt"></i> {{order_datas.clinicStreetAddress}}, {{ order_datas.clinicPostalCode }} {{ order_datas.clinicCity }}, {{ order_datas.clinicState }}</p>
            {% if order_datas.contact_phone %}<p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><i class="fas fa-phone-alt"></i> <a href="tel:{{ order_datas.contact_phone }}">{{ order_datas.contact_phone }}</a></p>{% endif %}
          </div>
          <hr noshade style="border-top: 1px solid #6c757d">

          <p style="font-size: 18px; color: #6c757d;">
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
          </p>

          <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{order_datas.digitalTransparencyIndex}}%" aria-valuenow="{{order_datas.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{order_datas.digitalTransparencyIndex}}%</strong></div>
          </div>

          {% if 'IVFtreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">Natural IVF available</a></p>

          {% elif 'IVFtreatmentmildtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">Mild (mini) IVF available</a></p>

          {% elif 'IVFtreatmentovariantrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">Standard IVF available</a></p>

          {% elif 'ICSItreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">ICSI available</a></p>

          {% elif 'IUItreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IUI available</a></p>

          {% elif 'Eggdonationrecipientstrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IVF using egg donors available</a></p>

          {% elif 'Embryodonationrecipientstrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IVF using embryo donors available</a></p>

          {% elif 'Spermdonationrecipientstrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#pricing" rel="nofollow" style="text-decoration: none">IVF using sperm donors available</a></p>

          {% elif 'EggFreezingtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Egg freezing available</a></p>

          {% elif 'EmbryoFreezingtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Embryo freezing available</a></p>

          {% elif 'SpermFreezingtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Sperm freezing available</a></p>

          {% elif 'Surrogacytrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#secondPricing" rel="nofollow" style="text-decoration: none">Gestational surrogacy available</a></p>

          {% elif 'Singlewomantreatmenttrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#conditions" style="text-decoration: none">Single woman treatment available</a></p>

          {% elif 'ReciprocalIVFtrue' in request.get_full_path %}
          <hr noshade>
          <p style="font-size: 15px; color: #6c757d; margin-bottom: 0px"><img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 25px;"><a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#conditions" style="text-decoration: none">Reciprocal IVF (LGBTQ) available</a></p>
          {% endif %}

          <hr noshade>
          <div class="row-md">
            <p>Features:
              {% if order_datas.ppq_is_published == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-fire-alt"></i> Popular</span>{% else %}{% endif %}
              {% if order_datas.verified_is_published == True or order_datas.is_claimed == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Verified</span>{% else %}{% endif %}
              {% if order_datas.ppq_is_published == True and order_datas.clinicLiveChatChoice != Blank %}{% if order_datas.clinicChatraCode != Blank or order_datas.clinicLiveChatCode != Blank or order_datas.clinicOlarkCode != Blank or order_datas.clinicTidioCode != Blank %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> LiveChat</span>{% else %}{% endif %}{% else %}{% endif %}
              {% if order_datas.accepts_patients_from_abroad == True %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> International patients</span>{% else %}{% endif %}
              {% if order_datas.clinicGoogleReviews != Empty or order_datas.clinicTrustPilotID != Empty %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Trusted reviews</span>{% else %}{% endif %}
              {% if order_datas.clinicOwn == 'Private' %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> Private</span>{% else %}{% endif %}
              {% if order_datas.clinicOwn == 'State' %}<span class="badge badge-info" style="margin-left: 10px"><i class="fas fa-check-circle"></i> State</span>{% else %}{% endif %}
            </p>
          </div>
          <div class="row-md">
            {% if order_datas.clinicSart != Null or order_datas.clinicHfea != Null %}
              <p>Certification:
              {% if order_datas.clinicSart %}<span class="badge badge-secondary" style="margin-left: 10px"><i class="fas fa-user-check"></i> <a href="{{ order_datas.clinicSart }}" target="_blank" style="color:white" rel="nofollow noopener"> SART member</a></span>{% else %}{% endif %}
              {% if order_datas.clinicHfea %}<span class="badge badge-secondary" style="margin-left: 10px"><i class="fas fa-user-check"></i> <a href="{{ order_datas.clinicHfea }}" target="_blank" style="color:white" rel="nofollow noopener"> HFAE member</a></span>{% else %}{% endif %}
              </p>
            {% else %}
            {% endif %}
          </div>

          <hr noshade>
          <div class="row">
            <div class="col-4 col-sm" style="padding-top:1rem">
              <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}" rel="nofollow">
                <button type="button" class="btn btn-outline-secondary btn-md" style="max-width: 10rem; font-size: 18px"><i class="fas fa-info-circle"></i> Detail</button>
              </a>
            </div>
            <div class="col-4 col-sm" style="padding-top:1rem">
            </div>
            {% if order_datas.pro_is_published == True or order_datas.ppq_is_published == True %}
            <div class="col-4 col-sm" style="padding-top:1rem">
              <a href="{% url 'clinics:clinic-detail' order_datas.pk order_datas.slug %}#packages" rel="nofollow">
                <button id="brandButton" type="button" class="btn btn-outline-success btn-md" style="max-width: 10rem; font-size: 16px"><i class="fas fa-archive"></i> Packages</button>
              </a>
            </div>
            {% else %}
            <div class="col-4 col-sm" style="padding-top:1rem">
            </div>
            {% endif %}
          </div>
        </div>
        <br>
        {% endif %}

      {% endfor %}
      {% else %}
      <div class="container" style="background-color: white; padding-top: 0px; border-radius: 8px; border-color: #286DA8;">
        <div class="container" style="padding-top: 20px">
          <div class="header">
            <div class="container" id="nameInfo" style="padding-bottom:5rem">
              <div class="row align-self-center align-items-center">
                <h2 class="display-5" style="padding-bottom:2rem">Sorry, there are no clinics for this search query.</h2>
                <p>Please try different countries or treatment options</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>


  {% include 'search/treatmentaverageprices.html' %}

  </div>
</div>

<br>
<br>
<!-- Clinic additional locations -->
{% if values.States != None %}
<div class="container" style="text-align: center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        {% if paginationing.has_previous %}
        <a class="page-link" href="?{% param_replace page=1 %}">&laquo; First</a>
      </li>
      <li class="page-item">
        {% if page_obj.previous_page_number != 1 %}
        <a class="page-link" href="?{% param_replace page=paginationing.previous_page_number %}">Previous</a>
        {% endif %}
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link">Page {{ paginationing.number }} of {{ paginationing.paginator.num_pages }}</a>
      </li>

      {% if paginationing.has_next %}
      <li class="page-item">
        {% if paginationing.next_page_number != paginator.num_pages %}
        <a class="page-link" href="?{% param_replace page=paginationing.next_page_number %}">Next</a>
        {% endif %}
        {% endif %}
      </li>
    </ul>
  </nav>
</div>
{% endif %}

<br>
<br>

<div class="background" style="background-color: #286DA8">
  <br>
  <br>
  <div class="container">
    <h2 class="text-white">Packages & Deals | 2022</h2>
    <p class="text-white">Be sure to check out IVF packages and other special offers from fertility clinics.</p>
      <a href="{% url 'packagesearch' %}">
        <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md"><i class="fas fa-archive"></i>
          All IVF Packages
        </button>
      </a>
    <br>
  </div>
  <br>
  <br>
</div>

{% include 'search/interestinglinksection.html' %}

{% include 'search/additionallocations.html' %}

{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/quick-info.js' %}"></script>{% endblock %}
{% endblock  %}
