{% load static %}
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb">
    <div class="container">
      <div class="d-flex flex-wrap flex-row justify-content-between align-items-center align-self-center">

        <a href="{% url 'index' %}" style="text-decoration: none">Home </a>|
        {% if clinic.clinicStateLink %}
        <a href="{{clinic.clinicStateLink}}"> Clinics in {{clinic.clinicState}} </a>|
        {% else %}
        {% endif %}

        {% if clinic.clinicRegionLink %}
        <a href="{{clinic.clinicRegionLink}}"> Clinics in {{clinic.clinicRegion}} </a>|
        {% else %}
        {% endif %}

        {% if clinic.clinicCityLink %}
        <a href="{{clinic.clinicCityLink}}"> Clinics in {{clinic.clinicCity}}</a>
        {% else %}
        {% endif %}
      </div>
    </div>
  </nav>
</div>