{% load static %}
<div class="background" style="background-color: #e9ecef">
  <nav aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}" style="text-decoration: none">Home</a></li>
        {% if clinic.clinicStateLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{clinic.clinicStateLink}}">Fertility clinics in {{clinic.clinicState}}</a></li>
        {% else %}
        {% endif %}

        {% if clinic.clinicRegionLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{clinic.clinicRegionLink}}">{{clinic.clinicRegion}}</a></li>
        {% else %}
        {% endif %}

        {% if clinic.clinicCityLink %}
        <li class="breadcrumb-item" aria-current="page"><a href="{{clinic.clinicCityLink}}">{{clinic.clinicCity}}</a></li>
        {% else %}
        {% endif %}
      </ol>
    </div>
  </nav>
</div>
