{% load static %}
{% load humanize %}
{% load currencytag %}
<div class="container py-3" style="text-align: center; z-index: -1;" id="secondPricing">
  <h2>Additional treatments & costs (single cycle)</h2>
  <hr>
  {% if clinic.is_claimed == True %}
  <p>The prices listed below are managed by clinic staff, but are generally average prices without medication, so they may not match your final price.</p>
  {% else %}
  <p>The prices listed below are only estimated average prices without medication and do not guarantee the final price.</p>
  {% endif %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="text-align:left">Treatment name</th>
        <th scope="col">Provide</th>
        <th scope="col">Pricing</th>
      </tr>
    </thead>
    <tbody>



      <!-- Egg freezing -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if clinic.egg_freezing_faqs and clinic.egg_freezing == True %}<a data-toggle="collapse" href="#eggfreezingfaqs" role="button" aria-expanded="false" aria-controls="eggfreezingfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Egg freezing</p>
          <div class="collapse multi-collapse" id="eggfreezingfaqs">
            <p>
              {{ clinic.egg_freezing_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if clinic.egg_freezing == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
        </td>
        <td>
          {% if clinic.egg_freezing == True %}
            {% if clinic.egg_freezing_cost != none %}
              {% if clinic.defaultClinicCurrency == 'USD' %}
                <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'USD'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'EUR'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'GBP'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
                <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'CZK'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} CZK</p></div>
                <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'MXN'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} MXN</p></div>
                <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'INR'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} INR</p></div>
                <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convert:'CAD'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} CAD</p></div>
              {% elif clinic.defaultClinicCurrency == 'EUR' %}
                <div class="EURtreatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convertEUR:'USD'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="EURtreatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convertEUR:'EUR'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="EURtreatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with egg_freezing_cost=clinic.egg_freezing_cost|convertEUR:'GBP'|floatformat:'0' %}{{ egg_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
              {% endif %}
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>



      <!-- Embryo freezing -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if clinic.embryo_freezing_faqs and clinic.embryo_freezing == True %}<a data-toggle="collapse" href="#embryofreezingfaqs" role="button" aria-expanded="false" aria-controls="embryofreezingfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Embryo freezing</p>
          <div class="collapse multi-collapse" id="embryofreezingfaqs">
            <p>
              {{ clinic.embryo_freezing_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if clinic.embryo_freezing == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
        </td>
        <td>
          {% if clinic.embryo_freezing == True %}
            {% if clinic.embryo_freezing_cost != none %}
              {% if clinic.defaultClinicCurrency == 'USD' %}
                <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'USD'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'EUR'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'GBP'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
                <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'CZK'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} CZK</p></div>
                <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'MXN'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} MXN</p></div>
                <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'INR'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} INR</p></div>
                <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convert:'CAD'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} CAD</p></div>
              {% elif clinic.defaultClinicCurrency == 'EUR' %}
                <div class="EURtreatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convertEUR:'USD'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="EURtreatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convertEUR:'EUR'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="EURtreatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with embryo_freezing_cost=clinic.embryo_freezing_cost|convertEUR:'GBP'|floatformat:'0' %}{{ embryo_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
              {% endif %}
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>



      <!-- Sperm freezing -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if clinic.sperm_freezing_faqs and clinic.sperm_freezing == True %}<a data-toggle="collapse" href="#spermfreezingfaqs" role="button" aria-expanded="false" aria-controls="spermfreezingfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Sperm freezing</p>
          <div class="collapse multi-collapse" id="spermfreezingfaqs">
            <p>
              {{ clinic.sperm_freezing_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if clinic.sperm_freezing == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
        </td>
        <td>
          {% if clinic.sperm_freezing == True %}
            {% if clinic.sperm_freezing_cost != none %}
              {% if clinic.defaultClinicCurrency == 'USD' %}
                <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'USD'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'EUR'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'GBP'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
                <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'CZK'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} CZK</p></div>
                <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'MXN'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} MXN</p></div>
                <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'INR'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} INR</p></div>
                <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convert:'CAD'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} CAD</p></div>
              {% elif clinic.defaultClinicCurrency == 'EUR' %}
                <div class="EURtreatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convertEUR:'USD'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="EURtreatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convertEUR:'EUR'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="EURtreatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with sperm_freezing_cost=clinic.sperm_freezing_cost|convertEUR:'GBP'|floatformat:'0' %}{{ sperm_freezing_cost|intcomma }}{% endwith %} GBP</p></div>
              {% endif %}
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>



      <!-- Gestational surrogacy -->
      <tr>
        <th scope="row">
          <p style="text-align: left; font-size: 22px">{% if clinic.surrogacy_faqs and clinic.surrogacy == True %}<a data-toggle="collapse" href="#surrogacyfaqs" role="button" aria-expanded="false" aria-controls="surrogacyfaqs"><i class="fas fa-angle-double-down"></i></a>{% else %}{% endif %} Gestational surrogacy</p>
          <div class="collapse multi-collapse" id="surrogacyfaqs">
            <p>
              {{ clinic.surrogacy_faqs|safe }}
            </p>
          </div>
        </th>
        <td>
          {% if clinic.surrogacy == True %}<img src="{% static 'img/True.png' %}" class="mr-3" alt="Icon True" style="height: 2rem;">
          {% else %}<img src="{% static 'img/False.png' %}" class="mr-3" alt="Icon False" style="height: 2rem;">
          {% endif %}
          </td>
        <td>
          {% if clinic.surrogacy == True %}
            {% if clinic.surrogacy_cost != none %}
              {% if clinic.defaultClinicCurrency == 'USD' %}
                <div class="treatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'USD'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="treatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'EUR'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="treatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'GBP'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} GBP</p></div>
                <div class="treatmentCostsCZKCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'CZK'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} CZK</p></div>
                <div class="treatmentCostsMXNCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'MXN'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} MXN</p></div>
                <div class="treatmentCostsINRCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'INR'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} INR</p></div>
                <div class="treatmentCostsCADCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convert:'CAD'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} CAD</p></div>
              {% elif clinic.defaultClinicCurrency == 'EUR' %}
                <div class="EURtreatmentCostsUSDCurrency"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convertEUR:'USD'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} USD</p></div>
                <div class="EURtreatmentCostsEURCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convertEUR:'EUR'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} EUR</p></div>
                <div class="EURtreatmentCostsGBPCurrency" style="display:none"><p style="text-align: center; font-size: 22px">{% with surrogacy_cost=clinic.surrogacy_cost|convertEUR:'GBP'|floatformat:'0' %}{{ surrogacy_cost|intcomma }}{% endwith %} GBP</p></div>
              {% endif %}
            {% else %}
              <p style="text-align: center; font-size: 22px">Unknown</p>
            {% endif %}
          {% else %}
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
