{% load static %}
{% load humanize %}

<div class="container py-5" style="text-align: center" id="contact">
  <h2>Contact</h2>
  <hr>
  <div class="row" style="padding-top:10px">

    {% if clinic.contact_url %}
    <div class="col" style="text-align: center">
    </div>
    <div class="col" style="text-align: center">
      <a href="{{ clinic.contact_url }}" style="text-align: center; text-decoration: none" rel="noopener" target="_blank">
        <button id="brandButtonGoalPrimary" type="button" class="btn btn-block btn-md shadow"><i class="fas fa-desktop"></i> Website</button>
      </a>
    </div>
    <div class="col" style="text-align: center">
    </div>
    {% else %}
    {% endif %}

  </div>
</div>

{% if clinic.description %}
  <div class="container py-5">
    <h2>About our clinic:</h2>
    <hr>
    <p>{{ clinic.description|safe }}</p>
  </div>
{% else %}
{% endif %}
{% if clinic.treatmentLimitations %}
  <div class="container py-5">
    <h2>Treatment limitations and restrictions:</h2>
    <hr>
    <p>{{ clinic.treatmentLimitations|safe }}</p>
  </div>
{% else %}
{% endif %}

{% if user_objects %}
<div class="container py-5">
  {% if user_objects_count <= 1 %}
    <h2>This clinic has {{ user_objects_count }} other office:</h2>
  {% else %}
    <h2>This clinic has {{ user_objects_count }} other offices:</h2>
  {% endif %}
  <hr>
  <div class="row row-cols-1 row-cols-md-3">
    {% for i in user_objects %}
      <div class="col mb-5">
        <div class="card">
          <div class="card-body">
            {% if i.clinic_pro_logo_pic %}
            <p style="font-size: 20px; margin-bottom: 0px"><img class="imgHoverLogo" src="{{ i.clinic_pro_logo_pic.url }}" alt="Clinic's logo" style="max-height:70px; width:70px"> <a href="https://www.fertilitycommunity.com/clinics/{{i.pk}}/{{ i.slug }}">{{ i.clinicName }}</a></p>
            {% else %}
            <p style="font-size: 20px; margin-bottom: 0px"><img class="imgHoverLogo" src="{% static 'img/hospital.svg' %}" alt="alternate logo" style="max-height:70px; max-width:70px"> <a href="https://www.fertilitycommunity.com/clinics/{{i.pk}}/{{ i.slug }}">{{ i.clinicName }}</a></p>
            {% endif %}
          </div>
          <a href="https://www.fertilitycommunity.com/clinics/{{i.pk}}/{{ i.slug }}">
            <button type="button" class="btn btn-link btn-block btn-md shadow" role="button">
              Learn more
            </button>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
