{% load static %}
{% if package %}
{% load humanize %}
{% load currencytag %}
{% if clinic.pro_is_published == True or clinic.ppq_is_published == True %}
<div class="backgroundPackageClinicDetail">
  <br>
  <div class="container py-5" id="packages">
    <h2>Limited IVF packages & deals</h2>
    <hr>
    <div class="container py-5">
      <div class="row row-cols-1 row-cols-md-3">
        {% if clinic.ppq_is_published == True and clinic.pro_is_published == False %}
          {% for packages in package|slice:"0:6" %}
            <div class="col mb-5">
              <div class="card">
                {% if packages.package_pic %}
                <img src="{{ packages.package_pic.url }}" class="card-img-top" alt="IVF package front image">
                {% else%}
                {% endif %}
                <div class="card-body">
                  {% if packages.packageclinic.clinic_pro_logo_pic %}
                  <p style="font-size: 15px; margin-bottom: 0px"><img class="imgHoverLogo" src="{{ packages.packageclinic.clinic_pro_logo_pic.url }}" alt="Clinic's logo" style="height:70px; width:70px"> <a href="{{ packages.packageclinic.clinic_url }}">{{ packages.packageclinic.clinicName }}</a></p>
                  {% else %}
                  <p style="font-size: 15px; margin-bottom: 0px"><i class="fas fa-clinic-medical"></i> <a href="{{ packages.packageclinic.clinic_url }}">{{ packages.packageclinic.clinicName }}</a></p>
                  {% endif %}
                  <p style="font-size: 15px; margin-bottom: 0px"><i class="fas fa-chart-pie"></i> Category: {{ packages.packagecategory }} </p>
                  <span class="badge badge-danger text-right"><i class="fas fa-calendar-times"></i> Expire in: {{ packages.package_end_list_date|naturaltime}}</span>
                  <hr>
                  <h5 class="card-title">{{ packages.packagetitle }}</h5>
                  <hr>
                  <h5 style="color: #CD5360; text-align: center">
                    {% if clinic.defaultClinicCurrency == 'USD' %}
                      <div class="treatmentCostsUSDCurrency">{{ packages.packagecost|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                      <div class="treatmentCostsEURCurrency" style="display:none">{{ packages.packagecost|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                      <div class="treatmentCostsGBPCurrency" style="display:none">{{ packages.packagecost|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                      <div class="treatmentCostsCZKCurrency" style="display:none">{{ packages.packagecost|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                      <div class="treatmentCostsMXNCurrency" style="display:none">{{ packages.packagecost|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                      <div class="treatmentCostsINRCurrency" style="display:none">{{ packages.packagecost|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                      <div class="treatmentCostsCADCurrency" style="display:none">{{ packages.packagecost|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                    {% elif clinic.defaultClinicCurrency == 'EUR' %}
                      <div class="treatmentCostsUSDCurrency">{{ packages.packagecost|convertEUR:'USD'|floatformat:'0'|intcomma}} USD</div>
                      <div class="treatmentCostsEURCurrency" style="display:none">{{ packages.packagecost|convertEUR:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                      <div class="treatmentCostsGBPCurrency" style="display:none">{{ packages.packagecost|convertEUR:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                    {% endif %}
                  </h5>
                  <hr>
                  <a data-toggle="collapse" href="#multiCollapseExample1{{ packages.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View Details</a>
                  <div class="collapse multi-collapse" id="multiCollapseExample1{{ packages.id }}">
                    <p class="card-text">{{ packages.packagedesc|safe }}</p>
                  </div>
                </div>
                <button type="button" class="btn btn-link btn-block btn-md shadow" data-toggle="collapse" href="#contact{{ packages.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                  Learn more
                </button>
                <div class="collapse multi-collapse" id="contact{{ packages.id }}">

                  {% if packages.package_url %}
                  <br>
                  <a href="{{ packages.package_url }}" rel="sponsored, noopener" style="text-decoration: none" target="_blank">
                    <button id="brandButtonGoalPackagePrimary" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-desktop"></i> Website</button>
                  </a>
                  {% endif %}

                  {% if packages.packageclinic.query_email %}
                  <br>
                  <a href="mailto:{{ packages.packageclinic.query_email }}" style="text-decoration: none">
                    <button id="brandButtonGoalPackageEmail" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-envelope"></i> Contact me</button>
                  </a>
                  {% endif %}

                  {% if packages.package_phone %}
                  <br>
                  <a href="tel:{{ packages.package_phone }}" style="text-align:center; text-decoration: none">
                    <button id="brandButtonGoalPackageCall" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-phone"></i> Call us</button>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
        {% for packages in package|slice:"0:2" %}
        <div class="col mb-5">
          <div class="card">
            {% if packages.package_pic %}
            <img src="{{ packages.package_pic.url }}" class="card-img-top" alt="IVF package front image">
            {% else%}
            {% endif %}
            <div class="card-body">
              {% if packages.packageclinic.clinic_pro_logo_pic %}
              <p style="font-size: 15px; margin-bottom: 0px"><img class="imgHoverLogo" src="{{ packages.packageclinic.clinic_pro_logo_pic.url }}" alt="Clinic's logo" style="height:70px; width:70px"> <a href="{{ packages.packageclinic.clinic_url }}">{{ packages.packageclinic.clinicName }}</a></p>
              {% else %}
              <p style="font-size: 15px; margin-bottom: 0px"><i class="fas fa-clinic-medical"></i> <a href="{{ packages.packageclinic.clinic_url }}">{{ packages.packageclinic.clinicName }}</a></p>
              {% endif %}
              <p style="font-size: 15px; margin-bottom: 0px"><i class="fas fa-chart-pie"></i> Category: {{ packages.packagecategory }} </p>
              <span class="badge badge-danger text-right"><i class="fas fa-calendar-times"></i> Expire in: {{ packages.package_end_list_date|naturaltime}}</span>
              <hr>
              <h5 class="card-title">{{ packages.packagetitle }}</h5>
              <hr>
              <h5 style="color: #CD5360; text-align: center">
                    {% if clinic.defaultClinicCurrency == 'USD' %}
                      <div class="treatmentCostsUSDCurrency">{{ packages.packagecost|convert:'USD'|floatformat:'0'|intcomma}} USD</div>
                      <div class="treatmentCostsEURCurrency" style="display:none">{{ packages.packagecost|convert:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                      <div class="treatmentCostsGBPCurrency" style="display:none">{{ packages.packagecost|convert:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                      <div class="treatmentCostsCZKCurrency" style="display:none">{{ packages.packagecost|convert:'CZK'|floatformat:'0'|intcomma}} CZK</div>
                      <div class="treatmentCostsMXNCurrency" style="display:none">{{ packages.packagecost|convert:'MXN'|floatformat:'0'|intcomma}} MXN</div>
                      <div class="treatmentCostsINRCurrency" style="display:none">{{ packages.packagecost|convert:'INR'|floatformat:'0'|intcomma}} INR</div>
                      <div class="treatmentCostsCADCurrency" style="display:none">{{ packages.packagecost|convert:'CAD'|floatformat:'0'|intcomma}} CAD</div>
                    {% elif clinic.defaultClinicCurrency == 'EUR' %}
                      <div class="treatmentCostsUSDCurrency">{{ packages.packagecost|convertEUR:'USD'|floatformat:'0'|intcomma}} USD</div>
                      <div class="treatmentCostsEURCurrency" style="display:none">{{ packages.packagecost|convertEUR:'EUR'|floatformat:'0'|intcomma}} EUR</div>
                      <div class="treatmentCostsGBPCurrency" style="display:none">{{ packages.packagecost|convertEUR:'GBP'|floatformat:'0'|intcomma}} GBP</div>
                    {% endif %}
              </h5>
              <hr>
              <a data-toggle="collapse" href="#multiCollapseExample1{{ packages.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">View Details</a>
              <div class="collapse multi-collapse" id="multiCollapseExample1{{ packages.id }}">
                <p class="card-text">{{ packages.packagedesc|safe }}</p>
              </div>
            </div>
            <button type="button" class="btn btn-link btn-block btn-md shadow" data-toggle="collapse" href="#contact{{ packages.id }}" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
              Learn more
            </button>
            <div class="collapse multi-collapse" id="contact{{ packages.id }}">

              {% if packages.package_url %}
              <br>
              <a href="{{ packages.package_url }}" rel="sponsored, noopener" style="text-decoration: none" target="_blank">
                <button id="brandButtonGoalPackagePrimary" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-desktop"></i> Website</button>
              </a>
              {% endif %}

              {% if packages.packageclinic.query_email %}
              <br>
              <a href="mailto:{{ packages.packageclinic.query_email }}" style="text-decoration: none">
                <button id="brandButtonGoalPackageEmail" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-envelope"></i> Contact me</button>
              </a>
              {% endif %}

              {% if packages.package_phone %}
              <br>
              <a href="tel:{{ packages.package_phone }}" style="text-align:center; text-decoration: none">
                <button id="brandButtonGoalPackageCall" type="button" class="btn btn-outline-success btn-block btn-md shadow"><i class="fas fa-phone"></i> Call us</button>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% else %}
{% endif %}
{% else %}
<div class="center-background-color-gradient">
  <br>
  <div class="container py-5" id="packages">
    <h2 class="text-white">Packages & Deals</h2>
    <p class="text-white">Sorry there are no packages or special deals available for this clinic right now.</p>
      <a href="{% url 'packagesearch' %}">
        <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md"><i class="fas fa-archive"></i>
          View all IVF packages
        </button>
      </a>
    <br>
  </div>
</div>
{% endif %}
