{% load static %}
{% load humanize %}

{% if clinic.pro_is_published == True or clinic.ppq_is_published == True %}
  {% if clinic.clinicGoogleReviews != None or clinic.clinicTrustPilotID != None %}
  <div class="container py-5" style="text-align: center; z-index: -1;">
    <h2>Independent reviews</h2>
    <hr>
    <div class="row">
      {% if clinic.clinicGoogleReviews %}
        <div class="col-lg-6" id="AHOJ" style="padding-top:2rem; display: flex; justify-content: center; align-items: center;">
          {% if clinic.clinicGoogleReviews == Null %}
            <img src="{% static 'img/navody/GoogleReviewIcon.jpg' %}" alt="Google reviews" width="70%" style="display: block; margin-left: auto; margin-right: auto;">
          {% else %}
            <a href="{{ clinic.clinicGoogleReviews }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/navody/GoogleReviewIcon.jpg' %}" alt="Google reviews" width="70%" style="display: block; margin-left: auto; margin-right: auto;"></a>
          {% endif %}
        </div>
      {% else %}
      {% endif %}
      {% if clinic.clinicTrustPilotID != None and clinic.clinicTrustPilotDomain != None %}
        {% if clinic.clinicTrustPilotChoice == 'Micro Review Count' %}
        <div class="col-lg-6" style="padding-top:2rem">
          <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="{{ clinic.clinicTrustPilotID }}" data-style-height="100%" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/{{ clinic.clinicTrustPilotDomain }}" target="_blank" rel="noopener noreferrer">Trustpilot</a>
          </div>
        </div>
        {% elif clinic.clinicTrustPilotChoice == 'Mini' %}
        <div class="col-lg-6" style="padding-top:2rem">
          <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="{{ clinic.clinicTrustPilotID }}" data-style-height="100%" data-style-width="100%" data-theme="light">
            <a href="https://www.trustpilot.com/review/{{ clinic.clinicTrustPilotDomain }}" target="_blank" rel="noopener noreferrer">Trustpilot</a>
          </div>
        </div>
        {% endif %}
      {% else %}
      {% endif %}
    </div>
  </div>
  {% else %}
  {% endif %}
{% endif %}

{% if clinic.payment_type_cash == True or clinic.payment_type_major_credit_cards == True or clinic.payment_type_debit_cards == True or clinic.payment_type_check == True or clinic.payment_type_cryptocurrency == True or clinic.payment_type_wire_transfer == True %}
<div class="container py-5" style="text-align: center; z-index: -1;" id="conditions">
  <h2>Payment options </h2>
  <hr>
  <div class="row">
    <hr class="featurette-divider">
    <div class="col-sm" style="text-align: left; padding-top:1rem">
      <ul class="list-group list-group-flush">

        {% if clinic.payment_type_cash == True %}
        <li class="list-group-item">
          <i class="fas fa-money-bill"></i> Cash
        </li>
        {% endif %}

        {% if clinic.payment_type_major_credit_cards == True %}
        <li class="list-group-item">
          <i class="fas fa-credit-card"></i> Major Credit Cards
        </li>
        {% endif %}

        {% if clinic.payment_type_debit_cards == True %}
        <li class="list-group-item">
          <i class="far fa-credit-card"></i> Debit Cards
        </li>
        {% endif %}

      </ul>
    </div>
    <div class="col-sm" style="text-align: left; padding-top:1rem">
      <ul class="list-group list-group-flush">
        {% if clinic.payment_type_check == True %}
        <li class="list-group-item">
          <i class="fas fa-money-check"></i> Check
        </li>
        {% endif %}

        {% if clinic.payment_type_cryptocurrency == True %}
        <li class="list-group-item">
          <i class="fab fa-btc"></i> Cryptocurrency
        </li>
        {% endif %}

        {% if clinic.payment_type_wire_transfer == True %}
        <li class="list-group-item">
          <i class="fas fa-university"></i> Wire Transfer
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endif %}


{% if clinic.pro_is_published == True or clinic.ppq_is_published == True and clinic.experts %}
<div class="container py-5" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Our Fertility experts</h2>
  <hr>
  <div class="row" style="text-align: center">
    {% for expert in clinic.experts.all %}
      <div class="col-sm-6 col-md-6 col-lg-4 py-3 px-3">
          <a href="{% url 'coach:coach-detail' expert.pk expert.coach_username %}" rel="noopener" target="_blank" style="text-decoration: none;">
            <img class="imgHoverTeam" {% if expert.coach_profile_photo %} src="{{ expert.coach_profile_photo.url }}" {% else %} {% endif %} alt="image of team first member" style="max-height:120px; max-width:120px">
            <p style="margin-bottom: 0px; font-size: 18px; text-align: center"><strong>{{ expert.coach_full_name }}</strong></p>
          </a>
          <div>
            <span style="font-size: 15px; text-align: center">
              {% for job in expert.jobs.all %}
                {% if not forloop.last %}
                  {{ job }} |
                {% else %}
                  {{ job }}
                {% endif %}
              {% endfor %}
            </span>
          </div>
      </div>
    {% endfor %}
  </div>
  <br>
  <div class="container">
    <br>
    {{ clinic.clinic_staff|safe }}
  </div>
  <br>
</div>
{% else %}
{% endif %}



{% if clinic.pro_is_published == True or clinic.ppq_is_published == True and clinic.team1name and clinic.team1pic %}
<div class="container py-5" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Our team</h2>
  <hr>
  <div class="row" style="text-align: center">
    <div class="col-4 col-md">
      {% if clinic.team1name and clinic.team1pic %}
      <img class="imgHoverTeam" src="{{ clinic.team1pic.url }}" alt="image of team first member" style="max-height:120px; max-width:120px">
      <p style="margin-bottom: 0px; font-size: 18px; text-align: center"><strong>{{ clinic.team1name }}</strong></p>
      {% if clinic.team1position is not None %}<p style="margin-bottom: 0px; font-size: 18px; text-align: center">{{ clinic.team1position}}</p>{% else %}{% endif %}
      {% else %}
      {% endif %}
    </div>
    <div class="col-4 col-md">
      {% if clinic.team2name and clinic.team2pic %}
      <img class="imgHoverTeam" src="{{ clinic.team2pic.url }}" alt="image of team second member" style="max-height:120px; max-width:120px">
      <p style="margin-bottom: 0px; font-size: 20px; text-align: center"><strong>{{ clinic.team2name }}</strong></p>
      {% if clinic.team2position is not None %}<p style="margin-bottom: 0px; font-size: 18px; text-align: center">{{ clinic.team2position}}</p>{% else %}{% endif %}
      {% else %}
      {% endif %}
    </div>
    <div class="col-4 col-md">
      {% if clinic.team3name and clinic.team3pic %}
      <img class="imgHoverTeam" src="{{ clinic.team3pic.url }}" alt="image of team third member" style="max-height:120px; max-width:120px">
      <p style="margin-bottom: 0px; font-size: 20px; text-align: center"><strong>{{ clinic.team3name }}</strong></p>
      {% if clinic.team3position is not None %}<p style="margin-bottom: 0px; font-size: 18px; text-align: center">{{ clinic.team3position}}</p>{% else %}{% endif %}
      {% else %}
      {% endif %}
    </div>
  </div>
  <br>
  <div class="container">
    <br>
    {{ clinic.clinic_staff|safe }}
  </div>
  <br>
</div>
{% else %}
{% endif %}
