{% if author.author_name == 'FertilityCommunity' %}
    <p style="font-size: 85%">Authors: {{ author.author_name }} {{ author.author_lastname }}</p>
{% else %}
    <p style="font-size: 85%">Authors: <a href="{% url 'authorDetailView' author.id %}">{{ author.author_name }} {{ author.author_lastname }}</a></p>
{% endif %}
{% if snippets %}
    <p style="font-size: 85%">Contributors:
    {% if one_snippet %}
        <a href="{% url 'coach:coach-detail' snippets.owner.pk snippets.owner.coach_username %}" rel="noopener" target="_blank">{{ snippets.owner.coach_full_name }}</a>
    {% else %}
        {% for snippet in snippets %}
            <a href="{% url 'coach:coach-detail' snippet.owner.pk snippet.owner.coach_username %}" rel="noopener" target="_blank">{{ snippet.owner.coach_full_name }}{% if forloop.last %}{%else%},{% endif %}</a>
        {% endfor %}
    {% endif %}
    </p>
{% endif %}