<section class="best-articles-section py-5">
  <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-7 col-md-6">
                <h2 class="mb-3">Which countries have the best IVF clinics?</h2>
            </div>
            <div class="col-xs-4 col-sm-5 col-md-6 text-right">
                <a class="btn btn-brand-red mb-3 mr-1" href="#carousel_blogs_best_ivf_clinics_countries" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-brand-red mb-3 " href="#carousel_blogs_best_ivf_clinics_countries" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carousel_blogs_best_ivf_clinics_countries" class="carousel slide" data-interval="5000" data-ride="False">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                {% for article in BestClinicBlogCountry %}
                                {% if article.author != None %}
                                <div class="col-md-4 mb-3">
                                  <div class="card shadow-sm" style="border-radius: 25px;">
                                    <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}" style="text-decoration:none">
                                      {% if article.pic_blog %}<img src="{{ article.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
                                      {% else %}
                                      {% endif %}
                                    </a>
                                    <div class="card-body">
                                      <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}">
                                        <h3 class="card-title">{{ article.title }}</h3>
                                      </a>
                                      <p class="card-text" style="font-size: 17px">{{ article.description|truncatechars:100 }}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <a href="https://www.fertilitycommunity.com/blog/{{ article.slug }}" style="text-decoration:none">
                                            <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
                                          </a>
                                        </div>
                                        <small class="text-muted">{{ article.minute_read }} mins</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>