{% extends "main/base.html" %}
{% load static %}
{% block title %}{{article.title}}{% endblock %}
{% block description %}{{article.description}}{% endblock %}
{% block noindexpage %}<meta name="robots" content="noindex">{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog/{{article.slug}}/{% endblock %}
{% block clinicdetailtrustpilotwidgetscript %}<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!-- ================================================== -->
















<!-- ================================================== -->
{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary-treatments-clinics.js' %}"></script>{% endblock %}

{% endblock  %}
