{% if best_clinics_blogpost.author.author_name == 'FertilityCommunity' %}
    <p>Authors: {{ best_clinics_blogpost.author.author_name }} {{ best_clinics_blogpost.author.author_lastname }}</p>
{% else %}
    <p>Authors: <a href="{% url 'blog:authorDetailView' best_clinics_blogpost.author..id %}">{{ best_clinics_blogpost.author.author_name }} {{ best_clinics_blogpost.author.author_lastname }}</a></p>
{% endif %}
{% if snippets %}
    <p>Co-authors:
    {% if one_snippet %}
        <a href="{% url 'coach:coach-detail' snippets.owner.pk snippets.owner.coach_username %}" rel="noopener" target="_blank">{{ snippets.owner.coach_full_name }}</a>
    {% else %}
        {% for snippet in snippets %}
            <a href="{% url 'coach:coach-detail' snippet.owner.pk snippet.owner.coach_username %}" rel="noopener" target="_blank">{{ snippet.owner.coach_full_name }}{% if forloop.last %}{%else%},{% endif %}</a>
        {% endfor %}
    {% endif %}
    </p>
{% endif %}
<p style="font-size: 13px">Updated: {{ best_clinics_blogpost.last_modified|date:"SHORT_DATE_FORMAT" }} | Originally published on {{ best_clinics_blogpost.created_at|date:"SHORT_DATE_FORMAT" }}</p>