<div class="row text-center">

    <div class="col-lg-4" style="padding-top:1rem">
      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration:none">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Find out more</button>
      </a>
    </div>

    <div class="col-lg-4" style="padding-top:1rem">
      <a href="{{ clinic.contact_url }}" rel="noopener" style="text-decoration:none" target="_blank">
        <button type="button" id="brandButtonGoalPrimary" class="btn btn-outline-dark btn-lg btn-block">Clinic website</button>
      </a>
    </div>

    {% if clinic.pro_is_published == True or clinic.ppq_is_published == True %}
    {% if clinic.packageClinicCounterNumber >= 1 %}
    <div class="col-lg-4" style="padding-top:1rem">
      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}#packages" rel="nofollow" style="text-decoration:none">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Packages</button>
      </a>
    </div>
    {% else %}
    <div class="col-lg-3" style="padding-top:1rem">
    </div>
    {% endif %}
    {% endif %}

</div>