<div class="header" style="padding-top:3rem; min-height:80px;">
  {% if clinic.clinic_pro_logo_pic %}
    <div id="imgInfo" class="img align-self-center align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}">
        <img class="imgHoverLogo" src="{{ clinic.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
      </a>
    </div>

    <div class="container ml-2" id="nameInfo">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% endif %}
  </div>

  {% if clinic.clinic_pro_photo_1 or clinic.clinic_pro_photo_2 or clinic.clinic_pro_photo_3 or clinic.clinic_pro_photo_4 or clinic.clinic_pro_photo_5 or clinic.clinic_pro_photo_6 %}
  <br>
  <br>

  <div class="card-columns">
    {% if clinic.clinic_pro_photo_1 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_1.url }}" class="card-img-top" alt="clinic photo 1">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_2 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_2.url }}" class="card-img-top" alt="clinic photo 2">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_3 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_3.url }}" class="card-img-top" alt="clinic photo 3">
    </div>
    {% else %}
    {% endif %}
  </div>
  {% else %}
  {% endif %}

  <br>
  <hr>
  <br>