{% extends "main/base.html" %}
{% load filter_pagination_tag %}
{% load static %}
{% load humanize %}
{% block title %}IUI costs comparison | 2020{% endblock %}
{% block description %}Search hundreds of fertility clinics at once to discover the information you need to make the best decisions on your IVF fertility treatment{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/iui-cost{% endblock %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">IUI costs & average prices</h1>
    <p class="lead" style="color:white">*Medications, pretests and additional procedures not included</p>
    <br>
    <div class="dropdown">
      <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        IUI treatment
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'locations' %}">Standard IVF treatment</a>
        <a class="dropdown-item" href="{% url 'locationsIVFwithEggDonation' %}">Egg donation IVF</a>
        <a class="dropdown-item" href="{% url 'locationsIVFwithEmbryoDonation' %}">Embryo donation IVF</a>
        <a class="dropdown-item" href="{% url 'locationsIUI' %}">IUI treatment</a>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-ivf" role="tabpanel" aria-labelledby="pills-ivf-tab">
      <table class="table table-hover" id="UsdBoard">
        <br>
        <thead class="thead borderless" style="background-color: #286DA8; color: white">
          <tr>
            <th scope="col">Country</th>
            <th scope="col">
              <select class="form-control" id="ChooseCurrency">
                <option value="" selected>Currency</option>
                <option>USD</option>
                <option>EUR</option>
                <option>GBP</option>
              </select>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><a href="{% url 'locationsUSRegions' %}">United States <u>({{ my_total_clinic_count_us }} clinics)</u></a></th>
            <td style="font-size: 14px">
              <div id="defaultBoard1a">Choose currency above</div>
              <div id="usdBoard1a" style="display:none">{% if usdCurrency_us_iui %}{{ usdCurrency_us_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</div>
              <div id="eurBoard2a" style="display:none">{% if eurCurrency_us_iui %}{{ eurCurrency_us_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</div>
              <div id="gbpBoard3a" style="display:none">{% if gbpCurrency_us_iui %}{{ gbpCurrency_us_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</div>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td style="font-size: 14px">
              <div id="defaultBoard1b">Choose currency above</div>
              <div id="usdBoard1b" style="display:none">{% if usdCurrency_uk_iui %}{{ usdCurrency_uk_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</div>
              <div id="eurBoard2b" style="display:none">{% if eurCurrency_uk_iui %}{{ eurCurrency_uk_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</div>
              <div id="gbpBoard3b" style="display:none">{% if gbpCurrency_uk_iui %}{{ gbpCurrency_uk_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</div>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td style="font-size: 14px">
              <div id="defaultBoard1c">Choose currency above</div>
              <div id="usdBoard1c" style="display:none">{% if usdCurrency_cz_iui %}{{ usdCurrency_cz_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</div>
              <div id="eurBoard2c" style="display:none">{% if eurCurrency_cz_iui %}{{ eurCurrency_cz_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</div>
              <div id="gbpBoard3c" style="display:none">{% if gbpCurrency_cz_iui %}{{ gbpCurrency_cz_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</div>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td style="font-size: 14px">
              <div id="defaultBoard1d">Choose currency above</div>
              <div id="usdBoard1d" style="display:none">{% if usdCurrency_es_iui %}{{ usdCurrency_es_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</div>
              <div id="eurBoard2d" style="display:none">{% if eurCurrency_es_iui %}{{ eurCurrency_es_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</div>
              <div id="gbpBoard3d" style="display:none">{% if gbpCurrency_es_iui %}{{ gbpCurrency_es_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</div>
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td style="font-size: 14px">
              <div id="defaultBoard1e">Choose currency above</div>
              <div id="usdBoard1e" style="display:none">{% if usdCurrency_in_iui %}{{ usdCurrency_in_iui|floatformat:'0'|intcomma }} ${% else %} Unknown{% endif %}</div>
              <div id="eurBoard2e" style="display:none">{% if eurCurrency_in_iui %}{{ eurCurrency_in_iui|floatformat:'0'|intcomma }} €{% else %} Unknown{% endif %}</div>
              <div id="gbpBoard3e" style="display:none">{% if gbpCurrency_in_iui %}{{ gbpCurrency_in_iui|floatformat:'0'|intcomma }} £{% else %} Unknown{% endif %}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>




{% endblock  %}
