{% extends "main/base.html" %}
{% load static %}
{% block title %}Houston Fertility Institute - Memorial City Office | 2020{% endblock %}
{% block description %}Compare all {{ texaslisting }} Texas fertility clinics with each other or search from {{uslisting}} fertility clinics in the United States of the total {{alllisting}} around the globe and compare their treatment options with pricing to get the best viewpoint. Relevant information actual for 2020.{% endblock %}

{% block canonical_url %}https://www.fertilitycommunity.com/clinics/us/texas/houston-fertility-institute-memorial-city-office{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<!-- ================================================== -->

{% include 'clinicdetails/0header.html' %}

<!-- ================================================== -->

{% if listing.clinic_pro_logo_pic %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{{ listing.clinic_pro_logo_pic }}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% else %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{% static 'img/hospital.svg' %}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% endif %}

<!-- ================================================== -->

{% include 'clinicdetails/1aboutclinic.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/7contactbutton.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/2primarytreatments.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/3secondarytreatments.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/4clinicpackages.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/5conditionslanguagesteamcontact.html' %}

<!-- ================================================== -->

<div class="container" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Clinics Address</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6" style="padding-top:2rem">
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Street address:</b> {{ listing.clinicStreetAddress }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>City/town:</b> {{ listing.clinicCity }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Postcode:</b> {{ listing.clinicPostalCode }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;"><b>Country:</b> {{ listing.clinicState }}</p>
      <br>
      <p style="margin-bottom: 0px; font-size: 20px;"><b>Clinic Region:</b> {{listing.clinicRegion}}</p>
    </div>
    <div class="col-sm-6" style="padding-top:2rem">
    </div>
  </div>
</div>

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/6openinghours.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/8footerlinks.html' %}

<!-- ================================================== -->
{% endblock  %}
