{% extends "main/base.html" %}
{% load static %}
{% block title %}FertilityCommunity | Repromed Fertility Center - Rockwall{% endblock %}
{% block description %}Search and get information from hundreds of IVF Fertility clinics around the globe and compare their treatment options.{% endblock %}
{% block noindexpage %}<meta name=“robots“ content=“noindex“>{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/clinics/us/texas/repromed-fertility-center-rockwall{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<!-- ================================================== -->

{% include 'clinicdetails/0header.html' %}

<!-- ================================================== -->

{% if listing.clinic_pro_logo_pic %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{{ listing.clinic_pro_logo_pic }}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% else %}
<script type="application/ld+json">
  {
    "name" : "{{ listing.clinicName }}",
    "image" : "{% static 'img/hospital.svg' %}",
    "address" : {
      "streetAddress" : "{{ listing.clinicStreetAddress }}",
      "addressLocality" : "{{ listing.clinicCity }}",
      "postalCode" : "{{ listing.clinicPostalCode }}",
      "addressRegion" : "{{ listing.clinicRegion }}",
      "addressCountry" : "{{ listing.clinicState }}",
      "@type" : "PostalAddress"
    },
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% endif %}

<!-- ================================================== -->

{% include 'clinicdetails/1aboutclinic.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/7contactbutton.html' %}

<!-- ================================================== -->

{% include 'clinicdetails/2primarytreatments.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/3secondarytreatments.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/4clinicpackages.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/5conditionslanguagesteamcontact.html' %}

<!-- ================================================== -->

<div class="container" style="text-align: center; padding-top: 40px; padding-bottom: 40px">
  <h2>Clinics Address</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6" style="padding-top:2rem">
      <p style="margin-bottom: 0px; font-size: 22px;">{{ listing.clinicStreetAddress }}, {{ listing.clinicCity }}, {{ listing.clinicPostalCode }}</p>
      <p style="margin-bottom: 0px; font-size: 22px;">{{listing.clinicRegion}}, <b>{{ listing.clinicState }}</b></p>
    </div>
    <div class="col-sm-6" style="padding-top:2rem">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3341.1267474038596!2d-96.71997238380429!3d33.13203458086631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c164fc2bfe5d1%3A0x7f4ebfdb2c898c11!2sDr.%20Anil%20Pinto!5e0!3m2!1scs!2sus!4v1593435329106!5m2!1scs!2sus" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/6openinghours.html' %}

<!-- ================================================== -->

<br>
<br>

{% include 'clinicdetails/8footerlinks.html' %}

<!-- ================================================== -->
{% endblock  %}
