{% load static %}
{% for order_datas in order_data %}

{% if order_datas.clinic_pro_logo_pic %}
<script type="application/ld+json">
  {
    "name" : "{{ order_datas.clinicName }}",
    "image" : "{{ order_datas.clinic_pro_logo_pic }}",
    "address" : {
      "streetAddress" : "{{ order_datas.clinicStreetAddress }}",
      "addressLocality" : "{{ order_datas.clinicCity }}",
      "postalCode" : "{{ order_datas.clinicPostalCode }}",
      "addressRegion" : "{{ order_datas.clinicRegion }}",
      "addressCountry" : "{{ order_datas.clinicState }}",
      "@type" : "PostalAddress"
    },
    "priceRange": "$$$$",
    {% if order_datas.contact_phone %}"telephone": " {{ order_datas.contact_phone }} ",{% endif%}
    "aggregateRating": {
      "@type": "AggregateRating",
      "bestRating": "100",
      "ratingCount": "{{ my_total_count }}",
      "ratingValue": "{{ order_datas.digitalTransparencyIndex }}"
    },
    "paymentAccepted": "{% if order_datas.payment_type_cash == True %}Cash, {% endif %}{% if order_datas.payment_type_major_credit_cards == True %}Major Credit Card, {% endif %}{% if order_datas.payment_type_debit_cards == True%}Debit cards, {% endif %}{% if order_datas.payment_type_check == True %}Check, {% endif %}{% if order_datas.payment_type_cryptocurrency == True %}Cryptocurrency, {% endif %}{% if order_datas.payment_type_wire_transfer == True %}Wire Transfer, {% endif %}",
    "medicalSpecialty": "Gynecologic",
    "availableService": "MedicalProcedure",
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% else %}
<script type="application/ld+json">
  {
    "name" : "{{ order_datas.clinicName }}",
    "image" : "{% static 'img/hospital.svg' %}",
    "address" : {
      "streetAddress" : "{{ order_datas.clinicStreetAddress }}",
      "addressLocality" : "{{ order_datas.clinicCity }}",
      "postalCode" : "{{ order_datas.clinicPostalCode }}",
      "addressRegion" : "{{ order_datas.clinicRegion }}",
      "addressCountry" : "{{ order_datas.clinicState }}",
      "@type" : "PostalAddress"
    },
    "priceRange": "$$$$",
    {% if order_datas.contact_phone %}"telephone": " {{ order_datas.contact_phone }} ",{% endif%}
    "aggregateRating": {
      "@type": "AggregateRating",
      "bestRating": "100",
      "ratingCount": "{{ my_total_count }}",
      "ratingValue": "{{ order_datas.digitalTransparencyIndex }}"
    },
    "paymentAccepted": "{% if order_datas.payment_type_cash == True %}Cash, {% endif %}{% if order_datas.payment_type_major_credit_cards == True %}Major Credit Card, {% endif %}{% if order_datas.payment_type_debit_cards == True%}Debit cards, {% endif %}{% if order_datas.payment_type_check == True %}Check, {% endif %}{% if order_datas.payment_type_cryptocurrency == True %}Cryptocurrency, {% endif %}{% if order_datas.payment_type_wire_transfer == True %}Wire Transfer, {% endif %}",
    "medicalSpecialty": "Gynecologic",
    "availableService": "MedicalProcedure",
    "@type" : "MedicalClinic",
    "@context" : "http://schema.org"
  }
</script>
{% endif %}
{% endfor %}
