<div class="background" style="background-color: #286DA8">
  <br>
  <br>
  <div class="container py-5">
    <h2 class="text-white">Packages & Deals | 2022</h2>
    <p class="text-white">Be sure to check out IVF packages and other special offers from fertility clinics.</p>
      <a href="{% url 'packagesearch' %}">
        <button id="brandButtonGoalPackage" type="button" class="btn btn-outline-success btn-md"><i class="fas fa-archive"></i>
          All IVF Packages
        </button>
      </a>
    <br>
  </div>
  <br>
  <br>
</div>
