{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ blog.title }} | {{blog.year}}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/article/{{blog.simple_slug}}/{% endblock %}
{% block meta_keywords %}{{ blog.keywords }}{% endblock %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ blog.author.author_name }} {{ blog.author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}{% if blog.pic_blog %}<meta property="og:image" content="{{ blog.pic_blog.url }}" />{% else %}<meta property="og:image" content="https://fertilitycommunity.com{% static 'img/default-blog-pic.jpg' %}" />{% endif%}{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{ blog.title }} | {{blog.year}}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{ blog.description }}">{% endblock %}
{% block twitterimage %}{% if blog.pic_blog %}<meta property="og:image" content="{{ blog.pic_blog.url }}" />{% else %}<meta property="og:image" content="https://fertilitycommunity.com{% static 'img/default-blog-pic.jpg' %}" />{% endif%}{% endblock %}

{% block content %}

<!-- Schemas -->
{% include 'schemas/medicalwebpageschema.html' %}

<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background background-color-gradient">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">{{ blog.title }} | {{blog.year}}</h1>
    <br>
  </div>
</div>

<div class="container">
  <br>
  {% include 'blog/blog_header_no_currency.html' %}
  <hr>
  <br>
  <br>
  {{ blog.introduction|safe|escape }}
  <br>
  <br>
  {% include 'blog/snippet_carousel.html' %}
  <br>
  <br>
  {{ blog.content|safe|escape }}
  <br>
  <hr>
  <br>
  {% include 'blog/include/faq-simple-blog-snippet.html' %}
</div>

<div class="container py-5">
  {% include 'blog/carousel_best_ivf_clinics_country.html' %}
</div>
{% endblock  %}
