{% extends "main/base.html" %}
{% load static %}
{% load humanize %}
{% load currencytag %}
{% block title %}{{ blog.title }}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}
{% block canonical_url %}{{ blog.blog_url }}{% endblock %}
{% block meta_keywords %}what is ivf with egg donation, egg donation{% endblock %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ author.author_name }} {{ author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="{{ blog.pic_blog.url }}" />{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{ blog.title }}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{ blog.description }}">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="{{ blog.pic_blog.url }}" />{% endblock %}

{% block content %}

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":
        {
          "@type":"WebPage",
          "@id":"{{ blog.blog_url }}"
        },
      "headline": "{{ blog.title }}",
      "image":
        {
          "@type": "ImageObject",
          "url": "{{ blog.pic_blog.url }}",
          "height": 1080,
          "width": 1480
        },
      "datePublished": "{{ blog.created_at }}",
      "dateModified": "{{ blog.last_modified }}",
      "author":
        {
          "@type": "Person",
          "name": "{{ author.author_name }} {{ author.author_lastname }}"
        },
      "publisher":
        {
          "@type": "Organization",
          "name": "FertilityCommunity",
          "logo":
            {
              "@type": "ImageObject",
              "url": "https://fertilitycommunity.com/static/img/LOGO.jpg"
            }
        },
      "description": "{{ blog.description }}"
    }
</script>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">{{ blog.title }}</h1>
    <br>
  </div>
</div>

<div class="container">
  <br>
  {% if author.author_name == 'FertilityCommunity' %}
    By: {{ author.author_name }} {{ author.author_lastname }} Updated: {{ blog.last_modified }}
  {% else %}
    By:<a href="{{ author.author_page_url }}"> {{ author.author_name }} {{ author.author_lastname }}</a> Updated: {{ blog.last_modified }}
  {% endif %}
  <hr>
  <br>
  <br>
  <p>This article is the ultimate guide to the best IVF clinics in the world. If you are still undecided about where to seek your IVF treatment, this detailed list may help you draw some conclusions about the medical centers worth considering or help you find some new clinic options to look into.</p>
  <p>We have dissected each of these top IVF clinics to give you thorough information about each venue, who they are, and what they offer. For your convenience in comparing these clinics as a prospecting IVF patient, we have also included a rough cost estimate and the success rate statistics.</p>
  <p>If you are still unsure whether you want to find a clinic local to you or go abroad for your treatment, we have put together this basic guide as to why you may wish to travel overseas for an IVF package and what these packages include.</p>
  <br>
  <p><strong>Here is our list of the best IVF clinics in the world:</strong></p>
</div>

{% for clinic in best_clinics %}
<div class="container py-3" id="best-clinic-{{forloop.counter}}">
  <div class="header" style="padding-top:3rem; min-height:80px;">
  {% if clinic.clinic_pro_logo_pic %}
    <div id="imgInfo" class="img align-self-center align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="{{ clinic.clinic_url }}">
        <img class="imgHoverLogo" src="{{ clinic.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
      </a>
    </div>

    <div class="container ml-2" id="nameInfo">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% endif %}
  </div>

  {% if clinic.clinic_pro_photo_1 or clinic.clinic_pro_photo_2 or clinic.clinic_pro_photo_3 or clinic.clinic_pro_photo_4 or clinic.clinic_pro_photo_5 or clinic.clinic_pro_photo_6 %}
  <br>
  <br>

  <div class="card-columns">
    {% if clinic.clinic_pro_photo_1 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_1.url }}" class="card-img-top" alt="clinic photo 1">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_2 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_2.url }}" class="card-img-top" alt="clinic photo 2">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_3 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_3.url }}" class="card-img-top" alt="clinic photo 3">
    </div>
    {% else %}
    {% endif %}
  </div>
  {% else %}
  {% endif %}

  {% if clinic.singleclinicbestarticletext.best_clinic_world_text %}
  <div class="row text-center py-5">
    {{ clinic.singleclinicbestarticletext.best_clinic_world_text|safe }}
  </div>
  {% endif %}

  {% include 'blog/best-article/footerbtns.html' %}
</div>
{% endfor %}

<br>
<br>
<br>

<div class="container py-5">
  <div class="feature">
    <h2 style="font-size: 160%"><b>Final thoughts</b></h2>
    <br>
    <p>With so many clinics available worldwide, it can be challenging to make a decision. After connecting hundreds of prospective IVF patients with clinics around the world and helping them find the right clinic for them, we have determined the top IVF clinics globally. Hopefully, this list can help you narrow down the selection of clinics to look into and assist you with this significant decision. After you have chosen a handful of these clinics that could potentially be the right fit for you, we recommend you ask the clinic questions about the treatment and find the perfect place for you and your family. </p>
  </div>
</div>

<br>
<br>
<br>
{% endblock  %}
