{% extends "main/base.html" %}
{% load static %}
{% block content %}
{% load humanize %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Set up independent reviews</h1>
    <p style="color:white">Add a link to your google reviews and trustpilot and show it on your clinic detail page.</p>
    <br>
    <br>
  </div>
</div>
<br>
{% include 'partials/_alerts.html' %}
<br>


<div class="container py-3">
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
  <main role="main">
    <div class="container" style="max-width: 70rem; text-align: center">
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
      {% endif %}
      <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}
        <div class="row">
          <div class="col-lg-8">
            <div class="fieldWrapper" style="text-align: left">
              {{ form.clinicGoogleReviews.errors }}
              <label for="{{ form.clinicGoogleReviews.id_for_label}}">Copy link to your google reviews:</label>
              <div class="fieldWrapper">
                {{ form.clinicGoogleReviews }}
              </div>
            </div>
            <br>
          </div>
          <div class="col-lg-4" style="padding-top:2rem; display: flex; justify-content: center; align-items: center;">
            <img src="{% static 'img/navody/GoogleReviewIcon.jpg' %}" alt="Google reviews" width="70%">
          </div>
        </div>
        <br>
        <a class="btn btn-warning" data-toggle="collapse" href="#helpCollapse" role="button" aria-expanded="false" aria-controls="helpCollapse" style="text-decoration: none">
          How to copy URL for your Google Reviews?
        </a>
        <div class="collapse py-3" id="helpCollapse">
          <div class="carousel-aff">
            <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a target="_blank" href="{% static 'img/navody/googlereviewsurl1.jpg' %}">
                    <img class="d-block w-100" src="{% static 'img/navody/googlereviewsurl1.jpg' %}" alt="How to copy URL for your Google Reviews part 1">
                  </a>
                </div>
                <div class="carousel-item">
                  <a target="_blank" href="{% static 'img/navody/googlereviewsurl2.jpg' %}">
                    <img class="d-block w-100" src="{% static 'img/navody/googlereviewsurl2.jpg' %}" alt="How to copy URL for your Google Reviews part 2">
                  </a>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>



        <br>
        <br>
        <hr>
        <br>



        <div class="row">
          <div class="col-lg-8">
            <div class="fieldWrapper" style="text-align: left">
              {{ form.clinicTrustPilotChoice.errors }}
              <label for="{{ form.clinicTrustPilotChoice.id_for_label}}">Choose widget:</label>
              <div class="fieldWrapper">
                {{ form.clinicTrustPilotChoice }}
              </div>
            </div>
            <br>
            <div class="fieldWrapper" style="text-align: left">
              {{ form.clinicTrustPilotID.errors }}
              <label for="{{ form.clinicTrustPilotID.id_for_label}}">Copy link to your TrustPilot ID (without parentheses and quotation marks):</label>
              <div class="fieldWrapper">
                {{ form.clinicTrustPilotID }}
              </div>
            </div>
            <br>
            <div class="fieldWrapper" style="text-align: left">
              {{ form.clinicTrustPilotDomain.errors }}
              <label for="{{ form.clinicTrustPilotDomain.id_for_label}}">Copy your domain from TrustPilot (without parentheses and quotation marks):</label>
              <div class="fieldWrapper">
                {{ form.clinicTrustPilotDomain }}
              </div>
            </div>
            <br>
          </div>
          <div class="col-lg-4">
            <br>
            <h3>Micro Review Count:</h3>
            <img src="{% static 'img/navody/trustpilotmicroreviewcount.png' %}" alt="Google reviews">
            <br>
            <h3>Mini:</h3>
            <img src="{% static 'img/navody/trustpilotmini.png' %}" alt="Google reviews" >
          </div>
        </div>
        <br>
        <a class="btn btn-warning" data-toggle="collapse" href="#helptrustpilotCollapse" role="button" aria-expanded="false" aria-controls="helptrustpilotCollapse" style="text-decoration: none">
          How to copy your TrustPilot's ID?
        </a>
        <div class="collapse py-3" id="helptrustpilotCollapse">
          <div class="carousel-aff">
            <div id="carouselExampleControls6" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a target="_blank" href="{% static 'img/navody/microreviewpart1.png' %}">
                    <img class="d-block w-100" src="{% static 'img/navody/microreviewpart1.png' %}" alt="How to copy your TrustPilot's ID part 1">
                  </a>
                </div>
                <div class="carousel-item">
                  <a target="_blank" href="{% static 'img/navody/microreviewpart2.png' %}">
                    <img class="d-block w-100" src="{% static 'img/navody/microreviewpart2.png' %}" alt="How to copy your TrustPilot's ID part 2">
                  </a>
                </div>
                <div class="carousel-item">
                  <a target="_blank" href="{% static 'img/navody/microreviewpart3.jpg' %}">
                    <img class="d-block w-100" src="{% static 'img/navody/microreviewpart3.jpg' %}" alt="How to copy your TrustPilot's ID part 3">
                  </a>
                </div>
                <div class="carousel-item">
                  <a target="_blank" href="{% static 'img/navody/microreviewpart4.png' %}">
                    <img class="d-block w-100" src="{% static 'img/navody/microreviewpart4.png' %}" alt="How to copy your TrustPilot's ID part 4">
                  </a>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls6" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls6" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <br>
        <br>
        <hr>
        <br>
        <br>
        <input class="btn btn btn-success btn-lg " type='submit' value='Save' />
      </form>
      <br>
      <br>
      <br>
      <br>
      <p style="text-align: right"><i>If you want show different independent review tool, <a href="{% url 'contactus' %}">contact us</a>.</i></p>
    </div>
  </main>
</div>
<br>
<br>
<br>
<br>


{% endblock  %}
