{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Available banners & badgets</h1>
    <br>
  </div>
</div>
<br>

{% if alabama %}
<div class="container py-4">
  <h3>Available banners for your {{ alabama.clinicRegion }} clinics:</h3>
  <div class="row">
    <div class="col-md">
      <div class="snippet" style="text-align: center;">
        <pre>&lt;a href="{{ alabama.clinicRegionLink }}" target="_blank"
          rel="noopener nofollow"&gt;&lt;img src="https://fertilitycom
          munity.com/static/img/TrustedClinicPicPossibility.png" alt="Ve
          rified {{ alabama.clinicRegion }} Fertility Clinic"/&gt;&lt;/a&gt;</pre>
      </div>
    </div>
    <div class="col-md">
      <div class="snippet" style="text-align: center;">
        <img src="{% static 'img/TrustedClinicPicPossibility.png' %}" alt="">
    </div>
  </div>
</div>
{% else %}
{% endif %}

{% if california %}
<div class="container py-4">
  <h3>Available banners for your {{ california.clinicRegion }} clinics:</h3>
  <div class="row">
    <div class="col-md">
      <div class="snippet" style="text-align: center;">
        <pre>&lt;a href="{{ california.clinicRegionLink }}"
target="_blank" rel="noopener nofollow"&gt;&lt;img src="https://fertilitycom
munity.com/static/img/TrustedClinicPicPossibility.png" alt="Ve
rified {{ california.clinicRegion }} Fertility Clinic"/&gt;&lt;/a&gt;</pre>
      </div>
    </div>
    <div class="col-md">
      <div class="snippet" style="text-align: center;">
        <img src="{% static 'img/TrustedClinicPicPossibility.png' %}" alt="">
    </div>
  </div>
</div>
{% else %}
{% endif %}

{% if england %}
<div class="container py-4">
  <h3>Available banners for your {{ england.clinicRegion }} clinics:</h3>
  <div class="row">
    <div class="col-md">
      <div class="snippet" style="text-align: center;">
        <pre>&lt;a href="{{ england.clinicRegionLink }}" target="_blank"
          rel="noopener nofollow"&gt;&lt;img src="https://fertilitycom
          munity.com/static/img/TrustedClinicPicPossibility.png" alt="Ve
          rified {{ england.clinicRegion }} Fertility Clinic"/&gt;&lt;/a&gt;</pre>
      </div>
    </div>
    <div class="col-md">
      <div class="snippet" style="text-align: center;">
        <img src="{% static 'img/TrustedClinicPicPossibility.png' %}" alt="">
    </div>
  </div>
</div>
{% else %}
{% endif %}

{% endblock %}
