{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Claim your clinic</h1>
    <br>
  </div>
</div>
<br>
<main role="main">
  <div class="container" style="max-width: 70rem; text-align: center">
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.errors }}
      {{ form.as_p }}
      <br>
      <input class="btn btn-dark" type='submit' value='Send' />
    </form>
  </div>
</main>
<br>
{% endblock  %}
