{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Dashboard</h1>
    {% if usergroup %}
    <p style="color:white">You have {{package}} active packages. Your maximum limit for packages is {{ instance }}</p>
    <br>
    {% else %}
    {% endif %}
  </div>
</div>
<br>
<div class="container py-4">
  {% include 'partials/_alerts.html' %}
  <div class="clinics" style="padding-bottom: 3rem">
    <!-- Alerts -->
    {% if listings %}
    {% for listings in listings.all %}
    {% if listings.is_published == True and listings.pro_is_published == False %}
    <br>
    <hr>
    <div class="row">
      <div class="col-sm-9">
        <h3><u>{{ listings.clinicName }}</u> <span class="badge badge-warning">Basic clinic</span></h3>
      </div>
    </div>
    <br>
    {% elif listings.is_published == True and listings.pro_is_published == True %}
    <br>
    <hr>
    <div class="row">
      <div class="col-sm-9">
        <h3><u>{{ listings.clinicName }}</u> <span class="badge badge-primary">PRO clinic</span></h3>
      </div>
    </div>
    <br>
    {% elif listings.is_published == False and listings.pro_is_published == False %}
    <br>
    <hr>
    <div class="row">
      <div class="col-sm-9">
        <h3><u>{{ listings.clinicName }}</u> <span class="badge badge-warning">Basic clinic</span></h3>
      </div>
    </div>
    <br>
    {% endif %}
    <br>
    <div class="row" style="text-align:left">
      <div class="col-sm" style="padding-top: 1rem">
        {% if listings.is_published == True and listings.pro_is_published == False %}

          <a href="{% url 'update' listings.id %}">
            <p><i class="fas fa-tools"></i> Clinic information</p>
          </a>

          <a href="{% url 'updatePricing' listings.id %}">
            <p><i class="fas fa-comment-dollar"></i> Clinic pricing</p>
          </a>

        {% elif listings.is_published == True and listings.pro_is_published == True %}

          <a href="{% url 'updateproclinic' listings.id %}">
            <p><i class="fas fa-tools"></i> Clinic information</p>
          </a>

          <a href="{% url 'updatePricingPro' listings.id %}">
            <p><i class="fas fa-comment-dollar"></i> Clinic pricing</p>
          </a>

        {% endif %}
      </div>

      <div class="col-sm" style="padding-top: 1rem">
        {% if listings.is_published == True and listings.pro_is_published == False %}

          <a href="{{ listings.clinic_url }}">
            <p><i class="fas fa-eye"></i> View clinic</p>
          </a>

        {% elif listings.is_published == True and listings.pro_is_published == True %}

          <a href="{{ listings.clinic_url }}">
            <p><i class="fas fa-eye"></i> View clinic</p>
          </a>


          <a hidden href="">
            <p><i class="fas fa-info-circle"></i> PRO Features</p>
          </a>
        {% else %}

          <a href="">
            <p><i class="fas fa-search"></i> In review</p>
          </a>

        {% endif %}
      </div>
    </div>
    <div class="row">
      {% if listings.is_published == True and listings.pro_is_published == False %}
        {% if listings.customer.stripeid %}
        <div class="col-4 col-sm">
          <div class="col-4 col-sm">
            <a href="{% url 'checkout' listings.id %}">
              <button class="btn btn-warning text-dark" type="button">Upgrade to PRO Clinic</button>
            </a>
          </div>
        </div>
        {% else %}
        <div class="col-4 col-sm">
            <a href="{% url 'billinginfo' listings.id %}">
            <button class="btn btn-warning text-dark" type="button">Complete billing information</button>
          </a>
        </div>
        {% endif %}
      {% else %}
      {% if listings.customer.membership == True %}
      <div class="col-4 col-sm">
        <a href="{% url 'payments' listings.id %}">
          <button class="btn btn-warning text-light" type="button">Payment settings</button>
        </a>
      </div>

      {% if package < instance %}
      <div class="col-4 col-sm">
        <a href="{% url 'createpackage' %}">
          <button class="btn btn-info text-light" type="button">Create package</button>
        </a>
      </div>
      {% else %}
      {% endif %}

      {% if package %}
      <div class="col-4 col-sm">
        <a href="{% url 'clinicpackagesettings' listings.id %}">
          <button class="btn btn-warning text-light" type="button">Packages</button>
        </a>
      </div>
      {% endif %}

      {% else %}
      {% endif %}
      {% endif %}
    </div>
    <hr>
    <br>
    <br>
    <br>
    {% endfor %}
    {% else %}
    <p>There is no clinic connected to you account. <a href="{% url 'claim' %}">Claim</a> or <a href="{% url 'create1' %}">add new</a> one</p>
    {% endif %}
  </div>
</div>

{% endblock  %}
