{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">How to use your clinic's listing on FertilityCommunity?</h1>
    <br>
    <ol>
      <li style="color: white"><a href="#bod1" style="color: white">Add or Claim your fertility clinic</a></li>
      <li style="color: white"><a href="#bod2" style="color: white">Fill in the current information</a></li>
      <li style="color: white"><a href="#bod3" style="color: white">Fill in the current price list of treatments</a></li>
      <li style="color: white"><a href="#bod4" style="color: white">Advantages of a paid PRO and PREMIUM account</a></li>
      <li style="color: white"><a href="#bod5" style="color: white">PRO & PREMIUM - Packages</a></li>
      <li style="color: white"><a href="#bod6" style="color: white">PRO & PREMIUM - Guest blogging</a></li>
    </ol>
    <br>
  </div>
</div>
<br>
<main role="main">
  <div class="container">
    <br>
    <h2 id="bod1">Add or Claim your fertility clinic</h2>
    <p>After free account registration on the <a href="https://www.fertilitycommunity.com/account/signup">fertilitycommunity</a> website, it is necessary to create a completely new fertility clinic or claim an existing one.</p>
    <br>
    <h3>How to create clinic</h3>
    <blockquote class="blockquote" style="background-color:#dedede">
      <p class="mr-5 ml-5 pt-5 pb-5">If you would like to create new fertiltiy clinic, please use this <a href="{% url 'create1' %}">form</a> and fill in required information about your clinic. After the successful creation of the clinic, first all the information you have entered about the new clinic will be manually checked by fertilitycommunity worker. This means that in the first moments your clinic will not appear in search and you will only see the status of your clinic as "in review" in your own dashboard. Manual review should be completed within 24 hours.</p>
    </blockquote>
    <br>
    <h3>How to claim clinic</h3>
    <blockquote class="blockquote" style="background-color:#dedede">
      <p class="mr-5 ml-5 pt-5">If you have already found your clinic on our website, which we created in advance, you can request access. Please use this <a href="{% url 'claim' %}">form</a> to request. In this form please specify URL of clinic on our website.</p>
      <p class="mr-5 ml-5 pb-5">We may require confirmation from the official email of the clinic to avoid an unjustified claim.</p>
    </blockquote>
    <br>
    <hr>
    <br>
    <h2 id="bod2">Fill in the current information</h2>
    <p>After successfully verifying or claiming your clinic, you can start editing your clinic information. These are the data that are most often searched by clients who are looking for a suitable fertility clinic for their needs.</p>
    <p>When you click on the dashboard, which is actually the center of everything happening about your clinic, you should see your clinic with links, as in the example below:</p>
    <img src="{% static 'img/clinicinformation.png' %}" alt="" class="img-fluid">
    <p>You can edit general information about the clinic under this link "clinic information". In the BASIC account you have only limited options, in the PRO and PREMIUM account you can add a team and additional information that is crucial for getting a client.</p>
    <br>
    <hr>
    <br>
    <h2 id="bod3">Fill in the current price list of treatments</h2>
    <p>Another very important part of the complete profile of your clinic is filling in at least the average prices of operations. At FertilityCommunity, we know that the price varies, as do clients. These prices are used to generally orientate the price level of operations at your clinic. You can adjust the prices by clicking on the "clinic pricing" link, as shown below.</p>
    <img src="{% static 'img/clinicpricing.png' %}" alt="" class="img-fluid">
    <blockquote class="blockquote" style="background-color:#dedede">
      <p class="mr-5 ml-5 pt-5 pb-5">If you fill in at least the indicative, average prices, a "Pricing" button will be added to the search for your clinic. Our data show that clinics with this button are <b>clicked up to 4 times more</b> in detail than without it, so we definitely recommend filling in at least the "Primary treatments" section.</p>
    </blockquote>
    <div class="obrazek" style="text-align: center">
      <img src="{% static 'img/pricingbtn.png' %}" alt="" class="img-fluid">
    </div>
    <br>
    <hr>
    <br>
    <h2 id="bod4">Advantages of a paid PRO and PREMIUM account</h2>
    <p>In addition to the free account named "BASIC", there are paid accounts "PRO" and "PREMIUM". Below we describe their benefits.</p>
    <br>
    <p>1) The advantage is sorting in the search for clinics across the entire FertilityCommunity website. The "PREMIUM" clinic is blue and has a premium ranking always at the top in front of each "PRO" clinic and "BASIC" clinic. If multiple "PREMIUM" clinics appear in one search, they are arranged completely randomly and always differently. However, it is always true that all "PREMIUM" clinics will be in front of "PRO" and "BASIC" clinics. The "PRO" clinic also ranks in the first positions, but if "PREMIUM" does not appear, it will then be placed behind it, as you cas see below.</p>
    <div class="obrazek" style="text-align: center">
      <img src="{% static 'img/comparisonPPQPROBASIC.png' %}" alt="" class="img-fluid">
    </div>
    <br>
    <p>2) A paid account also has more options to better present your clinic:</p>
    <ul>
      <li>can add additional text as its caption.</li>
      <li>can adjust his custom limitations regarding patients who can be legally treated at the clinic.</li>
      <li>can add photos of the clinic, both exterior and interior.</li>
      <li>can add photos of his team members who take care of patients.</li>
      <li>More adjustments coming soon.</li>
    </ul>
    <br>
    <p id="bod5">3) All paid "PRO" and "PREMIUM" clinics have access to create "Packages". IVF Packages are an important component of the FertilityCommunity website and one of the most visited sections. A "PRO" clinic can create up to 2 packages and a "PREMIUM" clinic can have up to 6.</p>
    <blockquote class="blockquote" style="background-color:#dedede">
      <p class="mr-5 ml-5 pt-5" style="font-size: 100%"><b>What is an IVF package?</b></p>
      <p class="mr-5 ml-5 pb-5" style="font-size: 100%">It is a limited offer of an IVF treatment package, which usually includes some additional fertility treatment methods or benefits over existing IVF treatment in the clinic. It can also be a price discount. Below is an example in the picture:</p>
    </blockquote>
    <div class="obrazek" style="text-align: center">
      <img src="{% static 'img/package.png' %}" alt="" class="img-fluid">
    </div>
    <br>
    <p>Packages appear on the well searched <a href="https://www.fertilitycommunity.com/packages">packages page</a> and also in every detailed page of all clinics listed on FertilityCommunity, you can see an example below:</p>
    <br>
    <div class="obrazek" style="text-align: center">
      <img src="{% static 'img/clinicdetailpackage.png' %}" alt="" class="img-fluid">
    </div>
    <br>

    <br>
    <p id="bod6">4) All paid "PRO" and "PREMIUM" clinics have access to create "Guest blogposts":</p>
    <blockquote class="blockquote" style="background-color:#dedede">
      <p class="mr-5 ml-5 pt-5" style="font-size: 100%"><b>Guest blogging definition:</b></p>
      <p class="mr-5 ml-5 pb-5" style="font-size: 100%">Guest Blogging is a content marketing and SEO technique where someone writes and publishes a blog post on a third party website (FertilityCommunity.com) or blog to promote their personal/corporate brand (clinic). Guest blogging sites expose brands to a relevant audience and can be an effective method to generate awareness.</p>
    </blockquote>
    <br>
    <p>Learn more about paid "PRO" and "PREMIUM" account in your dashboard links "Why upgrade".</p>
    <p>If you have a question, please <a href="{% url 'contactus' %}">contact us</a> any time.</p>
    <br>
  </div>
</main>
<br>
{% endblock  %}
