{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">User activation</h1>
    <br>
  </div>
</div>
<br>
<div class="container py-4">
  {% include 'partials/_alerts.html' %}
  <p>Your account is now locked out. We have sent you code to your email ({{ user.username }}) that will activate your account.</p>
  <br>
  <form action="{% url 'notActiveUser' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Please copy your code here (make sure there are no blank spaces):</label>
      <input type="text" name="activateaccount" class="form-control" required>
    </div>
    <input id="brandButton" type="submit" value="Activate account" class="btn btn-outline-success btn-lg">
  </form>
</div>

{% endblock  %}
