{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">My packages</h1>
    <p class="lead" style="color:white">Currently you have: {{ listing.count }} - maximum is 6</p>
    <br>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      {% for listings in listing %}
      <div class="card mb-6 shadow-lg" style="max-height: 400px">
        <div class="card-header" style="background-color: #efefef; max-height: 70px">
          <div class="row">
            <div class="col-1">
              <img class="imgHoverLogo" src="{% static 'img/box.svg' %}" alt="alternative logo for PRO clinic" style="height:30px; width:30px">
            </div>
            <div class="col-7">
              <p style="font-size: 30px;"><b>{{ listings.packagestitle }}</b></p>
            </div>
            <div class="col-4">
              <p style="text-align: right; font-size: 30px; color: #CD5360"><u>{{ listings.packagescost|floatformat:'0' }} {% if listing.defaultClinicCurrency == 'GBP' %}£{% elif listing.defaultClinicCurrency == 'EUR' %}€{% else %}${% endif %}</u></p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>{{ listings.packagesdesc|safe}}</p>
        </div>
        <div class="card-footer" style="background-color: #efefef; text-align:right">
          <div class="row">
            <div class="col">
              <p>Category: <i>{{ listings.packagescategory }}</i></p>
            </div>
            <div class="col">
              <a href="mailto:{{ listing.contact_email }}">
                <button id="brandButton" type="button" class="btn btn-outline-success btn-lg"><i class="fas fa-envelope"></i>
                  Get a quote
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock  %}
