{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Settings</h1>
    <br>
  </div>
</div>
<br>
<div class="container py-4">
  {% include 'partials/_alerts.html' %}
  <p>Account email address: <b>{{ user.username }}</b></p>
  <a href="{% url 'change-password' %}">Change password</a>
  <br>
  <br>
  <div class="container">
    <div>
      <iframe name="trustedIframe" width="500" height="500" src="https://www.seznam.cz/" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>



{% endblock  %}
