{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<div class="container py-4">
  {% include 'partials/_alerts.html' %}
  <main role="main">
    <div class="container" style="max-width: 70rem">
      <h1 style="text-align: center">Update clinic information</h1>
      <h2 style="text-align: center">{{ instance.clinicName }}</h2>
      <hr>
      <br>
      <div class="container" style="text-align: center">
        <form method='POST' enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}

          {{ form.source.errors }}
          {{ form.source }}
          <div hidden class="clinicnaming">
            {{ form.clinicName }}
          </div>

          <div class="row">
            <div class="col-sm py-4">
              {{ form.ivf_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  IVF Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.ivf_treatment }}
                </div>
              </div>
              {% if form.ivf_treatment.value == True %}
                <div id="js_ivf_cost" style="padding-top:1rem;">
                  <br>
                  <p>Cost of IVF Treatment<i> (No package costs + the currency of your country)</i></p>
                  {{ form.ivf_treatment.errors }}
                  {{ form.ivf_treatment_cost }}
                </div>
              {% else %}
                <div id="js_ivf_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of IVF Treatment<i> (No package costs + the currency of your country)</i></p>
                  {{ form.ivf_treatment.errors }}
                  {{ form.ivf_treatment_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.iui_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  IUI Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.iui_treatment }}
                </div>
              </div>
              {% if form.iui_treatment.value == True %}
                <div id="js_iui_cost" style="padding-top:1rem">
                  <br>
                  <p>Cost of IUI Treatment<i> (No package costs + the currency of your country)</i></p>
                  {{ form.iui_treatment.errors }}
                  {{ form.iui_treatment_cost }}
                </div>
              {% else %}
                <div id="js_iui_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of IUI Treatment<i> (No package costs + the currency of your country)</i></p>
                  {{ form.iui_treatment.errors }}
                  {{ form.iui_treatment_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.icsi_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  ICSI Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.icsi_treatment }}
                </div>
              </div>
              {% if form.icsi_treatment.value == True %}
                <div id="js_icsi_cost" style="padding-top:1rem">
                  <br>
                  <p>Cost of ICSI Treatment<i> (No package costs + the currency of your country)</i></p>
                  {{ form.icsi_treatment.errors }}
                  {{ form.icsi_treatment_cost }}
                </div>
              {% else %}
                <div id="js_icsi_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of ICSI Treatment<i> (No package costs + the currency of your country)</i></p>
                  {{ form.icsi_treatment.errors }}
                  {{ form.icsi_treatment_cost }}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.egg_donor_recipients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Egg donor recipients
                </div>
                <div class="col-2 col-md">
                  {{ form.egg_donor_recipients }}
                </div>
              </div>
              {% if form.egg_donor_recipients.value == True %}
                <div id="js_egg_cost" style="padding-top:1rem">
                  <br>
                  <p>Cost of Egg donor recipients<i> (No package costs + the currency of your country)</i></p>
                  {{ form.egg_donor_recipients.errors }}
                  {{ form.egg_donor_recipients_cost }}
                </div>
              {% else %}
                <div id="js_egg_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Egg donor recipients<i> (No package costs + the currency of your country)</i></p>
                  {{ form.egg_donor_recipients.errors }}
                  {{ form.egg_donor_recipients_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.embryo_donor_recipients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Embryo donor recipients
                </div>
                <div class="col-2 col-md">
                  {{ form.embryo_donor_recipients }}
                </div>
              </div>
              {% if form.embryo_donor_recipients.value == True %}
              <div id="js_embryo_cost" style="padding-top:1rem">
                <br>
                <p>Cost of Embryo donor recipients<i> (No package costs + the currency of your country)</i></p>
                {{ form.embryo_donor_recipients.errors }}
                {{ form.embryo_donor_recipients_cost }}
              </div>
              {% else %}
              <div id="js_embryo_cost" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Embryo donor recipients<i> (No package costs + the currency of your country)</i></p>
                {{ form.embryo_donor_recipients.errors }}
                {{ form.embryo_donor_recipients_cost }}
              </div>
              {% endif %}
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.egg_freezing.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Egg freezing
                </div>
                <div class="col-2 col-md">
                  {{ form.egg_freezing }}
                </div>
              </div>
              {% if form.egg_freezing.value == True %}
                <div id="js_egg_freezing" style="padding-top:1rem">
                  <br>
                  <p>Cost of Egg freezing<i> (No package costs + the currency of your country)</i></p>
                  {{ form.egg_freezing.errors }}
                  {{ form.egg_freezing_cost }}
                </div>
              {% else %}
                <div id="js_egg_freezing" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Egg freezing<i> (No package costs + the currency of your country)</i></p>
                  {{ form.egg_freezing.errors }}
                  {{ form.egg_freezing_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.embryo_freezing.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Embryo freezing
                </div>
                <div class="col-2 col-md">
                  {{ form.embryo_freezing }}
                </div>
              </div>
              {% if form.embryo_freezing.value == True %}
                <div id="js_embryo_freezing" style="padding-top:1rem">
                  <br>
                  <p>Cost of Embryo freezing<i> (No package costs + the currency of your country)</i></p>
                  {{ form.embryo_freezing.errors }}
                  {{ form.embryo_freezing_cost }}
                </div>
              {% else %}
                <div id="js_embryo_freezing" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Embryo freezing<i> (No package costs + the currency of your country)</i></p>
                  {{ form.embryo_freezing.errors }}
                  {{ form.embryo_freezing_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.sperm_freezing.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Sperm freezing
                </div>
                <div class="col-2 col-md">
                  {{ form.sperm_freezing }}
                </div>
              </div>
              {% if form.sperm_freezing.value == True %}
              <div id="js_sperm_freezing" style="padding-top:1rem">
                <br>
                <p>Cost of Sperm freezing<i> (No package costs + the currency of your country)</i></p>
                {{ form.sperm_freezing.errors }}
                {{ form.sperm_freezing_cost }}
              </div>
              {% else %}
              <div id="js_sperm_freezing" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Sperm freezing<i> (No package costs + the currency of your country)</i></p>
                {{ form.sperm_freezing.errors }}
                {{ form.sperm_freezing_cost }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.surrogacy.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Surrogacy
                </div>
                <div class="col-2 col-md">
                  {{ form.surrogacy }}
                </div>
              </div>
              {% if form.surrogacy.value == True %}
              <div id="js_surrogacy_cost" style="padding-top:1rem">
                <br>
                <p>Cost of Gestational surrogacy<i> (No package costs + the currency of your country)</i></p>
                {{ form.surrogacy.errors }}
                {{ form.surrogacy_cost }}
              </div>
              {% else %}
              <div id="js_surrogacy_cost" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Gestational surrogacy<i> (No package costs + the currency of your country)</i></p>
                {{ form.surrogacy.errors }}
                {{ form.surrogacy_cost }}
              </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.sperm_donor_recipients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Sperm donor recipients
                </div>
                <div class="col-2 col-md">
                  {{ form.sperm_donor_recipients }}
                </div>
              </div>
              {% if form.sperm_donor_recipients.value == True %}
              <div id="js_sperm_cost" style="padding-top:1rem">
                <br>
                <p>Cost of Sperm donor recipients<i> (No package costs + the currency of your country)</i></p>
                {{ form.sperm_donor_recipients.errors }}
                {{ form.sperm_donor_recipients_cost }}
              </div>
              {% else %}
              <div id="js_sperm_cost" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Sperm donor recipients<i> (No package costs + the currency of your country)</i></p>
                {{ form.sperm_donor_recipients.errors }}
                {{ form.sperm_donor_recipients_cost }}
              </div>
              {% endif %}
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.single_woman_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Single woman fertility treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.single_woman_treatment }}
                </div>
              </div>
            </div>
            <div class="col-sm py-4">
              {{ form.reciprocal_ivf.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Reciprocal treatment (LGBTQ)
                </div>
                <div class="col-2 col-md">
                  {{ form.reciprocal_ivf }}
                </div>
              </div>
            </div>
            <div class="col-sm py-4">
              {{ form.hiv_patients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  HIV patients treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.hiv_patients }}
                </div>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <h2>Packages</h2>
          <div class="row">
            <div class="col-sm py-4">
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package1title.errors }}
                <p style="font-weight:400"> First package title</p>
                {{ form.package1title }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package1category.errors }}
                <p style="font-weight:400"> First package category</p>
                {{ form.package1category }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package1desc.errors }}
                <p style="font-weight:400"> Information about first package (up to 300 characters)</p>
                {{ form.package1desc }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package1cost.errors }}
                <p style="font-weight:400"> First package cost</p>
                {{ form.package1cost }}
              </div>
            </div>
            <div class="col-sm py-4">
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package2title.errors }}
                <p style="font-weight:400"> Second package title</p>
                {{ form.package2title }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package2category.errors }}
                <p style="font-weight:400"> Second package category</p>
                {{ form.package2category }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package2desc.errors }}
                <p style="font-weight:400"> Information about second package (up to 300 characters)</p>
                {{ form.package2desc }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package2cost.errors }}
                <p style="font-weight:400"> Second package cost</p>
                {{ form.package2cost }}
              </div>
            </div>
            <div class="col-sm py-4">
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package3title.errors }}
                <p style="font-weight:400"> Third package title</p>
                {{ form.package3title }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package3category.errors }}
                <p style="font-weight:400"> Third package category</p>
                {{ form.package3category }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package3desc.errors }}
                <p style="font-weight:400"> Information about third package (up to 300 characters)</p>
                {{ form.package3desc }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package3cost.errors }}
                <p style="font-weight:400"> Third package cost</p>
                {{ form.package3cost }}
              </div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-sm py-4">
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package4title.errors }}
                <p style="font-weight:400"> Fourth package title</p>
                {{ form.package4title }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package4category.errors }}
                <p style="font-weight:400"> Fourth package category</p>
                {{ form.package4category }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package4desc.errors }}
                <p style="font-weight:400"> Information about fourth package (up to 300 characters)</p>
                {{ form.package4desc }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package4cost.errors }}
                <p style="font-weight:400"> Fourth package cost</p>
                {{ form.package4cost }}
              </div>
            </div>
            <div class="col-sm py-4">
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package5title.errors }}
                <p style="font-weight:400"> Fifth package title</p>
                {{ form.package5title }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package5category.errors }}
                <p style="font-weight:400"> Fifth package category</p>
                {{ form.package5category }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package5desc.errors }}
                <p style="font-weight:400"> Information about fifth package (up to 300 characters)</p>
                {{ form.package5desc }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package5cost.errors }}
                <p style="font-weight:400"> Fifth package cost</p>
                {{ form.package5cost }}
              </div>
            </div>
            <div class="col-sm py-4">
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package6title.errors }}
                <p style="font-weight:400"> Sixth package title</p>
                {{ form.package6title }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package6category.errors }}
                <p style="font-weight:400"> Sixth package category</p>
                {{ form.package6category }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package6desc.errors }}
                <p style="font-weight:400"> Information about sixth package (up to 300 characters)</p>
                {{ form.package6desc }}
              </div>
              <br>
              <div class="fieldWrapper" style="text-align: left">
                {{ form.package6cost.errors }}
                <p style="font-weight:400"> Sixth package cost</p>
                {{ form.package6cost }}
              </div>
            </div>
          </div>
          <br>
          <br>
          <input class="btn btn-dark" type='submit' value='Update' />
        </form>
      </div>
    </div>
  </main>
</div>
<br>
{% endblock  %}
