{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  <style> .django-ckeditor-widget { min-width:100% !important; } </style>

<div class="container py-4">
  {% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
</div>
<main role="main">
  <form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}
  <div class="container" style="max-width: 70rem">
    <h1 style="text-align: center">Update clinic average treatment costs:</h1>
    <h2 style="text-align: center"><u>{{ instance.clinicName }}</u></h2>
    <br>
    <div class="container">
      <div hidden class="clinicnaming">
        {{ form.clinicName }}
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 15px; padding-top: 1rem; padding-bottom: 1rem">
    <h3 style="text-align: center;">
      <i class="fas fa-exclamation-circle" style="color: red"></i> Primary treatments & costs - Provide all average treatment costs in USD (<i class="fas fa-dollar-sign"></i> United States dollar) <i class="fas fa-exclamation-circle" style="color: red"></i>
    </h3>
    <p style="text-align: center;">Calculation into other currencies will be automatic</p>
  </div>

  <br>
  <div class="container py-4">
    <div class="container" style="max-width: 70rem">
      <div class="container">

        {{ form.ivf_treatment.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            1. Natural IVF
          </div>
          <div class="col-2 col-md">
            {{ form.ivf_treatment }}
          </div>
        </div>
        {% if form.ivf_treatment.value == True %}
          <div id="js_ivf_cost" style="padding-top:1rem;">
            <br>
            <p>Cost of Natural IVF Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
            {{ form.ivf_treatment_cost.errors }}
            {{ form.ivf_treatment_cost }}
          </div>
          <div id="js_ivf_faqs" style="padding-top:1rem;">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.ivf_treatment_faqs.errors }}
            {{ form.ivf_treatment_faqs }}
          </div>
        {% else %}
        <div id="js_ivf_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Natural IVF Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
          {{ form.ivf_treatment_cost.errors }}
          {{ form.ivf_treatment_cost }}
        </div>
        <div id="js_ivf_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.ivf_treatment_faqs.errors }}
          {{ form.ivf_treatment_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>


        {{ form.mild_ivf_treatment.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            2. Mild (mini) IVF
          </div>
          <div class="col-2 col-md">
            {{ form.mild_ivf_treatment }}
          </div>
        </div>
        {% if form.mild_ivf_treatment.value == True %}
          <div id="js_mild_ivf_cost" style="padding-top:1rem;">
            <br>
            <p>Cost of Mild (mini) IVF Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
            {{ form.mild_ivf_treatment_cost.errors }}
            {{ form.mild_ivf_treatment_cost }}
          </div>
          <div id="js_mild_ivf_faqs" style="padding-top:1rem;">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.mild_ivf_treatment_faqs.errors }}
            {{ form.mild_ivf_treatment_faqs }}
          </div>
        {% else %}
        <div id="js_mild_ivf_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Mild (mini) IVF Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
          {{ form.mild_ivf_treatment_cost.errors }}
          {{ form.mild_ivf_treatment_cost }}
        </div>
        <div id="js_mild_ivf_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.mild_ivf_treatment_faqs.errors }}
          {{ form.mild_ivf_treatment_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.ovarian_ivf_treatment.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            3. Standard IVF
          </div>
          <div class="col-2 col-md">
            {{ form.ovarian_ivf_treatment }}
          </div>
        </div>
        {% if form.ovarian_ivf_treatment.value == True %}
          <div id="js_ovarian_ivf_cost" style="padding-top:1rem;">
            <br>
            <p>Cost of Standard IVF using ovarian stimulation<i> (Single treatment cost only - no package (no meds etc))</i></p>
            {{ form.ovarian_ivf_treatment_cost.errors }}
            {{ form.ovarian_ivf_treatment_cost }}
          </div>
          <div id="js_ovarian_ivf_faqs" style="padding-top:1rem;">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.ovarian_ivf_treatment_faqs.errors }}
            {{ form.ovarian_ivf_treatment_faqs }}
          </div>
        {% else %}
        <div id="js_ovarian_ivf_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Standard IVF using ovarian stimulation<i> (Single treatment cost only - no package (no meds etc))</i></p>
          {{ form.ovarian_ivf_treatment_cost.errors }}
          {{ form.ovarian_ivf_treatment_cost }}
        </div>
        <div id="js_ovarian_ivf_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.ovarian_ivf_treatment_faqs.errors }}
          {{ form.ovarian_ivf_treatment_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.iui_treatment.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            4. IUI Treatment
          </div>
          <div class="col-2 col-md">
            {{ form.iui_treatment }}
          </div>
        </div>
        {% if form.iui_treatment.value == True %}
          <div id="js_iui_cost" style="padding-top:1rem">
            <br>
            <p>Cost of IUI Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
            {{ form.iui_treatment_cost.errors }}
            {{ form.iui_treatment_cost }}
          </div>
          <div id="js_iui_faqs" style="padding-top:1rem">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.iui_treatment_faqs.errors }}
            {{ form.iui_treatment_faqs }}
          </div>
        {% else %}
        <div id="js_iui_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of IUI Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
          {{ form.iui_treatment_cost.errors }}
          {{ form.iui_treatment_cost }}
        </div>
        <div id="js_iui_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.iui_treatment_faqs.errors }}
          {{ form.iui_treatment_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.icsi_treatment.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            5. ICSI Treatment
          </div>
          <div class="col-2 col-md">
            {{ form.icsi_treatment }}
          </div>
        </div>
        {% if form.icsi_treatment.value == True %}
          <div id="js_icsi_cost" style="padding-top:1rem">
            <br>
            <p>Cost of ICSI Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
            {{ form.icsi_treatment_cost.errors }}
            {{ form.icsi_treatment_cost }}
          </div>
          <div id="js_icsi_faqs" style="padding-top:1rem">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.icsi_treatment_faqs.errors }}
            {{ form.icsi_treatment_faqs }}
          </div>
        {% else %}
        <div id="js_icsi_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of ICSI Treatment<i> (Single treatment cost only - no package (no meds etc))</i></p>
          {{ form.icsi_treatment_cost.errors }}
          {{ form.icsi_treatment_cost }}
        </div>
        <div id="js_icsi_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.icsi_treatment_faqs.errors }}
          {{ form.icsi_treatment_faqs }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <br>

  <br>
  <hr>
  <br>

  <div class="container" style="margin-top: 15px; padding-top: 1rem; padding-bottom: 1rem">
    <h3 style="text-align: center;">
      <i class="fas fa-exclamation-circle" style="color: red"></i> IVF with donation & costs - Provide all average treatment costs in USD (<i class="fas fa-dollar-sign"></i> United States dollar) <i class="fas fa-exclamation-circle" style="color: red"></i>
    </h3>
    <p style="text-align: center;">Calculation into other currencies will be automatic</p>
  </div>

  <div class="container py-4">
    <div class="container" style="max-width: 70rem">
      <div class="container">
        <br>
        <hr>
        <br>
        {{ form.egg_donor_recipients.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            6. Egg donor recipients (anonymous)
          </div>
          <div class="col-2 col-md">
            {{ form.egg_donor_recipients }}
          </div>
        </div>
        {% if form.egg_donor_recipients.value == True %}
          <div id="js_egg_cost" style="padding-top:1rem">
            <br>
            <p>Cost of Egg donor recipients (anonymous)<i> (Single treatment cost only (1 cycle))</i></p>
            {{ form.egg_donor_recipients_cost.errors }}
            {{ form.egg_donor_recipients_cost }}
          </div>
          <div id="js_egg_faqs" style="padding-top:1rem">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.egg_donor_recipients_faqs.errors }}
            {{ form.egg_donor_recipients_faqs }}
          </div>
        {% else %}
        <div id="js_egg_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Egg donor recipients (anonymous)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.egg_donor_recipients_cost.errors }}
          {{ form.egg_donor_recipients_cost }}
        </div>
        <div id="js_egg_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.egg_donor_recipients_faqs.errors }}
          {{ form.egg_donor_recipients_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.known_egg_donor_recipients.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            7. Egg donor recipients (known)
          </div>
          <div class="col-2 col-md">
            {{ form.known_egg_donor_recipients }}
          </div>
        </div>
        {% if form.known_egg_donor_recipients.value == True %}
          <div id="js_known_egg_cost" style="padding-top:1rem">
            <br>
            <p>Cost of Egg donor recipients (known)<i> (Single treatment cost only (1 cycle))</i></p>
            {{ form.known_egg_donor_recipients_cost.errors }}
            {{ form.known_egg_donor_recipients_cost }}
          </div>
          <div id="js_known_egg_faqs" style="padding-top:1rem">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.known_egg_donor_recipients_faqs.errors }}
            {{ form.known_egg_donor_recipients_faqs }}
          </div>
        {% else %}
          <div id="js_known_egg_cost" style="padding-top:1rem; display: none">
            <br>
            <p>Cost of Egg donor recipients (known)<i> (Single treatment cost only (1 cycle))</i></p>
            {{ form.known_egg_donor_recipients_cost.errors }}
            {{ form.known_egg_donor_recipients_cost }}
          </div>
          <div id="js_known_egg_faqs" style="padding-top:1rem; display: none">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.known_egg_donor_recipients_faqs.errors }}
            {{ form.known_egg_donor_recipients_faqs }}
          </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.embryo_donor_recipients.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            8. Embryo donor recipients (anonymous)
          </div>
          <div class="col-2 col-md">
            {{ form.embryo_donor_recipients }}
          </div>
        </div>
        {% if form.embryo_donor_recipients.value == True %}
        <div id="js_embryo_cost" style="padding-top:1rem">
          <br>
          <p>Cost of Embryo donor recipients (anonymous)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.embryo_donor_recipients_cost.errors }}
          {{ form.embryo_donor_recipients_cost }}
        </div>
        <div id="js_embryo_faqs" style="padding-top:1rem">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.embryo_donor_recipients_faqs.errors }}
          {{ form.embryo_donor_recipients_faqs }}
        </div>
        {% else %}
        <div id="js_embryo_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Embryo donor recipients (anonymous)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.embryo_donor_recipients_cost.errors }}
          {{ form.embryo_donor_recipients_cost }}
        </div>
        <div id="js_embryo_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.embryo_donor_recipients_faqs.errors }}
          {{ form.embryo_donor_recipients_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.known_embryo_donor_recipients.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            9. Embryo donor recipients (known)
          </div>
          <div class="col-2 col-md">
            {{ form.known_embryo_donor_recipients }}
          </div>
        </div>
        {% if form.known_embryo_donor_recipients.value == True %}
        <div id="js_known_embryo_cost" style="padding-top:1rem">
          <br>
          <p>Cost of Embryo donor recipients (known)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.known_embryo_donor_recipients_cost.errors }}
          {{ form.known_embryo_donor_recipients_cost }}
        </div>
        <div id="js_known_embryo_faqs" style="padding-top:1rem">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.known_embryo_donor_recipients_faqs.errors }}
          {{ form.known_embryo_donor_recipients_faqs }}
        </div>
        {% else %}
        <div id="js_known_embryo_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Embryo donor recipients (known)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.known_embryo_donor_recipients_cost.errors }}
          {{ form.known_embryo_donor_recipients_cost }}
        </div>
        <div id="js_known_embryo_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.known_embryo_donor_recipients_faqs.errors }}
          {{ form.known_embryo_donor_recipients_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.sperm_donor_recipients.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            10. Sperm donor recipients (anonymous)
          </div>
          <div class="col-2 col-md">
            {{ form.sperm_donor_recipients }}
          </div>
        </div>
        {% if form.sperm_donor_recipients.value == True %}
        <div id="js_sperm_cost" style="padding-top:1rem">
          <br>
          <p>Cost of anonymous sperm donor recipients (anonymous)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.sperm_donor_recipients_cost.errors }}
          {{ form.sperm_donor_recipients_cost }}
        </div>
        <div id="js_sperm_faqs" style="padding-top:1rem">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.sperm_donor_recipients_faqs.errors }}
          {{ form.sperm_donor_recipients_faqs }}
        </div>
        {% else %}
        <div id="js_sperm_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Sperm donor recipients (anonymous)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.sperm_donor_recipients.errors }}
          {{ form.sperm_donor_recipients_cost }}
        </div>
        <div id="js_sperm_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.sperm_donor_recipients_faqs.errors }}
          {{ form.sperm_donor_recipients_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.known_sperm_donor_recipients.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            11. Sperm donor recipients (known)
          </div>
          <div class="col-2 col-md">
            {{ form.known_sperm_donor_recipients }}
          </div>
        </div>
        {% if form.known_sperm_donor_recipients.value == True %}
        <div id="js_known_sperm_cost" style="padding-top:1rem">
          <br>
          <p>Cost of known sperm donor recipients (known)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.known_sperm_donor_recipients.errors }}
          {{ form.known_sperm_donor_recipients_cost }}
        </div>
        <div id="js_known_sperm_faqs" style="padding-top:1rem">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.known_sperm_donor_recipients_faqs.errors }}
          {{ form.known_sperm_donor_recipients_faqs }}
        </div>
        {% else %}
        <div id="js_known_sperm_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of known sperm donor recipients (known)<i> (Single treatment cost only (1 cycle))</i></p>
          {{ form.known_sperm_donor_recipients.errors }}
          {{ form.known_sperm_donor_recipients_cost }}
        </div>
        <div id="js_known_sperm_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.known_sperm_donor_recipients_faqs.errors }}
          {{ form.known_sperm_donor_recipients_faqs }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <br>

  <br>
  <hr>
  <br>

  <div class="container" style="margin-top: 15px; padding-top: 1rem; padding-bottom: 1rem">
    <h3 style="text-align: center;">
      <i class="fas fa-exclamation-circle" style="color: red"></i> Additional treatments & costs - Provide all average treatment costs in USD (<i class="fas fa-dollar-sign"></i> United States dollar) <i class="fas fa-exclamation-circle" style="color: red"></i>
    </h3>
    <p style="text-align: center;">Calculation into other currencies will be automatic</p>
  </div>

  <div class="container py-4">
    <div class="container" style="max-width: 70rem">
      <div class="container">

        <br>
        <hr>
        <br>

        {{ form.egg_freezing.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            9. Egg freezing (1 year of storage)
          </div>
          <div class="col-2 col-md">
            {{ form.egg_freezing }}
          </div>
        </div>
        {% if form.egg_freezing.value == True %}
          <div id="js_egg_freezing" style="padding-top:1rem">
            <br>
            <p>Cost of egg freezing, includes egg collection and 1 year of storage<i> (Single treatment cost only)</i></p>
            {{ form.egg_freezing_cost.errors }}
            {{ form.egg_freezing_cost }}
          </div>
          <div id="js_egg_freezing_faqs" style="padding-top:1rem">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.egg_freezing_faqs.errors }}
            {{ form.egg_freezing_faqs }}
          </div>
        {% else %}
        <div id="js_egg_freezing" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of egg freezing, includes egg collection and 1 year of storage<i> (Single treatment cost only)</i></p>
          {{ form.egg_freezing_cost.errors }}
          {{ form.egg_freezing_cost }}
        </div>
        <div id="js_egg_freezing_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.egg_freezing_faqs.errors }}
          {{ form.egg_freezing_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.embryo_freezing.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            10. Embryo freezing (1 year of storage)
          </div>
          <div class="col-2 col-md">
            {{ form.embryo_freezing }}
          </div>
        </div>
        {% if form.embryo_freezing.value == True %}
          <div id="js_embryo_freezing" style="padding-top:1rem">
            <br>
            <p>Cost of Embryo freezing (1 year of storage)<i> (Single treatment cost only - no package)</i></p>
            {{ form.embryo_freezing_cost.errors }}
            {{ form.embryo_freezing_cost }}
          </div>
          <div id="js_embryo_freezing_faqs" style="padding-top:1rem">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.embryo_freezing_faqs.errors }}
            {{ form.embryo_freezing_faqs }}
          </div>
        {% else %}
          <div id="js_embryo_freezing" style="padding-top:1rem; display: none">
            <br>
            <p>Cost of Embryo freezing (1 year of storage)<i> (Single treatment cost only - no package)</i></p>
            {{ form.embryo_freezing_cost.errors }}
            {{ form.embryo_freezing_cost }}
          </div>
          <div id="js_embryo_freezing_faqs" style="padding-top:1rem; display: none">
            <br>
            <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
            {{ form.embryo_freezing_faqs.errors }}
            {{ form.embryo_freezing_faqs }}
          </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.sperm_freezing.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            11. Sperm freezing (1 year of storage)
          </div>
          <div class="col-2 col-md">
            {{ form.sperm_freezing }}
          </div>
        </div>
        {% if form.sperm_freezing.value == True %}
        <div id="js_sperm_freezing" style="padding-top:1rem">
          <br>
          <p>Cost of Sperm freezing (1 year of storage)<i> (Single treatment cost only - no package)</i></p>
          {{ form.sperm_freezing_cost.errors }}
          {{ form.sperm_freezing_cost }}
        </div>
        <div id="js_sperm_freezing_faqs" style="padding-top:1rem">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.sperm_freezing_faqs.errors }}
          {{ form.sperm_freezing_faqs }}
        </div>
        {% else %}
        <div id="js_sperm_freezing" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Sperm freezing (1 year of storage)<i> (Single treatment cost only - no package)</i></p>
          {{ form.sperm_freezing_cost.errors }}
          {{ form.sperm_freezing_cost }}
        </div>
        <div id="js_sperm_freezing_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.sperm_freezing_faqs.errors }}
          {{ form.sperm_freezing_faqs }}
        </div>
        {% endif %}

        <br>
        <hr>
        <br>

        {{ form.surrogacy.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'; font-size: 150%">
            12. Gestational surrogacy
          </div>
          <div class="col-2 col-md">
            {{ form.surrogacy }}
          </div>
        </div>
        {% if form.surrogacy.value == True %}
        <div id="js_surrogacy_cost" style="padding-top:1rem">
          <br>
          <p>Cost of Gestational surrogacy<i> (Single treatment cost only)</i></p>
          {{ form.surrogacy_cost.errors }}
          {{ form.surrogacy_cost }}
        </div>
        <div id="js_surrogacy_faqs" style="padding-top:1rem">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.surrogacy_faqs.errors }}
          {{ form.surrogacy_faqs }}
        </div>
        {% else %}
        <div id="js_surrogacy_cost" style="padding-top:1rem; display: none">
          <br>
          <p>Cost of Gestational surrogacy<i> (Single treatment cost only)</i></p>
          {{ form.surrogacy_cost.errors }}
          {{ form.surrogacy_cost }}
        </div>
        <div id="js_surrogacy_faqs" style="padding-top:1rem; display: none">
          <br>
          <p>Any additional information about this treatmetn<i> (Limitations, restrictions, FAQs)</i></p>
          {{ form.surrogacy_faqs.errors }}
          {{ form.surrogacy_faqs }}
        </div>
        {% endif %}

      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container py-4">
    <div class="container" style="max-width: 70rem">
      <div class="container" style="text-align: center">
        <input class="btn btn-success" type='submit' value='Update pricing' />
      </div>
    </div>
  </div>
  </form>
</main>
<br>
{% endblock  %}
