{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<div class="container py-4">
  <main role="main">
    <div class="container" style="max-width: 70rem">
      <h1 style="text-align: center">Update clinic information</h1>
      <h2 style="text-align: center">{{ instance.clinicName }}</h2>
      <hr>
      <br>
      <div class="container" style="text-align: center">
        <form method='POST' enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.non_field_errors }}

          {{ form.source.errors }}
          {{ form.source }}
          <div hidden class="clinicnaming">
            {{ form.clinicName }}
          </div>

          <div class="row">
            <div class="col-sm py-4">
              {{ form.ivf_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  IVF Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.ivf_treatment }}
                </div>
              </div>
              {% if form.ivf_treatment.value == True %}
                <div id="js_ivf_cost" style="padding-top:1rem;">
                  <br>
                  <p>Cost of IVF Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.ivf_treatment_cost.errors }}
                  {{ form.ivf_treatment_cost }}
                </div>
              {% else %}
                <div id="js_ivf_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of IVF Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.ivf_treatment_cost.errors }}
                  {{ form.ivf_treatment_cost }}
                </div>
              {% endif %}
            </div>
            <div class="col-sm py-4">
              {{ form.mild_ivf_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Mild IVF Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.mild_ivf_treatment }}
                </div>
              </div>
              {% if form.mild_ivf_treatment.value == True %}
                <div id="js_mild_ivf_cost" style="padding-top:1rem;">
                  <br>
                  <p>Cost of Mild IVF Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.mild_ivf_treatment_cost.errors }}
                  {{ form.mild_ivf_treatment_cost }}
                </div>
              {% else %}
                <div id="js_mild_ivf_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Mild IVF Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.mild_ivf_treatment_cost.errors }}
                  {{ form.mild_ivf_treatment_cost }}
                </div>
              {% endif %}
            </div>
            <div class="col-sm py-4">
              {{ form.ovarian_ivf_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  IVF using ovarian hyperstimulation
                </div>
                <div class="col-2 col-md">
                  {{ form.ovarian_ivf_treatment }}
                </div>
              </div>
              {% if form.ovarian_ivf_treatment.value == True %}
                <div id="js_ovarian_ivf_cost" style="padding-top:1rem;">
                  <br>
                  <p>Cost of IVF using ovarian hyperstimulation<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.ovarian_ivf_treatment_cost.errors }}
                  {{ form.ovarian_ivf_treatment_cost }}
                </div>
              {% else %}
                <div id="js_ovarian_ivf_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of IVF using ovarian hyperstimulation<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.ovarian_ivf_treatment_cost.errors }}
                  {{ form.ovarian_ivf_treatment_cost }}
                </div>
              {% endif %}
            </div>
          </div>



          <div class="row">
            <div class="col-sm py-4">
              {{ form.iui_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  IUI Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.iui_treatment }}
                </div>
              </div>
              {% if form.iui_treatment.value == True %}
                <div id="js_iui_cost" style="padding-top:1rem">
                  <br>
                  <p>Cost of IUI Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.iui_treatment_cost.errors }}
                  {{ form.iui_treatment_cost }}
                </div>
              {% else %}
                <div id="js_iui_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of IUI Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.iui_treatment_cost.errors }}
                  {{ form.iui_treatment_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.icsi_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  ICSI Treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.icsi_treatment }}
                </div>
              </div>
              {% if form.icsi_treatment.value == True %}
                <div id="js_icsi_cost" style="padding-top:1rem">
                  <br>
                  <p>Cost of ICSI Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.icsi_treatment.errors }}
                  {{ form.icsi_treatment_cost }}
                </div>
              {% else %}
                <div id="js_icsi_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of ICSI Treatment<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.icsi_treatment.errors }}
                  {{ form.icsi_treatment_cost }}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.egg_donor_recipients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Egg donor recipients
                </div>
                <div class="col-2 col-md">
                  {{ form.egg_donor_recipients }}
                </div>
              </div>
              {% if form.egg_donor_recipients.value == True %}
                <div id="js_egg_cost" style="padding-top:1rem">
                  <br>
                  <p>Cost of Egg donor recipients<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.egg_donor_recipients.errors }}
                  {{ form.egg_donor_recipients_cost }}
                </div>
              {% else %}
                <div id="js_egg_cost" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Egg donor recipients<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.egg_donor_recipients.errors }}
                  {{ form.egg_donor_recipients_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.embryo_donor_recipients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Embryo donor recipients
                </div>
                <div class="col-2 col-md">
                  {{ form.embryo_donor_recipients }}
                </div>
              </div>
              {% if form.embryo_donor_recipients.value == True %}
              <div id="js_embryo_cost" style="padding-top:1rem">
                <br>
                <p>Cost of Embryo donor recipients<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.embryo_donor_recipients.errors }}
                {{ form.embryo_donor_recipients_cost }}
              </div>
              {% else %}
              <div id="js_embryo_cost" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Embryo donor recipients<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.embryo_donor_recipients.errors }}
                {{ form.embryo_donor_recipients_cost }}
              </div>
              {% endif %}
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.egg_freezing.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Egg freezing
                </div>
                <div class="col-2 col-md">
                  {{ form.egg_freezing }}
                </div>
              </div>
              {% if form.egg_freezing.value == True %}
                <div id="js_egg_freezing" style="padding-top:1rem">
                  <br>
                  <p>Cost of Egg freezing<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.egg_freezing.errors }}
                  {{ form.egg_freezing_cost }}
                </div>
              {% else %}
                <div id="js_egg_freezing" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Egg freezing<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.egg_freezing.errors }}
                  {{ form.egg_freezing_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.embryo_freezing.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Embryo freezing
                </div>
                <div class="col-2 col-md">
                  {{ form.embryo_freezing }}
                </div>
              </div>
              {% if form.embryo_freezing.value == True %}
                <div id="js_embryo_freezing" style="padding-top:1rem">
                  <br>
                  <p>Cost of Embryo freezing<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.embryo_freezing.errors }}
                  {{ form.embryo_freezing_cost }}
                </div>
              {% else %}
                <div id="js_embryo_freezing" style="padding-top:1rem; display: none">
                  <br>
                  <p>Cost of Embryo freezing<i> (Single treatment cost only, use your selected currency)</i></p>
                  {{ form.embryo_freezing.errors }}
                  {{ form.embryo_freezing_cost }}
                </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.sperm_freezing.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Sperm freezing
                </div>
                <div class="col-2 col-md">
                  {{ form.sperm_freezing }}
                </div>
              </div>
              {% if form.sperm_freezing.value == True %}
              <div id="js_sperm_freezing" style="padding-top:1rem">
                <br>
                <p>Cost of Sperm freezing<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.sperm_freezing.errors }}
                {{ form.sperm_freezing_cost }}
              </div>
              {% else %}
              <div id="js_sperm_freezing" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Sperm freezing<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.sperm_freezing.errors }}
                {{ form.sperm_freezing_cost }}
              </div>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.surrogacy.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Surrogacy
                </div>
                <div class="col-2 col-md">
                  {{ form.surrogacy }}
                </div>
              </div>
              {% if form.surrogacy.value == True %}
              <div id="js_surrogacy_cost" style="padding-top:1rem">
                <br>
                <p>Cost of Surrogacy<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.surrogacy.errors }}
                {{ form.surrogacy_cost }}
              </div>
              {% else %}
              <div id="js_surrogacy_cost" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Surrogacy<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.surrogacy.errors }}
                {{ form.surrogacy_cost }}
              </div>
              {% endif %}
            </div>

            <div class="col-sm py-4">
              {{ form.sperm_donor_recipients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Sperm donor recipients
                </div>
                <div class="col-2 col-md">
                  {{ form.sperm_donor_recipients }}
                </div>
              </div>
              {% if form.sperm_donor_recipients.value == True %}
              <div id="js_sperm_cost" style="padding-top:1rem">
                <br>
                <p>Cost of Sperm donor recipients<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.sperm_donor_recipients.errors }}
                {{ form.sperm_donor_recipients_cost }}
              </div>
              {% else %}
              <div id="js_sperm_cost" style="padding-top:1rem; display: none">
                <br>
                <p>Cost of Sperm donor recipients<i> (Single treatment cost only, use your selected currency)</i></p>
                {{ form.sperm_donor_recipients.errors }}
                {{ form.sperm_donor_recipients_cost }}
              </div>
              {% endif %}
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-sm py-4">
              {{ form.single_woman_treatment.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Single woman fertility treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.single_woman_treatment }}
                </div>
              </div>
            </div>
            <div class="col-sm py-4">
              {{ form.reciprocal_ivf.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Reciprocal treatment (LGBTQ)
                </div>
                <div class="col-2 col-md">
                  {{ form.reciprocal_ivf }}
                </div>
              </div>
            </div>
            <div class="col-sm py-4">
              {{ form.hiv_patients.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  HIV patients treatment
                </div>
                <div class="col-2 col-md">
                  {{ form.hiv_patients }}
                </div>
              </div>
            </div>
            <div class="col-sm py-4">
              {{ form.sex_selection.errors }}
              <div class="row">
                <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
                  Sex / Gender selection
                </div>
                <div class="col-2 col-md">
                  {{ form.sex_selection }}
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <input class="btn btn-dark" type='submit' value='Update' />
        </form>
      </div>
    </div>
  </main>
</div>
<br>
{% endblock  %}
