{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Update clinic information - {{instance.clinicName}}</h1>
    <br>
  </div>
</div>
<br>

<div class="container py-4">
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
</div>

<div class="container" style="text-align: center">
  <form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.source.errors }}
    {{ form.source }}
    <h2>Clinic Basic Information</h2>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.clinicName.errors }}
      <label for="{{ form.clinicName.id_for_label}}">Name:</label>
      {{ form.clinicName }}
    </div>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.clinicTitle.errors }}
      <label for="{{ form.clinicTitle.id_for_label}}">Title:</label>
      {{ form.clinicTitle }}
    </div>
    <br>
    <style> .django-ckeditor-widget { min-width:100% !important; } </style>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.description.errors }}
      <label>Description of your clinic (max 800 characters):</label>
      {{ form.description }}
    </div>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.treatmentLimitations.errors }}
      <label>Treatment limitations (Age restrictions, law restrictions, Blood level requirements, BMI etc - max 800 characters):</label>
      {{ form.treatmentLimitations }}
    </div>
    <br>
    <hr>
    <br>

    <h2>Clinic Images</h2>
    <br>
    {% if instance.clinic_pro_logo_pic %}
    <div class="col-4 col-md" style="text-align: left">
      <p>Currently uploaded logo: </p>
      <img src="{{ instance.clinic_pro_logo_pic.url }}" alt="Uploaded logo" style="width:100px; height 100px;">
    </div>
    <br>
    <div class="col-4 col-md" style="text-align: left">
      {{ form.clinic_pro_logo_pic.errors }}
        <label for="{{ form.clinic_pro_logo_pic.id_for_label}}"><p>Re-upload (50x50 px):</p></label>
      <p style="font-size:10px">{{ form.clinic_pro_logo_pic }}</p>
    </div>
    <div class="col-4 col-md" style="text-align: left">
      {{ form.clinic_pro_logo_pic_del.errors}}
      <label for="{{ form.clinic_pro_logo_pic_del.id_for_label}}"><p>Check to delete</p></label>
      {{ form.clinic_pro_logo_pic_del }}
    </div>
    {% else %}
    <div class="fieldWrapper" style="text-align: left">
      {{ form.clinic_pro_logo_pic.errors }}
      <label for="{{ form.clinic_pro_logo_pic.id_for_label}}"><p>Logo (50x50 px):</p></label>
      <p style="font-size:10px">{{ form.clinic_pro_logo_pic }}</p>
    </div>
    {% endif %}
    <br>

    {% if instance.is_claimed == True %}
    <hr>
    <div class="row">
      <div class="col-6" style="text-align: left">
        {% if instance.clinic_pro_photo_1 %}
          <p>Currently uploaded picture 1: </p>
          <img src="{{ instance.clinic_pro_photo_1.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
          {{ form.clinic_pro_photo_1.errors }}
          <label for="{{ form.clinic_pro_photo_1.id_for_label}}"></label>
          <p>Re-upload (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_1 }}</p>
          {{ form.clinic_pro_photo_1_del.errors}}
          <label for="{{ form.clinic_pro_photo_1_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.clinic_pro_photo_1_del }}
        {% else %}
          <label for="{{ form.clinic_pro_photo_1.id_for_label}}"></label>
          <p>Upload Picture 1 (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_1 }}</p>
        {% endif %}
      </div>
      <div class="col-6" style="text-align: left">
        {% if instance.clinic_pro_photo_2 %}
          <p>Currently uploaded picture 2: </p>
          <img src="{{ instance.clinic_pro_photo_2.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
          {{ form.clinic_pro_photo_2.errors }}
          <label for="{{ form.clinic_pro_photo_2.id_for_label}}"></label>
          <p>Re-upload (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_2 }}</p>
          {{ form.clinic_pro_photo_2_del.errors}}
          <label for="{{ form.clinic_pro_photo_2_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.clinic_pro_photo_2_del }}
        {% else %}
          <label for="{{ form.clinic_pro_photo_2.id_for_label}}"></label>
          <p>Upload Picture 2 (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_2 }}</p>
        {% endif %}
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-6" style="text-align: left">
        {% if instance.clinic_pro_photo_3 %}
          <p>Currently uploaded picture 3: </p>
          <img src="{{ instance.clinic_pro_photo_3.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
          {{ form.clinic_pro_photo_3.errors }}
          <label for="{{ form.clinic_pro_photo_3.id_for_label}}"></label>
          <p>Re-upload (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_3 }}</p>
          {{ form.clinic_pro_photo_3_del.errors}}
          <label for="{{ form.clinic_pro_photo_3_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.clinic_pro_photo_3_del }}
        {% else %}
          <label for="{{ form.clinic_pro_photo_3.id_for_label}}"></label>
          <p>Upload Picture 3 (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_3 }}</p>
        {% endif %}
      </div>
      <div class="col-6" style="text-align: left">
        {% if instance.clinic_pro_photo_4 %}
          <p>Currently uploaded picture 4: </p>
          <img src="{{ instance.clinic_pro_photo_4.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
          {{ form.clinic_pro_photo_4.errors }}
          <label for="{{ form.clinic_pro_photo_4.id_for_label}}"></label>
          <p>Re-upload (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_4 }}</p>
          {{ form.clinic_pro_photo_4_del.errors}}
          <label for="{{ form.clinic_pro_photo_4_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.clinic_pro_photo_4_del }}
        {% else %}
          <label for="{{ form.clinic_pro_photo_4.id_for_label}}"></label>
          <p>Upload Picture 4 (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_4 }}</p>
        {% endif %}
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col-6" style="text-align: left">
        {% if instance.clinic_pro_photo_5 %}
          <p>Currently uploaded picture 5: </p>
          <img src="{{ instance.clinic_pro_photo_5.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
          {{ form.clinic_pro_photo_5.errors }}
          <label for="{{ form.clinic_pro_photo_5.id_for_label}}"></label>
          <p>Re-upload (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_5 }}</p>
          {{ form.clinic_pro_photo_5_del.errors}}
          <label for="{{ form.clinic_pro_photo_5_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.clinic_pro_photo_5_del }}
        {% else %}
          <label for="{{ form.clinic_pro_photo_5.id_for_label}}"></label>
          <p>Upload Picture 5 (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_5 }}</p>
        {% endif %}
      </div>
      <div class="col-6" style="text-align: left">
        {% if instance.clinic_pro_photo_6 %}
          <p>Currently uploaded picture 6: </p>
          <img src="{{ instance.clinic_pro_photo_6.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
          {{ form.clinic_pro_photo_6.errors }}
          <label for="{{ form.clinic_pro_photo_6.id_for_label}}"></label>
          <p>Re-upload (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_6 }}</p>
          {{ form.clinic_pro_photo_6_del.errors}}
          <label for="{{ form.clinic_pro_photo_6_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.clinic_pro_photo_6_del }}
        {% else %}
          <label for="{{ form.clinic_pro_photo_6.id_for_label}}"></label>
          <p>Upload Picture 6 (1080x1080 px):</p>
          <p style="font-size:10px">{{ form.clinic_pro_photo_6 }}</p>
        {% endif %}
      </div>
    </div>
    {% else %}
    {% endif %}
    <br>
    <hr>
    <br>
    <h2>Clinic Contact Information</h2>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.contact_url.errors }}
      <label for="{{ form.contact_url.id_for_label}}">Clinic URL (add <a href="https://ga-dev-tools.appspot.com/campaign-url-builder/">UTM codes</a> as well for your google analytics):</label>
      {{ form.contact_url }}
    </div>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.contact_phone.errors }}
      <label for="{{ form.contact_phone.id_for_label}}">Phone number for clients:</label>
      {{ form.contact_phone }}
    </div>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.contact_email.errors }}
      <label for="{{ form.contact_email.id_for_label}}">General clinic email  (visible on clinic detail page):</label>
      {{ form.contact_email }}
    </div>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.query_email.errors }}
      <label for="{{ form.query_email.id_for_label}}">Inquiry email (for your packages inquiry):</label>
      {{ form.query_email }}
    </div>
    <br>
    <div class="fieldWrapper" style="text-align: left">
      {{ form.fertilitycommunity_email.errors }}
      <label for="{{ form.fertilitycommunity_email.id_for_label}}">Email for discounts or deals from FertilityCommunity website:</label>
      {{ form.fertilitycommunity_email }}
    </div>
    <br>
    <hr>
    <br>
    <h2>Clinic Address</h2>
    <div class="row">
      <div class="col-md-6" style="padding-top:1rem">
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicStreetAddress.errors }}
          <label for="{{ form.clinicStreetAddress.id_for_label}}">Street address:</label>
          {{ form.clinicStreetAddress }}
        </div>
        <br>
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicCity.errors }}
          <label for="{{ form.clinicCity.id_for_label}}">City:</label>
          {{ form.clinicCity }}
        </div>
      </div>
      <div class="col-md-6" style="padding-top:1rem">
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicState.errors }}
          <label for="{{ form.clinicState.id_for_label}}">Country:</label>
          {{ form.clinicState }}
        </div>
        <br>
        <div class="fieldWrapper" style="text-align: left;">
          {{ form.clinicRegion.errors }}
            <label for="{{ form.clinicRegion.id_for_label}}">State (optional):</label>
          {{ form.clinicRegion }}
        </div>
      </div>
      <div class="col-md-6" style="padding-top:1rem">
        <div class="fieldWrapper" style="text-align: left">
          {{ form.clinicPostalCode.errors }}
          <label for="{{ form.clinicPostalCode.id_for_label}}">ZIP/Postal Code:</label>
          {{ form.clinicPostalCode }}
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>Clinic Opening Hours</h2>

    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.mondayOpens.id_for_label}}">Monday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.mondayOpens.errors }}
          {{ form.mondayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.mondayCloses.errors }}
          {{ form.mondayCloses }}
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.tuesdayOpens.id_for_label}}">Tuesday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.tuesdayOpens.errors }}
          {{ form.tuesdayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.tuesdayCloses.errors }}
          {{ form.tuesdayCloses }}
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.wednesdayOpens.id_for_label}}">Wednesday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.wednesdayOpens.errors }}
          {{ form.wednesdayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.wednesdayCloses.errors }}
          {{ form.wednesdayCloses }}
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.thursdayOpens.id_for_label}}">Thursday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.thursdayOpens.errors }}
          {{ form.thursdayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.thursdayCloses.errors }}
          {{ form.thursdayCloses }}
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.fridayOpens.id_for_label}}">Friday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.fridayOpens.errors }}
          {{ form.fridayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.fridayCloses.errors }}
          {{ form.fridayCloses }}
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.saturdayOpens.id_for_label}}">Saturday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.saturdayOpens.errors }}
          {{ form.saturdayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.saturdayCloses.errors }}
          {{ form.saturdayCloses }}
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <label for="{{ form.sundayOpens.id_for_label}}">Sunday Opening Hours</label>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.sundayOpens.errors }}
          {{ form.sundayOpens }}
        </div>
      </div>
      <div class="col-4 col-md align-self-center" style="padding-top:1rem">
        <div class="fieldWrapper" style="max-width:6rem">
          {{ form.sundayCloses.errors }}
          {{ form.sundayCloses }}
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>Clinic Languages</h2>
    <br>
    <div class="row">
      <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
        English
      </div>
      <div class="col-2 col-md">
        {{ form.clinicEnglish }}
      </div>
      <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
        Spanish
      </div>
      <div class="col-2 col-md">
        {{ form.clinicSpanish }}
      </div>
      <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
        Portuguese
      </div>
      <div class="col-2 col-md">
        {{ form.clinicPortuguese }}
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
        Russian
      </div>
      <div class="col-2 col-md">
        {{ form.clinicRussian }}
      </div>
      <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
        German
      </div>
      <div class="col-2 col-md">
        {{ form.clinicGerman }}
      </div>
      <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans'">
        Chinese
      </div>
      <div class="col-2 col-md">
        {{ form.clinicChinese }}
      </div>
    </div>

    <br>
    <hr>
    <br>
    <h2>Clinic Conditions</h2>
    <br>
    <div class="container">
      {{ form.single_woman_treatment.errors }}
      <div class="row">
        <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
          Single woman fertility treatment
        </div>
        <div class="col-2 col-md">
          {{ form.single_woman_treatment }}
        </div>
      </div>
      <br>
      {{ form.reciprocal_ivf.errors }}
      <div class="row">
        <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
          Reciprocal treatment (LGBTQ)
        </div>
        <div class="col-2 col-md">
          {{ form.reciprocal_ivf }}
        </div>
      </div>
      <br>
      {{ form.hiv_patients.errors }}
      <div class="row">
        <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
          HIV patients treatment
        </div>
        <div class="col-2 col-md">
          {{ form.hiv_patients }}
        </div>
      </div>
      <br>
      {{ form.sex_selection.errors }}
      <div class="row">
        <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
          Sex / Gender selection
        </div>
        <div class="col-2 col-md">
          {{ form.sex_selection }}
        </div>
      </div>
      <br>
      {{ form.accepts_patients_from_abroad.errors }}
      <div class="row">
        <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
          Accepts patients from abroad
        </div>
        <div class="col-2 col-md">
          {{ form.accepts_patients_from_abroad }}
        </div>
      </div>
      <br>
      <br>
      <hr>
      <br>
      <h2>Clinic Social Media</h2>
      <br>
      <div class="container">
        {{ form.clinicFacebook.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
            Clinic Facebook page URL
          </div>
          <div class="col-2 col-md">
            {{ form.clinicFacebook }}
          </div>
        </div>
        <br>
        {{ form.clinicInstagram.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
            Clinic Instagram profile URL
          </div>
          <div class="col-2 col-md">
            {{ form.clinicInstagram }}
          </div>
        </div>
        <br>
        {{ form.clinicTwitter.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
            Clinic Twitter profile URL
          </div>
          <div class="col-2 col-md">
            {{ form.clinicTwitter }}
          </div>
        </div>
        <br>
        {{ form.clinicYoutube.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
            Clinic Youtube Channel URL
          </div>
          <div class="col-2 col-md">
            {{ form.clinicYoutube }}
          </div>
        </div>
        <br>
        {{ form.clinicLinkedIn.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
            Clinic LinkedIn page URL
          </div>
          <div class="col-2 col-md">
            {{ form.clinicLinkedIn }}
          </div>
        </div>
        <br>
        {{ form.clinicPinterest.errors }}
        <div class="row">
          <div class="col-10 col-md align-self-center" style="font-family: 'Josefin Sans';">
            Clinic Pinterest profile URL
          </div>
          <div class="col-2 col-md">
            {{ form.clinicPinterest }}
          </div>
        </div>
      </div>
    <br>
    <hr>
    <br>
    <h2>Clinic Team</h2>
    <br>
    <div class="row">
      <div class="col-md" style="padding-bottom: 4rem">
        <div class="fieldWrapper" style="text-align: left">
          {{ form.team1name.errors }}
          <label style="font-weight:400"> Name of first team member:</label>
          {{ form.team1name }}
        </div>
        <br>

        {% if instance.team1pic %}
        <div class="col-md" style="text-align: left">
          <p>Currently uploaded picture: </p>
          <img src="{{ instance.team1pic.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
        </div>
        <br>
        <div class="col-md" style="text-align: left">
          {{ form.team1pic.errors }}
            <label for="{{ form.team1pic.id_for_label}}"><p>Re-upload (120x120 px):</p></label>
          {{ form.team1pic }}
        </div>
        <div class="col-md" style="text-align: left">
          {{ form.team1pic_del.errors}}
          <label for="{{ form.team1pic_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.team1pic_del }}
        </div>
        {% else %}
        <div class="fieldWrapper" style="text-align: left">
          {{ form.team1pic.errors }}
          <label for="{{ form.team1pic.id_for_label}}">First team member (120x120 px):</label>
          {{ form.team1pic }}
        </div>
        {% endif %}

      </div>

      <div class="col-md" style="padding-bottom: 4rem">
        <div class="fieldWrapper" style="text-align: left">
          {{ form.team2name.errors }}
          <label style="font-weight:400"> Name of second team member:</label>
          {{ form.team2name }}
        </div>
        <br>

        {% if instance.team2pic %}
        <div class="col-md" style="text-align: left">
          <p>Currently uploaded picture: </p>
          <img src="{{ instance.team2pic.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
        </div>
        <br>
        <div class="col-md" style="text-align: left">
          {{ form.team2pic.errors }}
            <label for="{{ form.team2pic.id_for_label}}"><p>Re-upload (120x120 px):</p></label>
          {{ form.team2pic }}
        </div>
        <div class="col-md" style="text-align: left">
          {{ form.team2pic_del.errors}}
          <label for="{{ form.team2pic_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.team2pic_del }}
        </div>
        {% else %}
        <div class="fieldWrapper" style="text-align: left">
          {{ form.team2pic.errors }}
          <label for="{{ form.team2pic.id_for_label}}">Second team member (120x120 px):</label>
          {{ form.team2pic }}
        </div>
        {% endif %}

      </div>

      <div class="col-md">
        <div class="fieldWrapper" style="text-align: left">
          {{ form.team3name.errors }}
          <label style="font-weight:400"> Name of third team member:</label>
          {{ form.team3name }}
        </div>
        <br>

        {% if instance.team3pic %}
        <div class="col-md" style="text-align: left">
          <p>Currently uploaded picture: </p>
          <img src="{{ instance.team3pic.url }}" alt="Uploaded picture" style="width:100px; height 100px;">
        </div>
        <br>
        <div class="col-md" style="text-align: left">
          {{ form.team3pic.errors }}
            <label for="{{ form.team3pic.id_for_label}}"><p>Re-upload (120x120 px):</p></label>
          {{ form.team3pic }}
        </div>
        <div class="col-md" style="text-align: left">
          {{ form.team3pic_del.errors}}
          <label for="{{ form.team3pic_del.id_for_label}}"><p>Check to delete</p></label>
          {{ form.team3pic_del }}
        </div>
        {% else %}
        <div class="fieldWrapper" style="text-align: left">
          {{ form.team3pic.errors }}
          <label for="{{ form.team3pic.id_for_label}}">Third team member (120x120 px):</label>
          {{ form.team3pic }}
        </div>
        {% endif %}
      </div>
      <div class="col-md">
      </div>
    </div>
    <br>
    <br>
    <input class="btn btn-success" type='submit' value='Update information' />
  </form>
</div>

<br>
{% endblock  %}
