{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

{% include 'partials/_alerts.html' %}
<div class="container py-4">
  <h2>Upgrade your clinic to PRO to gain much more from our website!</h2>
  <br>
  <ol>
    <li>Get a do-follow link to your clinic's website from our website (SEO)</li>
    <li>Be more visible with preferred search options</li>
    <li>Get access to premium features</li>
    <li>Increase your reach and get offers immediately</li>
    <li>Advanced analytics and trends</li>
  </ol>
  <p>Comming soon!</p>
  <br>
  <hr>
  <br>
  <div class="container" style="text-align: left">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
  {% endif %}
    <form method='POST' enctype="multipart/form-data">
      {% csrf_token %}
      <div class="fieldWrapper" style="text-align: left; max-width:3rem">
        {{ form.owner_interested.errors }}
        {{ form.owner_interested }}
      </div>

      <br>
      <input class="btn btn-dark" type='submit' value='Notify me when available' />
    </form>
  </div>
</div>


{% endblock  %}
