{% extends "main/base.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

{% include 'partials/_alerts.html' %}
<div class="container py-4">
  <div class="row">
    <div class="col-sm-6">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-lg">
          <div class="card-header bg-primary">
            <h2 class="my-0 font-weight-normal" style="text-align: center; color: white">PRO</h2>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title" style="text-align: center">15€/monthly or 160€/yearly <p style="text-align: center"><span style="font-size: 15px; color: green">(save 20€ with yearly)</span></p></h2>
            <hr>
            <ul class="list-styled mt-3 mb-4" style="text-align: left">
              <li><h3>Get a do-follow backlink:</h3> <p>Increase SEO exposure of your page with our powerfull domain.</p></li>
              <li hidden><h3>Apply for "TOP Clinic" banner competition.</h3> <p></p></li>
              <li><h3>Be more visible with clinics preferred search options:</h3> <p>PRO clinics are positioned at the top of search page.</p></li>
              <li><h3>Get access to premium sections in your clinic detail view:</h3> <p>For example: "About us", "Our team" or "Our photos" for a better presentation of your clinic.</p></li>
              <li><h3><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">2</num> specialized packages per PRO clinic.</u></h3><p>Every day, more than 70% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="col-4 col-sm">
              <a href="{% url 'billinginfo' listings.pk %}">
                <button class="btn btn-warning text-dark" type="button">PRO upgrade</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-lg border-success">
          <div class="card-header bg-primary">
            <h2 class="my-0 font-weight-normal" style="text-align: center; color: white">PREMIUM</h2>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title" style="text-align: center">30€/monthly or 300€/yearly <p style="text-align: center"><span style="font-size: 15px; color: green">(save 60€ with yearly)</span></p></h2>
            <hr>
            <ul class="list-styled mt-3 mb-4" style="text-align: left">
              <li><h3>Everything from PRO plan</h3><p>and more to it!</p></li>
              <br>
              <li><h3>Your clinic will always appear in the first search results:</h3> <p>above BASIC clinics and even above PRO clinics.</p></li>
              <li><h3>Packages with much more visibility:</h3> <p>PREMIUM Packages will always be above PRO packages to increase reach.</p></li>
              <br>
              <li><h3><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">6</num> specialized packages per PREMIUM clinic.</u></h3><p>Every day, more than 70% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
            </ul>
          </div>
          <div class="card-footer">
            <div class="col-4 col-sm">
              <a href="{% url 'billinginfo1' listings.pk %}">
                <button class="btn btn-warning text-dark" type="button">PREMIUM upgrade</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock  %}
