{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">User activation</h1>
    <br>
  </div>
</div>
<br>
<div class="container py-4">
  <p>Your account is now active. You can continue to your {% if auth_user.register_as_clinic == True %}<a href="{% url 'dashboard' %}"><u>Dashboard</u></a>{% elif auth_user.register_as_coach == True %}<a href="{% url 'coach_dashboard' %}"><u>Dashboard</u></a>{% endif %}</p>
</div>

{% endblock  %}
