{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ best_clinics_blogpost.author.author_name }} {{ best_clinics_blogpost.author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://www.fertilitycommunity.com/media/blogPhotos/Bestclinicspicczech.jpg" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block title %}{{best_clinics_count}} {{best_clinics_blogpost.title}} | {{ best_clinics_blogpost.year }}{% endblock %}
{% block description %}{{best_clinics_blogpost.description}}{% endblock %}
{% block noindexpage %}{% if best_clinics_blogpost.best_article_country_noindex_sitemap_boolean == True %}{% else %}<meta name="robots" content="noindex, nofollow">{% endif %}{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog/{{best_clinics_blogpost.slug}}{% endblock %}
{% block clinicdetailtrustpilotwidgetscript %}<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>{% endblock %}
{% block meta_keywords %}best ivf clinics in Czech Republic, best fertility clinics Czech Republic{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{best_clinics_count}} {{best_clinics_blogpost.title}} | {{ best_clinics_blogpost.year }}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{best_clinics_blogpost.description}}">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://www.fertilitycommunity.com/media/blogPhotos/Bestclinicspicczech.jpg" />{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!-- ================================================== -->

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage":
        {
          "@type":"WebPage",
          "@id":"https://www.fertilitycommunity.com/blog/{{best_clinics_blogpost.slug}}"
        },
      "headline": "{{best_clinics_blogpost.title}}",
      "image":
        {
          "@type": "ImageObject",
          "url": "{{ best_clinics_blogpost.pic_blog.url }}",
          "height": 1080,
          "width": 1480
        },
      "datePublished": "{{ best_clinics_blogpost.created_at }}",
      "dateModified": "{{ best_clinics_blogpost.last_modified }}",
      "author":
        {
          "@type": "Person",
          "name": "{{ best_clinics_blogpost.author.author_name }} {{ best_clinics_blogpost.author.author_lastname }}"
        },
      "publisher":
        {
          "@type": "Organization",
          "name": "FertilityCommunity",
          "logo":
            {
              "@type": "ImageObject",
              "url": "https://fertilitycommunity.com/static/img/LOGO.jpg"
            }
        },
      "description": "{{ best_clinics_blogpost.description }}"
    }
</script>



<div class="background" style="background-color: #286DA8">
  <div class="container py-5">
    <h1 style="padding-top:3rem; color:white">{{best_clinics_count}} {{ best_clinics_blogpost.title }} | {{ best_clinics_blogpost.year }}</h1>
    <br>
    <a href="{{ best_clinics_blogpost.author.author_page_url }}" style="color:white">By: {{ best_clinics_blogpost.author.author_name }} {{ best_clinics_blogpost.author.author_lastname }} | Updated: {{ best_clinics_blogpost.last_modified }}</a>
  </div>
</div>

<div class="container mt-5">

  <p>{{ best_clinics_blogpost.description|safe }}</p>
  <br>
  <p>Here is our list of the <b>{{best_clinics_count}} {{best_clinics_blogpost.title}}.</b></p>
</div>


{% for clinic in best_clinics %}
<div class="container py-3" id="best-clinic-{{forloop.counter}}">
  <div class="header" style="padding-top:3rem; min-height:80px;">
  {% if clinic.clinic_pro_logo_pic %}
    <div id="imgInfo" class="img align-self-center align-items-center">
      <a target="_blank" rel="noopener noreferrer" href="{{ clinic.clinic_url }}">
        <img class="imgHoverLogo" src="{{ clinic.clinic_pro_logo_pic.url }}" alt="alternative logo for PRO clinic" style="max-height:70px; max-width:70px">
      </a>
    </div>

    <div class="container ml-2" id="nameInfo">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h2>
            <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration: none">{{forloop.counter}}. <u><strong>{{ clinic.clinicName }}</strong></u></a>
          </h2>
          {% if clinic.clinicTitle %}<p class="lead">{{ clinic.clinicTitle }}</p>{% else %}<br>{% endif %}
        </div>
      </div>
    </div>

    <p style="font-size: 18px;">
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="The Digital Transparency Index (DTI) is published by FertilityCommunity. This index appreciates the transparency of data and content of individual IVF clinics from around the world in the clinic-client relationship. Paid membership can affect the index."> Digital transparency index</i>
    </p>

    <div class="progress">
      <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{clinic.digitalTransparencyIndex}}%" aria-valuenow="{{clinic.digitalTransparencyIndex}}" aria-valuemin="0" aria-valuemax="100"><strong>{{clinic.digitalTransparencyIndex}}%</strong></div>
    </div>

  {% endif %}
  </div>

  {% if clinic.clinic_pro_photo_1 or clinic.clinic_pro_photo_2 or clinic.clinic_pro_photo_3 or clinic.clinic_pro_photo_4 or clinic.clinic_pro_photo_5 or clinic.clinic_pro_photo_6 %}
  <br>
  <br>

  <div class="card-columns">
    {% if clinic.clinic_pro_photo_1 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_1.url }}" class="card-img-top" alt="clinic photo 1">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_2 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_2.url }}" class="card-img-top" alt="clinic photo 2">
    </div>
    {% else %}
    {% endif %}
    {% if clinic.clinic_pro_photo_3 %}
    <div class="card">
      <img src="{{ clinic.clinic_pro_photo_3.url }}" class="card-img-top" alt="clinic photo 3">
    </div>
    {% else %}
    {% endif %}
  </div>
  {% else %}
  {% endif %}

  <br>
  <hr>
  <br>

  {{ clinic.best_article_country_actual_text|safe }}

  {{ clinic.best_article_country_fcreview_text|safe }}

  <br>
  <br>

  <div class="row text-center">
    <div class="col-lg-3" style="padding-top:1rem">
      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}" rel="nofollow" style="text-decoration:none">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Find out more</button>
      </a>
    </div>

    {% if clinic.ivf_treatment_cost != Null or clinic.mild_ivf_treatment_cost != Null or clinic.ovarian_ivf_treatment_cost != Null or clinic.icsi_treatment_cost != Null or clinic.egg_donor_recipients_cost != Null or clinic.sperm_donor_recipients_cost != Null or clinic.embryo_donor_recipients_cost != Null %}
    <div class="col-lg-3" style="padding-top:1rem">
      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}#pricing" rel="nofollow" style="text-decoration:none">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Pricing</button>
      </a>
    </div>
    {% else %}
    <div class="col-lg-3" style="padding-top:1rem">
    </div>
    {% endif %}

    <div class="col-lg-3" style="padding-top:1rem">
      <a href="{{ clinic.contact_url }}" rel="noopener" style="text-decoration:none" target="_blank">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Website</button>
      </a>
    </div>

    {% if clinic.pro_is_published == True or clinic.ppq_is_published == True %}
    <div class="col-lg-3" style="padding-top:1rem">
      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}#packages" rel="nofollow" style="text-decoration:none">
        <button type="button" class="btn btn-outline-dark btn-lg btn-block">Packages</button>
      </a>
    </div>
    {% else %}
    <div class="col-lg-3" style="padding-top:1rem">
    </div>
    {% endif %}

  </div>
</div>
<br>
<br>

{% endfor %}

<div class="container py-3 text-center">
  <a href="{% url 'fertilityClinicCzech' %}" rel="dofollow">
    <button id="brandButton" type="button" class="btn btn-outline-dark btn-lg">Full list of {{clinics_location_count}} IVF clinics in Czech </button>
  </a>
</div>













<!-- ================================================== -->
{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary-treatments-clinics.js' %}"></script>{% endblock %}

{% endblock  %}
