{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='{{ blog.author.author_name }} {{ blog.author.author_lastname }}' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://www.fertilitycommunity.com/media/{{ blog.pic_blog }}" />{% endblock %}
{% block ogImageWidth %}<meta property="og:image:width" content="1200" />{% endblock %}
{% block ogImageHeight %}<meta property="og:image:height" content="630" />{% endblock %}

{% block title %}The {{best_clinics_count}} {{blog.title}} | {{ blog.year }}{% endblock %}
{% block description %}These are the best IVF clinics in Spain for {{ blog.year }}. Find out who has the highest DTI index and read more about their team, IVF treatments and pricing.{% endblock %}
{% block noindexpage %}{% if blog.best_article_country_noindex_sitemap_boolean == True %}{% else %}<meta name="robots" content="noindex, nofollow">{% endif %}{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/blog/{{blog.slug}}{% endblock %}
{% block meta_keywords %}best ivf clinics in Spain, best fertility clinics Spain{% endblock %}

{% block twittercard %}<meta name="twitter:card" content="summary_large_image">{% endblock %}
{% block twittersite %}<meta name="twitter:site" content='FertilityCommunity' />{% endblock %}
{% block twittertitle%}<meta name="twitter:title" content="{{best_clinics_count}} {{blog.title}} | {{ blog.year }}">{% endblock %}
{% block twitterdescription %}<meta name="twitter:description" content="{{blog.description}}">{% endblock %}
{% block twitterimage %}<meta name="twitter:image" content="https://www.fertilitycommunity.com/media/{{ blog.pic_blog }}" />{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<!-- ================================================== -->

<!-- Schemas -->
{% include 'schemas/medicalwebpageschema.html' %}



<div class="background background-color-gradient">
  <div class="container py-5">
    <h1 style="padding-top:3rem; color:white">{{best_clinics_count}} {{ blog.title }} | {{ blog.year }}</h1>
  </div>
</div>

<div class="container mt-5">

  {% include 'blog/blog_header.html' %}

  <hr class="py-3">
  <p>In this article, we would be discussing the best <a href="{% url 'fertilityClinicSpain' %}">IVF clinics in Spain</a>. The best IVF clinic is not the most popular or the one with the highest success rates. There are several IVF clinics in the world to choose from and if you decide to go down the long road of checking every one of these clinics, you just might be making the decision harder.</p>
  <p>One important thing to note is that the best IVF clinic for you, might not be the best IVF clinic. Every patient has their own special needs and deal breakers, most patients are very different and that’s why one needs to pay special attention when choosing the best IVF clinics for their needs.</p>
  <br>
  <p>It doesn’t just depend on success rates, it also depends on the method of treatment, location, reviews, positive feedback, customer service, and prices. If you are considering <a href="{% url 'ivf_in_spain' %}">IVF in Spain</a>, then you have made the right choice. Apart from being a major tourist destination, Spain is also home to some of the best and most advanced IVF clinics in the world. In this article, we would be highlighting the best IVF clinics in Spain, carefully picked out according to the aforementioned factors. Any clinic on this list would be a good choice. The decision is all yours.</p>
  <div class="pt-5 pb-4">
    {% include 'blog/snippet_carousel.html' %}
  </div>
  <p>Here is our list of the <strong>{{best_clinics_count}} {{blog.title}}:</strong></p>
</div>


{% for clinic in best_clinics %}
<br>
<hr>
{% if clinic.best_article_country_actual_text %}
<div class="container py-3" id="best-clinic-{{forloop.counter}}">

  {% include 'blog/best-article/header.html' %}

  {{ clinic.best_article_country_actual_text|safe }}

  {% include 'blog/best-article/treatmentsinblogposts.html' %}

  {% include 'blog/best-article/finalthoughts.html' %}

  {% include 'blog/best-article/footerbtns.html' %}

</div>
{% endif %}

<br>
<br>

{% endfor %}

<div class="container py-5 text-center">
  <a href="{% url 'fertilityClinicSpain' %}" rel="dofollow">
    <button id="brandButton" type="button" class="btn btn-outline-dark btn-lg">Full list of {{clinics_location_count}} IVF clinics in Spain </button>
  </a>
</div>













<!-- ================================================== -->
{% block otherDifPageJs %}<script language="JavaScript" type="text/javascript" src="{% static 'js/primary-secondary.js' %}"></script>{% endblock %}

{% endblock  %}
