{% extends "main/base.html" %}
{% load static %}
{% block title %}Lisa Holliman - IVF author | FertilityCommunity{% endblock %}
{% block description %}Lisa Holliman is a teacher and writer. She went through several infertility treatments before getting pregnant with her first child. Read more{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/authors/lisa-holliman{% endblock %}
{% block meta_keywords %}Lisa Holliman - IVF author{% endblock %}

{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">Lisa Holliman</h1>
    <span style="color:white">IVF author</span>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <br>
  <p>{{ author.author_description }}</p>
  <br>
  <br>
  <h2>Lisa's Blogs:</h2>
  <div class="row row-cols-1 row-cols-md-3">
    {% for blogs in blog %}
    {% if blogs.author != None %}
    <div class="col-sm" style="padding-top: 2rem;">
      <div class="card shadow-sm" style="border-radius: 25px;">
        <a href="{{ blogs.blog_url }}">
          {% if blogs.pic_blog %}<img src="{{ blogs.pic_blog.url }}" alt="Standard IVF process timeline" width="100%" style="border-top-left-radius: 25px; border-top-right-radius: 25px">
          {% else %}
          {% endif %}
        </a>
        <div class="card-body">
          <a href="{{ blogs.blog_url }}">
            <h3 class="card-title">{{ blogs.title }}</h3>
          </a>
          <p class="card-text" style="font-size: 17px">{{ blogs.description|truncatechars:100 }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{ blogs.blog_url }}">
                <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
              </a>
            </div>
            <small class="text-muted">{{ blogs.minute_read }} mins</small>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock  %}
