{% extends "main/base.html" %}
{% load static %}
{% block title %}What Does IVF Cost Abroad in 2021? | FertilityCommunity{% endblock %}
{% block description %}If you live in a country with high IVF costs and don't have health insurance covering these procedures, you may be looking outside of your country for IVF treatment. Read more{% endblock %}
{% block canonical_url %}https://www.fertilitycommunity.com/what-does-ivf-cost-abroad{% endblock %}
{% block meta_keywords %}IVF Abroad, IVF abroad cost{% endblock %}

{% block ogType %}<meta property='og:type' content='article' />{% endblock %}
{% block articleAuthor %}<meta property='article:author' content='https://www.fertilitycommunity.com/team' />{% endblock %}
{% block articlePublisher %}<meta property='article:publisher' content='https://www.facebook.com/fertilitycommunity' />{% endblock %}
{% block siteName %}<meta property='og:site_name' content='FertilityCommunity' />{% endblock %}
{% block ogImage %}<meta property="og:image" content="https://fertilitycommunity.com/static/img/IVF-Explained9.png" />{% endblock %}

{% block content %}
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 style="padding-top:3rem; color:white">Lisa Holliman</h1>
    <span style="color:white">IVF author</span>
    <br>
    <br>
  </div>
</div>

<div class="container">
  <br>
  <p>{{ author.author_description }}</p>
  <br>
  <br>
  <h2>Lisa's Blogs:</h2>
  <div class="row">
    {% for blogs in blog %}
    <div class="col-4" style="padding-top: 2rem">
      <div class="card shadow-sm">
        <a href="{{ blogs.blog_url }}">
          {% if blogs.pic_blog %}<img src="{{ blogs.pic_blog.url }}" alt="Standard IVF process timeline" width="100%">
          {% else %}
          {% endif %}
        </a>
        <div class="card-body">
          <a href="{{ blogs.blog_url }}">
            <h3 class="card-title">{{ blogs.title }}</h3>
          </a>
          <p class="card-text" style="font-size: 17px">{{ blogs.description|truncatechars:100 }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{ blogs.blog_url }}">
                <button id="brandButton" type="button" class="btn btn-outline-success btn-sm">Read more</button>
              </a>
            </div>
            <small class="text-muted">{{ blogs.minute_read }} mins</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock  %}
