{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Complete Billing information - {{ instance.clinicName }}</h1>
    <ul class="list-group list-group-horizontal justify-content-center ">
      <li class="list-group-item bg-warning text-light" style="width:33.3%; text-align:center">Step 1: Billing information</li>
      <li class="list-group-item" style="width:33.3%; text-align:center">Step 2: Choose subscription</li>
      <li class="list-group-item" style="width:33.3%; text-align:center">Step 3: Checkout via Stripe</li>
    </ul>
    <br>
  </div>
</div>
<br>
<div class="container">
  <form class="" action="{% url 'billinginfo1' instance.id %}" method="POST">
    {% csrf_token %}
    <h3>Billing name:</h3>
    <input type="text" name="billingsName" placeholder="Billings name" value="{{ instance.clinicName }}" required>
    <br>
    <br>
    <h3>Billing address details</h3>
    <div class="row">
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressLine1" placeholder="Billings address line 1 (e.g., street, PO Box, or company name)" required>
      </div>
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressCity" placeholder="Billings city, district, suburb, town, or village" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressZipPostal" placeholder="ZIP or postal code" required>
      </div>
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressState" placeholder="Not required - State, county, province, or region.">
      </div>
    </div>
    <br>
    <select name="billingsAddressCountry" required>
        <option value="" selected>Two-letter country code</option>{% for key, value in CATEGORY_CHOICES_ISO.items %}
        <option value="{{ key }}">{{ key }} - {{ value }}</option>{% endfor %}
    </select>
    <br>
    <br>
    <hr>
    <br>
    <input type="submit" class="btn btn-success" value="Go to Checkout" href="{% url 'checkout1' instance.pk %}">
  </form>
</div>


{% endblock  %}
