{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Billing information for: <u>{{ instance.clinicName }}</u></h1>
    <br>
  </div>
</div>
<br>
<div class="container">
  <form class="" action="{% url 'billinginfo' instance.id %}" method="POST">
    {% csrf_token %}
    <h3>Billing name:</h3>
    <input type="text" name="billingsName" placeholder="Billings name" value="{{ instance.clinicName }}" required>
    <br>
    <br>
    <h3>Billing address details</h3>
    <div class="row">
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressLine1" placeholder="Billings address line 1 (e.g., street, PO Box, or company name)" required>
      </div>
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressCity" placeholder="Billings city, district, suburb, town, or village" required>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressZipPostal" placeholder="ZIP or postal code" required>
      </div>
      <div class="col-6 col-sm">
        <input type="text" name="billingsAddressState" placeholder="State, county, province, or region.">
      </div>
    </div>
    <br>
    <select name="billingsAddressCountry" required>
        <option value="" selected>Two-letter country code</option>{% for key, value in CATEGORY_CHOICES_ISO.items %}
        <option value="{{ key }}">{{ key }} - {{ value }}</option>{% endfor %}
    </select>
    <br>
    <br>
    <hr>
    <br>
    <input type="submit" id="brandButton" value="Save" href="{% url 'checkout' instance.pk %}">
  </form>
</div>


{% endblock  %}
