{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Choose subscription - {{ instance.clinicName }}</h1>
    <ul class="list-group list-group-horizontal justify-content-center ">
      <li class="list-group-item bg-success text-light" style="width:33.3%; text-align:center">Step 1: Billing information</li>
      <li class="list-group-item bg-warning text-light" style="width:33.3%; text-align:center">Step 2: Choose subscription</li>
      <li class="list-group-item" style="width:33.3%; text-align:center">Step 3: Checkout via Stripe</li>
    </ul>
    <br>
    <br>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
  <div class="col-6 col-sm">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-lg border-success">
        <div class="card-header border-success">
          <h4 class="my-0 font-weight-normal" style="text-align: center">Yearly PRO Clinic <small class="text-success"> (Save 40€!)</small></h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title" style="text-align: center">260€/yearly</h3>
          <hr>
          <ul class="list-styled mt-3 mb-4" style="text-align: left">
            <li><h4>Get a do-follow backlink:</h4> <p style="font-size: 100%">Increase SEO exposure of your page with our <u>powerful domain</u> (<a href="https://ahrefs.com/website-authority-checker" style="text-decoration: none">DA</a> over 28 and growing).</p></li>
            <li hidden><h4>Apply for "TOP Clinic" banner competition.</h4> <p></p></li>
            <li><h4>Be more visible with clinics preferred search options:</h4> <p style="font-size: 100%">PRO clinics are positioned at the top of the search page.</p></li>
            <li><h4>Get access to premium sections in your clinic detail view:</h4> <p style="font-size: 100%">For example: "About us", "Our team" or "Our photos" for a better presentation of your clinic.</p></li>
            <li><h4><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">2</num> specialized packages per PRO clinic.</u></h4><p style="font-size: 100%">Every day, more than 30% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
            <li><h4>Present your clinic with your own guest blog posts.</h4><p style="font-size: 100%">Reach audiences looking for more information about IVF and IVF clinics in your location. PRO = <num style="color:#CD5360; font-size: 25px">1 article</num></p></li>
          </ul>
          <br>
          <button class="btn btn-primary" id="checkout-button-yearly">Subscribe yearly</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-lg">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal" style="text-align: center">Monthly PRO Clinic</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title" style="text-align: center">25€/monthly</h3>
          <hr>
          <ul class="list-styled mt-3 mb-4" style="text-align: left">
            <li><h4>Get a do-follow backlink:</h4> <p style="font-size: 100%">Increase SEO exposure of your page with our <u>powerful domain</u> (<a href="https://ahrefs.com/website-authority-checker" style="text-decoration: none">DA</a> over 28 and growing).</p></li>
            <li hidden><h4>Apply for "TOP Clinic" banner competition.</h4> <p></p></li>
            <li><h4>Be more visible with clinics preferred search options:</h4> <p style="font-size: 100%">PRO clinics are positioned at the top of the search page.</p></li>
            <li><h4>Get access to premium sections in your clinic detail view:</h4> <p style="font-size: 100%">For example: "About us", "Our team" or "Our photos" for a better presentation of your clinic.</p></li>
            <li><h4><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">2</num> specialized packages per PRO clinic.</u></h4><p style="font-size: 100%">Every day, more than 30% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
            <li><h4>Present your clinic with your own guest blog posts.</h4><p style="font-size: 100%">Reach audiences looking for more information about IVF and IVF clinics in your location. PRO = <num style="color:#CD5360; font-size: 25px">1 article</num></p></li>
          </ul>
          <br>
          <button class="btn btn-primary" id="checkout-button-monthly">Subscribe monthly</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
var stripe = Stripe('{{ stripe_public_key }}');

var checkoutButton = document.getElementById('checkout-button-monthly');

checkoutButton.addEventListener('click', function() {
stripe.redirectToCheckout({
  sessionId: '{{ session_id1 }}'
}).then(function (result) {
});
});
</script>

<script>
var stripe = Stripe('{{ stripe_public_key }}');

var checkoutButton = document.getElementById('checkout-button-yearly');

checkoutButton.addEventListener('click', function() {
stripe.redirectToCheckout({
  sessionId: '{{ session_id2 }}'
}).then(function (result) {
});
});
</script>



{% endblock  %}
