{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Choose subscription - {{ instance.clinicName }}</h1>
    <ul class="list-group list-group-horizontal justify-content-center ">
      <li class="list-group-item bg-success text-light" style="width:33.3%; text-align:center">Step 1: Billing information</li>
      <li class="list-group-item bg-warning text-light" style="width:33.3%; text-align:center">Step 2: Choose subscription</li>
      <li class="list-group-item" style="width:33.3%; text-align:center">Step 3: Checkout via Stripe</li>
    </ul>
    <br>
    <br>
  </div>
</div>
<br>
<div class="container" style="text-align: center">
  <br>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-md btn-outline-primary" data-toggle="collapse" href="#PRO" role="button" aria-expanded="false" aria-controls="PRO">
        PRO subscription
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-md btn-outline-primary" data-toggle="collapse" data-target="#PREMIUM" aria-expanded="false" aria-controls="PREMIUM">
        PREMIUM subscription
      </button>
    </div>
  </div>
  <br>
  <br>
  <div class="collapse" id="PRO">
    <div class="row">
      <div class="col-sm-6">
        <div class="card-deck text-center">
          <div class="card mb-4 shadow-lg border-success">
            <div class="card-header border-success">
              <h4 class="my-0 font-weight-normal" style="text-align: center">Yearly PRO Clinic <small class="text-success"> (Save 20€!)</small></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title" style="text-align: center">160€/yearly</h3>
              <hr>
              <ul class="list-styled mt-3 mb-4" style="text-align: left">
                <li><h4>Get a do-follow backlink:</h4> <p style="font-size: 100%">Increase SEO exposure of your page with our <u>powerful domain</u> (<a href="https://ahrefs.com/website-authority-checker" style="text-decoration: none">DA</a> over 30 and growing).</p></li>
                <li hidden><h4>Apply for "TOP Clinic" banner competition.</h4> <p></p></li>
                <li><h4>Be more visible with clinics preferred search options:</h4> <p style="font-size: 100%">PRO clinics are positioned at the top of the search page.</p></li>
                <li><h4>Get access to premium sections in your clinic detail view:</h4> <p style="font-size: 100%">For example: "About us", "Our team" or "Our photos" for a better presentation of your clinic.</p></li>
                <li><h4><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">2</num> specialized packages per PRO clinic.</u></h4><p style="font-size: 100%">Every day, more than 30% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
              </ul>
              <br>
              <button class="btn btn-primary" id="checkout-pro-button-yearly">Subscribe yearly</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-deck text-center">
          <div class="card mb-4 shadow-lg">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal" style="text-align: center">Monthly PRO Clinic</h4>
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title" style="text-align: center">15€/monthly</h3>
              <hr>
              <ul class="list-styled mt-3 mb-4" style="text-align: left">
                <li><h4>Get a do-follow backlink:</h4> <p style="font-size: 100%">Increase SEO exposure of your page with our <u>powerful domain</u> (<a href="https://ahrefs.com/website-authority-checker" style="text-decoration: none">DA</a> over 30 and growing).</p></li>
                <li hidden><h4>Apply for "TOP Clinic" banner competition.</h4> <p></p></li>
                <li><h4>Be more visible with clinics preferred search options:</h4> <p style="font-size: 100%">PRO clinics are positioned at the top of the search page.</p></li>
                <li><h4>Get access to premium sections in your clinic detail view:</h4> <p style="font-size: 100%">For example: "About us", "Our team" or "Our photos" for a better presentation of your clinic.</p></li>
                <li><h4><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">2</num> specialized packages per PRO clinic.</u></h4><p style="font-size: 100%">Every day, more than 30% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
              </ul>
              <br>
              <button class="btn btn-primary" id="checkout-pro-button-monthly">Subscribe monthly</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse" id="PREMIUM">
    <div class="row">
      <div class="col-sm-6">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-lg border-success">
            <div class="card-header border-success">
              <h4 class="my-0 font-weight-normal" style="text-align: center">Yearly PREMIUM Clinic <small class="text-success"> (Save 60€!)</small></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title" style="text-align: center">300€/yearly</h3>
              <hr>
              <ul class="list-styled mt-3 mb-4" style="text-align: left">
                <li><h4>Everything from PRO plan</h4><p style="font-size: 100%">and more to it below!</p></li>
                <br>
                <li><h4>Your clinic will always appear in the first search results:</h4> <p style="font-size: 100%">above BASIC clinics and even above PRO clinics.</p></li>
                <li><h4>IVF Packages with much more visibility on every page:</h4> <p style="font-size: 100%">PREMIUM Packages will always be above PRO packages to increase reach.</p></li>
                <li><h4><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">6</num> specialized packages per PREMIUM clinic.</u></h4><p style="font-size: 100%">Every day, more than 30% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
              </ul>
              <br>
              <button class="btn btn-primary" id="checkout-premium-button-yearly">Subscribe yearly</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-lg">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal" style="text-align: center">Monthly PREMIUM Clinic</h4>
            </div>
            <div class="card-body">
              <h3 class="card-title pricing-card-title" style="text-align: center">30€/monthly</h3>
              <hr>
              <ul class="list-styled mt-3 mb-4" style="text-align: left">
                <li><h4>Everything from PRO plan</h4><p style="font-size: 100%">and more to it below!</p></li>
                <br>
                <li><h4>Your clinic will always appear in the first search results:</h4> <p style="font-size: 100%">above BASIC clinics and even above PRO clinics.</p></li>
                <li><h4>IVF Packages with much more visibility on every page:</h4> <p style="font-size: 100%">PREMIUM Packages will always be above PRO packages to increase reach.</p></li>
                <li><h4><u>Reach potential clients with up to <num style="color:#CD5360; font-size: 25px">6</num> specialized packages per PREMIUM clinic.</u></h4><p style="font-size: 100%">Every day, more than 30% of fertilitycommunity.com users search for the most suitable fertility treatment package in the package section.</p></li>
              </ul>
              <br>
              <button class="btn btn-primary" id="checkout-premium-button-monthly">Subscribe monthly</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>

<script>
var stripe = Stripe('{{ stripe_public_key }}');
var checkoutButton = document.getElementById('checkout-pro-button-yearly');
checkoutButton.addEventListener('click', function() {
stripe.redirectToCheckout({
  sessionId: '{{ session_id1 }}'
}).then(function (result) {
});
});
</script>

<script>
var stripe = Stripe('{{ stripe_public_key }}');
var checkoutButton = document.getElementById('checkout-pro-button-monthly');
checkoutButton.addEventListener('click', function() {
stripe.redirectToCheckout({
  sessionId: '{{ session_id2 }}'
}).then(function (result) {
});
});
</script>

<script>
var stripe = Stripe('{{ stripe_public_key }}');
var checkoutButton = document.getElementById('checkout-premium-button-monthly');
checkoutButton.addEventListener('click', function() {
stripe.redirectToCheckout({
  sessionId: '{{ session_id3 }}'
}).then(function (result) {
});
});
</script>

<script>
var stripe = Stripe('{{ stripe_public_key }}');
var checkoutButton = document.getElementById('checkout-premium-button-yearly');
checkoutButton.addEventListener('click', function() {
stripe.redirectToCheckout({
  sessionId: '{{ session_id4 }}'
}).then(function (result) {
});
});
</script>

{% endblock  %}
