{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background" style="background-color: #286DA8">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Thanks for your order!</h1>
    <br>
  </div>
</div>
<div class="container">
  <br>
  <p>
    We appreciate your business!
    If you have any questions, please email
    <a href="mailto:info@fertilitycommunity.com">info@fertilitycommunity.com</a>
  </p>
  <br>
  <a href="{% url 'dashboard' %}">
    <button class="btn btn-warning text-dark" type="button">Dashboard</button>
  </a>
</div>
<br>
<div class="container py-4">
</div>



{% endblock  %}
