{% extends "main/base.html" %}
{% load static %}
{% block content %}

<div class="background background-color-gradient">
  <div class="container">
    <h1 class="display-4" style="padding-top:3rem; color:white">Thanks for your order!</h1>
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item bg-success text-light" style="width:33.3%; text-align:center">Step 1: Billing information</li>
      <li class="list-group-item bg-success text-light" style="width:33.3%; text-align:center">Step 2: Choose subscription</li>
      <li class="list-group-item bg-success text-light" style="width:33.3%; text-align:center">Step 3: Checkout via Stripe</li>
    </ul>
    <br>
  </div>
</div>
<div class="container">
  <br>
  <p>
    We appreciate your business!
    If you have any questions, please contact us
    <a href="mailto:info@fertilitycommunity.com">info@fertilitycommunity.com</a>
  </p>
  <br>
  <a href="{% url 'dashboard' %}">
    <button class="btn btn-warning text-dark" type="button">Dashboard</button>
  </a>
</div>
<br>
<div class="container py-4">
</div>



{% endblock  %}
