{% load i18n %}
<div class="cookies-popup-banner" style="display: none;">
  <div class="modal" id="cookiesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md cookiesContent" role="document">
      <div class="modal-content">
        <h5 class="modal-title">
          This website uses cookies
          <hr>
        </h5>
        <p class="py-3">
          We would like to ask you for your consent to the use of cookies on our website. We use cookies for some modern functions and to increase your comfort of use. We'd also like to ask you for your consent to the use of third-party cookies to personalize our ads so that we don't bother you with them.
        </p>

        <div class="row">
          <div class="col-8">
            <form action="{% url 'cookies:cookies' %}" method="POST">
              {% csrf_token %}
              {{ form.non_field_errors }}
              {{ form.source.errors }}
              {{ form.source }}
              <button class="button_accept text-center" name="all_cookies_accepted" type="submit">
                Allow cookies
              </button>
            </form>
          </div>

          <div class="col-4">
            <button class="button_edit" type="button" data-toggle="collapse" data-target="#cookies-settings" aria-expanded="false" aria-controls="cookies-settings">
              Edit
            </button>
          </div>
        </div>

        <form action="{% url 'cookies:cookies' %}" method="POST" class="py-3">
          {% csrf_token %}
          {{ form.non_field_errors }}

          {{ form.source.errors }}
          {{ form.source }}

          <div class="collapse py-3" id="cookies-settings">
            <div class="form-check">
              <input type="checkbox" name="technicalCookies" id="id_technicalCookies" Checked Disabled>
              <label class="form-check-label px-1" for="technicalCookies"><strong> Technical cookies</strong></label>
            </div>
            <p>Technical cookies are essential for the proper functioning of the website and all the functions it offers. They are responsible for, among other things, storing products in the cart, displaying the list of favorite products (mailbox), customizing filters, the purchasing process and saving privacy settings. Technical cookies cannot be deactivated or activated individually.</p>
            <hr>
            <div class="form-check">
              {{ form.analytical_cookies }}
              <label class="form-check-label px-1" for="analytical_cookies"><strong> Analytical cookies</strong></label>
            </div>
            <p>Analytical cookies allow us to measure the performance of our website. They are used to determine the number of visits and sources of visits to our website. We process the data obtained through these cookies in a summary manner, without the use of identifiers that point to specific users of our website. If you turn off the use of analytics cookies in relation to your visit, we lose the ability to analyze performance and thus optimize the site.</p>
            <hr>
            <div class="form-check">
              {{ form.marketing_cookies }}
              <label class="form-check-label px-1" for="marketing_cookies"><strong> Marketing cookies</strong></label>
            </div>
            <p>Marketing cookies are used by us or our partners so that we can display suitable content or advertisements both on our website and on the websites of third parties. If you do not consent, you will not be the recipient of content and ads tailored to your interests.</p>
            <br>
            <div class="text-center">
              <button class="button_accept text-center" name="cookies_changed" type="submit">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
