{% load static %}

<div class="container pt-5">
  <div class="row">
    <div class="col-md-6 col-lg-3 text-center-until-md">
      {% if coach.coach_profile_photo %}
        <div id="imgInfo" class="img align-self-center align-items-center">
          <img class="imgHoverLogo" src="{{ coach.coach_profile_photo.url }}" alt="profile picture of {{ coach.coach_full_name}}" style="max-height:200px; max-width:200px; border-radius: 50%; border-width:5px; border-style:solid; border-color: #286DA8;">
        </div>
      {% else %}
        <div id="imgInfo" class="img align-self-center align-items-center">
          <img class="imgHoverTeam" src="{% static 'img/profile_custom.png' %}" alt="profile picture of {{ coach.coach_full_name}}" style="max-height:200px; max-width:200px; border-radius: 50%; border-width:5px; border-style:solid; border-color: #286DA8;">
        </div>
      {% endif %}
    </div>
    <div class="col-md-6 col-lg-9">
      <h1 class="text-center-until-md" style="font-size:200%">
        <a href="{{ coach.coach_social_website}}" {% if coach.coach_is_premium == False %}rel="nofollow, noopener" target="_blank" {% else %} rel="noopener" target="_blank"{% endif %}><strong>{{ coach.coach_full_name}}</strong></a>
      </h1>
      <div class="d-flex flex-column py-2">
        <div>
          <div class="fas fa-briefcase fa-1sx pr-2" data-toggle="tooltip" data-placement="top" title="Preferred specialization"></div>
          {% for job in jobs %}
            {% if not forloop.last %}
              {{ job }} |
            {% else %}
              {{ job }}
            {% endif %}
          {% endfor %}
        </div>
        <div>
          <div class="fas fa-language fa-1sx pr-2" data-toggle="tooltip" data-placement="top" title="Preferred languages"></div>
          {% for language in languages %}
            {% if not forloop.last %}
              {{ language }} |
            {% else %}
              {{ language }}
            {% endif %}
          {% endfor %}
        </div>
        <div>
          <div class="fas fa-flag fa-1sx pr-2"></div> {{ coach.coach_preferred_client_country}}
        </div>
        {% if coach.experts_from_clinic.all %}
        <div>
          <div class="fas fa-hospital fa-1sx pr-2" data-toggle="tooltip" data-placement="top" title="Working with"></div>
          {% for clinic in coach.experts_from_clinic.all %}
            {% if not forloop.last %}
              <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}">{{ clinic.clinicName }}</a> |
            {% else %}
              <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}">{{ clinic.clinicName }}</a>
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <hr>
      <div style="width: 50%">
        <a href="{{ coach.coach_social_website}}" {% if coach.coach_is_premium == False %}rel="nofollow, noopener" target="_blank" {% else %} rel="noopener" target="_blank"{% endif %} style="text-decoration: none">
          <button id="brandButtonGoalPackagePrimary" type="button" class="btn btn-outline-success btn-md shadow"><i class="fas fa-desktop"></i> Visit my website</button>
        </a>
      </div>
    </div>
  </div>
</div>