{% load static %}
<div class="container pt-5">
  <div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <hr>
            {% if coach.coach_education %}
            <p class="card-text">{{ coach.coach_education|safe }}</p>
            {% endif %}
          </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Specialization</h5>
            <hr>
            {% if coach.coach_specialization %}
            <p class="card-text">{{ coach.coach_specialization|safe }}</p>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container pb-5 pt-2">
  <div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Certification</h5>
            <hr>
            {% if coach.coach_certification %}
            <p class="card-text">{{ coach.coach_certification|safe }}</p>
            {% endif %}
          </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="card-title">Other</h5>
            <hr>
            {% if coach.coach_other %}
            <p class="card-text">{{ coach.coach_other|safe }}</p>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>