{% if coach.coach_is_premium == True %}
    {% if snippets %}
    <div class="container py-5">
      <h5 style="padding-left: 1.25rem;">Contributions</h5>
      <hr style="margin-left: 1.25rem; margin-right: 1.25rem;">
      {% for snippet in snippets %}
        {% if forloop.first %}
        <h6 class="pt-1" style="margin-left: 25px;"><a href="{{ snippet.blog.blog_url }}">{{ snippet.blog.title }}:</a></h6>
        {% else %}
        <h6 class="pt-5" style="margin-left: 25px;"><a href="{{ snippet.blog.blog_url }}">{{ snippet.blog.title }}:</a></h6>
        {% endif %}
        <div class="card" style="margin-left: 25px; margin-right: 25px;">
          <div class="card-header">
            <div class="row pt-1 pb-1 custom-carousel-content custom-carousel-header-row">
              <div class="col-md-6 col-lg-1 text-center-until-md">
                {% if snippet.owner.coach_profile_photo %}
                <div id="imgInfo" class="img align-self-center align-items-center pr-2">
                    <img class="imgHoverLogo" src="{{ snippet.owner.coach_profile_photo.url }}" alt="profile picture of {{ snippet.owner.coach_full_name}}" style="max-height:50px; max-width:50px; border-radius: 50%; border-width:2px; border-style:solid; border-color: #286DA8;">
                </div>
                {% endif %}
              </div>
              <div class="col-md-6 col-lg-11 text-center-until-md">
                <strong>{{ snippet.owner.coach_full_name }}</strong>
                <div style="font-size: 80%">
                  {% for job in snippet.owner.jobs.all %}
                    {% if not forloop.last %}
                      {{ job }} |
                    {% else %}
                      {{ job }}
                    {% endif %}
                  {% endfor %}
                </div>
                {% if coach.experts_from_clinic.all %}
                <div style="font-size: 80%">
                  {% for clinic in coach.experts_from_clinic.all %}
                    {% if not forloop.last %}
                      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}">{{ clinic.clinicName }}</a> |
                    {% else %}
                      <a href="{% url 'clinics:clinic-detail' clinic.pk clinic.slug %}">{{ clinic.clinicName }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="row custom-carousel-content" style="margin-left:5px;margin-right:5px">
              {{ snippet.text|safe }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}